.add-student-list {
  position: relative;
  font-size: 0.875rem;
  box-shadow: 0 1px 1px 0 rgb(12 22 58 / 10%), 0 2px 5px 0 rgb(0 0 0 / 10%);

  &__filters {
    padding: 18px 24px;
    color: var(--pix-neutral-500);
    background-color: var(--pix-neutral-0);

    label {
      margin-right: 16px;
    }

    .pix-multi-select {
      width: auto;
      min-width: 200px;

      &__list-button {
        display: flex;
        color: var(--pix-neutral-500);
      }
    }
  }

  thead tr {
    background: var(--pix-neutral-20);
    border-bottom: 4px solid var(--pix-neutral-20);
    border-radius: 4px;
    outline: 4px solid var(--pix-neutral-0);
    outline-offset: -4px;
  }

  tr.add-student-list__row--disabled {
    border-top-color: var(--pix-neutral-20);
    border-bottom: 2px solid var(--pix-neutral-20);

    &:hover {
      background: var(--pix-neutral-20);
      cursor: default;
    }
  }

  &__row {
    color: var(--pix-neutral-500);
    background-color: var(--pix-neutral-0);

    &:hover {
      cursor: pointer;
    }

    &--disabled {
      background: var(--pix-neutral-20);
      border-top: 1px solid var(--pix-neutral-20);
      border-bottom: 1px solid var(--pix-neutral-20);

      .add-student-list__column-checkbox .checkbox {
        background-color: var(--pix-neutral-500);
        border-color: var(--pix-neutral-500);
        pointer-events: none;

        &:hover {
          box-shadow: none;
          cursor: initial;
        }
      }
    }
  }

  th,
  td {
    padding-left: 30px;
    text-align: left;
  }

  &__column-checkbox { width: 30px; }
  &__column-birthdate { width: 60%; }

  &__checker {
    margin-right: 16px;
  }

  &__bottom-action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 68px;
    color: var(--pix-neutral-500);
    background-color: var(--pix-neutral-0);
    box-shadow: -2px 2px 9px 0 rgb(0 0 0 / 22%);

    .bottom-action-bar__informations {
      display: flex;
      align-items: baseline;
      margin-left: calc(250px + 35px);

      &--candidates-selected {
        font-size: 1.125rem;
      }

      &--candidates-already-added {
        font-size: 0.875rem;
      }

      .bottom-action-bar__seperator {
        align-self: center;
        width: 1px;
        height: 30px;
        margin: 0 16px;
        background: var(--pix-neutral-100);
      }
    }

    .bottom-action-bar__actions {
      display: flex;
      padding: 0 24px;

      .pix-button {
        margin: 0 8px;
      }
    }
  }

  footer {
    padding: 18px 24px;
  }
}
