/* stylelint-disable no-descending-specificity */

.add-issue-report-modal {
  min-width: 850px;
  max-width: 850px;
  margin: 100px auto;
  overflow: visible;

  /* to fix in pix UI */
  input {
    outline: 2px transparent;
  }

  label[for^="subcategory-for-category"],
  label[for^="text-area-for-category"] {
    display: block;
    margin-bottom: 4px;
  }

  .pix-select {
    width: 100%;
    max-width: 100%;
  }

  label[for^="text-area-for-category"] {
    margin-top: 16px;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    margin-bottom: 22px;

    label[for^="input-radio-for-category"] span {
      font-weight: bold;
    }

    input[id|="input-radio-for-category"] {
      background-color: $pix-communication-light;
      transform: scale(1.2);
      margin: 0;
      cursor: pointer;

      span {
        font-weight: bold;
      }
    }

    input[id|="input-for-category-in-challenge-question-number"] {
      box-sizing: border-box;
      margin-left: 8px;
      border: 1.2px solid $pix-neutral-60;
      border-radius: 4px;
      padding: 2px  8px;

      &:focus {
        outline: 2px solid $pix-communication-dark;
        -moz-outline-radius: 4px;
        border-color: transparent;
      }

      &::placeholder {
        color: transparent;
      }

      &:not(:placeholder-shown):invalid {
        outline: 2px solid $pix-information-dark;
        -moz-outline-radius: 4px;
        border: none;
      }
    }

    label[for|="input-radio-for-category"] {
      margin-left: 16px;
      cursor: pointer;
    }

    label[for|="subcategory-for-category-in-challenge"] {
      margin: 16px 0 8px;
    }

    .pix-message--info {
      margin-top: 16px;
    }

    .non-blocking-candidate-issue-certification-issue-report-fields__radio-button__tooltip,
    .non-blocking-technical-issue-certification-issue-report-fields__radio-button__tooltip {
      display: flex;
      flex-wrap: wrap;

      .pix-tooltip {
        padding-left: 5px;
        cursor: help;
      }

      .pix-tooltip__content--wide {
        width: 600px;
      }
    }
  }

  div[class$="certification-issue-report-fields__details"] {
    margin-top: 16px;
    padding-left: 32px;

    textarea {
      box-shadow: none;
      min-height: 82px;
    }
  }
}
