/* stylelint-disable no-descending-specificity */

.add-issue-report-modal {
  min-width: 850px;
  max-width: 850px;
  overflow: visible;

  /* to fix in pix UI */
  input {
    outline: 2px transparent;
  }

  label[for^='subcategory-for-category'],
  label[for^='text-area-for-category'] {
    display: block;
    margin-bottom: 4px;
  }

  .pix-select {
    width: 100%;
    max-width: 100%;
  }

  label[for^='text-area-for-category'] {
    margin-top: 16px;
  }

  fieldset {
    min-width: 0;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    border: 0;

    label[for^='input-radio-for-category'] span {
      font-weight: bold;
    }

    input[id|='input-radio-for-category'] {
      margin: 0;
      background-color: var(--pix-communication-light);
      transform: scale(1.2);
      cursor: pointer;

      span {
        font-weight: bold;
      }
    }

    input[id|='input-for-category-in-challenge-question-number'] {
      box-sizing: border-box;
      margin-left: 8px;
      padding: 2px  8px;
      border: 1.2px solid var(--pix-neutral-500);
      border-radius: 4px;

      &:focus {
        border-color: transparent;
        outline: 2px solid var(--pix-primary-500);
        -moz-outline-radius: 4px;
      }

      &::placeholder {
        color: transparent;
      }

      &:not(:placeholder-shown):invalid {
        border: none;
        outline: 2px solid var(--pix-information-dark);
        -moz-outline-radius: 4px;
      }
    }

    label[for|='input-radio-for-category'] {
      margin-left: 16px;
      cursor: pointer;
    }

    label[for|='subcategory-for-category-in-challenge'] {
      margin: 16px 0 8px;
    }

    .pix-notification-alert--info {
      margin-top: 16px;
    }

    .non-blocking-candidate-issue-certification-issue-report-fields__radio-button__tooltip,
    .non-blocking-technical-issue-certification-issue-report-fields__radio-button__tooltip {
      display: flex;
      flex-wrap: wrap;

      svg {
        display: flex;
        width: 1rem;
        height: 1rem;
        fill: var(--pix-neutral-900);
      }

      .pix-tooltip {
        padding-left: 5px;
        cursor: help;
      }

      .pix-tooltip__content--wide {
        width: 600px;
      }
    }
  }

  div[class$='certification-issue-report-fields__details'] {
    margin-top: 16px;
    padding-left: 32px;

    textarea {
      min-height: 82px;
      box-shadow: none;
    }

    svg {
      width: 1rem;
      height: 1rem;
      fill: var(--pix-neutral-800);
    }

    p {
    display: flex;
    gap: var(--pix-spacing-1x);
    align-items: center;
    }
  }
}
