.examiner-report-modal {
  min-width: 496px;

  &__title {
    font-family: $open-sans;
    padding: 12px 32px;

    h1 {
      font-size: 1.25rem;
      color: $grey-80;
      margin: 0;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 0.875rem;
      color: $grey-50;
      margin: 0;
    }
  }

  &__content {
    font-size: 0.875rem;
    color: $grey-70;
    border-top: 1px solid $grey-20;
    border-bottom: 1px solid $grey-20;
    padding: 22px 32px;
    background-color: $grey-10;

    .examiner-report-modal-content {

      fieldset {
        border: 0;
        padding: 0;
        margin: 0;
        min-width: 0;
        margin-bottom: 22px;
      }

      &__report-category {

        input[id|="input-radio-for-type"] {
          background-color: $communication-light;
          /* IE */
          -ms-transform: scale(1.2);
          /* FF */
          -moz-transform: scale(1.2);
          /* Safari and Chrome */
          -webkit-transform: scale(1.2);
          /* Opera */
          -o-transform: scale(1.2);
          transform: scale(1.2);
          margin: 0;
          cursor: pointer;
        }

        label[for|="input-radio-for-type"] {
          margin-left: 16px;
        }
      }

      &__report-category-details {
        margin-top: 16px;
        padding-left: 32px;

        textarea {
          box-sizing: border-box;
          margin-top: 8px;
          border: 1.2px solid $blue-zodia;
          border-radius: 4px;
          min-height: 82px;
          padding: 8px;

          &:focus {
            outline: 2px solid $communication-dark;
            -moz-outline-radius: 4px;
            border: none;
          }
        }

        .examiner-report-modal-content__char-count {
          margin-top: 6px;
          font-size: 12px;
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }

  &__actions {
    background-color: $grey-10;
    padding: 16px 32px;
    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 5px 5px;

    .button--showed-as-link {
      font-family: $roboto;
      text-decoration: none;
      margin-right: 24px;
      font-size: 0.875rem;

      &:hover {
        color: inherit;
      }
    }
  }
}
