.finalize {
  display: flex;
  flex-flow: column nowrap;
}

.finalize__title {
  display: flex;
  align-items: center;
}

.finalize__subtitle {
  margin: 20px 0 32px 0;
}

.finalize__button {
  margin-left: auto;
}

.app-modal-body{

  &__attention {
    color: $black;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__warning{
    color: $gun-powder;
    font-weight: 300;
    font-size: 1em;
  }

  &__contextual{
    border: 2px solid $alto;
    background-color: $alto;
    border-radius: 4px;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    color: $nero;
    outline: 0;
  }
}
