.finalize {
  display: flex;
  flex-flow: column nowrap;
}

.finalize__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.finalize__subtitle {
  margin: 20px 0 32px;
}

.finalize__button {
  margin-left: auto;
}

.app-modal-body {

  &__attention {
    color: $pix-neutral-100;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__warning {
    color: $pix-neutral-90;
    font-weight: 300;
    font-size: 1em;
  }

  &__contextual {
    padding: 10px 0;
    color: $pix-neutral-80;
    font-weight: bold;
    font-size: 1rem;
    background-color: $pix-neutral-20;
    border: 2px solid $pix-neutral-20;
    border-radius: 4px;
    outline: 0;
  }
}

.finalization-report-abort-reason {

  select:invalid {
    border: $pix-error-70 1px solid;
  }
}
