.finalize {
  display: flex;
  flex-flow: column nowrap;
}

.finalize__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.finalize__subtitle {
  margin: 20px 0 32px;
}

.finalize__button {
  margin-left: auto;
}

.app-modal-body {

  &__attention {
    color: var(--pix-neutral-900);
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__warning {
    color: var(--pix-neutral-900);
    font-weight: 300;
    font-size: 1em;
  }

  &__contextual {
    padding: 10px 0;
    color: var(--pix-neutral-800);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--pix-neutral-20);
    border: 2px solid var(--pix-neutral-20);
    border-radius: 4px;
    outline: 0;
  }
}

.finalization-report-abort-reason {

  div {
    display: flex;
  }

  select:invalid {
    border: var(--pix-error-700) 1px solid;
  }
}
