.login-session-supervisor-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px 10px 0 0;
  max-width: 463px;
  padding: 32px 8px 16px;
  width: 100%;

  @include device-is('tablet') {
    padding: 40px 60px 10px;
    margin: auto;
  }

  &__title {
    color: $pix-neutral-50;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 8px 0 0;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $pix-neutral-80;
    font-family: $font-open-sans;
    font-weight: normal;
    font-size: 1.75rem;
    margin: 0;
  }

  &__required-fields-notice {
    color: $pix-neutral-50;
    font-size: 0.8rem;
    margin: 8px 0 24px;
  }

  &__error-message {
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.875rem;
  }

  &__form {
    margin: 0 36px;

    .pix-input,
    .pix-input-password,
    .pix-button {
      margin-bottom: 16px;
      width: 100%;
    }
  }

  &__description {
    color: $pix-neutral-50;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}
