.login {
  max-width: 500px;
  margin-bottom: var(--pix-spacing-4x);
  padding: 20px 30px;
  background-color: var(--pix-neutral-0);
  border-radius: 10px;

  @include device-is('tablet') {
    padding: 40px 60px;
  }

  &__header {
    text-align: center;
  }

  &__main {
    width: 100%;
  }
}

.login-header {
  &__information {
    @extend %pix-body-s;

    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__invitation-error {
    margin: 10px 0 16px;
    padding: 9px;
    color: var(--pix-error-700);
    font-size: 0.875rem;
    text-align: center;
    border-radius: 3px;
  }
}

.login-main {
  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }
}

.login-main-form {
  &__mandatory-information {
    @extend %pix-body-s;

    margin-top: var(--pix-spacing-4x);
    color: var(--pix-neutral-800);
    text-align: center;
  }

  &__button {
    width: 100%;
  }

  &__forgotten-password {
    text-align: left;
  }
}
