.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 40px 60px;
  max-width: 400px;
  width: 100%;

  &__title {
    text-align: center;
    font-family: $open-sans;
    font-weight: 400;
    font-size: 2rem;
    color: $grey-80;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &__information {
    margin-bottom: 32px;
    text-align: center;
    font-family: $roboto;
    max-width: 400px;
    width: 100%;
  }

  &__error-message {
    margin-bottom: 10px;
    text-align: center;
    font-size: .875rem;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 8px;
    font-size: .875rem;
  }

  form {
    margin: auto;
  }

  &__forgotten-password {
    text-align: left;
    font-size: .875rem;
    color: $communication-dark;

    a {
      text-decoration: none;

      &:hover, &:active, &:focus, &:visited  {
        text-decoration: underline;
        color: $communication-dark;
      }
    }
  }

  &__input-field {
    display: flex;
    height: 42px;
    border-radius: 3px;
    align-items: center;
    background-color: white;
    border: 2px solid $grey-20;

    &:focus-within {
      border: 2px solid $communication-dark;
    }

    input {
      height: 40px;
      flex-grow: 1;
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 0 10px;
      font-size: 1rem;

      &:focus {
        outline: 0;
        border: none;
      }

      &::-ms-clear, &::-ms-reveal {
        display: none;
      }
    }

  }

  &__icon {
    height: 20px;
    width: 38px;
    display: flex;
    border: none;
    background: none;
    padding: 0;
  }

  &-icon {
    &__eye {
      color: $grey-45;
      transition: .5s;
      font-size: 1.1rem;
      margin-top: 2px;

      &:hover {
        color: $grey-80;
        cursor: pointer;
      }
    }
  }
}
