.login-or-register {
  display: flex;
  flex-direction: column;
  gap: $pix-spacing-s;
  margin: 20px 0;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2px;
    border-radius: 10px;

    @include device-is('tablet') {
      padding: 20px;
    }

    @include device-is('large-screen') {
      padding: 40px 100px;
    }
  }

  &__language-switcher {
    @include device-is('mobile') {
      margin-left: $pix-spacing-s;
    }
  }
}

.login-or-register-panel {
  &__logo {
    margin: auto;
  }

  &__invitation {
    margin-top: 24px;
    color: $pix-neutral-100;
    font-size: 1.125rem;
    font-family: $font-roboto;
    text-align: center;
  }

  &__forms-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    min-height: 500px;
    margin-top: 10px;

    @include device-is('large-screen') {
      flex-flow: row;
      justify-content: space-between;
    }

    @include device-is('mobile') {
      flex-direction: column;
      margin: 10px 20px 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include device-is('tablet') {
      min-width: 360px;
    }
  }

  &__divider {
    margin-top: 30px;
    border-left: 1px solid $pix-neutral-30;

    @include device-is('tablet') {
      margin: 30px;
      margin-bottom: 0;
    }

    @include device-is('large-screen') {
      margin: 30px 60px 0;
    }
  }
}

.login-or-register-panel-form {
  &__expandable {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;

    &--expanded {
      max-height: 720px;
    }
  }

  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-4x) 0;
    color: $pix-neutral-100;
    text-align: center;
  }
}
