.members-list-item {

  &__container {
    display: flex;
  }

  &__tag {
    margin-right: 12px;
    font-weight: 500;
    font-size: 12px;
  }

  &__tooltip {
    font-weight: 900;
    font-size: 18px;

    span {
      &:focus > svg {
        fill: var(--pix-neutral-800);
      }
    }

    &-icon {
      display: flex;
      width: 1.3rem;
      height: 1.3rem;
      fill: var(--pix-neutral-500);

      &:hover {
        fill: var(--pix-neutral-800);
      }
    }
  }


  &__managing-role {
    display:flex;
    gap: var(--pix-spacing-4x);
  }

}

.managing-member{
  &__dropdown-content {
    width: 150px;
  }
}
