.members-list-item {

  &__is-referer {
    display: flex;
  }

  &__tag {
    margin-right: 12px;
    font-weight: 500;
    font-size: 12px;
  }

  &__tool-tip {
    font-weight: 900;
    font-size: 18px;
  }

  &__managing-role {
    display:flex;
    gap: $pix-spacing-s;
  }

}

.managing-member{
  &__dropdown-content {
    width: 150px;
  }
}
