.new-candidate-modal {
  min-width: 576px;
  max-width: 576px;
  margin: 100px auto;

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .radio-button-container {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;

    > div {
      margin-top: 0;
    }
  }
}

.new-candidate-modal-form {
  &__info-panel {
    margin-top: 8px;
  }

  &__required-fields-mention {
    width: 100%;
  }

  &__field {
    display: flex;
    gap: var(--pix-spacing-4x);
    width: 100%;
    margin: 12px 0;

    .pix-input__container, button {
      width: 248px;
    }
  }

  /* prepayment custom field can be modified with the version 45 of pix UI */
  &__tooltip {
    display: flex;
    flex-wrap: wrap;

    .pix-tooltip {
      padding-left: 5px;
      cursor: help;
    }

    .pix-tooltip__content--wide {
      width: 600px;
    }

    > input {
      width: 248px;
    }
  }
}
