/* stylelint-disable no-descending-specificity */

.new-certification-candidate-modal {
  min-width: 576px;
  max-width: 576px;
  margin: 100px auto;

  /* to fix in pix UI */
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__required-fields-mention {
      width: 100%;
    }

    &__field {
      width: 100%;
      margin: 12px 0;

      &__fix-alert {
        position:relative;

        &__input {
          position: absolute;
          bottom: 0;
          left: 0;
        } 
      }
  

      label {
        display: block;

        &.radio-button-label {
          display: inline-block;
          margin: 0 16px 0 8px;
        }
      }

      input {
        box-sizing: border-box;
        width: 248px;
        height: 36px;
      }

      .pix-select {
        width: 248px;
        height: 36px;
      }

      .birth-country-selector {
        width: 248px;
        height: 36px;
      }

      input[type='radio'] {
        width: 20px;
        height: 20px;
      }

      .radio-button-container {
        display: flex;
        align-items: center;
      }

      &-double {
        width: 248px;
      }

      &__tooltip {
        display: flex;
        flex-wrap: wrap;

        .pix-tooltip {
          padding-left: 5px;
          cursor: help;
        }

        .pix-tooltip__content--wide {
          width: 600px;
        }
      }

      &__info-panel {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-top: 8px;
        padding: 12px 16px;
        color: $pix-primary-70;
        background-color: $pix-primary-10;
        border-radius: 4px;
      }

      .complementary-certifications-checkbox-list {
        display: flex;

        ul {
          margin: 8px;
          padding: 0;
          list-style-type: none;
        }

        label {
          display: flex;
          align-items: center;
          height: 30px;
        }

        input {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 0;
    background-color: $pix-neutral-10;
    border-radius: 0 0 5px 5px;

    .pix-button {
      margin-left: 16px;
    }
  }
}
