.select-referer-modal {
  width: 35%;

  &__referer-selector {
    margin: 0 24px;
  }

  &__actions {
    display: flex;
    justify-content: end;
    margin: 32px 24px;
  }

  &__validation-button {
    margin-left: 6px;
  }

  &__description {
    color: $pix-neutral-70;
    font-size: 0.75rem;
    margin: 16px 24px;
    font-weight: 400;
  }
}
