.select-referer-modal {
  width: 35%;

  &__title {
    color: var(--pix-neutral-900);

    @extend %pix-title-xs;

    font-weight: 600;
  }

  &__label {
    padding-bottom: 4px;
    font-weight: 500;
  }

  &__referer-selector {
    display: flex;
    flex-direction: column;
    margin: 0 24px;

    .pix-select {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    justify-content: end;
    margin: 32px 24px;
  }

  &__validation-button {
    margin-left: 6px;
  }

  &__description {
    margin: 16px 24px;
    color: var(--pix-neutral-800);
    font-weight: 400;
    font-size: 0.75rem;
  }
}
