.session-finalization-step-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__header {
    align-items: center;
    border-radius: 8px;
    display: flex;
    background: $pix-neutral-10;
    margin: 8px;
    color: $pix-neutral-60;
    font-weight: bold;
    padding: 20px 0 19px 24px;
  }

  &__subtitle {
    font-size: 0.875rem;
    font-weight: normal;
    margin-top: 8px;
  }

  &__icon {
    margin-right: 24px;
  }

  &__border {
    border-top: 1px solid $pix-neutral-20;
  }
}
