.session-finalizer {
  display: flex;
  flex-flow: column nowrap;
}

.session-finalizer__title {
  display: flex;
  align-items: center;
}

.session-finalizer__subtitle {

}

.session-finalizer__button {
  margin-left: auto;
}
