.session-finalization-step-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__page-title {
    margin: 0;
    color: $pix-neutral-90;
    font-weight: 700;
    font-size: 1rem;
    font-family: $font-open-sans;
  }

  p {
    margin: 8px 0 0;
    color: $pix-neutral-60;
    font-weight: normal;
    font-size: 0.875rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 20px 24px;
    background: $pix-neutral-10;
    border-radius: 8px;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  &__border {
    border-top: 1px solid $pix-neutral-20;
  }
}
