.session-finalization-formbuilder-link-step {
  padding: 26px 32px;
  font-family: $roboto;
  color: $grey-40;

  &__text {
    display: inline-block;
    margin-right: 16px;
  }

  &__link {
    display: inline-block;
  }
}
