.logged-user-summary {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  color: $pix-neutral-60;
  background-color: transparent;
  border-width: 0;
  border-left: 1px solid $pix-neutral-20;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $pix-neutral-70;
    text-decoration: none;
  }

  &:focus {
    border-radius: $pix-spacing-xxs;
    outline: none;
    box-shadow: inset 0 0 0 1.6px $pix-primary;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: $pix-spacing-xs;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.1rem;
    letter-spacing: .0313rem;
    text-align: right;
  }

  &__text > *:last-child {
    font-weight: normal;
  }

  &__chevron {
    align-self: center;
    margin-left: 18px;
    vertical-align: middle;

    &--up {
      color: $pix-primary;
    }
  }
}

.logged-user-menu {
  top: 60px;
  right: 0;
  min-width: 400px;
  max-width: 600px;
  max-height: 600px;
  overflow: auto;
  overscroll-behavior: contain;

  &-item {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $pix-neutral-60;
      text-decoration: none;
    }

    &__icon {
      margin-right: 8px;
    }

    &__last:not(:first-child) {
      border-top: 1px solid $pix-neutral-20;
    }

    &__certification-center-name {
      margin-right: 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
