.logged-user-summary {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  color: var(--pix-neutral-500);
  background-color: transparent;
  border-width: 0;
  border-left: 1px solid var(--pix-neutral-100);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: var(--pix-neutral-800);
    text-decoration: none;
  }

  &__chevron {
    width: 2rem;
    height: 2rem;
    fill: var(--pix-neutral-500);
  }

  &:hover > &__chevron {
    fill: var(--pix-neutral-800);
  }

  &:focus {
    border-radius: var(--pix-spacing-1x);
    outline: none;
    box-shadow: inset 0 0 0 1.6px var(--pix-primary-500);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: var(--pix-spacing-2x);
    font-weight: 700;
    line-height: 1.1rem;
    letter-spacing: .0313rem;
    text-align: right;

    @extend %pix-body-s;
  }

  &__text > *:last-child {
    font-weight: normal;
  }
}

.logged-user-menu {
  top: 60px;
  right: 0;
  min-width: 400px;
  max-width: 600px;
  max-height: 600px;
  overflow: auto;
  overscroll-behavior: contain;

  &-item {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--pix-neutral-500);
      text-decoration: none;
    }

    &__icon {
      width: 1rem;
      height: 1rem;
      margin-right: 8px;
      fill: var(--pix-neutral-500);
    }

    &__certification-center-name {
      margin-right: 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
