.campaign-item {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  align-items: center;
  padding: 8px 38px;
  min-height: 60px;

  @include device-is('desktop') {
    flex-direction: row;
  }
}

.campaign-name {
  // flex settings
  flex-grow: 1;

  // style
  font-size: 1.125rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
