.campaign-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 76px;
  padding-left: 38px;

  @include device-is('desktop') {
    flex-direction: row;
  }
}

.campaign-name {
  // flex settings
  flex-grow: 1;

  // style
  font-size: 1.125rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.participations-counts {
  display: flex;
  margin-left: auto;
  padding-right: 18px;

  &__total {
    border-right: 1px solid $dusty-gray;
  }

  &__total,
  &__shared {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .count-title {
      color: $dusty-gray;
      font-size: 13px;
      margin: 0;
    }

    .count-value {
      color: $dove-gray;
      font-family: $roboto;
      font-size: 22px;
      font-weight: 300;
      margin: 0;
      margin-top: 8px;
    }
  }
}


