.import-students-page {

  &__header {
    margin: 0 0 var(--pix-spacing-8x);
  }

  &__section {
    @extend %pix-shadow-xs;

    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    align-items: center;
    justify-content: space-between;
    width:calc(50% - var(--pix-spacing-6x));
    margin: var(--pix-spacing-4x);
    padding: var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
    border-radius: 8px;
  }
}

.import-students-page-header {
  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-2x);
  }

  &__subtitle {
    @extend %pix-body-m;

    margin: var(--pix-spacing-2x);
    font-weight: var(--pix-font-medium);
  }

  &__details {
    @extend %pix-body-m;

    margin: var(--pix-spacing-2x);
    color: var(--pix-neutral-20)0;
    font-family: $font-roboto;
  }
}

.import-students-page-section {
  &__title {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-2x);
  }

  &__details {
    @extend %pix-body-m;

    margin: var(--pix-spacing-4x);
    color: var(--pix-neutral-20)0;
    font-family: $font-roboto;
    line-height: 22px;
    letter-spacing: 0.15px;
  }

  &__button-and-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.import-type-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
