.join-request-form {
  font-family: $font-roboto;

  &__information {
    margin: 14px 0 24px 0;
    font-size: 0.875rem;
    text-align: center;
  }

  &__legal-information {
    max-width: 500px;
    color: var(--pix-neutral-500);
    font-size: 0.6875rem;
  }

  &__back {
    margin-top: var(--pix-spacing-4x);
    font-size: 1rem;
    text-align: left;

    a {
      color: var(--pix-communication-dark);
      text-decoration: none;

      svg {
        margin-right: 4px;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        text-decoration: underline;

        svg {
          transform: scale(1.2);
        }
      }
    }
  }

  &__button {
    margin-top: 8px;
    font-weight: 600;
  }

  .input-container {
    margin-bottom: 16px;
  }

  form {
    width: 300px;
    margin: auto;

    @include device-is('tablet') {
      width: 450px;
    }
  }
}
