.login-form {
  max-width: 360px;

  &__information {
    max-width: 360px;
    margin-bottom: 20px;
  }

  &__error-message {
    margin-bottom: 10px;
  }

  &__forgotten-password {
    text-align: left;
  }
}


