.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  background-color: $pix-neutral-0;
  border-radius: 10px;
  padding: 20px 30px;
  margin: $pix-spacing-s 0;

  @include device-is('tablet') {
    padding: 40px 60px;
  }

  &__header {
    text-align: center;
  }

  &__title {
    @extend %pix-title-m;

    font-family: $font-open-sans;
    font-weight: $font-normal;
    color: $pix-neutral-80;
    margin-top: $pix-spacing-m;
  }

  &__information {
    @extend %pix-body-s;

    text-align: center;
    color: $pix-neutral-90;
    margin-top: $pix-spacing-m;
  }

  &__error-message {
    @extend %pix-body-s;

    text-align: center;
    color: $pix-error-70;
    margin-top: $pix-spacing-m;
  }

  &__forgotten-password {
    @extend %pix-body-s;

    text-align: left;
    color: $pix-communication-dark;
  }

  &__recover-access-link {
    @extend %pix-body-s;

    text-align: left;
  }

  &__recover-access-message {
    @extend %pix-body-s;

    text-align: left;
  }

  &__invitation-error {
    @extend %pix-body-s;

    border-radius: 3px;
    color: $pix-error-70;
    margin: 10px 0 16px 0;
    padding: 9px;
    text-align: center;
  }

  &__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
  }
}