.manage-authentication-window {
  display: flex;
  flex-direction: column;
  padding: $pix-spacing-m;
  background-color: $pix-neutral-10;

  &__title {
    @extend %pix-title-xs;

    margin: 0;
    color: $pix-neutral-90;
  }

  label {
    padding-bottom: 5px;
    color: $pix-neutral-60;
    font-weight: 500;
    font-size: .88rem;
  }

  .disabled {
    background-color: $pix-neutral-10;
    border: none;
  }

  .help {
    color: $pix-neutral-100;
    font-weight: normal;
    font-size: 0.85rem;
    letter-spacing: normal;
    text-transform: none;
  }

  &__clipboard {
    input {
      box-sizing: border-box;
      width: 85%;
      background-color: $pix-neutral-15;
    }
  }

  &__clipboard-button {
    margin: -10px 6px 0 6px;
  }

  &__tooltip {
    display: inline-block;

    .pix-tooltip__content {
      margin-bottom: 6px;
    }
  }

  &__warning {
    display: flex;
    color: $pix-neutral-0;
    font-size: .875rem;

    span {
      margin-left: 10px;
    }
  }

  &__informations {
    display: flex;
    flex-direction: column;
    padding-left: $pix-spacing-s;
    color: $pix-neutral-0;
    font-size: .875rem;

    li {
      margin: $pix-spacing-xxs 0;
    }
  }

  &__footer {
    margin-top: $pix-spacing-s;
    padding: $pix-spacing-s $pix-spacing-m;
    background-color: $pix-neutral-70;
    border-radius: $pix-spacing-xs;

    button {
      margin-bottom: $pix-spacing-s;
      font-weight: 600;
    }

    label {
      color: $pix-neutral-0;
    }
  }

  &__box {
    margin-top: $pix-spacing-s;
    padding: $pix-spacing-s $pix-spacing-m;
    background-color: $pix-neutral-0;
    border-radius: 8px;

    hr {
      margin-bottom: $pix-spacing-s;
      color: $pix-neutral-22;
    }

    > .input-container {
      margin-bottom: 0;
    }
  }

  &__subTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $pix-spacing-s;

    &--mediacentre {
      margin-bottom: 0;
    }

    .green-icon {
      color: $pix-success-70;
    }

    .grey-icon {
      color: $pix-neutral-45;
    }
  }
}

