.pagination-control {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  font-family: $roboto;
  font-size: 0.8175rem;
  color: $dove-gray;
}

.page-size {
  display: flex;
  align-items: center;

  &__label {
    margin: 0 10px;
  }

  &__choice .select {
    height: 35px;
    width: 70px;
    background-color: $alto;
    border: none;
  }
}

.page-navigation {
  display: flex;
  align-items: center;

  &__arrow {
    margin: 0 10px;

    &--disabled .icon-button{
        color: $dusty-gray;
        cursor: default;

      &.icon-button:hover, &.icon-button:active {
        background-color: transparent;
      }
    }
  }

  &__body {
    display: flex;
  }

  &__label {
    margin-right: 10px;
  }

  &__current-page {
    width: 30px;
  }

  &__last-page {
    width: 30px;
  }
}

