.password-reset-modal {
  @include device-is('desktop') {
    width: 500px;
  }
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.password-reset-header {
  padding-top: 10px;
  text-align: left;
  font-family: $roboto;
  font-weight: 500;
  align-items: baseline;

  &__icon {
    position: absolute;
    top: 8px;
    right: 10px;
    left: auto;
  }

  &__title {
    font-size: 1.75rem;
    margin: 16px 0px 8px;
    padding-left: 15px;
  }

  &__subtitle {
    font-size: 1rem;
    margin-bottom: 8px;
    padding-left: 15px;
  }
}

.password-reset-body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 15px 15px 0px 15px;
}

.password-reset-body label {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .05rem;
}

.password-reset-body .disabled {
  background-color: $alto;
}

.password-reset-body .help {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 0.85rem;
}

