.password-reset-window {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  label {
    color: $grey-60;
    font-size: .88rem;
    font-weight: 500;
    padding-bottom: 5px;
  }

  .disabled {
    background-color: $grey-10;
    border: none;
  }

  .help {
    color: $grey-100;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 0.85rem;
  }

  &__clipboard {
    flex-direction: row;

    input {
      width: 85%;
      box-sizing: border-box;
    }
  }

  &__clipboard-button {
    margin-top: -10px;
    margin-left: 6px;
  }

  &__tooltip-text {
    margin-bottom: 6px;
  }

  &__warning {
    display: flex;
    color: $white;
    font-size: .875rem;

    .warning-icon {
      color: $information-light;
    }

    span {
      margin-left: 10px;
    }
  }

  &__informations {
    display: flex;
    color: $white;
    flex-direction: column;
    font-size: .875rem;
    padding-left: 16px;

    li {
      margin: 4px 0;
    }
  }

  &__footer {
    background-color: $grey-70;
    border-radius: 8px 8px 4px 4px;

    button {
      font-weight: 600;
      margin-bottom: 16px;
    }

    label {
      color: $white;
    }
  }
}

