.progression-gauge {
  background-color: $grey-20;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.progression-gauge__marker {
  background: linear-gradient(to right, #FFBE00, #FF9F00);
  height: 4px;
  border-radius: 5px;
  text-align: right;
}

.progression-gauge__tooltip-wrapper {
  position: relative;
  top: -27px;
}

.progression-gauge__tooltip {
  position: absolute;
  background: $pix-yellow-gradient;
  color: $white;
  border-radius: 5px;
  text-align: center;
  right: -18px;
  width: 36px;
  line-height: normal;
  padding: 2px 0;

  &::before {
    content: '';
    position: absolute;
    left: 40%;
    color: $yellow;
    border-top: 4px solid $yellow;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    margin-top: 16px;
  }
}
