.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  &:focus-within {
    border-color: var(--pix-primary-500);
    box-shadow: inset 0 0 0 0.6px var(--pix-primary-500);
  }

  svg {
    color: var(--pix-neutral-100);
  }

  &__invisible-field {
    width: 100%;
    height: inherit;
    padding: 0 10px;
    font-size: 0.875rem;
    font-family: $font-roboto;
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;

    &:focus {
      outline: none;
    }

    /* IE 11 */
    &:-ms-input-placeholder {
      color: var(--pix-neutral-100);
    }

    /* older Chrome/Safari/Opera and Edge */
    &::-webkit-input-placeholder {
      color: var(--pix-neutral-100);
    }

    &::placeholder {
      color: var(--pix-neutral-100);
      opacity: 1; /* Firefox */
    }
  }
}
