.select-creator {
  &__select {
    padding-left: 10px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  &__wrapper {
    position:relative
  }

  &__chevron {
    font-size: 0.6875rem;
    color: $dusty-gray;
    right:8px;
    top:2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
  }
}
