.pix-tag {
  font-family: $roboto;
  font-size: 0.785rem;
  text-align: center;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 4px;
  padding: 6px 8px;
  border-radius: 32px;

  &--green {
    background-color: $dark-green-certif-light;
    color: $dark-green-certif;
  }
}
