.logged-user-container{
  position: relative;
}

.logged-user-summary {
  letter-spacing: 0.03125rem;
  text-align: right;

  &__link {
    color: $grey-60;
    cursor: pointer;
    display: flex;

    &:hover,
    &:active,
    &:focus {
      color: $grey-70;
      text-decoration: none;
    }
  }

  &__name {
    font-size: 0.875rem;
    font-weight: bold;
    height: 19px;
  }

  &__organization {
    height: 18px;
  }

  &__chevron {
    align-self: center;
    margin-left: 18px;
    vertical-align: middle;

    &-up {
      color: $blue;
    }
  }
}

.logged-user-menu {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba($black, 0.13), 0 1px 1px 0 rgba($black, 0.08);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 49px;
  width: 400px;

  &-item {
    align-items: center;
    border-radius: 4px;
    color: $grey-60;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.1s linear;

    &:hover,
    &:active,
    &:focus {
      background-color: $grey-10;
      color: $grey-60;
      text-decoration: none;
    }

    &__icon {
      margin-right: 8px;
    }

    &__last:not(:first-child) {
      border-top: 1px solid $grey-20;
    }

    &__organization-name {
      margin-right: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__organization-externalId {
      flex: 0;
    }
  }
}
