.login-session-supervisor-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  min-height: 100vh;
  background: $pix-primary-certif-gradient;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);

  .login-session-supervisor-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__current-user-email {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      color: var(--pix-neutral-500);

      @extend %pix-body-s;

      line-height: 22px;
      letter-spacing: 0.15px;
      background: var(--pix-neutral-20);
      border-radius: 0 0 10px 10px;

      svg {
        margin-right: 8px;
      }
    }

    &__logout {
      margin-top: 4px;
      color: var(--pix-neutral-500);

      &:hover {
       color: var(--pix-primary-500);
      }

      &:focus,
      &:focus-visible {
        padding: 0 2px;
        border-radius: var(--pix-spacing-1x);
        outline: none;
        box-shadow: inset 0 0 0 1.6px var(--pix-primary-500);
      }
    }
  }
}
