.authentication-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--pix-neutral-0);

  .authentication-layout__side {
    display: none;
  }

  .authentication-layout__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--pix-spacing-4x);
  }
}

@include device-is('desktop') {
  .authentication-layout {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: var(--pix-spacing-6x);
      padding: var(--pix-spacing-6x);

      .authentication-layout__side {
        position: fixed;
        top: var(--pix-spacing-6x);
        z-index: 0;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: var(--pix-spacing-6x);
        width: calc(100% - 2 * var(--pix-spacing-6x));
        height: calc(100% - 2 * var(--pix-spacing-6x));
        text-align: center;

        .authentication-layout__image {
          grid-column: 1 / span 5;
          padding: var(--pix-spacing-4x);
          background: var(--pix-primary-500);
          border-radius: var(--pix-spacing-6x);

          > img {
            height: 100%;
          }
        }
      }

      .authentication-layout__main {
        z-index: 10;
        grid-column: 7 / span 5;
        padding: 0;
      }
  }
}

.authentication-layout-header {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  .authentication-layout-header__pix-logo {
    width: 5rem;
  }
}

.authentication-layout-footer {
  width: 100%;
  margin-top: var(--pix-spacing-10x);

  .footer-container-content__navigation {
    margin-top: var(--pix-spacing-2x);
    margin-left: 0;
    line-height: 1rem;

    a {
      @extend %pix-body-xs;

      text-decoration: underline;
    }
  }

  .footer-navigation__item{
    margin: 0 var(--pix-spacing-3x) 0 0;
  }
}

