<div class="answer">
  <span class="answer__span">
    {{#if (eq @answer.result "ok")}}
      Bravo ! C'est la bonne réponse !
    {{else if (eq @answer.result "aband")}}
      Tu as passé. Tu réessaieras plus tard
    {{else}}
      Mauvaise réponse. Tu peux passer à la suite.
    {{/if}}
  </span>
</div>