<div class="answer">
  <span class="answer__span">
    {{#if (eq @answer.result "ok")}}
      Bravo ! C'est la bonne réponse !
    {{else}}
      Mauvaise réponse. Tu peux passer à la suite.
    {{/if}}
  </span>
</div>