.button {
  color: $white;
  font-size: 0.9em;
  font-weight: $font-normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background: $deyork-green none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $oslo-grey;
  cursor: pointer;
}

.button-primary {
  color: $white;
  font-size: 0.9em;
  font-weight: $font-normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background-color: $deyork-green;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $oslo-grey;
}

.button-primary:hover,
.button-primary:focus {
  color: $white;
  background-color: $fern-green;
  border-color: $fern-green;
  border-bottom-color: $salad-green;
  text-decoration: none;
}

.button-secondary {
  color: $white;
  font-size: 0.9em;
  font-weight: $font-normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background-color: $aluminium-grey;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $oslo-grey;
}

.button-secondary:hover,
.button-secondary:focus {
  color: $white;
  background-color: $manatee-grey;
  border-color: $manatee-grey;
  border-bottom-color: $jumbo-grey;
  text-decoration: none;
}
