$font-lato: 'Lato', Arial, sans-serif;
$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-raleway: 'Raleway', Arial, sans-serif;

// Standards from Mozilla Foundation
// https://developer.mozilla.org/fr/docs/Web/CSS/font-weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-heavy: 900;
