/*
  Colors name From:
    - http://www.colorhexa.com
    - http://chir.ag/projects/name-that-color
*/
$white: #ffffff;
$porcelain-grey: #f2f3f4;
$mercury-grey: #e6e6e6;
$alto-grey: #dedede;
$alto-grey-light: #D5D5D5;
$iron-grey: #D0D1D5;
$gainsboro: #D8D8D8;
$alabaster-grey: #FAFAFA;
$gallery-grey: #ececec;
$silver-grey: #CCCCCC;
$dusty-grey: #979797;
$aluminium-grey: #a5a7ab;
$manatee-grey: #989a9e;
$raven-grey: #7d808a;
$oslo-grey: #909297;
$jumbo-grey: #7e8086;
$slate-grey: #6a6d76;
$boulder-grey: #777777;
$charcoal-grey: #3e4149;
$black: #000000;

$periwinkle-blue: #c3d0ff;
$vivid-blue: #0EBEFF;
$pix-blue: #3d68ff;
$mariner-blue: #2861CF;
$dogder-blue: #446eff;
$blue-ribbon: #2549FF;

$very-light-orange: #ffe28b;
$pizazz-orange: #ff8800;
$amber-orange:#ffbe00;
$lightning-yellow: #FDBD2C;
$nugget-yellow: #CF9C24;
$bright-yellow: #fedc41;
$marigold: #ffbe00;

$deyork-green: #78C182;
$fern-green: #67b972;
$salad-green: #4aa256;
$caribbean-green: #13c9a0;
$jade: #0BA86D;

$mandy-red: #E14956;
$mexican-red: #ac2925;

$pure-orange: #f45c00;
