@import "../ember-modal-dialog/ember-modal-structure";
@import "../ember-modal-dialog/ember-modal-appearance";

/* Structure & layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal-wrapper {
  width: 100%;
  padding: 10px;
}

.pix-modal {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: $charcoal-grey;
  font-family: $font-lato;
}

.pix-modal__container {
  border-radius: 5px;
  background-color: $porcelain-grey;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  position: relative;
  margin: auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include device-is('tablet') {
    font-size: 18px;
  }
}

.pix-modal__body {
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include device-is('tablet') {
    max-width: 680px;
    text-align: center;
  }
}

/* Text & content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal h1 {
  background-color: $white;
  font-weight: $font-bold;
  color: $pix-blue;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 15px;
  width: 100%;

  @include device-is('tablet') {
    padding: 20px 0;
    font-size: 26px;
  }
}

.pix-modal p {
  margin-bottom: 5px;
}

.pix-modal ul {
  margin-bottom: 15px;
  text-align: left;

  @include device-is('tablet') {
    text-align: center;
  }
}

.pix-modal__text {
  margin-bottom: 15px;

  @include device-is('tablet') {
    margin-bottom: 10px;
  }
}

.pix-modal__text:last-child {
  margin-bottom: 5px;
}

.pix-modal__list {
  width: 100%;
  list-style: none;
  padding: 0 0 0 30px;
  margin: 0 0 15px;
}

.pix-modal__list-item {
  margin-bottom: 5px;
}

/* Form & input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal__input {
  padding: 15px;
  border-radius: 5px;
  background-color: $white;
  border: 1px solid $gainsboro;
  color: $slate-grey;
  letter-spacing: 2px;
  box-sizing: border-box;
  margin-bottom: 5px;
  outline: none;
  text-align: center;

  &:focus {
    border-color: $pix-blue;
  }

  @include device-is('tablet') {
    width: auto;
    text-align: left;
  }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal__button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  color: $white;
  box-sizing: border-box;
  font-size: 13px;
  width: 126px;
}

.pix-modal__button--primary {
  background-color: $pix-blue;
}

.pix-modal__button--secondary {

}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal__close-link {
  color: $white;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 16px;
}

.pix-modal__close-link:hover,
.pix-modal__close-link:active,
.pix-modal__close-link:focus {
  color: $white;
}

.ember-modal-overlay.translucent {
  background-color: rgba(red($charcoal-grey), green($charcoal-grey), blue($charcoal-grey), 0.95);
}

