.pix-page {
  font-family: $font-lato;
  font-size: 1.6rem;

  @include device-is('desktop') {
    font-size: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
  }

  h1 {
    font-size: 2.8rem;

    @include device-is('desktop') {
      font-size: 3.6rem;
    }
  }

  .pix-section {

    .pix-row {
      margin: 0 auto;

      @include device-is('desktop') {
        max-width: 1200px;
      }
    }

    .pix-panel {
      width: 100%;
      background-color: #FFFFFF;
      box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px;

      @include device-is('desktop') {
        padding: 40px;
      }
    }
  }
}
