.alert {
  outline: none;
  border-radius: 0.3125em;
  padding: 9px;
  vertical-align: middle;
  margin-bottom: 11px;
  color: white;
  text-shadow: none;
}

.alert-success {
  border: 1px solid $alert-success-green;
  background-color: $alert-success-green;
}

.alert-danger {
  border: 1px solid $alert-danger-red;
  background-color: $alert-danger-red;
}
