.button {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background: $captrain-green none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $grey3;
  cursor: pointer;
}

.button-primary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background-color: $captrain-green;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $grey3;
}

.button-primary:hover,
.button-primary:focus {
  color: #fff;
  background-color: $captrain-green2;
  border-color: $captrain-green2;
  border-bottom-color: $captrain-green3;
  text-decoration: none;
}

.button-secondary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  padding: 12px 22px;
  text-align: center;
  background-color: $grey1;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  box-shadow: 0 1px 1px -1px $grey3;
}

.button-secondary:hover,
.button-secondary:focus {
  color: #fff;
  background-color: $grey2;
  border-color: $grey2;
  border-bottom-color: $dark-grey2;
  text-decoration: none;
}
