.button {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid var(--captrain-green);
  padding: 12px 22px;
  text-align: center;
  background-color: var(--captrain-green);
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid var(--captrain-green1);
  box-shadow: 0 1px 1px -1px var(--grey3);
  cursor: pointer;
  outline: none;
}

.button-primary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid var(--captrain-green);
  padding: 12px 22px;
  text-align: center;
  background-color: var(--captrain-green);
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid var(--captrain-green1);
  box-shadow: 0 1px 1px -1px var(--grey3);
}

.button-primary:hover,
.button-primary:focus {
  color: #fff;
  background-color: var(--captrain-green2);
  border-color: var(--captrain-green2);
  border-bottom-color: var(--captrain-green3);
  text-decoration: none;
}

.button-secondary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid var(--grey1);
  padding: 12px 22px;
  text-align: center;
  background-color: var(--grey1);
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid var(--dark-grey1);
  box-shadow: 0 1px 1px -1px var(--grey3);
}

.button-secondary:hover,
.button-secondary:focus {
  color: #fff;
  background-color: var(--grey2);
  border-color: var(--grey2);
  border-bottom-color: var(--dark-grey2);
  text-decoration: none;
}
