.o-sudoku {
  display:flex;
  flex-direction:column;
}

.o-sudoku__1 {
  margin-bottom:auto;
  margin-right: auto;
}

.o-sudoku__2 {
 margin-left: auto;
 margin-right: auto;
 margin-bottom: auto;
}

.o-sudoku__3 {
 margin-left: auto;
}

.o-sudoku__4 {
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
}

.o-sudoku__5 {
  margin:  auto;
}

.o-sudoku__6 {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.o-sudoku__7 {
  margin-top:auto;
}

.o-sudoku__8 {
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
}

.o-sudoku__9 {
  margin-top:auto;
  margin-left: auto;
}

