.groupped-input {
  padding: 11px 10px 11px 10px;
  width: 100%;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 11px center;
  border: 1px solid var(--light-grey5);
  border-radius: 5px;
  outline: none;

  & .focus {
    border: 1px solid var(--pix-blue);
    box-shadow: none;
    opacity: 1;
  }

  & input {
    border: none;
    outline: none;
    width: 100%;
  }
}

.groupped-input-with-icon {
  padding-left: 35px;
}

.groupped-input-top {
  border-bottom: none;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.groupped-input-middle {
  border-bottom: none;
  border-radius: 0;
}

.groupped-input-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

