
/**
 *
 * Trick label & SVG to replace built-in checkboxes & radiobuttons.
 *
 **/
.picture-checkbox-proposal--qcm {
  position: absolute;
  left: -11px;
  top: 3px;
}
.label-checkbox-proposal--qcm {
  display: inline-block;
  padding-left: 20px;
  line-height: 21px;
  position: relative;
  cursor: pointer;
}



/**
 *
 * Configure Checkboxes of proposals
 *
 **/
.input-checkbox-proposal {
  opacity: 0;
  display: none;
}
/*XXX Can't use BEM properly when using CSS state manipulation*/
.input-checkbox-proposal:checked ~ label svg.checkbox-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:not(:checked) ~ label svg.checkbox-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:checked ~ label svg.checkbox-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:not(:checked) ~ label svg.checkbox-on {
  opacity: 0;
  transition: opacity .2s linear;
}


/**
 *
 * Configure Radios of proposals
 *
 **/
.picture-checkbox-proposal--qcu {
  position: absolute;
  left: -11px;
  top: 3px;
}
.label-checkbox-proposal--qcu {
  display: inline-block;
  padding-left: 20px;
  line-height: 21px;
  position: relative;
  cursor: pointer;
}

.input-radio-proposal {
  opacity: 0;
  display: none;
}
/*XXX Can't use BEM properly when using CSS state manipulation*/
.input-radio-proposal:checked ~ label svg.radio-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.input-radio-proposal:not(:checked) ~ label svg.radio-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-radio-proposal:checked ~ label svg.radio-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-radio-proposal:not(:checked) ~ label svg.radio-on {
  opacity: 0;
  transition: opacity .2s linear;
}

/**
 *
 * Configure Radios of input files
 *
 **/
.picture-checkbox-downloadable {
  position: absolute;
  left: -8px;
  top: 1px;
}
.label-checkbox-downloadable {
  display: inline-block;
  padding-left: 18px;
  position: relative;
  cursor: pointer;
}
.challenge-statement__picture-container {
  height: 100%;
  display: flex;
}
.challenge-statement__file-option-input {
  opacity: 0;
}
/*XXX Can't use BEM properly when using CSS state manipulation*/
.challenge-statement__file-option-input:checked ~ label svg.radio2-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.challenge-statement__file-option-input:not(:checked) ~ label svg.radio2-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.challenge-statement__file-option-input:checked ~ label svg.radio2-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.challenge-statement__file-option-input:not(:checked) ~ label svg.radio2-on {
  opacity: 0;
  transition: opacity .2s linear;
}


/**
 *
 * Configure Checkboxes that MUST be disabled
 *
 **/
.picture-checkbox-proposal--comparison {
  position: absolute;
  left: -11px;
  top: 3px;
}
.label-checkbox-proposal--comparison {
  display: inline-block;
  padding-left: 20px;
  line-height: 21px;
  position: relative;
}

.proposal-comparison-window {
  margin-left: 10px;
}
.proposal-paragraph {
  margin-left: 7px;
}
/*cursor: pointer is disabled here*/
.label-proposal-comparison-window {
  display: inline-block;
  padding-left: 20px;
  position: relative;
}
.checkbox-comparison-window {
  opacity: 0;
  display: none;
}

/*XXX Can't use BEM properly when using CSS state manipulation*/
.checkbox-comparison-window:checked ~ label svg.checkbox-disabled-on {
  opacity: 0;
}

.checkbox-comparison-window:not(:checked) ~ label svg.checkbox-disabled-off {
  opacity: 1;
}

.checkbox-comparison-window:checked ~ label svg.checkbox-disabled-on {
  opacity: 1;
}

.checkbox-comparison-window:not(:checked) ~ label svg.checkbox-disabled-on {
  opacity: 0;
}


