.rounded-panel {
  background-color: #fff;
  border-radius: 0.3125em;
  border-left: 1px solid var(--light-grey4);
  border-right: 1px solid var(--light-grey4);
  border-bottom: 1px solid var(--light-grey5);
  box-shadow: 0 1px 0 0 var(--light-grey4);
  margin-bottom: 30px;
  overflow: hidden;
}

.rounded-panel__row {
  padding: 20px;
}

.rounded-panel hr {
  margin-left: -20px;
  margin-right: -20px;
}
