.issue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100vh;
  background-image: url('/images/background-blob-error.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;


  .robot-speaking {
    padding-top: 100px;
    padding-right: 60px;
    padding-left: 20px;
    margin-inline-start: 25%;

    @include device-is('tablet') {
      margin-inline-start: unset;
    }

    &__logo {
      width: 196px;
      max-height: unset;
    }

    .bubbles {
      margin-top: 112px;

      @include device-is('tablet') {
        margin-top: 75px;
      }
    }
  }

  .pix1d-button {
    margin-right: 40px;
    margin-left: auto;
    padding: 16px 32px 16px 40px;
    font-size: 18px;
    border-radius: 100px;
  }

  p {
    font-size: 1.5rem;
  }
}
