<article class="assessment-summary" data-id="{{assessment.id}}">

    <div class="assessment-title">
      {{assessment.title}}
    </div>

    <div class="assessment-description">
      {{{assessment.description}}}
    </div>

</article>