<div class="certification-list">
  {{selectable-table
    data=certifications
    columns=columns
    showColumnsDropdown=false
    showGlobalFilter=false
    useNumericPagination=true
    multipleSelect=true
    selectedItems=selectedItems
    displayDataChangedAction=(action changeAction)
  }}
</div>
