<section class="challenge qcm" data-id="10">

    <h3 class="challenge-title">
      {{challenge.title}}
    </h3>

    <div class="challenge-description">
      {{challenge.description}}
    </div>

    <div class="challenge-help">
      {{challenge.help}}
    </div>

    <div class="challenge-options">
        <p><input type="checkbox" id="challenge-10-0" value="0"> <label for="challenge-10-0">Ils sont bios</label></p>
        <p><input type="checkbox" id="challenge-10-1" value="1"> <label for="challenge-10-1">Ils pèsent plus de 63 grammes</label></p>
        <p><input type="checkbox" id="challenge-10-2" value="2"> <label for="challenge-10-2">Ce sont des oeufs frais</label></p>
        <p><input type="checkbox" id="challenge-10-3" value="3"> <label for="challenge-10-3">Ils sont destinés aux consommateur</label></p>
        <p><input type="checkbox" id="challenge-10-4" value="4"> <label for="challenge-10-4">Ils ne sont pas lavés</label></p>
    </div>

    <div class="challenge-actions">
        <button name="validate">Valider</button>
    </div>

</section>
