<form id="identification-form">
    <div class="form-title">
        Identifiez-vous
    </div>

    <div class="form-group">
        {{input class="form-control" type="text" id="firstname" placeholder="Prénom" autocomplete="on"}}
    </div>

    <div class="form-group">
      {{input class="form-control" type="text" id="lastname" placeholder="Nom de famille" autocomplete="on"}}
    </div>

    <div class="identification-form-actions">
        <button {{action "identify"}} class="button button-primary">Valider</button>
    </div>
</form>
