<ul>
  <li>{{#link-to "authenticated.users"}}Users{{/link-to}}</li>
  <li>{{#link-to "authenticated.organizations"}}Organizations{{/link-to}}</li>
  <li><a href="#" {{action 'logout'}}>Logout</a></li>
</ul>

