<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      {{#link-to "authenticated.organizations" class="menu-bar__link menu-bar__link--organizations"}}
        {{fa-icon "building"}}
        <span>Organisations</span>
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.users.list" class="menu-bar__link menu-bar__link--users"}}
        {{fa-icon "users"}}
        <span>Utilisateurs</span>
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.certifications" class="menu-bar__link menu-bar__link--certifications"}}
        {{fa-icon "graduation-cap"}}
        <span>Certifications</span>
      {{/link-to}}
    </li>
  </ul>
</div>