<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      {{#link-to "authenticated.organizations" class="menu-bar__link menu-bar__link--organizations" title="Organisations"}}
        {{fa-icon "building"}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.users.list" class="menu-bar__link menu-bar__link--users" title="Utilisateurs"}}
        {{fa-icon "users"}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.certifications" class="menu-bar__link menu-bar__link--certifications" title="Certifications"}}
        {{fa-icon "graduation-cap"}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "logout" class="menu-bar__link menu-bar__link--logout" title="Se déconnecter"}}
        {{fa-icon "power-off "}}
      {{/link-to}}
    </li>
  </ul>
</div>