<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      {{#link-to "authenticated.organizations.list" class="menu-bar__link menu-bar__link--organizations"}}
        {{fa-icon "building"}}
        <span>Organisations</span>
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      <a href="#" class="menu-bar__link menu-bar__link--users">
        {{fa-icon "users"}}
        <span>Utilisateurs</span>
      </a>
    </li>
    <li class="menu-bar__entry">
      <a href="#" class="menu-bar__link menu-bar__link--certifications">
        {{fa-icon "graduation-cap"}}
        <span>Certifications</span>
      </a>
    </li>
    <li class="menu-bar__entry">
      <a href="#" class="menu-bar__link menu-bar__link--operating">
        {{fa-icon "wrench"}}
        <span>Exploitation</span>
      </a>
    </li>
  </ul>
</div>