<form class="form organization-form" {{action "submitOrganization" on='submit'}}>

  <section class="form-section form-section--organization">
    <h3>Organisation</h3>

    <!-- Organization name -->
    <div class="form-group">
      <label for="organizationName">Nom : </label>
      {{input class="form-control" id="organizationName" value=organization.name required=true}}
    </div>

    <!-- Organization type -->
    <div class="form-group">
      <label for="organizationType">Type : </label>
      <div id="organizationTypeSelector">
        {{#power-select
          options=organizationTypes
          selected=selectedOrganizationType
          required=true
          searchEnabled=false
          onchange=(action "selectOrganizationType")
        as |organizationType|}}
          {{organizationType.label}}
        {{/power-select}}
      </div>
    </div>
  </section>

  <!-- Form submit button -->
  <section class="form-section form-section--actions">
    <button class="form-action form-action--submit btn btn-primary" type="submit">Ajouter</button>
  </section>
</form>