<section class="page-section mb_10">
  <div class="organization__information">
    <div class="organization__logo">
      <figure class="organization__logo-figure">
        <img class="organization__logo-img" src="{{rootURL}}/logo-placeholder.png">
      </figure>
    </div>
    <div class="organization__data">
      <h1 class="organization__name">{{organization.name}}</h1>
      <p>
        Type : <span class="organization__type">{{organization.type}}</span><br>
        Code : <span class="organization__code">{{organization.code}}</span><br>
      </p>
    </div>
  </div>
</section>
