<div class="campaign-details-header-report__created-on">
  <h4 class="label-text campaign-details-content__label">{{t 'pages.campaign.created-on'}}</h4>
  <span class="content-text campaign-details-content__text">
    {{moment-format @creationDate 'DD/MM/YYYY' allow-empty=true}}
  </span>
</div>

<div class="campaign-details-header-report__created-by">
  <h4 class="label-text campaign-details-content__label">{{t 'pages.campaign.created-by'}}</h4>
  <span class="content-text campaign-details-content__text">
    {{@creatorName}}
  </span>
</div>