  <button type="button" class="icon-button" {{on 'click' @toggleParent}} aria-expanded="{{@isOpen}}">
    {{#if @isOpen}}
      <FaIcon @icon="chevron-up" />
    {{else}}
      <FaIcon @icon="chevron-down" />
    {{/if}}
  </button>
