{{#if this.displaySuccess}}
  <p class="success-import-banner">
    <FaIcon @icon="circle-check" class="success-import-banner__icon" />
    {{this.successBanner}}
  </p>
{{/if}}
{{#if this.displayBanner}}
  <PixMessage @type={{this.bannerType}} @withIcon="true">
    {{this.bannerMessage}}
  </PixMessage>
{{/if}}