<section class="indicator-card">
  <div class="indicator-card__icon" aria-hidden="true"><FaIcon @icon='icon'/></div>
  <div class="indicator-card__content">
    <label class="indicator-card__title">Title <FaIcon @icon="question-circle" class="indicator-card__info"/></label>
  {{yield}}
  </div>
</section>
