{{#if this.displayNewYearSchoolingRegistrationsImportBanner}}
  <PixBanner @actionLabel='Importer la base Élèves' @actionUrl='authenticated.sco-students'>
      Rentrée 2020 : l’administrateur doit importer ou ré-importer la base élèves pour initialiser Pix Orga (<a href="https://view.genial.ly/5f295b80302a810d2ff9fa60/?idSlide=cd748a12-ef8e-4683-8139-eb851bd0eb23" target="_blank" rel="noopener noreferrer">plus d'info <FaIcon @icon="external-link-alt" /></a>)
  </PixBanner>
{{else if this.displayNewYearCampaignsBanner}}
  <PixBanner>
      Parcours de rentrée 2020 : les codes sont disponibles dans l’onglet campagnes. N’oubliez pas de les diffuser aux élèves avant la Toussaint. (<a href="https://view.genial.ly/5f295b80302a810d2ff9fa60/?idSlide=e11f61b2-3047-4be3-9a4d-dd9e7cc698ba" target="_blank" rel="noopener noreferrer">plus d’info <FaIcon @icon="external-link-alt" /></a>)
  </PixBanner>
{{/if}}
