{{#if this.displayNewYearSchoolingRegistrationsImportBanner}}
  <PixBanner class="information-banner">
    <FaIcon @icon="exclamation-triangle" class="icon--warning icon--margin"/>
    <TranslateExtended
      @key='banners.import.message'
      @options={{hash
        faIcon=(component 'fa-icon' icon='external-link-alt')
        linkTo=(component 'link-to' (t 'banners.import.link-to') 'authenticated.sco-students' class="link link--white link--bold link--underlined")
      }}
    />
  </PixBanner>
{{else if this.displayNewYearCampaignsBanner}}
  <PixBanner class="information-banner">
    <FaIcon @icon="bullhorn" class="icon--margin"/>
    Il est important de vérifier que les élèves soient <strong>certifiables</strong> avant de les inscrire en session de certification. Vous pouvez faire une
    <a href={{this.documentationLink}} class="link link--white link--bold link--underlined" target="_blank" rel="noopener noreferrer">
      campagne de collecte de profils
      <FaIcon @icon="external-link-alt"/></a>
    pour vous en assurer.
  </PixBanner>
{{/if}}
