{{#if this.canShowCredit}}
  <div class="organization-credit-info">
    <span class="organization-credit-info__label">{{t 'navigation.credits.number' count=this.currentUser.organization.credit}}</span>
    <PixTooltip
      @text={{t 'navigation.credits.tooltip-text' htmlSafe=true}}
      @position='bottom-left'
      @isWide={{true}}
      @isLight={{true}}>
        <FaIcon @icon="info-circle" class="info-icon"/>
    </PixTooltip>
  </div>
{{/if}}
