<div class="previous-page-button">
  <LinkTo
    @route={{@route}}
    @model={{@routeId}}
    class="icon-button previous-page-button__return-button"
    aria-label={{@ariaLabel}}
  >
    <FaIcon @icon='arrow-left'></FaIcon>
  </LinkTo>
  <h1 class="back-title">
    {{yield}}
  </h1>
</div>
