<div class="progress-bar" aria-hidden={{true}}>
  <div class="progress-bar progress-bar--completion" style={{this.progressBarStyle}}></div>
</div>
<div class="label-text label-text--dark label-text--small">
  {{yield}}
</div>
