<div class="table__column--left">
    {{#if (eq this.tutorials.length 0 ) }}
    {{else if (eq this.tutorials.length 1)}}
    <span class="tutorial-count">{{this.tutorials.length }} tuto</span>
    {{else}}
    <span class="tutorial-count">{{this.tutorials.length }} tutos</span>
    {{/if}}
</div>
