@import url('../globals/palette.css');

#assessment-results {
  & .course-name {
    color: var(--pix-blue);
    font-weight: 600;
  }
}

#assessment-challenge  {
  & .progress  {
    background-color: #ccc;
  }
  & .progress-bar-info  {
    min-width: 10%; /* below 10%, text may not be visible */
    background-color: var(--pix-blue);
  }
}
