.login-form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: $pix-spacing-m;
  font-size: 0.875rem;

  &__information {
    text-align: center;
    margin-bottom: $pix-spacing-s;
    color: $pix-neutral-90;
    font-family: $font-roboto;
    letter-spacing: 0.0094rem;
  }

  &__forgotten-password {
    text-align: left;
  }
}
