<section class="app-footer__section app-footer__section--pix-logo">
  {{pix-logo}}
</section>

<section class="app-footer__section app-footer__section--contact">
  <a class="app-footer__link-text" href="mailto:contact@pix.beta.gouv.fr">Contactez-nous</a>
  |
  <a class="app-footer__link-text" href="/mentions-legales">Mentions légales</a>
  |
  <a class="app-footer__link-text" href="https://github.com/sgmap/pix" target="_blank">Le code source est libre</a>
</section>

<section class="app-footer__section app-footer__section--marianne-logo">
  <ul class="mariane-logo-container">
    <li class="mariane-logo__item"><img src="/images/logo-men.svg" class="app-footer__logo-marianne-img"
                                        alt="Logo du Ministère de l'éducation nationale">
    </li>
    <li class="mariane-logo__item"><img src="/images/logo-mesri.svg" class="app-footer__logo-marianne-img"
                                        alt="Logo du Ministère de l'enseignement supérieur de la recherche et de l'innovation">
    </li>
  </ul>
</section>
