<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="/images/pix-logo.png" alt="Logo PIX">
            </div>
        </div>
      {{#if session.isIdentified }}
          <div class="profile nav navbar-nav navbar-right">
              <p class="navbar-text">
                  <a href="#" role="button">
                    Bonjour {{ session.firstname }}
                  </a>
              </p>
          </div>
      {{/if}}
    </div>
</nav>
