<section class="app-footer__section app-footer__section--pix-logo">
  {{pix-logo}}
</section>

<section class="app-footer__section app-footer__section--contact">
  <a class="app-footer__link-text" href="mailto:contact@pix.beta.gouv.fr">Contactez-nous</a>
  |
  <a class="app-footer__link-text" href="/mentions-legales">Mentions légales</a>
  |
  <a class="app-footer__link-text" href="https://github.com/sgmap/pix" target="_blank">Le code source est libre</a>
</section>

<section class="app-footer__section app-footer__section--marianne-logo">
  <img src="/images/mnsr3.svg" class="app-footer__logo-marianne-img" alt="Logo du Ministère de l'Éducation Nationale, de l'Enseignement Supérieur et de la Recherche">
</section>
