<div class="app-footer">
  <div class="app-footer__pix-logo">
    <img class="app-footer__pix-logo-img" src="{{rootURL}}images/pix-logo.svg">
  </div>
  <div class="app-footer__item-contact">
    <a class="app-footer__link-text" href="mailto:contact@pix.beta.gouv.fr">Contactez-nous</a>
    |
    <a class="app-footer__link-text" href="https://github.com/sgmap/pix" target="_blank">Le code source est libre</a>
  </div>
  <div class="app-footer__item-marianne">
    <img src="{{rootURL}}images/mnsr3.svg" class="app-footer__logo-marianne-img">
  </div>
</div>
