<section class="app-footer__section app-footer__section--pix-logo">
  {{pix-logo}}
</section>

<section class="app-footer__section app-footer__section--contact">
  <a class="app-footer__link-text" href="mailto:contact@pix.beta.gouv.fr">Contactez-nous</a>
  |
  <a class="app-footer__link-text" href="/mentions-legales">Mentions légales</a>
  |
  <a class="app-footer__link-text" href="https://github.com/sgmap/pix" target="_blank">Le code source est libre</a>
</section>

<section class="app-footer__section app-footer__section--marianne-logo">
  <div class="mariane-logo-container">
    <img src="/images/logo-marianne-footer.jpg" class="app-footer__logo-marianne-img mariane-logo__item"
                                        alt="Un projet du Ministère de l'Education Nationale et du Ministère de l'Enseignement Supérieur de la Recherche et de l'Innovation">
  </div>
</section>
