<div class="certification-banner__container">
  <div class="certification-banner__user-fullname">
    {{fullname}}
  </div>

  <div class="certification-banner__certification-number">
    #{{certificationNumber}}
  </div>
</div>