<p class="certification-course-page__order">
  Un code d'accès va vous être communiqué par le responsable de la session.
</p>
<div class="certification-course-page__session-code-input">
  {{input id="session-code" type="text" value=accessCode placeholder="Code d'accès"}}
  {{#if displayErrorMessage}}
    <div class="certification-course-page__errors">Ce code n'existe pas ou n'est plus valide.</div>
  {{/if}}
</div>


<p class="certification-course-page__cgu">
  En cliquant sur "Lancer le test", j’accepte que mes données d’identité, le numéro de certification et les circonstances de la passation telles que
  renseignées par l’examinateur soient communiquées à Pix. Pix les utilisera lors de la délibération du jury pour
  produire et archiver mes résultats et pour éditer mon certificat. Si cette certification m’a été prescrite par une organisation, j’accepte que Pix lui communique mes résultats.
  <br/>
  Je peux exercer mes droits d’accès auprès du Correspondant Informatique et Libertés de Pix : cil.pix@beta.gouv.fr
</p>

<div class="certification-course-page__field-button">

  {{#if _loadingCertification}}
    <div class="certification-course-page__field-button__action-validate">
      <div class="certification-course-page__field-button__loader-bar"></div>
    </div>
  {{else}}
    <button type="submit" class="certification-course-page__submit_button" {{ action "submit" }}>Lancer le test
    </button>
  {{/if}}
</div>



