  <div class="challenge-item-actions">
    <a class="challenge-item-actions__action challenge-item-actions__skip-action" {{action "skip"}}>
      <span class="challenge-item-actions__skip-action-text">Je passe</span>
    </a>
    <a class="challenge-item-actions__action challenge-item-actions__validate-action" {{action "validate"}}>
      <span class="challenge-item-actions__validate-action-text">Je valide</span>
    </a>
  </div>
