<div class='challenge-stay__container'>
  <div class='challenge-stay__icon'>
    <img class="challenge-stay__icon-img" src="/images/icon-warning.svg" alt="Avertissement sur les conditions de réalisation de l'épreuve">
  </div>
  <div class='challenge-stay__text'>Vous devez répondre à cette question sans sortir de cette page !</div>
</div>
