<a class="challenge-actions__action challenge-actions__action-validate" {{action "validate"}} href="#">
  <span class="challenge-actions__action-validate-text">Je valide</span>
</a>

<a class="challenge-actions__action challenge-actions__action-skip" {{action "skip"}} href="#">
  <span class="challenge-actions__action-skip-text">Je passe</span>
</a>