<iframe class="challenge-statement-embed-panel__iframe"
        src="{{embedDocument.url}}"
        alt="{{embedDocument.title}}"
        height="{{embedDocument.height}}">
</iframe>
<button class="challenge-statement-embed-panel__reload-button" {{action "reloadIframe"}}>Recharger</button>
