{{#if isValidateButtonEnable}}
  <a class="challenge-actions__action challenge-actions__action-validate" {{action "validateAnswer"}} href="#">
    <span class="challenge-actions__action-validate-text">Je valide</span>
  </a>
{{else}}
  <div class="challenge-actions__action challenge-actions__action-validate__loader">
    <div class="challenge-actions__action-validate__loader-bar"></div>
  </div>
{{/if}}
{{#if isSkipButtonEnable}}
  <a class="challenge-actions__action challenge-actions__action-skip" {{action "skipChallenge"}} href="#">
    <span class="challenge-actions__action-skip-text">Je passe</span>
  </a>
{{else}}
  <div class="challenge-actions__action challenge-actions__action-skip__loader">
    <div class="challenge-actions__action-skip__loader-bar"></div>
  </div>
{{/if}}
