{{#if hasLevel}}
  <div class="competence-level-progress-bar__background">
    <div class="competence-level-progress-bar__background-level-limit">
      <div class="competence-level-progress-bar__background-level-limit-indicator">
        {{_LIMIT_LEVEL}}
      </div>
    </div>
    <div class="competence-level-progress-bar__background-available-soon-text">Disponible Prochainement</div>
    <div class="competence-level-progress-bar__background-level-limit-max-indicator">
      {{_MAX_LEVEL}}
    </div>
  </div>

  <div class="competence-level-progress-bar__level" style={{widthOfProgressBar}}>
    <div class="competence-level-progress-bar__level-indicator">
      {{level}}
    </div>
  </div>
{{/if}}
