<div class="area__name">{{_competencesAreaName}}</div>

<div class="competence-list">
  {{#each _competencesSortedList as |competence|}}
    <div class="competence">
      <div class="competence__name">{{competence.name}}</div>
      <div class="competence__progress-bar">
        {{competence-level-progress-bar level=competence.level courseId=competence.courseId}}
      </div>
    </div>
  {{/each}}
</div>
