<ul class="course-list__ul">
  {{#each courses as |course|}}
    <li class="course-list__li animated fadeIn">
      {{course-item course=course startCourse='startCourse'}}
    </li>
  {{/each}}
</ul>

{{modal-mobile}}

