<article class="course-item-placeholder rounded-panel">
  <div class="course-item-placeholder__picture"></div>
  <div class="course-item-placeholder__container">
    <h3 class="course-item-placeholder__name"></h3>
    <div class="course-item-placeholder__description"></div>
    <div class="course-item-placeholder__challenges-number"></div>
    <div class="course-item-placeholder__begin-button"></div>
  </div>
</article>
