<div class="course-banner__container">

  <span class="course-banner__name">{{course.name}}</span>

  {{#if withHomeLink}}
    {{#link-to "index" class="course-banner__home-link"}}Retour à la liste des tests{{/link-to}}
  {{/if}}

</div>
