<div class="feature-item__icon-container">
  <img class="feature-item__icon" src="{{rootURL}}images/icon-{{feature.icon}}.svg">
</div>
<div class="feature-item__title">{{feature.title}}</div>
<div class="feature-item__description">{{feature.description}}</div>
