{{#if hasLearningMoreItems}}
  <div class="learning-more-panel__container">
    <header class="learning-more-panel__hint-container-header">
      <h3 class="learning-more-panel__hint-title"><span>Pour en apprendre davantage</span></h3>
    </header>
  </div>
{{/if}}
