    <form class="first-page-email__form" id="contact-form">
  
      <div class="first-page-email__form-item">
        <input class="first-page-email-enter" placeholder="Saisissez votre email" type="email">
      </div>
      <div class="first-page-email__form-item">
        <button type="submit"  class="load-email" >Rejoindre la communauté</button>
      </div>
      
    </form>
