    <form class="load-email__form" id="contact-form">
  
      <div class="load-email__form-item">
        <input class="load-email-enter" placeholder="Saisissez votre email" type="email">
      </div>
      <div class="load-email__form-item">
        <button type="submit"  class="load-email-button" >Rejoindre la communauté</button>
      </div>
      
    </form>
