<div class="profile-banner__background"></div>

<div class="profile-banner__content-text-container">
  <div class="profile-banner__title">
    Bienvenue
  </div>

  <div class="profile-banner__description">
    Vous avez 12 compétences à tester.
  </div>

  <div class="profile-banner__description">
    On se concentre et c’est partix !
  </div>
</div>

<div class="profile-banner__button-scroll-container">
  <button class="button-scroll-to-profile" {{action "scrollToProfile"}}>choisir un test</button>
</div>