<div class="medal-item__div"><img src="{{rootURL}}/images/medaille.svg" alt="Médaille obtenue"
                                           class="medal-item__medal-img"></div>
<div class="medal-item__pix-score">+{{pixScore}}</div>
<div class="medal-item__pix-text">pix</div>
<div class="medal-item__bêta">BÊTA</div>