<div class="modal-mobile">
  <div class="modal fade" tabindex="-1" role="dialog" id="js-modal-mobile" class="js-modal-mobile">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="1 2 21 21"><path d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M13,10V6H11V10H13M13,14V12H11V14H13Z"  fill="#ffbe00"/></svg></h4>
        </div>
        <div class="modal-body">
          <p>Certaines épreuves PIX peuvent être difficiles à réussir sur mobile. Pour une meilleure expérience, nous vous conseillons de passer ce test sur un ordinateur.</p>
        </div>
        <div class="modal-footer">
          <div class="modal-button-container">
            <button type="button" class="btn btn-primary modal-mobile__confirm-button" data-confirm="modal">Continuer</button>
          </div>
          <div class="modal-button-container">
            <a nohref data-dismiss="modal" class="modal-mobile__dismiss-link">Revenir à l’accueil</a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
