<div class="navbar-header__container">

  <!-- Logo (left) -->
  <div class="navbar-header-logo">
    {{pix-logo}}
  </div>

  <!-- Links (right) -->
  <div class="navbar-header-right">
    <div class="navbar-header-links {{if isUserLogged 'navbar-header-links--user-logged' ''}}">
      <ul class="navbar-header-links__list">
        <li class="navbar-header-links__item">
          {{#link-to 'project' class="navbar-header-links__link navbar-header-links__link--project"}}Projet{{/link-to}}
        </li>
        <li class="navbar-header-links__item">
          {{#link-to 'competences' class="navbar-header-links__link navbar-header-links__link--competences"}}
            Compétences{{/link-to}}
        </li>
      </ul>
    </div>

    {{#if isUserLogged}}
      {{user-logged-menu}}
    {{/if}}
  </div>

</div>
