<div class="partners-enrollment__title">{{_enrollment.title}}</div>
<div class="partners-enrollment__description">{{_enrollment.description}}</div>
<div class="partners-enrollment__link-container">
  {{#link-to 'enrollment' class='partners-enrollment__link'}}En savoir plus{{/link-to}}
</div>
