<div class="password-reset__connexion">
  {{#link-to "login" class="password-reset__connexion-link"}}Annuler
    <img class="password-reset__home-link_close" alt="" src="/images/icons/icon-close.svg">{{/link-to}}
</div>

<div class="password-reset-form">
  <div class="password-reset-form__pix-logo">
    {{pix-logo}}
  </div>

  <div class="password-reset-form__title">Mot de passe oublié ?</div>
  <div class="password-reset-form__text">Entrez votre adresse e-mail ci-dessous, et c'est repartix</div>

  {{#if _displaySuccessMessage}}
    <div class="password-reset-form__form-success-message">Vous allez recevoir un lien par e-mail pour renouveler votre
      mot de passe
    </div>
  {{/if}}

  <div class="password-reset-form__form">
    <div class="password-reset-form__form-label">Adresse e-mail</div>
    {{#if _displayErrorMessage}}
      <div class="password-reset-form__form-error-message">L'e-mail entré ne correspond à aucun compte</div>
    {{/if}}
    <div class="password-reset-form__form-input">
      {{input class="password-reset-form__form-email-input" id="pix-email" type="email" value=email}}
    </div>
  </div>

  <div class="password-reset-form__button">
    <button class="password-reset-form__submit-button" {{action "savePasswordResetDemand"}}>
      Envoyer
    </button>
  </div>

</div>