{{#link-to "index" class="pix-logo__link" title="Lien vers la page d'accueil"}}
  <img class="pix-logo__image" src="{{rootURL}}images/pix-logo.svg" alt="Logo Pix">
  <span class="pix-logo__beta">Bêta</span>
{{/link-to}}
