{{#link-to "index" class="pix-logo__link" title="Lien vers la page d'accueil de PIX"}}
  <img class="pix-logo__image" src="{{rootURL}}images/pix-logo.svg" alt="Le site officiel de PIX, version bêta">
  <span class="pix-logo__beta">Bêta</span>
{{/link-to}}
