<div class="profile-panel__header">

  <div class="profile-header__left-bloc">
    <div class="profile-header__title">
      Votre profil
    </div>

    <div class="profile-header__details">
      5 domaines / 16 compétences
    </div>
  </div>


  <div class="profile-header__score-pastille-wrapper">
    {{score-pastille pixScore=totalPixScore}}
  </div>

</div>

<div class="profile-panel__competence-areas">
  {{competence-area-list competences=competences}}
</div>