<div class="progress-bar progress-bar-info"
     role="progressbar"
     aria-valuenow="{{progress.currentStep}}"
     aria-valuemin="0"
     aria-valuemax="100"
     style="width:{{progress.stepPercentage}}%">
  {{progress.currentStep}} / {{progress.maxStep}}
</div>
