<div class="progress-bar progress-bar-info"
     role="progressbar"
     aria-valuenow={{progression.valueNow}}
     aria-valuemin="0"
     aria-valuemax="100"
     style={{barStyle}}>
  {{progression.text}}
</div>
