{{#each labeledRadios as |labeledRadio index|}}
  <p class="challenge-proposal">
      <label>

        {{!-- Radio button --}}
        <input 
          type="radio"
          name="{{inc index}}"
          checked={{labeledRadio.[1]}} 
          onclick={{action "radioClicked" index}} />

        {{!-- text of proposal  --}}
        {{labeledRadio.[0]}}

      </label>
  </p>  
{{/each}}

