{{#each blocks as |block|}}

  {{#if block.text}}
    <span>{{block.text}}</span>
  {{/if}}

  {{#if block.input}}
    <input class="challenge-response__proposal-input"
           type="text"
           name={{block.input}}
             placeholder={{block.placeholder}}
           value="{{answerValue}}"
           data-uid="qroc-proposal-uid">
  {{/if}}

  {{#if block.breakline}}
    <hr>
  {{/if}}

{{/each}}
