<div class="reset-password-form__heading">
  {{pix-logo}}
</div>

<div class="reset-password-form__user-details">{{fullname}}</div>

<div class="reset-password-form__instruction">Saisissez votre nouveau mot de passe</div>

<div class="reset-password-form__password-textfield-container">
  <div class="reset-password__textfield">
    {{form-textfield
      label="Mot de passe"
      textfieldName="password"
      validationStatus=validation.status
      validate="validatePassword"
      inputBindingValue=user.password
      validationMessage=validation.message}}
  </div>
</div>

<div class="reset-password-form__button-container">
  <button {{action "handleResetPassword"}} class="reset-password-form__submit-button">envoyer</button>
</div>