<div class="tantpix-panel__illustration-container">
  <img src="{{rootURL}}/images/smiley.png" srcset="{{rootURL}}/images/smiley@2x.png 2x,
					 {{rootURL}}/images/smiley@3x.png 3x" class="tantpix-panel__illustration" alt="smiley tant pix">
</div>

<div class="tantpix-panel__title-container">
  <h1 class="tantpix-panel__title">Tant pix !</h1>
</div>

<div class="tantpix-panel__description-container">
  <p class="tantpix-panel__description">
    Manifestement, ce n'est pas votre jour mais vous ferez mieux la prochaine fois.
  </p>
</div>
<div class="tantpix-panel__button-container">
  {{#link-to 'index' class='tantpix-panel__button' tagName='button'}}
    revenir à l'accueil
  {{/link-to}}
</div>
