<div class="trophy-item__div-img">
  <img src="{{rootURL}}/images/coupe.svg" alt="Coupe obtenue" class="trophy-item__img">
</div>
<div class="trophy-item__level">NIVEAU {{level}}</div>
<div class="trophy-item__bêta">BÊTA</div>