<div class="tutorial-panel__box-container">
  <div class="tutorial-panel__box-picto-container">
    <img src="{{rootURL}}/images/comparison-window/icon-tuto.svg"
         alt="tuto bientôt disponible"
         class="tutorial-panel__box-picto"></div>
  <div class="tutorial-panel__box-title">Bientôt ici des tutoriels pour vous aider à réussir ce type d'épreuves !!</div>
</div>

<div class="tutorial-panel__separator"></div>