{{#if shouldDisplayDefaultMessage}}
  <div class="tutorial-panel__default-message-container">
    <div class="tutorial-panel__default-message-picto-container">
      <img src="{{rootURL}}/images/comparison-window/icon-tuto.svg"
           alt="tuto bientôt disponible"
           class="tutorial-panel__default-message-picto"></div>
    <div class="tutorial-panel__default-message-title">Bientôt ici des tutoriels pour vous aider à réussir ce type
      d'épreuves !!
    </div>
  </div>
{{/if}}

{{#if shouldDisplayHint}}
  <div class="tutorial-panel__hint-container">
    <div class="tutorial-panel__hint-title">Pour réussir la prochaine fois</div>
    <div class="tutorial-panel__hint-picto-container">
      <img src="{{rootURL}}/images/comparison-window/icon-lampe.svg"
           alt=""
           class="tutorial-panel__hint-picto"></div>
    <div class="tutorial-panel__hint-content">
      {{hint}}
    </div>
  </div>
{{/if}}
