{{#if certifications}}
  <div class="user-certifications-panel__certifications-list">
    {{certifications-list certifications=certifications}}
  </div>
{{else}}
  <div class="user-certifications-panel__no-certification-panel">
    {{no-certification-panel}}
  </div>
{{/if}}