<a href="{{rootURL}}#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li><a href="{{rootURL}}preferences">Préférences</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{{rootURL}}">Déconnexion</a></li>
</ul>
