<div>
  <div class="user-certifications-detail-area__box-name">
    {{area.area-name}}
  </div>
  {{#each area.competences as |competence index|}}

    {{user-certifications-detail-competence competence=competence}}

  {{/each}}

</div>
