<div>
  <div class="user-certifications-detail-area__box-name">
    {{area.title}}
  </div>
  {{#each sortedCompetences as |competence index|}}

    {{user-certifications-detail-competence competence=competence}}

  {{/each}}

</div>
