.element-qcu {
  &__proposals {
    margin-bottom: var(--pix-spacing-4x);

    .pix-radio-button {
      padding: var(--pix-spacing-2x);
      background: var(--pix-neutral-0);
      border: 1px solid var(--pix-neutral-100);
      border-radius: var(--pix-spacing-2x);
    }
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }
}

.element-qcu-header {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-medium);
  }

  &__direction {
    @extend %pix-body-s;

    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-500);
  }
}
