.badges-table {
  @extend %pix-body-m;
}

.badges-table-header {
  &__id {
    width: 110px;
  }

  &__key {
    width: 120px;
  }

  &__name {
    width: 250px;
  }

  &__image {
    width: 130px;
  }

  &__parameters {
    width: 175px;

    .pix-tooltip {
      display: block;
    }

    .pix-tooltip__trigger-element {
      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }

  &__actions {
    width: 180px;
  }
}

.badges-table-body {
  &__image {
    img {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }
  }

  &__key {
    word-wrap: break-word;
  }

  &__parameters {
    & > * {
      width: 100%;

      & + * {
        margin-top: var(--pix-spacing-2x);
      }
    }

    .valid::before,
    .not-valid::before {
      margin-right: 0.25ch;
    }

    .valid::before {
      content: '✔'
    }

    .not-valid::before {
      content: '✘'
    }
  }

  &__actions {
    & > * {
      width: 100%;
    }

    & > *:not(:first-child) {
      margin-top: var(--pix-spacing-2x);
    }
  }
}
