.create-target-profile__is-public {
  @extend %pix-body-s;

  label {
    display: block;
    font-weight: 500;
  }

  [type='checkbox'] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: var(--pix-spacing-1x);
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}
