.generate-target-profile {
  color: $grey-70;

  &__card {
    margin-bottom: $spacing-m;
  }

  &__inline-layout {
    display: flex;
    align-items: center;

    label {
      margin: 0;
    }
  }

  &__multi-select {
    max-width: 300px;
    margin-left: $spacing-s;
  }

  &__multi-select-label {
    font-weight: 500;
    padding-right: $spacing-s;
  }

  // WORKAROUND: bootstrap messing with PixButtonLink hover style
  a.pix-button--background-green:hover {
    color: $white;
    text-decoration: none;
  }
}
