.insights {
  &__section {
    padding: 0;
    margin-bottom: 30px;
  }
}

.insights-section {
  &__title {
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: $pix-spacing-m;
  }

  &__button {
    display: inline-block;
    margin: 10px 0;

    a:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.insights__section > .pix-banner {
  margin-bottom: $pix-spacing-m;

  ul,
  ol {
    list-style: revert;
    padding-left: 1.75em;

    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  li + li {
    margin-top: 0.25em;
  }
}

.insights-section-button {
  &__icon {
    margin-right: 4px;
  }
}
