.stages-table {
  &__id {
    width: 110px;
  }

  &__threshold {
    width: 150px;
  }

  &__title {
    width: 250px;
  }

  &__image {
    width: 126px;

    img {
      width: 90px;
    }
  }
}

.stages-new-stage {
  margin: 10px 0;
}
.stages-actions {
  text-align: right;
}
