.stages-table {

  &__type {
    width: 130px;
  }

  &__title {
    width: 250px;
  }

  &__prescriber-title {
    width: 140px;
  }

  &__prescriber-description {
    width: 140px;
  }

  &__actions {
    width: 160px;
  }

  &__level-select {
    width: calc(100% - 8px);
  }
}

.stages-table .form-field {
  margin-bottom: 0;
}

.stages-new-stage {
  margin: 10px 0;
}

.stages-actions {
  display: flex;
  text-align: right;
}

.stages-table-actions-delete {
  margin-top: $spacing-xs;
}
