/* stylelint-disable selector-class-pattern, selector-id-pattern */
.target-profile-section {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    li:not(:last-child) {
      margin-bottom: .3em;
    }
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.target-profile__edit-form {

  #targetProfileName {
    margin-bottom: 24px;
  }
}

.target-profile {

  &__title {
    margin-right: 8px;
  }

  &__actions {
    display: flex;
    gap: 16px;

    &-separator {
      width: 1px;
      background-color: $pix-neutral-22;
    }

    &-spacer {
      flex-grow: 1;
    }
  }
}

.bold {
  font-weight: bold;
}
