/* stylelint-disable selector-class-pattern, selector-id-pattern */
.target-profile-section {
  &__container {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--pix-spacing-4x);

    li {
      margin-bottom: var(--pix-spacing-2x);
    }
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.target-profile__edit-form {
  #targetProfileName {
    margin-bottom: 24px;
  }
}

.target-profile {
  &__title {
    margin-right: var(--pix-spacing-3x);
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &-separator {
      width: 1px;
      background-color: var(--pix-neutral-100);
    }

    &-spacer {
      flex-grow: 1;
    }
  }
}

.bold {
  font-weight: bold;
}
