<div class="login-page">
  <main class="login-page__main">
    <section class="login-page__section">
      <LoginForm
        @isUnknownErrorOccurs={{this.isUnknownErrorOccurs}}
        @isUserShouldCreateAnAccount={{this.isUserShouldCreateAnAccount}}
      />
    </section>

    <footer>

    </footer>

  </main>
</div>