<div class="login-page">
  <main class="login-page__main">
    <LoginForm
      @unknownErrorHasOccured={{this.unknownErrorHasOccured}}
      @userShouldCreateAnAccount={{this.userShouldCreateAnAccount}}
      @userShouldRequestAccess={{this.userShouldRequestAccess}}
    />

    <footer>
    </footer>
  </main>
</div>