<div class="login-page">
  <main class="login-page__main">
    <LoginForm
      @isUnknownErrorOccurs={{this.isUnknownErrorOccurs}}
      @isUserShouldCreateAnAccount={{this.isUserShouldCreateAnAccount}}
      @isUserShouldRequestAccess={{this.isUserShouldRequestAccess}}
    />

    <footer>
    </footer>
  </main>
</div>