[Unit]
Description=Pix API

[Service]
Type=simple
TimeoutStartSec=5m
WorkingDirectory={{ working_directory }}

{% for env in pix_environment %}
Environment={{ env }}={{ pix_environment[env]}}
{% endfor %}

ExecStart=/usr/bin/npm start 2>&1 >> /var/log/pix-api.log

Restart=always
RestartSec=10

[Install]
WantedBy=default.target
