{{! Cette page est affichée lorsqu'une erreur survient coté api. }}
<div class="issue">
  <img src="/images/background-blob-error.svg" alt="error_background_image" class="blob" />
  <RobotDialog @class={{if @class @class "sad"}}>
    <Bubble @message={{@message}} />
  </RobotDialog>
  <PixButton class="pix1d-button" @triggerAction={{this.goToHome}} @iconBefore="arrow-left">{{t
      "pages.error.backHome"
    }}</PixButton>
</div>