<div class="panel">
  <div class="certification-candidates-sco-actions">
    <img src="/images/adding_candidate.svg" alt="" role="none">
    <p>Ajouter une liste d'elèves et c'est partix !</p>
    <button class="button button--link" type="button">
      Ajouter des candidats
    </button>
  </div>
</div>