@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.import-card {
  @extend %pix-shadow-xs;
  @extend %pix-body-m;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(50% - var(--pix-spacing-4x));
  padding: var(--pix-spacing-6x);
  text-align: center;
  background-color: var(--pix-neutral-0);
  border-radius: 8px;

  &__title {
    @extend %pix-title-xs;

    margin-bottom: var(--pix-spacing-6x);
  }

  &__details {
    width: fit-content;
    margin: 0 auto var(--pix-spacing-4x) auto;
    text-align: initial;
  }

  &__sub-title {
    margin-bottom: var(--pix-spacing-3x);
  }

  &__list {
    margin-left: var(--pix-spacing-3x);
    list-style-position: inside;
    list-style-type: disc;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    align-items: center;
    margin: 0 auto;
  }
}
