@use 'pix-design-tokens/typography';

.module-passage {
  max-width: var(--modulix-max-content-width);
  margin: 0 auto;
  padding: 0 var(--pix-spacing-4x);

  .auto-scroll {
    min-height: calc(100vh - var(--scroll-offset));

    @supports (min-height: 100dvh) {
      min-height: calc(100dvh - var(--scroll-offset));
    }
  }

  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-12x) var(--pix-spacing-2x);
    text-align: center;
  }

  &__content {
    --modulix-grains-gap: 56px;

    display: flex;
    flex-direction: column;
    gap: var(--modulix-grains-gap);
    align-items: center;
    justify-content: center;
  }

  .module-is-beta-banner {
  margin-top: var(--pix-spacing-4x);
}
}


.report-button {
  position: sticky;
  bottom: 2rem;
  z-index: var(--modulix-z-index-above-all);
  padding-right: var(--pix-spacing-8x);
  display: flex;
  justify-content: flex-end;
}
