#organizations-get-page {

  .organization__information {
    display: flex;

    .organization__logo {
      margin-right: 20px;

      .organization__logo-figure {
        display: inline-block;
        padding: 3px;
        border: 2px solid $grey-15;
        border-radius: 4px;
        margin: 0;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        > img {
          max-width: 100%;
          max-height: 100%;
        }

        > .file-upload {
          position: absolute;
          top: 0;
          left: 0;
          background: transparent;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    .organization__data {

      .organization__name {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }

  .page-section__header {
    justify-content: space-around;
  }

  .organization__forms-section {
    display: flex;
    justify-content: space-around;

    .organization__sub-form {
      display: flex;

      .organization-sub-form__input {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 280px;

        &__error {
          border-right: 1px solid $error;
          border-color: $error;
        }
      }

      .organization-sub-form__validate-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .organization-sub-form__error-message {
      color: $error;
      font-size: .85rem;
    }
  }
}
