/* stylelint-disable selector-class-pattern */
#organizations-get-page {
  .organization__information {
    display: flex;

    .organization__logo {
      margin-right: 20px;

      .organization__logo-figure {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 3px;
        border: 2px solid $pix-neutral-15;
        border-radius: 4px;

        > img {
          max-width: 100%;
          max-height: 100%;
        }

        > .file-upload {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          cursor: pointer;
        }
      }
    }

    .organization__data {
      max-width: 100%;
      overflow: hidden;

      .organization__name {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .organization-tags-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $pix-spacing-m;
        padding: 0;
        list-style: none;

        &__tag {
          margin-right: 6px;
        }
      }
    }

    .organization__edit-form {
      width: 500px;

      .organization-edit-form__checkbox {
        display: flex;
        align-items: center;

        & > input[type='checkbox'] {
          width: 16px;
          height: 16px;
          margin-right: var(--pix-spacing-3x);
        }
      }
    }
  }

  .page-section__header {
    justify-content: space-around;
  }

  .organization__forms-section {
    display: flex;
    justify-content: space-around;

    h2 {
      font-size: 1.125rem;
    }

    .organization__sub-form {
      display: flex;
      align-items: flex-end;

      .organization-sub-form__input {
        width: 280px;
        margin-right: 6px;

        &__error {
          border-color: $pix-error-70;
          border-right: 1px solid $pix-error-70;
        }
      }

      .organization-sub-form__validate-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .organization-sub-form__error-message {
      color: $pix-error-70;
      font-size: 0.85rem;
    }
  }
}
