<div class="organization-participant-list-page__header">
  <div class="page-title">{{t "pages.sup-organization-participants.title" count=@participantCount}}</div>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="organization-participant-list-page__import-students-button hide-on-mobile">
      <PixButtonLink
        @href={{this.urlToDownloadCsvTemplate}}
        @backgroundColor="transparent-light"
        target="_blank"
        rel="noopener noreferrer"
        download
      >
        {{t "pages.sup-organization-participants.actions.download-template"}}
      </PixButtonLink>
      <PixButtonLink @route="authenticated.sup-organization-participants.import">
        {{t "pages.sup-organization-participants.actions.import-file"}}
      </PixButtonLink>
    </div>
  {{/if}}
</div>