<div class="organization-participant-list-page__header">
  <div class="page-title">{{t "pages.sup-organization-participants.title" count=@participantCount}}</div>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="organization-participant-list-page__import-students-button hide-on-mobile">
      <DownloadImportTemplateLink />
      <PixButtonLink @route="authenticated.import-organization-participants">
        {{t "components.organization-participants-header.import-button"}}
      </PixButtonLink>
    </div>
  {{/if}}
</div>