@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';
@use '../../globals/a11y' as *;

.combined-course {
  padding: var(--pix-spacing-4x);

  &__exit {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: var(--pix-spacing-2x);
  }

  &__description {
    @extend %pix-body-l;

    display: flex;
    align-items: center;
    margin-bottom: var(--pix-spacing-6x);
  }

  &__divider {
    margin: var(--pix-spacing-6x) 0;
    border-top: 1px solid var(--pix-neutral-100);
  }

  &__retry-text {
    @extend %pix-body-m;

    margin-bottom: var(--pix-spacing-6x);
    font-weight: var(--pix-font-bold);
    text-align: right;
  }

  &__step-title {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-10x) 0 var(--pix-spacing-4x);

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.combined-course-header {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--pix-spacing-8x);
  align-items: center;
  justify-content: space-between;

  @include breakpoints.device-is('tablet') {
    flex-direction: row;
  }

  &__completed {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    padding: var(--pix-spacing-6x);
    background: var(--pix-secondary-100);
    border: 1px solid var(--pix-secondary-500);
    border-radius: 16px;
    // stylelint-disable color-no-hex
    box-shadow: 2px 6px 0 1px #cf9430;

    .completed-text {
      display: flex;
      flex-direction: column;
      color: var(--pix-secondary-900);

      &__title {
        margin-bottom: var(--pix-spacing-2x);
        font-size: 1.125rem;

        @extend %pix-title-l;
      }

      &__description {
        @extend %pix-body-m;
      }
    }
  }

  h1 {
    @extend %pix-title-m;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-8x);
  }

  button {
    width: fit-content;
  }

  .survey-button {
    width: fit-content;
  }

  .pix-tooltip {
    width: fit-content;
  }
}

.combined-course-item {
  display: flex;
  gap: var(--pix-spacing-4x);
  align-items: center;
  justify-content: space-between;
  width: calc(100% - var(--pix-spacing-4x) * 2);
  margin-bottom: var(--pix-spacing-4x);
  margin-left: var(--pix-spacing-4x);
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  background: rgb(var(--pix-primary-100-inline), 0.2);
  border: 1px solid var(--pix-primary-100);
  border-radius: var(--pix-spacing-4x);

  @include breakpoints.device-is('tablet') {
    width: 100%;
    margin-left: 0;
  }

  &--isCampaignType {
    flex-wrap: wrap;

    &__indicator--completed {
      order: 1;
    }

    @include breakpoints.device-is('tablet') {
      flex-basis: none;
      flex-wrap: nowrap;
    }
  }

  &--formation {
    background: color-mix(in srgb, var(--pix-primary-100) 20%, transparent);
  }

  &--yellow-border {
    border: 6px solid var(--pix-secondary-500);
  }

  &--white {
    background: var(--pix-neutral-0);
  }

  &__content {
    display: flex;
    flex-basis: auto;
    gap: var(--pix-spacing-4x);
    align-items: center;

    .combined-course-item__icon {
      max-width: var(--pix-spacing-8x);
      max-height: var(--pix-spacing-8x);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }

    &--yellow {
      color: var(--pix-secondary-500);
    }
  }

  &__title {
    @extend %pix-title-xxs;
  }

  &__description {
    @extend %pix-body-s;

    display: inline-flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    color: var(--pix-neutral-500);
  }

  &__completion-field {
    @extend .sr-only;

    @include breakpoints.device-is('tablet') {
      position: static;
      display: flex;
      width: max-content;
      width: auto;
      width: 100%;
      height: auto;
      margin: 0;
      overflow: visible;
      clip-path: auto;
    }
  }

  &--campaign {
    display: flex;
  }

  &__campaign-indicators {
    flex-basis: 100%;
    order: 2;
    color: var(--pix-primary-500);
    font-weight: var(--pix-font-bold);

    img {
      min-width: var(--pix-spacing-8x);
      min-height: var(--pix-spacing-8x);
    }

    @include breakpoints.device-is('tablet') {
      flex-basis: auto;
      order: 1;
      margin-left: auto;
    }
  }

  &__indicator {
    order: 2;

    &--locked {
      display: flex;
      justify-content: center;
      min-width: var(--pix-spacing-8x);
      max-width: var(--pix-spacing-8x);

      svg {
        fill: var(--pix-primary-500);
      }
    }

    &--completed {
      @extend %pix-body-m;

      display: flex;
      gap: var(--pix-spacing-4x);
      align-items: center;
      height: 24px;
      color: var(--pix-primary-500);
      font-weight: var(--pix-font-bold);

      .combined-course-item__icon {
        @include breakpoints.device-is('tablet') {
          min-width: var(--pix-spacing-8x);
          min-height: var(--pix-spacing-8x);

          &--yellow {
            color: var(--pix-secondary-500);
          }
        }
      }
    }

    &--yellow {
      color: var(--pix-secondary-700);
    }
  }

  &--current {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 0;
    border: 6px solid var(--pix-primary-500);
    box-shadow:
      0 2px 5px 0 rgb(var(--pix-primary-500-inline), 25%),
      0 -2px 5px 0 rgb(var(--pix-primary-500-inline), 15%) inset,
      0 1px 1px 0 rgb(var(--pix-neutral-0-inline), 10%) inset,
      0 3px 4px 0 rgb(var(--pix-primary-10-inline), 10%) inset;

    .combined-course-item__title {
      @extend %pix-title-xs;
    }

    .combined-course-item__icon {
      min-width: var(--pix-spacing-12x);
      max-width: var(--pix-spacing-12x);
      min-height: var(--pix-spacing-12x);
      max-height: var(--pix-spacing-12x);
    }

    @include breakpoints.device-is('tablet') {
      flex-direction: row;
      align-items: center;
      width: calc(100% + var(--pix-spacing-6x) * 2);
      margin-left: calc(var(--pix-spacing-6x) * -1);
    }

    .combined-course-item__tag {
      display: flex;
      gap: var(--pix-spacing-1x);
      align-items: center;
      padding: 6px var(--pix-spacing-4x);
      background: var(--pix-tertiary-100);
      border-radius: 50px;
    }
  }

  &__duration {
    display: inline-flex;
    gap: var(--pix-spacing-1x);
    align-items: center;

    @extend %pix-body-s;

    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__stars {
    height: 24px;
    margin-left: var(--pix-spacing-4x);
  }

  .combined-course-item__text {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-1x);
  }
}
