@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';
@use '../../globals/a11y' as *;

.combined-course {
  padding: var(--pix-spacing-4x);

  &__exit {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: var(--pix-spacing-2x);
  }

  &__content {
    flex: 1;
    padding: 0 var(--pix-spacing-4x);

    @include breakpoints.device-is('tablet') {
      &--tunnel {
        margin-top: 120px;
        padding-left: 80px;
      }
    }


  }

  &__description {
    @extend %pix-body-l;

    display: flex;
    align-items: center;
    margin-bottom: var(--pix-spacing-6x);
  }

  &__divider {
    margin: var(--pix-spacing-6x) 0;
    border-top: 1px solid var(--pix-neutral-100);
  }

  &__retry-text {
    @extend %pix-body-m;

    margin-bottom: var(--pix-spacing-6x);
    font-weight: var(--pix-font-bold);
    text-align: right;
  }

  &__step-title {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-6x) 0 var(--pix-spacing-4x);

    &:first-of-type {
      margin-top: 0;
    }

    @include breakpoints.device-is('tablet') {
      margin: var(--pix-spacing-10x) 0 var(--pix-spacing-4x);
    }
  }
}

.combined-course-header {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--pix-spacing-8x);
  align-items: center;
  justify-content: space-between;

  @include breakpoints.device-is('tablet') {
    flex-direction: row;
  }

  &__completed {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    padding: var(--pix-spacing-6x);
    background: var(--pix-secondary-100);
    border: 1px solid var(--pix-secondary-500);
    border-radius: 16px;
    // stylelint-disable color-no-hex
    box-shadow: 2px 6px 0 1px #cf9430;

    .completed-text {
      display: flex;
      flex-direction: column;
      color: var(--pix-secondary-900);

      &__title {
        margin-bottom: var(--pix-spacing-2x);
        font-size: 1.125rem;

        @extend %pix-title-l;
      }

      &__description {
        @extend %pix-body-m;
      }
    }
  }

  h1 {
    @extend %pix-title-m;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-8x);
  }

  button {
    width: fit-content;
  }

  .survey-button {
    width: fit-content;
  }

  .pix-tooltip {
    width: fit-content;
  }
}
