@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.step-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--pix-spacing-10x);
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: var(--pix-spacing-10x) var(--pix-spacing-4x);
  background-color: var(--pix-neutral-0);
  border-radius: 0 0 var(--pix-spacing-10x) var(--pix-spacing-10x);
  box-shadow: var(--pix-shadow-default);

  @include breakpoints.device-is('tablet') {
      align-self: stretch;
      padding: 80px;
      padding-left: var(--pix-spacing-10x);
      border-radius: var(--pix-spacing-10x) 0 0 var(--pix-spacing-10x);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    margin-bottom: var(--pix-spacing-10x);
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  &__title {
    @extend %pix-title-s;
  }

  &__description {
    @extend %pix-body-m;
  }

  &__objectives {
    &--item {
       @extend %pix-body-m;

       display: flex;
       font-weight: var(--pix-font-bold);
    }

    &--chevron {
      fill: var(--pix-primary-300);
    }

  }

  &__indicators {
    @extend %pix-body-s;

    display: none;

    @extend %pix-body-s;

    @include breakpoints.device-is('tablet') {
    display: flex;
    gap: var(--pix-spacing-4x);
    margin-top: var(--pix-spacing-2x);
    dl {
      display: inline-flex;
      gap: var(--pix-spacing-1x);
      align-items: center;

      dt {
      width: 16px;
      height: 16px;
      line-height: normal;

      .duration {
       &__icon {
        width: 16px;
        height: 16px;
      }
     }

    .level {
      &__icon {
        width: 16px;
        height: 16px;
      }
    }
     }

    }
    }

  }


}
