<section class="page-section mb_10 session-jury-comment">
  <h1 class="session-jury-comment__title">Commentaire de l'équipe Certification</h1>
  <div>
    <span class="session-jury-comment__author">{{@author}}</span> -
    <time class="session-jury-comment__date">{{moment-format @date 'DD/MM/YYYY à HH:mm'}}</time>
  </div>
  <p class="session-jury-comment__content">{{@comment}}</p>
</section>