{{page-title "Sessions à traiter"}}
<span class="session-list__self-toogle">
  <p>Afficher uniquement mes sessions</p>
  <XToggle
    @size="small"
    @theme="light"
    @value={{this.assignedToSelfOnly}}
    @onToggle={{fn (mut this.assignedToSelfOnly)}}
  />
</span>

<WithRequiredActionSessions::ListItems @withRequiredActionSessions={{this.filteredSessions}} />