@charset "utf-8";

// Globals
@import 'globals/fonts';
@import 'globals/a11y';
@import 'globals/colors';
@import 'globals/buttons';

// Components
@import 'components/answer';
@import 'components/card';
@import 'components/challenge-actions';
@import 'components/challenge-embed-simulator';
@import 'components/challenge-illustration';
@import 'components/challenge-instruction';
@import 'components/challenge-item';
@import 'components/challenge-item-proposals';
@import 'components/error';
@import 'components/home';
@import 'components/mission';
@import 'components/missions';
@import 'components/robot-dialog';
@import 'components/warning';

body {
  // Simuler l'affichage d'une tablette
  max-width: 1194px;
  margin: auto;
  color: #07142E;
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: linear-gradient(74.05deg, rgb(255 188 87 / 6%) 12.69%, rgb(61 104 255 / 6%) 75.92%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

b {
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: 30px;
  text-align: start;

  img {
    width: 128px;
  }
}

