@charset "utf-8";

/* Pix UI */
@import 'pix-design-tokens';
@import 'pod-styles';

// Globals
@import 'globals/fonts';
@import 'globals/colors';
@import 'globals/buttons';


body {
  // Simuler l'affichage d'une tablette
  max-width: 1194px;
  margin: auto;
  color: var(--pix-neutral-900);
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: linear-gradient(74.05deg, rgb(255 188 87 / 6%) 12.69%, rgb(61 104 255 / 6%) 75.92%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

b {
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  margin-bottom: 32px;
  margin-left: 32px;
  text-align: start;

  img {
    width: 128px;
  }
}

