.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: block;
}

@mixin external-link {
  content: '';
  display: inline-block;
  margin: 0 0.2rem;
  height: 1rem;
  width: 1rem;
  background-size: 1rem;
  background-image: url('/images/icons/external-link-alt.svg');
  background-repeat: no-repeat;
}
