.alert {
  outline: none;
  border-radius: 0.195em;
  padding: 9px;
  margin-bottom: 11px;
  color: $white;
  text-shadow: none;
  font-size: 0.875rem;
}

.challenge-response + .alert {
  margin: 0 5px;
}

.alert-success {
  border: 1px solid $deyork-green;
  background-color: $deyork-green;
}

.alert-danger {
  border: 1px solid $mandy-red;
  background-color: $mandy-red;
}

abbr.mandatory-mark {
  cursor: help;
  color: $monza;
  display: contents;
  margin: 1.25rem;
}
