.alert {
  outline: none;
  border-radius: 0.195em;
  padding: 9px;
  margin-bottom: 11px;
  color: $white;
  text-shadow: none;
  font-size: 0.875rem;
  font-weight: $font-normal;
  letter-spacing: 0.009rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;

  &--success {
    border: 1px solid $green;
    background-color: $green;
  }

  &--danger {
    border: 1px solid $dark-error;
    background-color: $dark-error;
  }

  &--warning {
    border: 1px solid $warning;
    background-color: $warning;
    color: $grey-70;
  }
}

.challenge-response + .alert {
  margin: 0 5px;
}

abbr.mandatory-mark {
  cursor: help;
  color: $dark-error;
}
