.checkpoint-progress-bar-wrapper {
  width: 100%;
  height: 4px;

  @include device-is('tablet') {
    width: 65%;
  }
}

.checkpoint-progress-bar {
  background-color: $jordy-blue;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.checkpoint-progress-bar__marker {
  background: $white;
  height: 4px;
  border-radius: 5px;
  text-align: right;
}

.checkpoint-progress-bar__tooltip-wrapper {
  position: relative;
  top: -13px;
}

.checkpoint-progress-bar__tooltip {
  position: absolute;
  background-color: $white;
  color: $pix-blue;
  padding: 2px;
  margin-top: -24px;
  border-radius: 5px;
  font-family: $font-open-sans;
  font-size: 1.3rem;
  font-weight: $font-bold;
  text-align: center;
  right: -40px;
  width: 40px;

  &::before {
    content: '';
    position: absolute;
    border-top: 12px solid $white;
    border-right: 12px solid transparent;
    margin-top: 16px;
    right: 28px;
  }
}
