// See https://zeroheight.com/8dd127da7/p/839645-couleurs/b/21317a

// primary
$blue: #3D68FF;
$blue-zodiac: #505F79;
$white: #ffffff;

// secondary
$blue-hover: darken($blue, 4%);
$dark-blue-pro: #1A38A0;
$green-certif: #1A8C89;
$dark-orga: #0095C0;
$orga: #00DDFF;
$green: #20BF55;
$green-hover: darken($green, 4%);
$red: #D63F00;
$red-hover: darken($red, 4%);
$yellow: #FFBE00;
$yellow-hover: darken($yellow, 8%);
$light-blue: #388AFF;
$pure-orange: #f45c00;

// gradients
$pix-blue-gradient: linear-gradient(135deg, #12A3FF 0%, #3D68FF 100%);
$pix-gradient: linear-gradient(135deg, #388AFF 0%, #985FFF 100%);
$pix-green-gradient: linear-gradient(0deg, #52D987 0%, #1A8C89 100%);
$pix-orange-gradient: linear-gradient(180deg, #F24645 0%, #F1A141 100%);
$pix-orga-gradient: linear-gradient(134deg, #00DDFF 0%, #0095C0 100%);
$pix-orga-old-gradient: linear-gradient(0deg, #0D7DC4 0%, #213371 100%);
$pix-pink-gradient: linear-gradient(135deg, #FF3F93 0%, #AC008D 100%);
$pix-purple-gradient: linear-gradient(180deg, #5E2563 0%, #564DA6 100%);
$pix-yellow-to-orange-gradient: linear-gradient(180deg, #fedc41 0%, #f45c00 100%);

// light
$grey-5: #FAFBFC;
$grey-10: #F4F5F7;
$grey-15: #EAECF0;
$grey-20: #DFE1E6;
$grey-22: #C1C7D0;
$grey-25: #A5ADBA;

// medium
$grey-30: #97A0AF;
$grey-35: #8993A4;
$grey-40: #7A869A;
$grey-45: #6B778C;
$grey-50: #5E6C84;
$grey-60: #505F79;

// dark
$grey-70: #344563;
$grey-80: #253858;
$grey-90: #172B4D;
$grey-100: #091E42;
$grey-200: #07142E;

// solids
$environment-dark: #5E2563;
$environment-light: #564DA6;
$communication-dark: #3D68FF;
$communication-light: #12A3FF;
$content-dark: #1A8C89;
$content-light: #52D987;
$information-dark: #F24645;
$information-light: #F1A141;
$security-dark: #AC008D;
$security-light: #FF3F94;

// status
$error: #FF4B00;
$light-red: lighten($error, 8%);
$dark-error: darken($error, 8%);
$success: #57C884;
$warning: #FFBE00;

// box shadows
$box-shadow-competence-cards: 0 3px 4px 0 rgba(12, 22, 58, 0.1), 0 1px 3px 0 rgba($grey-200, 0.1);
$box-shadow-competence-cards-hover: 0 7px 14px 0 rgba(12, 22, 58, 0.2), 0 3px 6px 0 rgba($grey-200, 0.2);
