// See https://zeroheight.com/8dd127da7/p/839645-couleurs/b/21317a

// primary
$white: #FFFFFF;

// secondary
$pure-orange: #F45C00;
$pole-emploi:#1B2E57;

// hover
$blue-hover: darken($blue, 4%);
$green-hover: darken($green, 4%);

// gradients
$yellow-gradient: linear-gradient(180deg, #FEDC41 0%, #F45C00 100%);

// status
$dark-error: darken($error, 8%);

// box shadows
$box-shadow-competence-cards: 0 3px 4px 0 rgba(12, 22, 58, 0.1), 0 1px 3px 0 rgba($grey-200, 0.1);
$box-shadow-competence-cards-hover: 0 7px 14px 0 rgba(12, 22, 58, 0.2), 0 3px 6px 0 rgba($grey-200, 0.2);
