// See https://zeroheight.com/8dd127da7/p/839645-couleurs/b/21317a

/* Deprecated */
$box-shadow-competence-cards: 0 3px 4px 0 rgb(12 22 58 / 10%), 0 1px 3px 0 rgba($pix-neutral-110, 0.1);
$box-shadow-competence-cards-hover: 0 7px 14px 0 rgb(12 22 58 / 20%), 0 3px 6px 0 rgba($pix-neutral-110, 0.2);
$blur-30: blur(30px);
