@font-face {
  font-weight: normal;
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url('/fonts/RobotoMono/RobotoMono-Regular.ttf');
}

:root {
  --pix-font-family-monospace: 'Roboto Mono', monospace;
}
