input.input-code {
  box-sizing: content-box;
  min-height: 50px;
  padding: 0 1px 1px 0.5ch;
  color: $pix-neutral-70;
  font-size: 1.875rem;
  font-family: $font-roboto-mono;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  background:
    repeating-linear-gradient(
        90deg,
        $pix-neutral-22 0,
        $pix-neutral-22 1ch,
        transparent 0,
        transparent 1.5ch
      ) 0 96%/98% 2px no-repeat;
  background-origin: content-box;
  border: solid 2px $pix-neutral-20;
  border-radius: 3px;

  @media all and (-ms-high-contrast: none) {
    // display differently for IE because 1 character (ch) is equal to 1.162
    line-height: 0.7;
    letter-spacing: 0.4ch;
    background:
      repeating-linear-gradient(
          90deg,
          $pix-neutral-22 0,
          $pix-neutral-22 1.33ch,
          transparent 0,
          transparent 1.733ch
        ) 0 96%/98% 2px no-repeat;
    background-origin: content-box;
  }

  &::-ms-clear {
    // not display cross that allow to clear field
    display: none;
  }
}
