.app-loader,
.app-nested-loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--pix-neutral-20);
}

.app-loader__text {
  padding: 20px;
  font-size: 1.625rem;
  text-align: center;
}

.app-loader__image {
  text-align: center;
}

.app-nested-loader {
  position: relative;
  padding: 40px;
}
