.pix-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  height: 50px;
  padding: 0 40px;
  background-color: $pix-blue;
  color: $white!important;
  font-family: $font-lato;
  font-size: 1.6rem;
  text-decoration: none!important;

  &--extra-big {
    width: 280px;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $pix-blue-hover;
  }
}

.loader-in-button {
  background: url('/images/loader-white.svg');
  background-size: 50px 58px;
  margin: auto;
  height: 35px;
  width: 58px;
  margin-top: -5px;
}


.pix-link {
  color: $pix-blue;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $pix-blue-hover;
  }
}
