/**
 *
 * Trick label & SVG to replace built-in checkboxes & radiobuttons.
 *
 **/

fieldset {
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: fill-available;
}

.qcm-proposal-label__checkbox-picture {
  position: absolute;
  top: 3px;
  left: -11px;
}

.label-checkbox-proposal {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  font-weight: $font-normal;
  line-height: 21px;
  cursor: pointer;
}

/**
 *
 * Configure Radios of input files
 *
 **/
.label-checkbox-downloadable {
  position: relative;
  display: inline-block;
  padding-left: 6px;
  cursor: pointer;
}

.qcm-panel__proposal-label {
  position: relative;
  display: inline-block;
  line-height: 21px;
}

.proposal-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7px;
}
