.default-table {
  box-sizing: border-box;
  width: 100%;
  font-size: 0.938rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    display: none;
    width: 100%;
    color: var(--pix-neutral-800);

    @include device-is('tablet') {
      display: table-header-group;
    }
  }

  tbody {
    color: var(--pix-neutral-500);
  }

  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--pix-neutral-20);

    @include device-is('tablet') {
      display: table-row;
      height: 60px;
    }
  }

  th {
    border-top: 1px solid var(--pix-neutral-20);
  }

  td,
  th {
    padding: 8px 12px 18px;
    text-align: left;

    @include device-is('tablet') {
      padding: 0 0 0 30px;
    }
  }
}
