.score-label {
  font-size: 0.625rem;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
  color: $nero;
}

.score-value {
  font-size: 2.875rem;
  line-height: 2.875rem;
  font-family: $font-open-sans;
  color: $black;
}
