.score-label {
  color: $pix-neutral-100;
  font-size: 0.625rem;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
}

.score-value {
  color: $pix-neutral-110;
  font-size: 2.875rem;
  font-family: $font-open-sans;
  line-height: 2.875rem;
}

@mixin tutorial-panel-title($color) {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  color: $pix-neutral-80;
  font-weight: $font-medium;
  font-size: 1.375rem;

  // XXX Inspired from https://codepen.io/ericrasch/pen/Irlpm
  font-family: $font-open-sans;
  text-align: center;

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid #DFDFDF;
    content: '';
  }

  span {
    display: inline;
    background: $color;
    box-shadow: 15px 0 0 $color, -15px 0 0 $color;
    box-decoration-break: clone;
  }

  @include device-is('desktop') {
    font-size: 1.375rem;
    line-height: 26px;
  }
}

.legal-notice {
  display: block;
  max-width: 100%;
  padding: 10px;
  font-size: 0.75rem;

  @include device-is('tablet') {
    padding: 10px 0;
  }
}
