.score-label {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: $nero;
}

.score-value {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-family: $font-open-sans;
  color: $black;
}
