h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h3 {
  color: $pix-neutral-90;
  font-weight: $font-light;
  font-size: 1.625rem;
  font-family: $font-open-sans;
  line-height: 2.75rem;
  letter-spacing: 0.009rem;

  @include device-is("tablet") {
    font-size: 2rem;
    line-height: 3.375rem;
  }
}

h4 {
  color: $pix-neutral-90;
  font-weight: $font-normal;
  font-size: 1.5rem;
  font-family: $font-open-sans;
  line-height: 2.25rem;
  letter-spacing: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include device-is("tablet") {
    line-height: 2.5rem;
  }
}
