.modulix {
  @extend %pix-body-l;

  flex-grow: 1;
  color: var(--pix-neutral-900);
  background: var(--pix-neutral-0);

  h3,
  h4,
  p {
    margin: var(--pix-spacing-1x) 0;
  }

  h3,
  h4 {
    font-weight: var(--pix-font-medium);
  }

  ul:not([class]),
  ol {
    margin: var(--pix-spacing-1x) 0;
    padding: revert;
    list-style: revert;
  }

  p.pix-list-inline {
    display: inline;

    & + ul {
      display: inline;
      padding: 0;
      list-style-type: none;

      &::before {
        content: ' ';
      }

      li {
        display: inline;

        &:not(:last-child)::after {
          content: ', ';
        }
      }
    }
  }
}
