/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* globals */
@import url('globals/buttons.css');
@import url('globals/form.css');
@import url('globals/groupped-input.css');
@import url('globals/rounded-panel.css');
/* components */
@import url('components/app-header.css');
@import url('components/app-footer.css');
@import url('components/identification-form.css');
@import url('components/user-menu.css');
/* views */
@import url('assessment.css');
@import url('home.css');
@import url('index.css');

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f3f4;
}

.body {
  padding-top: 20px;
  margin-bottom: 60px;
}

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  display: block;
  text-rendering: optimizeLegibility;
  color: #484c58;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
