#assessment .course-progression {
  float: right;
  font-size: 16px;
  padding-top: 16px;
  color: #999;
}

#assessment .challenge-id {
  color: #A3A5A8;
}

#assessment .challenge-title {
  font-size: 20px;
  margin-bottom: 30px;
}

#assessment .challenge-option > input[type=radio] {
  margin-right: 10px;
}

#assessment .challenge-option > label {
  font-weight: 400;
  font-size: 16px;
}
