#home {
  & .courses {
    list-style-type: none;
    padding: 0;
  }

  & .course-item {

    & .course {
      padding: 0;
      box-shadow: 0 1px 3px 0 var(--light-grey4);

      & .course-picture {
        width: 100%;
        height: 170px;
        text-align: center;
        margin: 0 auto;
        display: block;
      }

      & .course-content {
        padding: 15px;
        height: 115px;
        overflow: hidden;

        & .course-name {
          color: var(--pix-blue);
        }
      }

      & .course-actions {
        text-align: center;
        padding: 15px;

        & > a {
          background-color: var(--pix-blue);
          border-color: var(--pix-blue);
          border-bottom: 1px solid var(--pix-blue1);
          text-transform: none;

          &:hover,
          &:active {
            background-color: var(--pix-yellow);
             border-color: var(--pix-yellow);
             border-bottom: 1px solid var(--pix-yellow1);
          }
        }
      }

    }
  }

}
