#home-loading .loader-container {
  width: 1em;
  height: 3em;
  margin: 0 auto;
  padding-top: 180px;
}

#home-loading .ball-zig-zag-deflect > div:nth-child(2) {
  background-color: #2F70FB;
}

#home-loading .ball-zig-zag-deflect > div:nth-child(1) {
  background-color: #FDBD2C;
}

