#home .courses {
  list-style-type: none;
  padding: 0;
}

#home .course-wrapper {
  margin-left: 15px;
  width: 285px;
  float: left;
  display: inline-block;
  position: relative;
}

#home .course-picture {
  width: 244px;
  height: 170px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#home .course-wrapper h3 {
  color: #2F70FB;
}

#home .course-description {
  height: 140px;
  overflow: hidden;
}

#home .course-actions {
  text-align: center;
}

#home .course-actions > a {
  background-color: #2F70FB;
  border: none;
}

#home .course-actions > a:hover,
#home .course-actions > a:active {
  background-color: #FDBD2C;
}

#home .course-wrapper.disabled::after {
  content: ' ';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: #efefef;
  opacity: 0.5;
}

#home .course-wrapper.disabled h3 {
  color: inherit;
}

#home .course-wrapper.disabled .course-actions > a {
  background-color: transparent;
  border: 1px solid #CCC;
  color: inherit;
}
