<ul class="campaign-participation-overview-grid">
  {{#each @model as |campaignParticipationOverview|}}
    <li class="campaign-participation-overview-grid__item">
      <CampaignParticipationOverview::Card @model={{campaignParticipationOverview}}/>
    </li>
  {{/each}}
</ul>
