.palette {
  color: #f2f3f4; /* light grey for <html/> background */
  color: #2F70FB; /* PIX blue */
  color: #FDBD2C; /* PIX yellow */
  color: #f3f3f3; /* light grey for <hr/> */
  color: #78C182; /* green captain train */
}

