<tr aria-label="{{t 'pages.team-invitations.table.row.aria-label'}}">
  <td>{{@invitation.email}}</td>
  <td>
    {{dayjs-format @invitation.updatedAt "DD/MM/YYYY [-] HH:mm" locale="fr"}}
  </td>
</tr>