<div class="panel table content-text content-text--small">
  <table>
    <thead>
      <tr>
        <Table::Header>{{t "pages.team-invitations.table.labels.email-address"}}</Table::Header>
        <Table::Header>{{t "pages.team-invitations.table.labels.last-sending-date"}}</Table::Header>
      </tr>
    </thead>
    <tbody>
      {{#each @invitations as |invitation|}}
        <Team::InvitationsListItem @invitation={{invitation}} />
      {{/each}}
    </tbody>
  </table>
</div>