.learner-header {
  margin: var(--pix-spacing-8x) 0;

  &__breadcrumb {
    margin-bottom: var(--pix-spacing-6x);
    text-transform: capitalize;
  }

  &__informations-line {
    display: flex;
    gap: var(--pix-spacing-12x);
    align-items: center;
  }

  &__title {
    @extend %pix-title-m;
    
    text-transform: capitalize;
  }
}