.learner-header {
  margin: $spacing-l 0;

  &__breadcrumb {
    text-transform: capitalize;
    margin-bottom: $spacing-m;
  }

  &__informations-line {
    display: flex;
    gap: $spacing-xxl;
    align-items: center;
  }

  &__title {
    @include h2;
    
    text-transform: capitalize;
  }
}