{{page-title (t "pages.skill-review.title")}}

{{#if this.showNewResultPage}}
  <Routes::Campaigns::Assessment::EvaluationResults />
{{else}}
  <div class="background-banner-wrapper">
    <Routes::Campaigns::Assessment::SkillReview @model={{@model}} />
  </div>
{{/if}}