{{! template-lint-disable no-action }}
{{page-title (t "pages.tutorial.title")}}

<div class="campaign-tutorial">
  <main id="main" class="rounded-panel rounded-panel--strong campaign-tutorial__container" role="main">

    <h1 class="sr-only">{{t "pages.tutorial.title"}}</h1>

    <Campaigns::Assessment::Tutorial::Steps @campaignCode={{@model.campaignCode}} />
  </main>
</div>