<div class="mission-informations">
  {{#if this.displayObjectives}}
    <h2 class="mission-informations__detail">
      {{t "pages.missions.details.objective.title"}}
    </h2>
    <ul class="mission-informations__objective-list">

      {{#each this.displayObjectives as |objective|}}
        <li>
          {{objective}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>