.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: auto 100px 40px;
}

.card {
  padding: 0;
  background-color: transparent;
  border: none;

  &--loading {
    background-color: #989CAA;
    opacity: 0.2;
  }
}

.pix-button.card {
  &:hover, &:focus, &:active, &:focus-visible {
    background-color: transparent;
  }
}
