.sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-open-sans;

  ul {
    margin-right: 10px;
    list-style: none;

    a {
      color: var(--pix-primary-700);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;

    @include device-is('tablet') {
      width: auto;
      margin-left: -10%;
    }
  }
}

.sitemap-content {

  &__title {
    margin-top: 48px;
    color: var(--pix-neutral-900);
    font-weight: $font-normal;
    font-size: 3rem;
    line-height: 4.125rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include device-is('tablet') {
      width: auto;
    }

    a:visited {
      color: var(--pix-primary-500)_80;
      text-decoration: none;
    }
  }
}

.sitemap-content-items {

  &__link {
    margin-top: 32px;
    font-weight: $font-normal;
    font-size: 2rem;

    &--title {
      color: var(--pix-neutral-500);
    }
  }
}

.sitemap-content-items-link {

  &__resources {

    li::before {
      color: var(--pix-neutral-500);
      content: '•';
    }
  }
}

.sitemap-content-items-link-skills {

  li::before {
    color: var(--pix-neutral-500);
    content: '•';
  }

  &__skill {
    font-size: 1rem;

    &:first-child {
      margin-top: 16px;
    }
  }
}

.sitemap-content-items-link-resources {

  &__resource {
    font-weight: $font-normal;
    font-size: 1rem;

    &:first-child {
      margin-top: 16px;
    }
  }
}
