.sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-open-sans;

  ul {
    list-style: none;
    margin-right: 10px;

    a {
      color: $blue;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;

    @include device-is('tablet') {
      width: auto;
      margin-left: -10%;
    }
  }
}

.sitemap-content {

  &__title {
    margin-top: 48px;
    font-weight: $font-normal;
    font-size: 3rem;
    line-height: 4.125rem;
    color: $grey-90;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include device-is('tablet') {
      width: auto;
    }

    a:visited {
      text-decoration: none;
      color: $blue;
    }
  }
}

.sitemap-content-items {

  &__link {
    font-weight: $font-normal;
    font-size: 2rem;
    margin-top: 32px;

    &--title {
      color: $grey-60;
    }
  }
}

.sitemap-content-items-link {

  &__resources {

    li::before {
      content: "•";
      color: $grey-45;
    }
  }
}

.sitemap-content-items-link-skills {

  li::before {
    content: "•";
    color: $grey-45;
  }

  &__skill {
    font-size: 1rem;

    &:first-child {
      margin-top: 16px;
    }
  }
}

.sitemap-content-items-link-resources {

  &__resource {
    font-weight: $font-normal;
    font-size: 1rem;

    &:first-child {
      margin-top: 16px;
    }
  }
}
