
# ----- Team Devcomp ------
/api/db/seeds/data/team-devcomp/ @1024pix/team-devcomp
/api/scripts/modulix/ @1024pix/team-devcomp
/api/src/devcomp/ @1024pix/team-devcomp
/api/tests/devcomp/ @1024pix/team-devcomp

/admin/app/components/trainings/ @1024pix/team-devcomp

/mon-pix/app/components/module/ @1024pix/team-devcomp
/mon-pix/app/components/training/ @1024pix/team-devcomp
/mon-pix/app/components/tutorial/ @1024pix/team-devcomp


# ----- Team Certification ------
/api/db/seeds/data/team-certification/ @1024pix/team-certification
/api/src/certification/ @1024pix/team-certification
/api/tests/certification/ @1024pix/team-certification

/certif/ @1024pix/team-certification


# ----- Team Prescription ------
/api/db/seeds/data/team-prescription/ @1024pix/team-prescription
/api/src/prescription/ @1024pix/team-prescription
/api/tests/prescription/ @1024pix/team-prescription

/orga/ @1024pix/team-prescription


# ----- Team Accès ------
/audit-logger/ @1024pix/team-acces
/api/db/seeds/data/team-acces/ @1024pix/team-acces
/api/src/identity-access-management/ @1024pix/team-acces
/api/src/privacy/ @1024pix/team-acces
/api/src/legal-documents/ @1024pix/team-acces
/api/src/communication/ @1024pix/team-acces
/api/src/maddo/ @1024pix/team-acces
/api/src/school/ @1024pix/team-acces
/api/tests/privacy/ @1024pix/team-acces
/api/tests/identity-access-management/ @1024pix/team-acces
/api/tests/legal-documents/ @1024pix/team-acces
/api/tests/maddo/ @1024pix/team-acces
/api/tests/communication/ @1024pix/team-acces
/api/tests/school/ @1024pix/team-acces

/mon-pix/**signup** @1024pix/team-acces
/mon-pix/**login** @1024pix/team-acces
/mon-pix/**authentication** @1024pix/team-acces
/mon-pix/app/authenticators/ @1024pix/team-acces
/mon-pix/app/components/locale-switcher.gjs @1024pix/team-acces
/mon-pix/app/services/session.js @1024pix/team-acces
/mon-pix/app/services/locale.js @1024pix/team-acces
/mon-pix/app/services/oidc-identity-providers.js @1024pix/team-acces
/mon-pix/app/services/authentication.js @1024pix/team-acces
/mon-pix/app/services/url-base.js @1024pix/team-acces

/orga/app/components/locale-switcher.gjs @1024pix/team-acces
/orga/app/services/locale.js @1024pix/team-acces
/orga/app/services/session.js @1024pix/team-acces
/orga/app/services/url-base.js @1024pix/team-acces

/certif/app/components/locale-switcher.gjs @1024pix/team-acces
/certif/app/services/locale.js @1024pix/team-acces
/certif/app/services/session.js @1024pix/team-acces
/certif/app/services/url-base.js @1024pix/team-acces

/admin/app/services/oidc-identity-providers.js @1024pix/team-acces
/admin/app/services/locale.js @1024pix/team-acces
/admin/app/services/session.js @1024pix/team-acces
/admin/app/services/url-base.js @1024pix/team-acces


# ----- Team Acquisition ------
/api/src/organizational-entities/ @1024pix/team-acquisition
/api/src/team/ @1024pix/team-acquisition
/api/tests/organizational-entities/ @1024pix/team-acquisition
/api/tests/team/ @1024pix/team-acquisition

/admin/ @1024pix/team-acquisition


# ----- Team Combinix ------
/api/src/quest/ @1024pix/team-tmp-combinix
/api/tests/quest/ @1024pix/team-tmp-combinix


# ----- Team Contenu ------
/api/src/learning-content/ @1024pix/team-contenu
/api/src/evaluation/ @1024pix/team-contenu
/api/src/llm/ @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/area-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/challenge-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/competence-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/course-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/framework-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/skill-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/tube-repository.js @1024pix/team-contenu
/api/src/shared/infrastructure/repositories/thematic-repository.js @1024pix/team-contenu
/api/tests/learning-content/ @1024pix/team-contenu
/api/tests/evaluation/ @1024pix/team-contenu
/api/tests/llm/ @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/area-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/competence-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/course-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/framework-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/skill-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/tube-repository_test.js @1024pix/team-contenu
/api/tests/shared/integration/infrastructure/repositories/thematic-repository_test.js @1024pix/team-contenu


# ----- Team Captains ------
/api/.circleci/ @1024pix/team-captains
/api/.github/ @1024pix/team-captains
/api/scripts/ @1024pix/team-captains
/api/db/migrations/ @1024pix/team-captains
/api/datamart/migrations/ @1024pix/team-captains
/api/datawarehouse/migrations/ @1024pix/team-captains


# ----- Team Data ------
/api/db/migrations/ @1024pix/team-data
/api/datamart/migrations/ @1024pix/team-data
/api/datawarehouse/migrations/ @1024pix/team-data


# ----- Team Staff ------
/api/config/ @1024pix/team-staff
/api/src/shared/ @1024pix/team-staff
/api/tests/shared/ @1024pix/team-staff
/api/src/db-history/ @1024pix/team-staff
/api/tests/db-history/ @1024pix/team-staff
/api/src/deprecated/ @1024pix/team-staff
/api/tests/deprecated/ @1024pix/team-staff
