# @1024pix/devcomp owns any file in the `/api/src/devcomp/` directory in the root of your repository and any of its subdirectories.
/api/src/devcomp/ @1024pix/team-devcomp
/api/tests/devcomp/ @1024pix/team-devcomp


# Directories maintained by team Certification
/api/src/certification/ @1024pix/team-certification
/api/tests/certification/ @1024pix/team-certification


# Directories maintained by team Evaluation
/api/src/evaluation/ @1024pix/team-evaluation
/api/tests/evaluation/ @1024pix/team-evaluation


# Directories maintained by team Prescription
/api/src/prescription/ @1024pix/team-prescription
/api/tests/prescription/ @1024pix/team-prescription


# Directories maintained by team Junior
/api/src/school/ @1024pix/team-junior
/api/tests/school/ @1024pix/team-junior


# Directories maintained by team Accès
/audit-logger/ @1024pix/team-acces

/api/src/authorization/ @1024pix/team-acces
/api/src/identity-access-management/ @1024pix/team-acces
/api/src/organizational-entities/ @1024pix/team-acces
/api/src/team/ @1024pix/team-acces

/api/tests/authorization/ @1024pix/team-acces
/api/tests/identity-access-management/ @1024pix/team-acces
/api/tests/organizational-entities/ @1024pix/team-acces
/api/tests/team/ @1024pix/team-acces

/mon-pix/app/authenticators/ @1024pix/team-acces
/mon-pix/app/components/sign* @1024pix/team-acces
/mon-pix/app/components/routes/register* @1024pix/team-acces
/mon-pix/app/components/routes/login* @1024pix/team-acces
/mon-pix/app/services/session.js @1024pix/team-acces
/mon-pix/app/services/locale.js @1024pix/team-acces
/mon-pix/app/services/oidc-identity-providers.js @1024pix/team-acces
/mon-pix/app/services/authentication.js @1024pix/team-acces

/orga/app/services/locale.js @1024pix/team-acces
/orga/app/services/session.js @1024pix/team-acces

/certif/app/services/locale.js @1024pix/team-acces
/certif/app/services/session.js @1024pix/team-acces

/admin/app/services/oidc-identity-providers.js @1024pix/team-acces
/admin/app/services/session.js @1024pix/team-acces



