<div class="certification-list">

  {{models-table
    data=certifications
    columns=columns
    showColumnsDropdown=false
    showGlobalFilter=false
    useNumericPagination=true
    multipleSelect=true
    pageSize=25
    pageSizeValues=pageValues
  }}

</div>
