<div class="certification-list">

  {{log "certifications.length=" certifications.length}}

  {{models-table
    data=certifications
    columns=columns
    showColumnsDropdown=false
    showGlobalFilter=false
    useNumericPagination=true
    multipleSelect=true
    displayDataChangedAction=(action changeAction)
    pageSize=25
    pageSizeValues=pageValues
  }}

</div>
