<div class="organization-list">
  {{models-table-server-paginated
    data=organizations
    columns=columns
    showColumnsDropdown=false
    showGlobalFilter=false
    useNumericPagination=true
  }}
</div>
