.app {
  display: flex;
  height: 100%;
  overflow: hidden;

  &__sidebar {
    width: 280px;
    min-width: 100px;
  }

  &__main-content {
    width: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $pix-orga-old-gradient;

  &--padding-left {
    padding-left: 25px;
  }

  &--item-icon {
    margin-right: 8px;
  }
}

.logo {
  padding-top: 20px;

  &__image {
    height: 60px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $grey-10;
  overflow: auto;

  &__topbar {
    background-color: $white;
    min-height: 60px;
  }

  &__body {
    height: 100%;
  }
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__user-logged-menu {
    padding: 0 30px;
    border-left: 1px solid $grey-20;
  }
}
