.join-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background: var(--pix-secondary-500)-orga-gradient;

  a {
    text-decoration: underline;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    padding: 32px 10px 20px;
    border-radius: 0;

    @include device-is('tablet') {
      margin: 10px 0;
      padding: 32px 67px 20px;
      border-radius: 10px;
    }
  }

  &__title {
    @extend %pix-title-m;

    margin: 14px 0;
    text-align: center;
  }

  &__description {
    max-width: 497px;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: $font-roboto;
    line-height: 1.25rem;
    text-align: center;
  }

  &__error-message {
    max-width: 497px;
    margin-top: $pix-spacing-m;
    margin-bottom: 24px;
    font-size: 0.875rem;
    text-align: center;
  }

  &__success {
    margin-top: 54px;
    margin-bottom: 24px;
    color: var(--pix-neutral-900);
    letter-spacing: 0.15px;
    text-align: center;
  }

  .pix-button {
    width: 100%;
  }
}
