.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--pix-secondary-500)-orga-gradient;

  &__header {
    text-align: center;
  }

  &__title {
    @extend %pix-title-m;
  }

  &__container {
    margin-bottom: $pix-spacing-s;
    padding: $pix-spacing-xl 60px;
    background-color: var(--pix-neutral-0);
    border-radius: 10px;

    @include device-is('mobile') {
      padding: $pix-spacing-xl $pix-spacing-s;
      border-radius: 0px;
    }
  }
}
