.login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $pix-orga-old-gradient;
  box-shadow: 0 2px 8px 0 rgba($black, 0.1);
  align-items: center;
  justify-content: center;
  min-height: 800px;

  &__panel {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 60px 100px;
  }
}

.panel__image {
  text-align: center;
}
