.single-certification-details {
  padding: 20px;

  .single-certification-details-info {
    margin-bottom: 20px;
  }

  .certificate {
    color: #ff9900;
  }

  .jury {
    color: $error;
  }

  .single-certification-details__actions {
    text-align: center;
  }
}

