.certifications-menu {
  list-style: none;
  padding: 0;

  li {
    margin: 20px 0;
  }
}

/*
 * app/styles/authenticated/certifications/sessions/info/_list.scss
 */
.certification-list-page {

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
  }

  &__actions {

    .btn--check-session-record {
      padding: 0;

      label {
        display: block;
        padding: 10px 0;
      }
    }
  }

  &__body {

  }
}

/*
 * app/styles/authenticated/certifications/sessions/info/index.scss
 */
.certifications-session-info {
  padding: 20px;
  padding-bottom: 0px;

  .row--btn {
    margin: inherit;

    .btn {
      margin-right: 20px;

      &--right {
        margin-left: auto;
      }
    }

  }

  &__stats {
    padding-top: 40px;
  }

  &__actions {
    padding-top: 32px;
  }
}
