.certifications-menu {
  list-style: none;
  padding: 0;

  li {
    margin: 20px 0;
  }
}

.certification-search {
  @include whiteBlock;
  padding: 50px;
  text-align: center;
  color: $grey-45;
  font-style: italic;
}
