.session-list__actions {
  text-align: center;
  padding: 20px;

  .dropdown-item {
    cursor: pointer;
  }
}

.certification-info-published {
  text-align: center;
}

.session-list__progress {
  padding: 0 20px;
}
