.certification-info-published {
  text-align: center;
}

.session-list {
  &__progress {
    padding: 0 20px;
  }

  &__item {
    &--align-center {
      text-align: center;
    }
  }

  &__actions {
    text-align: center;
    padding: 20px;

    .dropdown-item {
      cursor: pointer;
    }
  }
}
