.single-no-id,
.single-loading {
  padding: 50px;
  text-align: center;
  color: $grey-45;
  font-style: italic;
}

.page .page-section.with-navs {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
