<div class="assessment-banner--certification certification-banner">
  <div class="assessment-banner-container">
    <div class="assessment-banner__pix-logo">
      <img src="/images/pix-logo-blanc.svg" alt="">
    </div>
    <div class="assessment-banner__splitter"></div>
    <h1 class="assessment-banner__title">{{this.currentUser.user.fullName}}</h1>

    <div class="certification-number">
      <div class="certification-number__label">N° de certification</div>
      <div class="certification-number__value">{{@certificationNumber}}</div>
    </div>
  </div>
</div>
