<div class="congratulations-banner" >
  <div class="icon-button congratulations-banner__icon" {{ action 'closeBanner' }} >
    {{fa-icon 'times'}}
  </div>
  <h2 class="congratulations-banner__message">Bravo {{@fullName}},<br>votre profil est certifiable.</h2>
</div>
