<div class="qcu-panel__proposals rounded-panel">
  <div class="rounded-panel__row qcu-panel__proposal-list">
    {{#each labeledRadios as |labeledItemRadio index|}}
      <p class="qcu-panel__proposal-item">

        <label class="qcu-panel__proposal-label qcu-proposal-label">
          {{#if labeledItemRadio.[1]}}
            <svg class="radio-on picture-radio-proposal--qcu" width="18px" height="18px" viewBox="0 0 18 18"
                 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icons" transform="translate(-133.000000, -89.000000)" fill="#7D808B">
                  <g id="icontest--radio-enabled" transform="translate(132.000000, 88.000000)">
                    <path
                      d="M10,1 C12.3869484,1 14.6761336,1.94821156 16.363961,3.63603897 C18.0517884,5.32386638 19,7.61305159 19,10 C19,14.9705627 14.9705627,19 10,19 C7.61305159,19 5.32386638,18.0517884 3.63603897,16.363961 C1.94821156,14.6761336 1,12.3869484 1,10 C1,7.61305159 1.94821156,5.32386638 3.63603897,3.63603897 C5.32386638,1.94821156 7.61305159,1 10,1 L10,1 Z M9.1,14.05 L15.4,7.75 L14.131,6.481 L9.1,11.503 L6.319,8.731 L5.05,10 L9.1,14.05 Z"
                      id="Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
          {{else}}
            <svg class="radio-off picture-radio-proposal--qcu" width="18px" height="18px" viewBox="0 0 18 18"
                 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <circle id="Oval" stroke="#7D808B" stroke-width="2" cx="9" cy="9" r="8"></circle>
              </g>
            </svg>
          {{/if}}

          <span class="qcu-proposal-label__oracle"
                data-goodness="{{if (get solutionArray (concat index)) 'good' 'bad'}}" data-checked={{if
            labeledItemRadio.[1] 'yes' 'no'}}>
            {{labeledItemRadio.[0]}}
          </span>
        </label>

      </p>
    {{/each}}
  </div>
</div>
