.placeholder-box {
  background-color: $grey-10;
  border-radius: 5px;
  animation: placeholder-color 2s infinite alternate;
}

@keyframes placeholder-color {
  from { background-color: $grey-10; }
  to { background-color: $grey-20; }
}
