extends: 'eslint:recommended'
root: true
env:
  es6: true
  node: true
rules:
  indent:
    - 2
    - 2
    - SwitchCase: 1
  linebreak-style:
    - 2
    - unix
  quotes:
    - 2
    - single
  semi:
    - 2
    - always
  prefer-const:
    - 2
  no-var:
    - 2
  no-unused-vars:
    - 2
    - { argsIgnorePattern: "_" }
  space-before-blocks:
    - 2
  space-before-function-paren:
    - 2
    - { anonymous: never, named: never, asyncArrow: ignore }
  space-in-parens:
    - 2
  object-curly-spacing:
    - 2
    - always
  computed-property-spacing:
    - 2
    - never
  eol-last:
    - 2
  no-multiple-empty-lines:
    - 2
    - { max: 1, maxEOF: 1 }
  "mocha/no-exclusive-tests":
    - 2
  "mocha/no-identical-title":
    - 2
  "mocha/no-skipped-tests":
    - 2
parserOptions:
  ecmaVersion: 8
  sourceType: script
plugins:
  - mocha
