extends: 'eslint:recommended'
root: true
env:
  es6: true
  node: true
rules:
  indent:
    - error
    - 2
    - SwitchCase: 1
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - single
  semi:
    - error
    - always
parserOptions:
  ecmaVersion: 6
  sourceType: script
