# See http://help.github.com/ignore-files/ for more about ignoring files.

# Possible configuration secrets and personal data
*.json
*.csv
*.BAK

# compiled output
**/dist
**/tmp
**/coverage
**/pix.log.*
**/test-results

# dependencies
**/node_modules

# misc
**/.eslintcache
**/.sass-cache
**/npm-debug.log
**/testem.log
**/out.log
**/*.log
**/*.log.*

# IDE
**/.fleet
**/.idea
!.idea/runConfigurations/*.xml
*.iml
*.code-workspace

# system
.DS_Store

**/.env
**/.env.*

# CircleCI
*.circle-cache-key

# ember-try
**/.node_modules.ember-try/
**/bower.json.ember-try
**/package.json.ember-try

api/.vscode/*
api/.vscode
.vscode/*
!.vscode/sample.launch.json
!.vscode/sample.settings.json
!.vscode/extensions.json
.history

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

# cypress
high-level-tests/e2e/cypress/screenshots/*
high-level-tests/e2e/cypress/screenshots
high-level-tests/e2e/cypress/videos/*
high-level-tests/e2e/cypress/videos

# Heap files
*.heapsnapshot
*.heapprofile

# Dependency violations script
api/dependencies-violations.json
api/dependencies-violations.md

# Answers extracts
api/scripts/extractions

# Visual regression snapshots
high-level-tests/e2e/cypress/snapshots/actual/**

# Pipe viewer
**/pv*.out

# Docker-compose config
docker/data/

# Claude Code documentation
CLAUDE.md
.claude/
.claudeignore

# Gemini Code documentation
GEMINI.md
.gemini/
.geminiignore

# Allow JSON files in translations directories
!**/translations/*.json

# Allow package.json and package-lock.json
!package.json
!package-lock.json

# Allow JSON files in learning-content/modules directory
!learning-content/modules/*.json

# Allow jsconfig and tsconfig files
!jsconfig.json
!tsconfig*.json

# Allow other config files
!.lintstagedrc.json
!scalingo.json
!.oxfmtrc.json
!.prettierrc.json
!.stylelintrc.json
!nodemon.json
!timings.json
!dependencies.json
