{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": [".circleci/**/*.yml", ".github/**/*.yaml", ".github/**/*.yml"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
