.password-checklist {
  @extend %pix-body-s;

  display: flex;
  flex-direction: column;
  padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
  background-color: var(--pix-neutral-20);
  border-radius: var(--pix-spacing-2x);

  &__instructions {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }
}
