// stylelint-disable color-no-hex
:root {
  /* See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=16%3A2 */

  /* Primary */
  --pix-primary-50: #ecf2fb;
  --pix-primary-100: #c3d7f3;
  --pix-primary-300: #7ea8e5;
  --pix-primary-400: #6597e0;
  --pix-primary-500: #3f7dd8;
  --pix-primary-700: #2d5999;
  --pix-primary-900: #1a355b;

  /* Secondary */
  --pix-secondary-50: #FFF8EE;
  --pix-secondary-100: #FFEACB;
  --pix-secondary-300: #FFD28E;
  --pix-secondary-500: #FFBB57;
  --pix-secondary-700: #B5853E;
  --pix-secondary-900: #6B4F25;

  /* tertiary */
  --pix-tertiary-50: #f1f1fb;
  --pix-tertiary-100: #d5d4f3;
  --pix-tertiary-300: #a3a1e6;
  --pix-tertiary-500: #7673d9;
  --pix-tertiary-700: #54529a;
  --pix-tertiary-900: #32305b;


  /* Success */
  --pix-success-50: #e8f4f1;
  --pix-success-100: #b6ded3;
  --pix-success-300: #62b79f;
  --pix-success-500: #149470;
  --pix-success-700: #0e6950;
  --pix-success-900: #083e2f;

  /* Error */
  --pix-error-50: #fceded;
  --pix-error-100: #f5c8c8;
  --pix-error-300: #e98989;
  --pix-error-500: #de4f4f;
  --pix-error-700: #9e3838;
  --pix-error-900: #5d2121;

  /* Neutral */
  --pix-neutral-0: #FFF;
  --pix-neutral-50: #EFF0F3;
  --pix-neutral-100: #CFD1DB;
  --pix-neutral-300: #969DB1;
  --pix-neutral-500: #636C8A;
  --pix-neutral-700: #464D62;
  --pix-neutral-900: #2A2D3A;


  /* Information */
  --pix-information-light: #FFB24D;
  --pix-information-dark: #CE6700;

  /* Communication */
  --pix-communication-light: #19A0A3;
  --pix-communication-dark: #0E585A;

  /* Contenu */
  --pix-contenu-light: #3F7DD8;
  --pix-contenu-dark: #234577;

  /* Securite */
  --pix-securite-light: #CE4D6F;
  --pix-securite-dark: #712A3D;

  /* EnvironnementNum */
  --pix-environnementnum-light: #6346CE;
  --pix-environnementnum-dark: #362771;
}
