{{page-title "Détail du contenu formatif " @model.id}}
{{! template-lint-disable no-redundant-landmark-role }}
<header class="page-header" role="banner">
  <div class="page-title">
    Contenus Formatifs
    <FaIcon @icon="chevron-right" />
    Détail du contenu formatif
    {{@model.id}}
  </div>
</header>
{{! template-lint-disable no-redundant-landmark-role }}
<main class="page-body" role="main">
  <section class="page-section">
    <Trainings::TrainingDetailsCard @training={{@model}} />
  </section>
</main>