<p>En savoir plus sur les déclencheurs, consulter la documentation ici</p>

<section class="page-section">
  <h2>Objectifs à atteindre</h2>
  <p>Si l’apprenant réussit tous les acquis des sujets sélectionnés alors le contenu formatif ne lui sera pas proposé</p>
</section>

<section class="page-section">
  <h2>Objectif à ne pas dépasser</h2>
  <p>Si l’apprenant réussit les acquis des sujets sélectionnés alors le contenu formatif lui sera proposé</p>
</section>