#certification-center-get-page {

  .page-section__header {
    justify-content: space-around;
  }

  .certification-center__data {

    .certification-center__name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .certification-center {

    &__section {
      display: flex;
      justify-content: center;

      input {
        width: 310px;
      }
    }

  }

  .error {
    padding-top: 5px;
    color: $error;
    font-size: .85rem;
  }
}
