#certification-center-get-page {

  .page-section__header {
    justify-content: space-around;
  }

  .certification-center__data {

    .certification-center__name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}
