@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.course-modal {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 62rem;
  height: 100%;
  min-height: auto;
  max-height: 42.5rem;
  margin: 0 auto;
  background-color: var(--pix-orga-50);
  border-radius: var(--pix-spacing-4x);
  margin-block: auto;

  &__course-content {
    display:flex;
    flex: 1;
    padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
  }

  &__competence {
    padding-bottom: var(--pix-spacing-2x);

    & > h2 {
      @extend %pix-title-xxs;

      margin-top: var(--pix-spacing-2x);
      margin-bottom: var(--pix-spacing-2x);
    }

    &__description {
      &__column {
        width: 75%;
      }

      &__title {
        display: block;
        margin-bottom: var(--pix-spacing-2x);
        font-weight: var(--pix-font-bold);
      }

      &__text {
        display: block;
      }
    }

    &__level {
      &__column {
        width: 25%;

        & .pix-table-header-container {
          justify-content: center;
        }
      }

      &__data {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__course-details {
    @extend %pix-shadow-orga;

    position: relative;
    display: flex;
    flex-basis: 24rem;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding-top: var(--pix-spacing-10x);
    padding-right: var(--pix-spacing-8x);
    padding-bottom: 4.5rem;
    padding-left: var(--pix-spacing-8x);
    background-color: var(--pix-neutral-0);
    border-radius: var(--pix-spacing-4x);
    border-top-left-radius: var(--pix-spacing-10x);
    border-bottom-left-radius: var(--pix-spacing-10x);
  }

  &__header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding-top: var(--pix-spacing-6x);
    padding-right: var(--pix-spacing-8x);

    &__exit {
      align-self: flex-end;
      text-decoration: none;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    align-items: flex-start;

    &__name {
      @extend %pix-title-xs;
    }

    &__description {
      @extend %pix-body-m;

      a {
        color: var(--pix-orga-500);
        text-decoration: underline;
      }
    }

    &__badges-title {
      @extend %pix-title-xxs;

      margin-top: var(--pix-spacing-4x);
    }

    &__badges {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .pix-tooltip {
        flex: 0 0 2.25rem;

        img {
          width: calc(100% + 0.75rem);
          height: auto;
        }
      }
    }

    &__form-link {
      align-self: center;
      margin-top: var(--pix-spacing-6x);
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-right: var(--pix-spacing-8x);
    padding-bottom: var(--pix-spacing-8x);
    padding-left: var(--pix-spacing-8x);

    &__text {
      @extend %pix-body-s;

      text-align: center;
    }
  }
}

.combined-course-blueprint-detail {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-8x);
  margin-top: auto;
  margin-bottom: auto;

  &__info {
    color: var(--pix-neutral-500);
  }

  &__steps {
    display:flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }
}

.combined-course-blueprint-step {
  margin-bottom: var(--pix-spacing-4x);

  &__description {
    color: var(--pix-neutral-500);
  }
}

.combined-course-blueprint-item {
  display:flex;
  gap: var(--pix-spacing-4x);
  align-items: center;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);

  &__icon {
    display: flex;

    img {
    width: auto;
    min-width: var(--pix-spacing-8x);
    height: 42px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex-basis: auto;
    gap: var(--pix-spacing-4x);
    align-items: center;
  }

  &__description {
    display:flex;
    gap: var(--pix-spacing-4x);
    color: var(--pix-neutral-500);
  }

  &-duration {
    display:flex;
    align-items: center;

    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}
