.element-video {
  &__container {
    margin: 0 auto var(--pix-spacing-3x) auto;
    overflow: clip;
    border-radius: var(--pix-spacing-2x);
  }
}

.pix-video-player {
  aspect-ratio: auto 16 / 9;
}
