// Colors
$astronaut: #213371;
$mariner: #355BD1;
$denim: #0D7DC4;
$dodger-blue: #3D68FF;
$aqua: #388AFF;
$heliotrope: #985FFF;
$porcelain: #f2f3f4;
$wild-sand: #f5f5f5;
$orange: #FFBE00;
$white: #FFFFFF;
$sublte: #F9F9F9;
$alto: #DDDDDD;
$ernest: #EEEEEE;
$nobel: #b7b7b7;
$idol:#c6c6c6;
$dusty-gray: #999999;
$dove-gray: #666666;
$grey: #767676;
$comet: #585F75;
$tundora: #444444;
$gun-powder: #414657;
$mine-shaft: #333333;
$nero: #222222;
$black: #000000;

// Gradients
$grey-gradient: linear-gradient(0deg, $comet 0%, $gun-powder 100%);
