.label {
  display: inline-block;
  color: $tundora;
  font-size: 0.94rem;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 1px;
}

.input {
  border: 2px solid $alto;
  border-radius: 4px;
  height: 40px;
  font-size: 1rem;
  padding-left: 15px;
  color: $nero;
  outline: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }

  &--small {
    width: 160px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.textarea {
  border: 2px solid $alto;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px;
  color: $nero;
  outline: none;
  resize: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }
}

.error-message {
  color: red;
  font-family: $roboto;
  font-size: 0.75rem;
}

.select {
  font-size: 1rem;
  border: 2px $alto solid;
  height: 46px;
  background-color: white;
  outline: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }
}

.button {
  padding: 13px 20px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.019rem;
  text-align: center;
  border-radius: 5px;
  background-color: $dodger-blue;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover, &:active, &:focus {
    background-color: $mariner;
    transition: background-color 0.2s ease;
  }

  &--square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    min-height: 38px;
  }

  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &--white {
    background-color: white;
    color: black;

    &:hover, &:active, &:focus {
      background-color: $alto;
    }
  }

  &--grey {
    background-color: $comet;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $gun-powder;
    }
  }

  &--lightgrey {
    background-color: $ernest;
    color: $tundora;

    &:hover, &:active, &:focus {
      background-color: $alto;
    }

  }

  &--no-color {
    background-color: transparent;
    color: $nero;

    &:hover, &:active, &:focus {
      background-color: $alto;
    }
  }

  &--regular {
    width: 120px;
  }

  &--big {
    width: 180px;
  }

  &--extra-big {
    width: 280px;
  }

  &--link {
    text-decoration: none;
  }

  &--with-icon {
    display: flex;
    align-items: center;

    &>svg {
      padding-left: 5px;
    }
  }
  &__loader {
    display: flex;
    background: url('/images/loader-white.svg') no-repeat center;
    background-size: 50px;
  }
}

.icon-button {
  color: $dove-gray;
  padding: 6px 8px;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    background-color: $alto;
    border-radius: 16px;
    transition: background-color 0.2s ease;
  }
}

.radio-button {
  -ms-transform: scale(0.0);
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
}

.radio-button-span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px 20px 11px 0px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 0 2px $alto;
  border: 4px solid $wild-sand;
}

.radio-button:checked + .radio-button-span {
  box-shadow: 0 0 0 2px $dodger-blue;
  background-color: $dodger-blue;
}

.checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transition: box-shadow .1s linear;

  &--unchecked {
    border: 2px solid $alto;

    &:hover {
      background-color: $porcelain;
      box-shadow: 0 0px 0px 8px rgba($grey, 0.1);
      border-color: $grey;
    }
  }

  &--checked {
    background-color: $aqua;
    border: 2px solid $aqua;
  }
}
