.label {
  display: inline-block;
  margin-left: 1px;
  padding-bottom: 5px;
  color: $pix-neutral-70;
  font-weight: 500;
  font-size: 0.94rem;
}

.input {
  height: 40px;
  padding-left: 15px;
  color: $pix-neutral-80;
  font-size: 1rem;
  border: 2px solid $pix-neutral-20;
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 2px solid $pix-communication-dark;
  }

  &--small {
    width: 160px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: $pix-spacing-l;

  &__field {
    display: flex;
    flex-direction: column;
    margin: $pix-spacing-s 0;

    @include device-is('desktop') {
      width: 500px;
    }

    &--wide input,
    select,
    textarea {
      width: 100%;
    }
  }

  &__validation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $pix-spacing-l;

    @include device-is('desktop') {
      max-width: 500px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.textarea {
  padding: 8px;
  color: $pix-neutral-80;
  font-size: 1rem;
  border: 2px solid $pix-neutral-20;
  border-radius: 4px;
  outline: none;
  resize: none;

  &:focus {
    border: 2px solid $pix-communication-dark;
  }
}

.error-message {
  color: $pix-error-70;
  font-size: 0.875rem;
  font-family: $font-roboto;

  & a {
    text-decoration: underline;
  }
}

.select {
  height: 46px;
  font-size: 1rem;
  background-color: white;
  border: 2px $pix-neutral-20 solid;
  outline: none;

  &:focus {
    border: 2px solid $pix-communication-dark;
  }
}

.button {
  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &--showed-as-link {
    color: $pix-neutral-60;
    font-size: 0.875rem;
    font-family: $font-roboto;
    text-decoration: underline;
    background: none;
    border: none;

    &:hover {
      color: $pix-communication-dark;
      cursor: pointer;
    }
  }
}

.icon-button {
  padding: 6px 8px;
  color: $pix-neutral-45;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $pix-neutral-20;
    border-radius: 16px;
    transition: background-color 0.2s ease;
  }
}

