.panel {
  background-color: var(--pix-neutral-0);
  border-radius: var(--pix-spacing-2x);
  box-shadow: 0 1px 1px 0 rgb(12 22 58 / 10%), 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.navbar {
  height: $navbar-height;
  padding: 0 12px;
  border: none;

  &-item {
    display: flex;
    align-items: center;
    margin: 0 12px;
    color: var(--pix-neutral-500);

    @extend %pix-body-s;

    font-weight: 500;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: var(--pix-primary-500);
    }

    &:focus-visible {
      background-color: var(--pix-primary-10);
      outline:2px solid var(--pix-primary-300);
      outline-offset: 0;
    }
  }

  &-item.active {
    color: var(--pix-primary-500);
    border-bottom: 2px solid var(--pix-primary-500);
  }
}
