.panel {
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgb(12 22 58 / 10%), 0 2px 5px 0 rgb(0 0 0 / 10%);
  background-color: white;
}

.navbar {
  height: 60px;
  border: none;
  padding: 0 10px;

  &-item {
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    color: $pix-neutral-35;
    font-family: $font-roboto;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
    text-decoration: none;

    &:hover {
      color: $pix-communication-dark;
    }
  }

  &-item.active {
    border-bottom: 2px solid $pix-communication-dark;
    color: $pix-communication-dark;
  }
}
