.table {

  table {
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead {
    color: $pix-neutral-70;
  }

  tr {
    height: 60px;
    border-top: 2px solid $pix-neutral-10;
  }

  td,
  th {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    word-wrap: break-word;

    &:last-child {
      padding-right: 30px;
    }

    &:first-child {
      padding-left: 30px;
    }
  }

  &__column {
    width: 16%;

    &--small {
      width: 10%;
    }

    &--wide {
      width: 25%;
    }
  }

  tbody {
    color: $pix-neutral-45;

    tr:hover,
    tr:focus,
    tr:focus-within,
    tr:active {
      color: $pix-neutral-80;
      background-color: $pix-neutral-15;
      transition: 0.25s ease;
    }

    tr:hover .checkbox--unchecked {
      border-color: $pix-neutral-40;
    }
  }

  &--with-row-clickable tbody tr:hover,
  &--with-row-clickable tbody tr:focus,
  &--with-row-clickable tbody tr:active {
    cursor: pointer;
  }
}
