.label-text {
  color: var(--pix-neutral-100);
  font-weight: 400;
  font-size: 0.8125rem;
  font-family: $font-roboto;
}

.content-text {
  color: var(--pix-neutral-500);
  font-size: 1rem;
  font-family: $font-roboto;

  &--bold {
    color: var(--pix-neutral-800);
    font-weight: 700;
  }

  &--big {
    font-weight: 300;
    font-size: 2rem;
  }

  &--small {
    font-size: 0.8125rem;
  }
}

.link {
  color: var(--pix-primary-500);
  font-size: 0.875rem;
  text-decoration: underline;
  background-color: inherit;
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--pix-primary-700);
  }

  &:focus, &:focus-visible {
    background-color: var(--pix-primary-10);
    outline:2px solid var(--pix-primary-300);
    outline-offset: 0;
  }
}

.previous-button {
  width: fit-content;
  color: var(--pix-neutral-500);
  font-size: 0.875rem;
}
