.page-title {
  font-family: $font-open-sans;
  font-weight: 500;
  font-size: 2.25rem;
  color: $pix-neutral-90;
  margin: 24px 0;
}

.form-title {
  text-align: center;
  margin: 16px 0;
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 1.9rem;
  color: $pix-neutral-100;
}
