<div class="card">
  <div>
    <img alt="Mission terminée" src="/images/green-card-header.svg" />
  </div>
  <div class="card__body">
    <p>{{@title}}</p>
    <p class="card__comment">Mission terminée</p>
  </div>
</div>