.btn {

  label {
    cursor: pointer;
    margin: 0;
  }
}

.btn-outline-default {
  border: 1px solid $grey-border;
  color: #212529;

  &:hover {
    background: $grey-body;
    color: inherit !important;
  }
}

.btn-thin {
  line-height: 28px;
}

.btn-group {
  .btn {
    min-width: 43.5px;
  }
}
