.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-radius: 4px;


  &.secondary {
    color: #383d41;
    background-color: #e2e3e5;
  }

  &.primary {
    color: #004085;
    background-color: #cce5ff;
  }

  @mixin buttonColor($color){
    color: darken($color, 15%);
    background-color: rgba($color, .2);
  }

  &.info { @include buttonColor($communication-light); }
  &.success { @include buttonColor($success); }
  &.warning { @include buttonColor($warning); }
  &.alert { @include buttonColor($error); }
}
