.ember-modal-overlay.translucent {
  background-color: rgba(40, 66, 85, .3);
}

.ember-modal-dialog {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .15);
  border-radius: 5px;
  padding: 0;
  min-width: 550px;

  .modal-body {
    padding: 30px;

    .modal-body__title {
      font-weight: 500;
    }

    .modal-body__content {
      color: #6f7c87;
      font-size: 0.9rem;
      margin-top: 15px;
    }
  }

  .modal-footer {
    background: #f9f9f9;
    border-top: 1px solid #ebeef0;
    padding: 12px 24px 12px 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}
