/* Layout */

.display_flex {
  display: flex;
}

.flex_column {
  flex: 50%;
}

/* Margins */

.mb_10 {
  margin-bottom: 10px;
}

.mr_5 {
  margin-right: 5px;
}

.ml_5 {
  margin-left: 5px;
}


/* Others */

.hidden {
  display: none;
}
