<section class="no-participant-panel panel">
  <img src="{{this.rootURL}}/images/empty-state-participants.svg" alt="" role="none" />
  <p class="content-text">
    {{t "pages.organization-participants.empty-state.message"}}
    {{#if this.isNotManagingStudents}}
      <br />
      {{t "pages.organization-participants.empty-state.call-to-action"}}
      <LinkTo @route="authenticated.campaigns.list.my-campaigns" class="link link--underlined">
        {{t "pages.organization-participants.empty-state.action"}}
      </LinkTo>
    {{/if}}
  </p>
</section>