<RobotDialog @instruction={{t "pages.school.division.find-name" division=@model.division}} />
<div class="learners">
  {{#each @model.organizationLearners as |learner|}}
    <PixButton @triggerAction={{fn this.identifyUser learner}} class="learners__item">
      <p>{{learner.firstName}}</p>
      <p>{{this.uppercaseFirstLetter learner.lastName}}</p>
    </PixButton>
  {{/each}}
</div>