<header class="page-header">
  <div class="page-title">Création de résultat thématique et de ses critères</div>
</header>

<main>
  <section class="page-section">
    <TargetProfiles::BadgeForm @targetProfileId={{this.model.targetProfileId}} />
  </section>
</main>