.feedback {
  &--success {
    --modulix-feedback-state-color: var(--pix-success-700);
  }

  &--error {
    --modulix-feedback-state-color: var(--pix-error-700);
  }

  &__state {
    color: var(--modulix-feedback-state-color);
    font-weight: var(--pix-font-bold);
  }
}
