.mission-card {
  text {
    font-weight: 700;
    font-size: 18px;
  }

  .stop-start-gradient {
    &--red {
      stop-color: #EC667B;
    }

    &--blue {
      stop-color: #317CED;
    }

    &--purple {
      stop-color: var(--pix-tertiary-50);
    }
  }

  .stop-end-gradient {
    &--red {
      stop-color: #EC5D64;
    }

    &--blue {
      stop-color: #4461EF;
    }

    &--purple {
      stop-color: var(--pix-tertiary-700);
    }
  }
}

text.mission-card__title {
  font-size: 22px;
}
