<div class="card">
  <div>
    <img alt="Mission à accomplir" src="/images/grey-card-header.svg" />
  </div>
  <div class="card__body">
    <p>{{@title}}</p>
    <LinkTo class="pix1d-button pix1d-button--small" @route={{@route}} @model={{@id}}>{{@buttonLabel}}</LinkTo>
  </div>
</div>