.element-qrocm {
  &__header {
    display: flex;
    flex-direction: column-reverse;
  }

  &__proposals {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__feedback {
    margin-bottom: var(--pix-spacing-4x);
  }
}

.element-qrocm-header {
  &__direction {
    @extend %pix-body-s;

    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-500);
  }

  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-medium);
  }
}

.element-qrocm-proposals {
  &__input {
    line-height: var(--pix-spacing-12x);

    &--block {
      display: block;
      width: fit-content;
    }

    &--inline {
      display: inline-block;
    }
  }
}
