.element-qrocm {
  &__proposals {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }
}

.element-qrocm-header {
  &__instruction {
    margin-bottom: var(--pix-spacing-3x);
    font-weight: var(--pix-font-medium);
  }

  &__direction {
    @extend %pix-body-s;

    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-500);
  }
}

.element-qrocm-proposals {
  &__input {
    &--block {
      display: block;
      width: fit-content;
    }
  }
}
