.list-team-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;

  &__header {
    display: flex;
    margin: 1em;
  }

  &__cancel-update-role {
    margin-left: 12px;
    font-size: 1.6rem;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    }

  &__edit-role {
      padding-right: 25px;
  }
}

.ember-power-select-trigger {
  width: 150px;
  line-height: 3;
}

.ember-power-select-option[aria-current="true"] {
  background-color: $grey-10;
  color: $grey-60;
}

.ember-power-select-option {
  color: $grey-60;
  font-size: 13px;
}
.list-team-page-header {

  &__add-member-button {
    margin-top: 20px;
    margin-left: auto;
  }
}

.list-team-page-invitations {
  margin-bottom: 35px;
}

.zone-edit-role {
    box-sizing: border-box;
    display: flex;
    height: inherit;
    justify-content: flex-end;
    padding-right: 25px;

}

.button-edit-role {
  &>svg {
    padding-right: 14.5px;
  }
}

.zone-save-cancel-role {
  box-sizing: border-box;
  padding-right: 25px;
  display: flex;
  height: inherit;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
