<header class="campaign-list-header__header hide-on-mobile">
  <h1 class="sr-only">{{@title}}</h1>
  <PixButtonLink @route="authenticated.campaigns.new" class="campaign-list-header__create-campaign-button">
    {{t "pages.campaigns-list.action.create"}}
  </PixButtonLink>
</header>