<div class="no-campaign-panel">
  <div class="no-campaign-panel__explain-create-campaign">
    <img src="{{this.rootURL}}/icons/icon-campagne-start.svg" alt="" role="none">
    <h1 class="page-title">
      {{t 'pages.campaigns-list.no-campaign.title'}}
    </h1>

    <div class="no-campaign-panel__information-text information-text">
      {{t 'pages.campaigns-list.no-campaign.description'}}
    </div>

    <div class="no-campaign-panel__link-to-create">
      <LinkTo @route="authenticated.campaigns.new" class="button button--link">
        {{t 'pages.campaigns-list.action.create'}}
      </LinkTo>
    </div>
  </div>
</div>
