<section class="no-campaign-panel">
  <img src="{{this.rootURL}}/icons/icon-campagne-start.svg" alt="" role="none">
  <h1 class="page-title">
    {{t 'pages.campaigns-list.no-campaign.title'}}
  </h1>

  <p class="no-campaign-panel__information-text information-text">
    {{t 'pages.campaigns-list.no-campaign.description'}}
  </p>

  <PixButtonLink @route="authenticated.campaigns.new">
    {{t 'pages.campaigns-list.action.create'}}
  </PixButtonLink>
</section>
