<div class="stage-stars__container">
  <PixStars
    @count={{this.starsAcquired}}
    @total={{this.starsTotal}}
    @alt={{this.altMessage}}
    @color="blue"
    class="stage-stars {{if @isWide 'stage-stars--wide'}}"
  />
</div>