@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

$small-media-width: 500px;

.user-certifications-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--pix-spacing-6x);

  @include breakpoints.device-is('large-screen') {
    grid-template-columns: 1fr 1fr;
  }
}

.certification-item {
  @extend %pix-body-s;

  height: 100%;

  &__details {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--pix-spacing-6x);
    margin-bottom: var(--pix-spacing-4x);

    @media (max-width: $small-media-width) {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--pix-spacing-3x);
    }

    .tag {
      margin-bottom: var(--pix-spacing-2x);

      &:not(:last-of-type) {
        margin-right: var(--pix-spacing-1x);
      }

      &:last-of-type {
        margin-bottom: var(--pix-spacing-6x);
      }
    }

    .info + .info {
      margin-top: var(--pix-spacing-1x);
    }
  }

  &__hexagon {
    position: relative;
    width: 110px;
    height: 110px;
    margin: -10px -10px 0 0;
    background-image: url('/images/certificate/pix-score-hexagon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &--pix-plus-validated {
      background-image: url('/images/certificate/pix-plus-hexagon-validated.svg');
    }

    &--pix-plus-not-validated {
      background-image: url('/images/certificate/pix-plus-hexagon-not-validated.svg');
    }

    @media (max-width: $small-media-width) {
      margin: 0 auto;
    }

    .score {
      @extend %pix-title-xs;

      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .pix {
      @extend %pix-body-xs;

      position: absolute;
      top: 22%;
      left: 50%;
      text-transform: uppercase;
      transform: translateX(-50%);
    }

    &--pix-plus-validated,
    &--pix-plus-not-validated {
      .pix {
        display: none;
      }
    }
  }
}

.certification-item-verification-code {
  @extend %pix-body-xs;

  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--pix-spacing-4x);
  padding: var(--pix-spacing-1x) var(--pix-spacing-2x) var(--pix-spacing-1x) var(--pix-spacing-3x);
  background-color: var(--pix-neutral-20);
  border-radius: var(--pix-spacing-1x);

  .copy-btn {
    margin-left: var(--pix-spacing-1x);
    color: currentcolor;
    vertical-align: text-bottom;
  }
}

.certification-item-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-4x);
  align-items: center;
}

.certification-item-comment {
  @extend %pix-body-s;

  color: var(--pix-neutral-500);
  font-style: italic;
}

.certification-item-error {
  margin-bottom: var(--pix-spacing-2x);
}
