@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/colors';

.v3-pix-plus-certificate__hero {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-8x);

  .download-pdf {
    flex-shrink: 0;
    justify-content: center;
  }

  @include breakpoints.device-is('desktop') {
    flex-direction: row;
  }
}

.v3-pix-plus-certificate__infos-block {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr auto;
  gap: max(var(--pix-spacing-6x), 4vw);
  align-items: center;
  padding-right: max(var(--pix-spacing-6x), 4vw);

  @include breakpoints.device-is('mobile') {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;

    & > :last-child {
      align-self: center;
    }
  }
}

.v3-pix-plus-certificate__valid-tag {
  gap: var(--pix-spacing-1x);
  margin-bottom: var(--pix-spacing-6x);
  padding: 0 var(--pix-spacing-3x);
  font-weight: normal;
  font-size: 0.75rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.v3-pix-plus-certificate__title {
  @extend %pix-title-xs;

  strong {
    @extend %pix-title-s;

    display: block;
  }

  .mesh-level-tag {
    vertical-align: middle;
  }
}

.v3-pix-plus-certificate__stepper {
  max-width: 30rem;
  margin-top: var(--pix-spacing-8x);
}

.v3-pix-plus-certificate__details {
  @extend %pix-body-s;

  margin-top: var(--pix-spacing-8x);

  dl {
    margin-top: var(--pix-spacing-6x);
  }

  dd, dt {
    display: inline;
    vertical-align: middle;
  }

  dd::after {
    display: block;
    content: '';
  }
}

.v3-pix-plus-certificate__score {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--pix-spacing-2x);
  align-items: center;
}

.v3-pix-plus-certificate__results-infos-block {
  display: grid;
  grid-template-columns: min(90px, 15%) 1fr;
  gap: var(--pix-spacing-8x);
  align-items: center;

  & > img {
    width: 100%;
  }

  @include breakpoints.device-is('mobile') {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-3x);
    align-items: stretch;

    & > :first-child {
      align-self: center;
      width: 60px;
    }
  }
}

.v3-pix-plus-certificate__results-infos-details {
  @extend %pix-body-m;

  & > :not(:first-child) {
    margin-top: var(--pix-spacing-3x);
  }

  ol {
    padding-left: 1.5em;
    list-style: decimal;

    li + li {
      margin-top: var(--pix-spacing-1x);
    }
  }
}
