{{#if @campaign.isArchived}}
  <div class="campaign-archived-banner">
    <div class="campaign-archived-banner__text">
      <FaIcon class="campaign-archived-banner__icon" @icon="box-archive" />
      <span>{{t "pages.campaign.archived"}}</span>
    </div>
    {{#if this.displayUnarchiveButton}}
      <PixButton @triggerAction={{this.unarchiveCampaign}} @variant="transparent-dark" @isBorderVisible={{true}}>
        {{t "pages.campaign.actions.unarchive"}}
      </PixButton>
    {{/if}}
  </div>
{{/if}}