<ul class="skill-review-trainings__list">
  {{#each @trainings as |training|}}
    <li class="skill-review-trainings-list__item">
      <Training::Card @training={{training}} />
    </li>
  {{/each}}
</ul>