<div class="background-banner-v2">
  <div class="user-trainings-banner">
    <h1 class="user-trainings-banner__title">{{t "pages.user-trainings.title"}}</h1>
    <p class="user-trainings-banner__description">
      {{t "pages.user-trainings.description"}}
    </p>
  </div>
</div>