<div class="new-team-page">

  <h1 class="page__title page-title">Inviter un membre</h1>

  <p class="paragraph new-team-page__text">
    Pour inviter un membre, vous devez :
    <ul>
      <li>vous assurer qu’il possède un compte Pix. Sinon, il doit en créer un sur <a href="https://app.pix.fr/inscription" target="_BLANK">pix.fr</a>.</li>
      <li>saisir ici l’adresse e-mail associée à ce compte.</li>
    </ul>
    Le nouveau membre recevra alors un e-mail d’invitation qu’il devra accepter pour accéder à Pix Orga.
  </p>

  {{#if errorMessage}}
    <div class="alert-zone alert-zone--error" aria-live="polite">
      {{fa-icon 'exclamation-triangle' class="alert-zone__icon"}}
      <p class="alert-zone__message">{{errorMessage}}</p>
    </div>
  {{/if}}

  {{routes/authenticated/team/new-item
    organizationInvitation=model.organizationInvitation
    createOrganizationInvitation=(action 'createOrganizationInvitation')
    cancel=(action 'cancel')
  }}
</div>
