<div class="new-team-page">

  <h1 class="page__title page-title">Inviter un membre</h1>

  <p class="paragraph new-team-page__text">
    Saisissez ici l'adresse e-mail du membre que vous souhaitez inviter.
    <br>
    Vous pouvez inviter plusieurs membres en séparant les adresses e-mails par des virgules.
    <br><br>
    À la réception de l'e-mail, les invités pourront choisir de se créer un compte Pix ou de se connecter avec un compte Pix existant.
  </p>

  {{routes/authenticated/team/new-item
    organizationInvitation=model.organizationInvitation
    createOrganizationInvitation=(action 'createOrganizationInvitation')
    cancel=(action 'cancel')
    isLoading=isLoading
  }}
</div>
