<div class="new-team-page">

  <h1 class="page__title page-title">Ajouter un membre</h1>

  <p class="paragraph new-team-page__text">
    Pour ajouter un membre, vous devez :
    <ul>
      <li>vous assurer qu’il possède un compte Pix. Sinon, il doit en créer un sur <a href="https://app.pix.fr/inscription" target="_BLANK">pix.fr</a>.</li>
      <li>saisir ici l’adresse email associée à ce compte.</li>
    </ul>
    Le nouveau membre pourra alors accéder à Pix Orga.
  </p>

  {{#if errorMessage}}
    <div class="alert-zone alert-zone--error" aria-live="polite">
      {{fa-icon 'exclamation-triangle'}}
      <p class="alert-zone__message">{{errorMessage}}</p>
    </div>
  {{/if}}

  {{routes/authenticated/team/new-item
    membership=model.membership
    email=email
    addTeamMember=(action 'addTeamMember')
    cancel=(action 'cancel')
  }}
</div>
