<div class="new-team-page">

  <h1 class="page__title page-title">Inviter un membre</h1>

  <p class="paragraph new-team-page__text">
    Saisissez ici l’adresse e-mail du membre que vous souhaitez inviter.
    <br>
    À la réception de l’e-mail, l’invité pourra choisir de se créer un compte Pix ou de se connecter avec un compte Pix existant.
  </p>

  {{#if errorMessage}}
    <div class="alert-zone alert-zone--error" aria-live="polite">
      {{fa-icon 'exclamation-triangle' class="alert-zone__icon"}}
      <p class="alert-zone__message">{{errorMessage}}</p>
    </div>
  {{/if}}

  {{routes/authenticated/team/new-item
    organizationInvitation=model.organizationInvitation
    createOrganizationInvitation=(action 'createOrganizationInvitation')
    cancel=(action 'cancel')
  }}
</div>
