.robot-speaking {
  display: flex;
  width: 100%;

  .bubbles {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: auto;
    margin-bottom: var(--pix-spacing-12x);
  }

  &__logo {
    align-self: end;
    width: 128px;
    margin-right: var(--pix-spacing-3x);
    margin-bottom: -30px;

    @include device-is('tablet') {
      width: 106px;
      margin-right: var(--pix-spacing-4x);
      margin-bottom: -18px;
    }
  }
}



