.robot-speaking {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;

  .bubbles {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-bottom: 70px;
  }

  &__logo {
    align-self: end;
    width: 128px;
  }
}



