.robot-speaking {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px 40px 0;

  .bubbles {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: auto;
    margin-bottom: 95px;
  }

  &__logo {
    align-self: end;
    width: 128px;
    padding-bottom: 10px;
  }
}



