<div class="robot-speaking">
  <img class="robot-speaking__logo" alt="mascotte pix1d" src="/images/{{if @class (concat @class '-')}}robot.svg" />
  <div class="bubbles">
    {{yield}}
  </div>
</div>

{{!--  {{!  À activer quand le design + fonctionnalité sont actés }}--}}
{{!--  {{!  <PixIconButton}}--}}
{{!--  {{!    @ariaLabel="Lire la consigne à haute voix"}}--}}
{{!--  {{!    @withBackground="true"}}--}}
{{!--  {{!    @icon="volume-high"}}--}}
{{!--  {{!--    @triggerAction={{fn this.readTheInstruction @instruction}}--}}
{{!--  {{!  />}}--}}
{{!</div>}}