.campaign-archived-banner {
  @extend %pix-title-xs;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin-bottom: 24px;
  padding: 8px 10px;
  color: var(--pix-neutral-0);
  background: var(--pix-neutral-500);
  border-radius: 6px;

  &__text {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  &__icon {
    margin-right: 24px;
    margin-left: 16px;
    font-size: 1.6rem;
  }

  &__unarchive-button {
    margin-left: auto;
    background: var(--pix-neutral-500);
    border: 2px solid var(--pix-neutral-0);

    &:hover {
      background: var(--pix-neutral-500);
      opacity: 0.8;
    }

    &:focus {
      background: var(--pix-neutral-500);
    }
  }
}
