.campaign-archived-banner {
  font-family: $font-open-sans;
  font-weight: 600;
  background: $pix-neutral-60;
  display: flex;
  padding: 8px 10px;
  margin-bottom: 24px;
  border-radius: 6px;
  color: $pix-neutral-0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  &__text {
    display: flex;
    font-size: 1rem;
    align-items: center;
  }

  &__icon {
    margin-right: 24px;
    margin-left: 16px;
    font-size: 1.6rem;
  }

  &__unarchive-button {
    background: $pix-neutral-60;
    border: 2px solid $pix-neutral-0;
    margin-left: auto;

    &:hover {
      opacity: 0.8;
      background: $pix-neutral-60;
    }

    &:focus {
      background: $pix-neutral-60;
    }
  }
}
