.campaign-header-title {
  margin: var(--pix-spacing-8x) 0;

  &__informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__breadcrumb {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__type-icon {
    @extend %pix-title-l;

    width: 3rem;
    height: 3rem;
  }

  h1 {
    @extend %pix-title-m;

    display: flex;
    flex: 0 1 auto;
    gap: var(--pix-spacing-4x);
    overflow: hidden;

    .campaign-header-title__name {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__details {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin: 0;
    padding: 0;

    & > * {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid var(--pix-neutral-20);
    }

    & > *:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right-width: 0;
    }
  }

  &__detail-item {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);

    & > dt {
      display: block;
      margin-bottom: var(--pix-spacing-2x);
    }

    & > dd {
      margin: 0;
      color: var(--pix-neutral-900);
    }
  }

  &__campaign-code {
    display: inline-flex;
  }
}

@include device-is('mobile') {
  .campaign-header-title {
    align-items: initial;

    &__headline {
      justify-content: center;
      width: 100%;
      margin-bottom: var(--pix-spacing-4x);
    }

    &__infos {
      justify-content: center;
    }
  }
}
