.campaign-header-title {
  margin: 32px 0;

  &__informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__breadcrumb {
    margin-bottom: $spacing-s;
  }

  &__name {
    @include h2;

    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing-s; 
  }

  &__details {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;

    & > * {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid $pix-neutral-20;
    }

    & > *:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right-width: 0;
    }
  }

  &__detail-item {
    color: $pix-neutral-60;
    font-family: $font-roboto;
    font-size: 1rem;

    & > dt {
      display: block;
      margin-bottom: 8px;
    }

    & > dd {
      margin: 0;
    }
  }

  &__campaign-code {
    display: inline-flex;
  }
}

@include device-is('mobile') {
  .campaign-header-title {
    flex-direction: column;
    align-items: initial;

    &__headline {
      margin-bottom: 16px;
      justify-content: center;
      width: 100%;
    }

    &__infos {
      justify-content: center;
    }
  }
}
