<ul class="campaign-participation-grid">
  {{#each this.campaignParticipations as |campaignParticipation|}}
    <li class="campaign-participation-grid-item">
      <CampaignParticipation::Card @model={{campaignParticipation}}/>
    </li>
  {{/each}}
</ul>
