{{#if @model.recommendedTutorials.meta.rowCount}}
  <div class="user-tutorials-content-v2__container">
    <Tutorials::Cards @tutorials={{@model.recommendedTutorials}} />
    <PixPagination
      @pagination={{@model.recommendedTutorials.meta}}
      @pageOptions={{this.pageOptions}}
      @isCondensed="true"
    />
  </div>
{{else}}
  <Tutorials::RecommendedEmpty />
{{/if}}