@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.organization-head-information {


  &__file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;

    &:focus-within {
      outline: 1.5px solid var(--pix-primary-700);
      outline-offset: 1px;
    }
  }

  &__tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-2x);
    padding: 0;
    list-style: none;
  }

  &__child-tag {
    a {
      color: var(--pix-success-700);
      text-decoration: underline;
    }
  }

}
