<section class="page-section organization-team-section">
  <div class="organization__forms-section">
    <form>
      <h2>Ajouter un membre</h2>
      <div class="organization__sub-form">
        <PixInput
          @id="userEmailToAdd"
          value={{@userEmailToAdd}}
          {{on "change" @onChangeUserEmailToAdd}}
          class="organization-team-section__input"
        >
          <:label>Adresse e-mail de l'utilisateur à ajouter</:label>
        </PixInput>
        <PixButton
          @size="small"
          @triggerAction={{@addOrganizationMembership}}
          class="organization-team-section__button"
          aria-label="Ajouter un membre"
        >
          Valider
        </PixButton>
      </div>
    </form>
  </div>
</section>