<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.certification-centers.list"><span id="link-to-certification-centers-page">Tous les centres de certification</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.name}}
  </div>
</header>

<main class="page-body">
  <section class="page-section mb_10">
    <div class="certification-center__data">
      <h1 class="certification-center__name">{{@model.name}}</h1>
      <p>
        Type : <span>{{@model.type}}</span><br>
        Identifiant externe : <span>{{@model.externalId}}</span><br>
      </p>
    </div>
  </section>
</main>
