<PixBlock class="certification-not-certifiable__panel">
  <h3 class="certification-not-certifiable__title">
    {{t "pages.certification-not-certifiable.title"}}
  </h3>
  <p class="certification-not-certifiable__text">
    {{t "pages.certification-not-certifiable.text"}}
  </p>
  <LinkTo @route="index" class="button button--link button--big button--thin certification-not-certifiable__button">
    {{t "pages.certification-not-certifiable.action.back"}}
  </LinkTo>
</PixBlock>