<section class="certification-starter">
  <h2 class="certification-start-page__title">{{t "pages.certification-information.screens.first.title"}}</h2>
  <p>{{t "pages.certification-information.screens.first.how"}}</p>
  <div>
    {{t "pages.certification-information.screens.first.text" htmlSafe=true}}
  </div>
</section>