<div class="checkpoint__continue">
  <PixButtonLink
    @route="assessments.resume"
    @model={{@assessmentId}}
    @query={{this.query}}
    @variant="primary-bis"
    class="checkpoint__continue-button"
  >
    {{@nextPageButtonText}}
    <FaIcon @icon="right-long" />
  </PixButtonLink>
</div>