{{#if this.isEnabled}}
  <div class="communication-banner communication-banner--{{this.bannerType}}">
    <span class="communication-banner__icon">
      {{#if this.isError}}
        <FaIcon @icon="triangle-exclamation" />
      {{else if this.isWarning}}
        <FaIcon @icon="circle-exclamation" />
      {{else}}
        <FaIcon @icon="info-circle" />
      {{/if}}
    </span>
    {{this.bannerContent}}
  </div>
{{/if}}