<div>
  {{t "pages.challenge.certification.feedback-panel.description"}}
  <ul class="feedback-certification-section-list">
    <li>
      {{t "pages.challenge.certification.feedback-panel.certification-number"}}
    </li>
    <li>
      {{t "pages.challenge.certification.feedback-panel.question-number"}}
    </li>
    <li>
      {{t "pages.challenge.certification.feedback-panel.problem"}}
    </li>
  </ul>
</div>