<div class="skill-review__begin-improvement">
  <div>
    <h2>
      {{t "pages.skill-review.improve.title"}}
    </h2>
    <p class="skill-review__explain-text">
      {{t "pages.skill-review.improve.description"}}
    </p>
  </div>
  <PixButton @backgroundColor="grey" @triggerAction={{@improve}}>
    {{t "pages.skill-review.actions.improve"}}
  </PixButton>
</div>