<div class="user-certification-hexagon-score">
  <div class="user-certification-hexagon-score__content">
    <p class="user-certification-hexagon-score__content-title">{{t "common.pix"}}</p>
    <p class="user-certification-hexagon-score__content-pix-score">{{@score}}</p>
    <p class="user-certification-hexagon-score__content-certified">{{t "pages.certificate.hexagon-score.certified"}}</p>
  </div>
</div>