<div class="no-session-panel">
  <div class="no-session-panel__explain-create-session">
    <h1 class="page-title">Créez votre première session</h1>
    <div class="no-session-panel__information-text information-text">
      Configurez votre première session de certification.
    </div>

    <div class="no-session-panel__link-to-create">
      {{link-to 'Créer une session +' 'authenticated.sessions.list' class="button button--link"}}
    </div>
  </div>
</div>
