<div class="page__title session-finalizer">
  <div class="session-finalizer__title">
    {{#link-to "authenticated.sessions.details" session.id class="icon-button session-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page-title">Finaliser la session</h1>
  </div>
  <div class="session-finalizer__subtitle">
    <p>Pour finaliser la session, complétez les trois étapes puis validez.</p>
  </div>
  <SessionFinalizationStepContainer
          @number="1"
          @title="Transmettre le PV de session"
          @icon="paper-plane">
  <SessionFinalizationFormbuilderLinkStep/>
  </SessionFinalizationStepContainer>
  <ActionButton
    class="session-finalizer__button"
    @isLoading={{isLoading}}
    @handleClick={{action 'finalizeSession' session}} >
    Finaliser
  </ActionButton>
</div>