<header class="learner-header">
  <div class="learner-header__breadcrumb">
    {{yield to="breadcrumb"}}
  </div>
  <div class="learner-header__informations-line">
    <h1 class="learner-header__title">{{yield to="title"}}</h1>
    {{yield to="info"}}
  </div>
</header>