<div class="user-tutorials-content-v2__recommended-empty">
  <div>
    <h2 class="user-tutorials-recommended-empty-v2__title">
      {{t "pages.user-tutorials.recommended-empty.title" firstName=this.currentUser.user.firstName}}
    </h2>
    <p class="user-tutorials-recommended-empty-v2__description">
      {{t "pages.user-tutorials.recommended-empty.description"}}
    </p>
    <PixButtonLink @route="profile" class="user-tutorials-recommended-empty-v2__link">
      {{t "pages.user-tutorials.recommended-empty.link"}}
    </PixButtonLink>
  </div>
  <img src="/images/illustrations/user-tutorials/recommended-empty.svg" role="presentation" alt="" />
</div>