<div class="user-tutorials-content-v2__saved-empty">
  <div>
    <h2 class="user-tutorials-saved-empty-v2__title">
      {{t "pages.user-tutorials-v2.saved-empty.title"}}
    </h2>
    <p class="user-tutorials-saved-empty-v2__description">
      {{t "pages.user-tutorials-v2.saved-empty.description"}}
    </p>
  </div>
  <figure class="user-tutorials-saved-empty-illustration-v2">
    <div class="user-tutorials-saved-empty-illustration-v2__light-circle"></div>
    <div class="user-tutorials-saved-empty-illustration-v2__light-medium"></div>
    <div class="user-tutorials-laptop-v2">
      <div class="user-tutorials-laptop-v2__screen">
        <div class="user-tutorials-laptop-v2__card">
          <Tutorials::Card @tutorial={{this.emptyStateDemoTutorial}} />
        </div>
      </div>
      <div class="user-tutorials-laptop-v2__bottom">
        <div class="user-tutorials-laptop-v2__keyboard"></div>
      </div>
    </div>
    <div class="user-tutorials-saved-empty-illustration-magnifier-v2">
      <button
        class="user-tutorials-saved-empty-illustration-magnifier-v2__button tutorial-card-v2-content-actions__save"
        type="button"
      >
        <FaIcon @prefix="far" @icon="bookmark" />
        {{t "pages.user-tutorials.list.tutorial.actions.save.label"}}
      </button>
    </div>
  </figure>
</div>