<div class="user-tutorials-content-v2__saved-empty">
  <div>
    <h2 class="user-tutorials-saved-empty-v2__title">
      {{t "pages.user-tutorials.saved-empty.title"}}
    </h2>
    <p class="user-tutorials-saved-empty-v2__description">
      {{t "pages.user-tutorials.saved-empty.description"}}
    </p>
  </div>
  <img src="/images/illustrations/user-tutorials/saved-empty.png" alt="" role="presentation" />
</div>