/* stylelint-disable selector-class-pattern */
$app-sidebar-width-sm: 80px;
$app-header-height: 60px;

.app-container {
  display: grid;
  grid-template-columns: $app-sidebar-width-sm 1fr;

  .app-sidebar {
    background-color: $pix-neutral-70;

    .app-logo {
      text-align: center;
      border-bottom: 1px solid $pix-neutral-100;
      height: $app-header-height;
      width: 100%;

      .app-logo__link {
        color: $pix-neutral-0;
        background-color: $pix-primary;
        display: block;
        line-height: $app-header-height;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
    }
  }

  .app-body {
    min-height: 100vh;
    overflow: hidden;

    .app-page {
      position: relative;
      width: 100%;
    }
  }
}
