/* stylelint-disable selector-class-pattern */
$app-sidebar-width-sm: 80px;
$app-header-height: 60px;

.app-container {
  display: grid;
  grid-template-columns: $app-sidebar-width-sm 1fr;

  .app-sidebar {
    background-color: var(--pix-neutral-800);

    .app-logo {
      width: 100%;
      height: $app-header-height;
      text-align: center;
      border-bottom: 1px solid var(--pix-neutral-900);

      .app-logo__link {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--pix-neutral-0);
        line-height: $app-header-height;
        text-decoration: none;
        background-color: var(--pix-primary-500);
      }
    }
  }

  .app-body {
    min-height: 100vh;
    overflow: hidden;

    .app-page {
      position: relative;
      width: 100%;
    }
  }
}
