/* stylelint-disable selector-class-pattern */
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--pix-neutral-0);
  background: var(--pix-primary-500)-app-gradient;
}

.login-page__main {
  width: 400px;
  margin: 0 auto;
}

.login-page__header {
  height: 129px;
  margin-top: 48px;
  text-align: center;

  &__title {
    margin-bottom: $pix-spacing-s;
  }
}

.login-page__section--login-form {
  margin: 48px 0;
}

.login-form {
  box-sizing: border-box;
  padding: 48px;
  background: var(--pix-neutral-0);
  border-radius: 3px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.login-form__error {
  padding: 8px;
  color: var(--pix-neutral-0);
  background-color: var(--pix-error-500);
  border-radius: 3px;
  
  & a {
    text-decoration: underline;
  }
}

.login-form__control {
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  cursor: pointer;
}

.login-form__control:first-child {
  margin-top: 0;
}

.login-form__field {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid var(--pix-neutral-100);
  border-radius: 3px;
}

.login-form__button {
  width: 100%;
}
