/* stylelint-disable selector-class-pattern */
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $pix-neutral-80;
  background: linear-gradient(180deg, #ac3dff 0%, #7712ff 100%);

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-m;
    align-items: center;
    max-width: 609px;
    margin-bottom: $pix-spacing-s;
    padding: 40px 60px;
    background-color: $pix-neutral-0;
    border-radius: 10px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: $pix-spacing-m;
  width: 100%;

  &__field {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  &__button {
    width: 100%;
  }

  &__information {
    padding-bottom: 30px;
    color: $pix-neutral-80;
    font-size: 0.875rem;
    text-align: center;
  }

  &__header {
    text-align: center;
  }

  &__logo {
    width: 120px;
  }

  &__oidc-connect-link {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 13px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 100px;
    box-shadow: 0 0 0 2px $pix-neutral-70;

    &:focus,
    &:hover,
    &:focus-within {
      background-color: $pix-neutral-15;
      border: 2px solid $pix-neutral-0;
      box-shadow: 0 0 0 2px $pix-neutral-70;
    }

    img {
      width: 30px;
    }

    span {
      padding: 0 3px 0 10px;
    }
  }
}

