.board-page {
  background: $alabaster-grey;
}

.board-page__header {
  padding: 25px;
  background-color: $porcelain-grey;
  font-family: $font-lato;
  color: $charcoal-grey;
  font-size: 12px;
  letter-spacing: 0.5px;;

  @include device-is('tablet') {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 20px;
    padding-top: 40px;
  }
}

.board-page__header-organisation {
  margin-bottom: 36px;
  letter-spacing: 0.5px;

  @include device-is('tablet') {
    margin-bottom: 0px;
    padding-right: 10px;
  }
}

.board-page__header-organisation__text {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.board-page__header-organisation__name {
  font-size: 24px;
}

.board-page__header-code {
  letter-spacing: 0.5px;

  @include device-is('tablet') {
    width: 400px;
  }
}

.board-page__header-code__title {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.board-page__header-code__text {
  font-size: 24px;
}

.board-page__header-code__comment {
  font-size: 15px;
  color: $jumbo-grey;
}

.board-page__profiles-title {
  padding-left: 22px;
  padding-bottom: 10px;
  background-color: $porcelain-grey;
  font-family: $font-raleway;
  font-weight: $font-extra-bold;
  color: $pix-blue;
  text-transform: uppercase;
  font-size: 24px;

  @include device-is('tablet') {
    max-width: 750px;
    margin: auto;
    padding-left: 0px;
    font-size: 40px;
    background: $alabaster-grey;
  }

  @include device-is('desktop') {
    margin: auto;
    max-width: 970px;
  }
}

.profiles-title__export-csv {
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $jumbo-grey;
  color: $white;
  text-transform: none;
  font-size: 0;
  text-align: center;
  font-weight: 700;
  margin-right: 20px;
  &:hover, &:focus, &:active {
    color: $white;
  }
  @include device-is('tablet') {
    font-size: 16px;
    height: 40px;
    width: 190px;
    margin-top: 8px;
    margin-right: 0px;
  }

}

.profiles-title__export-csv-icon {
  margin-left: 0px;
  @include device-is('tablet') {
    margin-left: 15px;
  }
}
