.signin-container {
  background: url("/images/signup-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  height:100vh;

  @include device-is('tablet') {
    padding-top: 48px;
  }
}

.signin-no-account {
  padding: 20px;
  text-align: center;
}

.signin-no-account-text {
  color: $white;
  font-size: 16px;

  margin-bottom: 20px;

  @include device-is('tablet') {
    display: inline;
    margin-right: 10px;
  }
}

.signin-inscription-button {
  border-radius: 20px;
  border: solid 2px $white;

  color: $white;
  text-transform: uppercase;
  padding: 10px 30px;

  margin-top: 40px;
}

.signin-inscription-button:focus {
  color: $charcoal-grey;
  background: $white;

}
