$challenges-background-color: #fafafa;
$challenges-title-color: #3d68ff;
$background-height: 600px;

/* Sections:

 - General
 - Hero
 - Challenges
 - Community
 - Features
 - Partners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__background {
  position: absolute;
  background: url("/images/index-hero-bg.jpg");
  background-size: cover;
  height: $background-height;
  width: 100%;
  z-index: -1;
}

.index-page__section {
  padding: 80px 20px;

  @media (min-width: 992px) {
    padding: 80px 0;
  }
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-page__section--hero {
  padding-top: 0;
}

.index-page-hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.50) 5%,rgba(30,30,30,0.25) 100%);
  height: $background-height;
  width: 100%;
}

.index-page-hero__content {
  margin: 0 auto;
  max-width: 1200px;
}

.index-page-hero__title {
  margin-top: 160px;
  line-height: 1.2;
  font-family: $font-raleway;
  font-weight: $font-bold;
  color: $white;
  text-align: center;

  @media (min-width: 992px) {
    font-size: 50px;
    margin-top: 250px;
  }
}

.index-page-hero__description {
  font-family: $font-raleway;
  color: $white;
  text-align: center;
  font-size: 22px;
  font-weight: $font-light;
  padding-top : 20px;
  line-height : 1.2;

  @media (min-width: 992px) {
    padding: 0 200px;
  }
}

/* Challenges
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__section--challenges {
  padding: 0;
}

.index-page-challenges {
  background-image: linear-gradient(to bottom, #446eff, #001f8d), linear-gradient(#3d68ff, #3d68ff);
}

.index-page-challenges__container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 80px 0 70px 0;

  @media (min-width: 992px) {
    margin: 0 auto;
    flex-direction: row;
    padding: 70px 90px;
  }
}

.index-page-challenges__presentation {
  font-family: $font-raleway;
  color: $white;
  text-align: center;
  padding: 0 20px;

  @media (min-width: 992px) {
    max-width: 400px;
    text-align: left;
    padding: 0;
  }
}

.index-page-challenges__presentation-title {
  font-size: 42px;
  font-weight: $font-extra-bold;
  margin-top: 0;

  @media (min-width: 992px) {
    font-size: 58px;
  }
}

.index-page-challenges__presentation-text {
  font-size:24px;
  font-weight: $font-light;
  line-height: 1.2;

  @media (min-width: 992px) {
    font-size: 37px;
  }
}

.index-page-challenges__course-list {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: 992px) {
    margin-right: 0;
    padding-top: 0;
  }
}

/* Courses
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__section--courses {
  padding-bottom: 70px; // take into account course-item margin-bottom (5px)
}


.index-page-courses {
  background-color: $challenges-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-courses__title {
  max-width: 600px;
  font-size: 32px;
  font-family: $font-raleway;
  font-weight: $font-extra-bold;
  color: $challenges-title-color;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.index-page-courses__course-list {
  padding-top: 20px;
  max-width: 1200px;
}

/* Community
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-community {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  background: url("/images/index-community-bg.png");
  background-size: cover;
}

.index-page-community__title {
  font-size: 24px;
  font-family: $font-raleway;
  font-weight: $font-bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 992px) {
    font-size: 36px;
    font-weight: $font-extra-bold;
    margin-top: 70px;
  }
}

.index-page-community__description {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: $font-raleway;
  font-size: 28px;
  max-width: 600px;
  text-align: center;
  font-weight: $font-light;
}

.index-page-community__form {
  margin-top: 70px;
}

/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-features {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-features__project-button {
  margin-top: 40px;
  border-radius: 20px;
  background-color: $marigold;
  text-transform: uppercase;
  color: $charcoal-grey;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: $font-semi-bold;
  font-family: $font-lato;
  padding: 10px 30px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $charcoal-grey;
  }

  @media (min-width: 992px) {
    font-size: 13px;
  }
}

/* Partners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-partners {
  background: #fafafa;
}
