/* Sections:

 - General
 - Hero
 - Challenges
 - Community
 - Features
 - Partners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__background {
  position: absolute;
  background: url("/images/index-hero-bg-min.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  z-index: -1;
}

.index-page__section {
  padding: 80px 20px;

  @include device-is('desktop') {
    padding: 80px 0;
  }
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-page__section--hero {
  padding-top: 0;
}

.index-page-hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50) 5%, rgba(30, 30, 30, 0.25) 100%);
  height: 600px;
  width: 100%;
}

.index-page-hero__content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-page-hero__title {
  margin-top: 60px;
  line-height: 1.2;
  font-family: $font-raleway;
  font-weight: $font-bold;
  color: $white;
  text-align: center;

  @include device-is('desktop') {
    font-size: 50px;
    margin-top: 250px;
  }

}

.index-page-hero__description {
  font-family: $font-raleway;
  color: $white;
  text-align: center;
  font-size: 22px;
  font-weight: $font-light;
  padding-top: 20px;
  line-height: 1.2;
  margin-bottom: 26px;

  @include device-is('desktop') {
    padding: 0 200px;
    margin-bottom: 32px;
  }
}

.index-page-hero__inscription-link {
  background-color: $pix-blue;
  color: $white;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 13px;
  font-family: $font-lato;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 11px 35px;

  &:hover {
    background-color: $blue-ribbon;
    color: white;
    text-decoration: none;
  }
}

/* Challenges
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__section--challenges {
  padding: 0;
}

.index-page-challenges {
  background: $porcelain-grey;
  padding-bottom: 20px;
}

.index-page-challenges__container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 80px 0 10px 0;

  @include device-is('desktop') {
    margin: 0 auto;
    flex-direction: row;
    padding: 70px 90px 30px;
  }
}

.index-page-challenges__presentation {
  font-family: $font-raleway;
  color: $pix-blue;
  text-align: center;
  padding: 0 20px;

  @include device-is('desktop') {
    max-width: 400px;
    text-align: left;
    padding: 0;
  }
}

.index-page-challenges__presentation-title {
  font-size: 42px;
  font-weight: $font-extra-bold;
  margin-top: 0;

  @include device-is('desktop') {
    font-size: 58px;
  }
}

.index-page-challenges__presentation-title span {
  color: $marigold;
}

.index-page-challenges__presentation-text {
  font-size: 24px;
  font-weight: $font-light;
  line-height: 1.2;
  color: $charcoal-grey;

  @include device-is('desktop') {
    font-size: 37px;
  }
}

.index-page-challenges__course-list {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;

  @include device-is('desktop') {
    margin-right: 0;
    padding-top: 0;
  }
}

.index-page-challenges__courses-of-the-week {
  border-radius: 23px;
  border: solid 1px $white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 10px;
  text-align: center;
  width: 180px;
  background: $pix-blue;

  @include device-is('desktop') {
    margin-top: 0px;
  }

}

.index-page-challenges__courses-of-the-week-link {
  font-family: $font-lato;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: transparent;
  border: transparent;
  outline: 0;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* Courses
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__section--courses {
  padding-bottom: 70px; // take into account course-item margin-bottom (5px)
}

.index-page-courses {
  background-color: $alabaster-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-courses__title {
  max-width: 600px;
  font-size: 32px;
  font-family: $font-raleway;
  font-weight: $font-extra-bold;
  color: $pix-blue;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.index-page-courses__course-list {
  padding-top: 20px;
  max-width: 1200px;
}

/* Community
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-community {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  background: url("/images/index-community-bg-min.jpg");
  background-size: cover;
}

.index-page-community__title {
  font-size: 24px;
  font-family: $font-raleway;
  font-weight: $font-bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 0;

  @include device-is('desktop') {
    font-size: 36px;
    font-weight: $font-extra-bold;
    margin-top: 70px;
  }
}

.index-page-community__description {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: $font-raleway;
  font-size: 28px;
  max-width: 600px;
  text-align: center;
  font-weight: $font-light;
}

.index-page-community__form {
  margin-top: 70px;
}

/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-features {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-features__project-button {
  margin-top: 40px;
  border-radius: 20px;
  background-color: $marigold;
  text-transform: uppercase;
  color: $charcoal-grey;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: $font-semi-bold;
  font-family: $font-lato;
  padding: 10px 30px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $charcoal-grey;
  }

  @include device-is('desktop') {
    font-size: 13px;
  }
}

/* Partners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page-partners {
  background: $alabaster-grey;
}
