.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/images/signup-bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;

  @include device-is('tablet') {
    height: 100%;
    padding: 0;
  }
}

.reset-password__link-to-home {
  text-align: right;
  max-width: 609px;
  width: 100%;
}
