.pix-modal {

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    margin-bottom: $spacing-s;

    @include device-is("tablet") {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }
}
