<section class="panel empty-state">
  <img src="{{this.rootURL}}/images/empty-state-activity.svg" alt="" role="none" />

  <div class="empty-state__text">
    <p>{{t
        "pages.organization-learner.activity.empty-state"
        organizationLearnerFirstName=this.firstName
        organizationLearnerLastName=this.lastName
      }}</p>
  </div>
</section>