{{page-title "Équipe"}}

<header class="page-header">
  <h1 class="page-title">Équipe</h1>
</header>

<main class="page-body">
  <section class="page-section">
    <Team::List @members={{@model}} />
  </section>
</main>