$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-heavy: 900;
