.pix-button-primary {
  padding: 10px 16px;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  height: 36px;
  background-color: $pix-blue;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  &-rounded {
    border-radius: 18px;
  }

  &:hover {
    background-color: darken($pix-blue, 5%);
  }
}
