.participants-by-day {
  height: 320px;

  &__legend {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    font-size: 0.875rem;
    list-style: none;

    &--loader {
      width: 100px;
      height: 20px;
      margin-top: 8px;

      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &--loader {
    height: 240px;
  }
}
