.participants-by-stage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  &__wrapper {
    margin: 0;
    padding: 0;
  }

  &__stars {
    height: 1.5rem;

    &--loader {
      min-width: 100px;
      height: 20px;
    }
  }

  &__values {
    min-width: 140px;
    margin-left: 32px;
    color: var(--pix-neutral-20)0;
    font-size: 0.75rem;

    &--loader {
      min-width: 100px;
      height: 20px;
      margin: 0 16px;
    }
  }

  &__container {
    flex-grow: 1;

    .pix-tooltip__content {
      left: 0;
      transform: none;
    }
  }

  &__graph {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;

    &--loader {
      flex-grow: 1;
      height: 20px;
    }
  }

  &__bar {
    height: 16px;
    background-color: var(--pix-primary-300);
    border: 1px solid var(--pix-primary-500);
    border-radius: 3px;
  }

  &__graph:hover &__bar {
    background-color: var(--pix-primary-500);
  }

  &__percentage {
    margin-left: 8px;
    color: var(--pix-neutral-20)0;
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
