{{page-title "Administration"}}
<div class="page">
  <header class="page-header">
    <h1 class="page-title">Administration</h1>
    <div class="page-actions">
    </div>
  </header>

  <main class="page-body">
    <Administration::LearningContent />

    <Tools::NewTag />

    <Administration::OrganizationsImport />

    <Administration::CampaignsImport />

    <Administration::SwapCampaignCodes />
  </main>

</div>