<div class="page">
  <header class="page-header">
    <div class="page-title"> Certifications </div>
    <div class="page-actions">
      <form class='form-inline' {{action "loadCertification" on='submit'}}>
        <Input placeholder="Identifiant" @type="text" @value={{this.inputId}} />
        <button class='btn btn-primary btn-sm btn-thin' type='submit'>
          Charger
        </button>
      </form>
    </div>
  </header>

  <main class="page-body">
    {{outlet}}
  </main>
</div>
