<div class="page">
  <header class="page-header">
    <div class="page-title">Outils</div>
    <div class="page-actions">
    </div>
  </header>

  <main class="page-body">
    <section class="page-section">
      <header class="page-section__header">
        <h2 class="page-section__title">Référentiel</h2>
      </header>
      <div class="member-list">
        <button class="btn btn-outline-default" onclick={{action "refreshLearningContent"}}>
          {{fa-icon "sync"}} Recharger le cache de données pédagogiques
        </button>
      </div>
    </section>
  </main>

</div>