{{page-title "Outils"}}
<div class="page">
  <header class="page-header">
    <h1 class="page-title">Outils</h1>
    <div class="page-actions">
    </div>
  </header>

  <main class="page-body">
    <section class="page-section">
      <header class="page-section__header">
        <h2 class="page-section__title">Créer un nouveau tag</h2>
      </header>
      <form onSubmit={{this.createNewTag}} class="tools__create-tag-form">
        <PixInput @id="tagNameInput" {{on "change" this.onChangeTagName}} @label="Nom du tag" />
        <PixButton @type="submit" @size="small">Créer le tag</PixButton>
      </form>
    </section>
  </main>

</div>