<div class="page">
  <header class="page-header">
    <div class="page-title">Outils</div>
    <div class="page-actions">
    </div>
  </header>

  <main class="page-body">
    <section class="page-section learning-content">
      <header class="page-section__header">
        <h2 class="page-section__title">Référentiel</h2>
      </header>
      <div>
        <p>Une version du référentiel de données pédagogique est créée quotidiennement (vers 4h00) et le référentiel utilisé par l'application est mis à jour (vers 6h00).</p>
        <p>Si le cache a été vidé, il peut s’avérer utile ou nécessaire de recharger le référentiel.</p>
        <div class="callout alert"><strong>Attention !</strong> Le rechargement du référentiel est une opération risquée. Il est recommandé de ne l’effectuer qu’en cas de force majeure, accompagné d’un développeur ou d'une développeuse.</div>
        <div class="callout info">Durée de l’opération : <strong>≈10s</strong>.</div>
        <PixButton
          @triggerAction={{this.refreshLearningContent}}
        >
          <FaIcon @icon="sync"></FaIcon> Recharger le cache
        </PixButton>
      </div>
    </section>
  </main>

</div>