<div class="page">
  <header class="page-header">
    <div class="page-title">Outils</div>
    <div class="page-actions">
    </div>
  </header>

  <main class="page-body">
    <section class="page-section learning-content">
      <header class="page-section__header">
        <h2 class="page-section__title">Référentiel</h2>
      </header>
      <div class="member-list">
        {{#if isLoading}}
          <button type="submit" class="btn btn-primary btn-refresh-cache"><span class="loader-in-button">&nbsp;</span></button>
        {{else}}
          <button class="btn btn-primary btn-refresh-cache" onclick={{action "refreshLearningContent"}}>
            {{fa-icon "sync"}} Recharger le cache
          </button>
        {{/if}}
      </div>
    </section>
  </main>

</div>