.campaign-type {
  display: inline-flex;
  align-items: center;

  &__label {
    margin-left: $pix-spacing-xs;
  }

  &__icon-assessment {
    width: 1.5rem;
    height: 1.5rem;
    color: $pix-tertiary-50;
  }

  &__icon-profile-collection {
    width: 1.5rem;
    height: 1.5rem;
    color: $pix-primary;
  }
}
