.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loader {
    display: inline-block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 5px solid var(--pix-neutral-0);
    border-bottom-color: var(--pix-primary-500);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
