.mission-card {
  width: 250px;

  text {
    font-weight: 700;
    font-size: 18px;
  }

  .stop-start-gradient {
    &--area-1 {
      stop-color: var(--pix-information-dark);
    }

    &--area-2 {
      stop-color: var(--pix-content-dark);
    }

    &--area-3 {
      stop-color: var(--pix-communication-dark);
    }

    &--area-4 {
      stop-color: var(--pix-security-dark);
    }

    &--area-5 {
      stop-color: var(--pix-environment-dark);
    }

    &--purple {
      stop-color: var(--pix-tertiary-50);
    }
  }

  .stop-end-gradient {
    &--area-1 {
      stop-color: var(--pix-information-light);
    }

    &--area-2 {
      stop-color: var(--pix-content-light);
    }

    &--area-3 {
      stop-color: var(--pix-communication-light);
    }

    &--area-4 {
      stop-color: var(--pix-security-light);
    }

    &--area-5 {
      stop-color: var(--pix-environment-light);
    }

    &--purple {
      stop-color: var(--pix-tertiary-700);
    }
  }
}

text.mission-card__title {
  font-size: 22px;
}
