{{page-title (t "pages.certification-instructions.title")}}
<main class="certification-instructions">
  <header class="certification-instructions__header">
    <img class="certification-instructions-header__logo" src="/images/pix-logo-blanc.svg" alt="" />
    <span class="certification-instructions-header__separator"></span>
    <h1 class="certification-instructions-header__title">{{t "pages.certification-instructions.title"}}</h1>
  </header>
  <PixBlock @shadow="heavy" class="certification-instructions__card">
    <CertificationInstructions::Steps />
  </PixBlock>
</main>