{{page-title (t "pages.certification-information.title")}}

<main class="certification-information">
  <PixBackgroundHeader id="main">
    <PixBlock @shadow="heavy" class="certification-start-page__block">
      <CertificationInformation />
    </PixBlock>
  </PixBackgroundHeader>
</main>