{{page-title (t "pages.certification-instructions.title")}}
<main class="certification-instructions">
  <header class="instructions-header">
    <img class="instructions-header__logo" src="/images/pix-logo-blanc.svg" alt="" />
    <span class="instructions-header__separator"></span>
    <h1 class="instructions-header__title">{{t "pages.certification-instructions.title"}}</h1>
  </header>
  <PixBlock @shadow="heavy" class="instructions-step">
    <CertificationInstructions::Steps @candidateId={{this.model.id}} />
  </PixBlock>
</main>