{{page-title (t "pages.certification-information.title")}}
<main class="certification-information">
  <header class="certification-information__header">
    <img class="certification-information-header__logo" src="/images/pix-logo-blanc.svg" alt="" />
    <span class="certification-information-header__separator"></span>
    <h1 class="certification-information-header__title">{{t "pages.certification-information.title"}}</h1>
  </header>
  <PixBlock @shadow="heavy" class="certification-information__card">
    <CertificationInformation />
  </PixBlock>
</main>