.app {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    width: 280px;
    min-width: 100px;
  }

  &__main-content {
    width: 100%;
  }
}

.sidebar {
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  background: $pix-neutral-0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);

  &__logo {
    padding: 25px;

    &-image {
      height: 60px;
    }
  }

  .sidebar-menu {

    ul {
      padding: 0;
      list-style-type: none;

      .sidebar-menu__item {
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 20px;
        color: $pix-neutral-80;
        text-decoration: none;

        &-icon {
          width: 15px;
          margin-right: 8px;
          color: $pix-neutral-80;
        }

        &.active {
          background-color: $pix-neutral-15;
        }

        &:active {
          background-color: $pix-neutral-20;
        }
      }

      li:hover {
        background-color: $pix-neutral-15;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__topbar {
    min-height: $navbar-height;
    background-color: $pix-neutral-0;
  }
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
