.app {
  display: flex;
  height: 100%;

  &__sidebar {
    width: 280px;
    min-width: 100px;
  }

  &__main-content {
    width: 100%;
  }
}

.sidebar {
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);

  &--padding-left {
    padding-left: 25px;
  }

  &--padding-right {
    padding-right: 15px;
  }
}

.logo {
  padding-top: 20px;

  &__image {
    height: 60px;
  }
}

.sidebar__certification-center {
  margin-top: 20px;
}

.certification-center {
  padding-top: 15px;

  &__name {
    padding-top: 8px;
  }
}

.certification-center-label {
  color: $grey-45;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.certification-center-name {
  color: $grey-45;
  font-size: 0.8125rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &__topbar {
    background-color: white;
    min-height: 60px;
  }
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;

  &__user-identification {
    padding-right: 16px;
  }
}
