.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $pix-primary-certif-gradient;

  &__container {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
  }
}
