.login-session-supervisor-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  min-height: 100vh;
  background: $pix-primary-certif-gradient;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);

  .login-session-supervisor-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__current-user-email {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      color: $pix-neutral-60;
      font-weight: normal;
      font-size: 14px;
      font-family: $font-roboto;
      line-height: 22px;
      letter-spacing: 0.15px;
      background: $pix-neutral-10;
      border-radius: 0 0 10px 10px;

      svg {
        margin-right: 8px;
      }
    }

    &__logout {
      margin-top: 4px;
      color: $pix-neutral-60;
    }
  }
}
