.terms-of-service-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  background: $pix-primary-certif-gradient;
  align-items: center;
}

.terms-of-service-form {
  margin: auto;
  max-width: 800px;
  padding: 35px 0;
  justify-content: center;
  background-color: white;
  border-radius: 10px;

  &__header {
    display: flex;
    flex-direction: column;

    &--logo {
      margin: auto;
      padding-bottom: 20px;
    }

    &--title {
      margin: 0 10px 30px;
      text-align: center;
      color: $pix-neutral-80;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    border: none;
    background-color: $pix-neutral-20;
  }

  &__text {
    height: 400px;
    margin: 0 60px 20px;
    padding: 0 35px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $font-open-sans;

    p,
    li {
      margin-bottom: $pix-spacing-s;
    }

    ul {
      list-style: inside;
    }

    h2,
    h3 {
      margin-bottom: $pix-spacing-m;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    gap: 10px;

    @include device-is('tablet') {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
