<div class="session-list__header">
  <h1 class="page-title">{{t "pages.sessions.list.header.title"}}</h1>
  <div class="session-list-header__actions">
    <PixButtonLink @route="authenticated.sessions.new">
      {{t "pages.sessions.list.header.session-creation"}}
    </PixButtonLink>
    {{#if this.shouldRenderImportTemplateButton}}
      <PixButtonLink @route="authenticated.sessions.import">
        {{t "pages.sessions.list.header.session-multiple-creation-edition"}}
      </PixButtonLink>
    {{/if}}
  </div>
</div>