#app-footer {
}

/* Links-bar */

#app-footer .links-bar {
  background-color: white;
  padding: 60px 0;
}

#app-footer .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#app-footer .links-title {
  font-size: 18px;
  margin-bottom: .5em;
}

#app-footer .links a {
  text-decoration: none;
  color: #A3A5A8;
}

#app-footer .links a:hover,
#app-footer .links a:active {
  color: #2F70FB;
}


/* Bottom-bar */

#app-footer .bottom-bar {
  padding: 20px 0;
  color: #fff;
  background: #3E414A;
  text-align: center;
}
