
.challenge-item {
  & .challenge-instruction {
    font-size: 20px;
  }

  & .challenge-proposal label {
    font-weight: 400;
    width: 100%;
  }

  & challenge-illustration {
    max-width: 100%;
  }
}
