<div class="certification-start-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="certification-start-page__ribbon blue-ribbon" />


  <div class="certification-start-page__panel rounded-panel">
    <h2 class="certification-start-page__title">Lancement du test de certification</h2>

    {{certification-code-validation onSubmit=(route-action 'submit') error=(route-action 'error')}}

  </div>
</div>

{{app-footer}}