@charset "utf-8";

/* globals */
@use 'globals/a11y' as *;
@use 'globals/alert' as *;
@use 'globals/buttons' as *;
@use 'globals/layout' as *;
@use 'globals/loading' as *;
@use 'globals/tables' as *;
@use 'globals/text' as *;

/* components */
@use 'components/ui/page-header' as *;
@use '../components/attestations/card' as *;
@use '../components/attestations/content' as *;
@use '../components/campaigns/assessment/results/evaluation-results-hero/attestation-result' as *;
@use 'components/campaigns/assessment/start-landing-page/campaign-landing-page-details' as *;
@use 'components/campaigns/assessment/start-landing-page/campaign-step' as *;
@use 'components/authentication/login-or-register-oidc' as *;
@use 'components/authentication/oidc-reconciliation' as *;
@use 'components/autonomous-course/landing-page-start-block' as *;
@use 'components/assessments/live-alert' as *;
@use 'components/assessment-banner' as *;
@use 'components/background-banner' as *;
@use 'components/campaign-participation-overview/card' as *;
@use 'components/campaign-participation-overview/grid' as *;
@use 'components/certification-starter' as *;
@use 'components/certification-joiner' as *;
@use 'components/certification-banner' as *;
@use 'components/certification-not-certifiable' as *;
@use 'components/certifications/list/item' as *;
@use 'components/certifications/list/panel' as *;
@use 'components/certifications/candidate-certificate/v3-certificate' as *;
@use 'components/certifications/candidate-certificate/v2-certificate' as *;
@use 'components/certifications/certificate-information/candidate-information' as *;
@use 'components/certifications/certificate-information/competences-details' as *;
@use 'components/certifications/certificate-information/candidate-global-level' as *;
@use 'components/certifications/certificate-information/download-pdf' as *;
@use 'components/certifications/certificate-information/header-details' as *;
@use 'components/certifications/certificate-information/complementary-information-details' as *;
@use 'components/certifications/shareable-certificate/v3-certificate' as *;
@use 'components/certifications/shareable-certificate/v2-certificate' as *;
@use 'components/certifications/certification-ender' as *;
@use 'components/combined-courses' as *;
@use 'components/communication-banner' as *;
@use 'components/companion/blocker' as *;
@use 'components/companion/check' as *;
@use 'components/congratulations-certification-banner' as *;
@use 'components/challenge-actions' as *;
@use 'components/challenge-illustration' as *;
@use 'components/challenge-item' as *;
@use 'components/challenge-statement' as *;
@use 'components/checkpoint' as *;
@use 'components/circle-chart' as *;
@use 'components/comparison-window' as *;
@use 'components/choice-chip' as *;
@use 'components/reset-campaign-participation-modal' as *;
@use 'components/tabs' as *;

/* we need this to be before competence-card-default because of a mix
of an adaptative/mobile-first approach — refactoring is welcome here */
@use 'components/common/responsive-list-wide-wrap' as *;
@use 'components/competence-card-mobile' as *;
@use 'components/competence-card-default' as *;
@use 'components/competence-card/list' as *;
@use 'components/dashboard/content' as *;
@use 'components/feedback-panel' as *;
@use 'components/certification-feedback-panel' as *;
@use 'components/footer' as *;
@use 'components/form-textfield' as *;
@use 'components/hexagon-score' as *;
@use 'components/learning-more-tutorial-panel' as *;
@use 'components/levelup-notif' as *;
@use 'components/llm/preview' as *;
@use 'components/locale-switcher' as *;
@use 'components/login-form' as *;
@use 'components/login-or-register' as *;
@use '../components/module/instruction/details' as *;
@use '../components/module/feedback' as *;
@use '../components/module/grain/grain' as *;
@use '../components/module/layout/navbar' as *;
@use '../components/module/normalize' as *;
@use '../components/module/instruction/objectives' as *;
@use '../components/module/passage' as *;
@use '../components/module/instruction/recap' as *;
@use '../components/module/component/stepper' as *;
@use '../components/module/element/custom-element' as *;
@use '../components/module/element/custom-draft' as *;
@use '../components/module/element/download' as *;
@use '../components/module/element/embed' as *;
@use '../components/module/element/expand' as *;
@use '../components/module/element/flashcards/flashcards' as *;
@use '../components/module/element/flashcards/flashcards-card' as *;
@use '../components/module/element/image' as *;
@use '../components/module/component/proposal-button' as *;
@use '../components/module/element/qab/proposal-button' as *;
@use '../components/module/element/qab/qab' as *;
@use '../components/module/element/qab/qab-card' as *;
@use '../components/module/element/qab/qab-score-card' as *;
@use '../components/module/element/qcu' as *;
@use '../components/module/element/qcu-declarative' as *;
@use '../components/module/element/qcu-discovery' as *;
@use '../components/module/element/qcm' as *;
@use '../components/module/element/qrocm' as *;
@use '../components/module/element/separator' as *;
@use '../components/module/element/text' as *;
@use '../components/module/element/video' as *;
@use 'components/navbar-burger-menu' as *;
@use 'components/navbar-desktop-menu' as *;
@use 'components/navbar-desktop-header' as *;
@use 'components/navbar-header' as *;
@use 'components/navbar-mobile-header' as *;
@use 'components/new-information' as *;
@use 'components/panel' as *;
@use 'components/action-chip' as *;
@use 'components/pix-logo' as *;
@use 'components/progress-bar' as *;
@use 'components/qcm-solution-panel' as *;
@use 'components/qcm-proposals' as *;
@use 'components/qcu-proposals' as *;
@use 'components/qcu-solution-panel' as *;
@use 'components/qrocm-proposals' as *;
@use 'components/qroc-solution-panel' as *;
@use 'components/qrocm-solution-panel' as *;
@use 'components/account-recovery/student-information-form' as *;
@use 'components/account-recovery/confirmation-step' as *;
@use 'components/account-recovery/update-sco-record-form' as *;
@use 'components/register-form' as *;
@use 'components/result-item' as *;
@use 'components/rounded-panel' as *;
@use 'components/scorecard-details' as *;
@use 'components/show-more-text' as *;
@use 'components/sitemap/content' as *;
@use 'components/timed-challenge-instructions' as *;
@use 'components/focused-certification-challenge-instructions' as *;
@use 'components/timeout-gauge' as *;
@use 'components/tooltip' as *;
@use 'components/training-card' as *;
@use 'components/tutorial-card' as *;
@use 'components/tutorial-item' as *;
@use 'components/tutorial-panel' as *;
@use 'components/user-account' as *;
@use 'components/user-account/update-email-with-validation' as *;
@use 'components/user-account/email-verification-code' as *;
@use 'components/user-certification-hexagon-score' as *;
@use 'components/user-logged-menu' as *;
@use 'components/user-tutorials/sidebar' as *;
@use 'components/pix-toggle' as *;
@use 'components/skip-link' as *;
@use 'components/campaigns' as *;
@use 'components/profile/scorecards' as *;

/* Styles for colocated components */
@use 'authentication-layout' as *;
@use 'authentication/new-password-input/password-checklist' as *;
@use 'authentication/new-password-input/password-rule' as *;
@use 'authentication/oidc-provider-selector' as *;
@use 'authentication/other-authentication-providers' as *;
@use 'authentication/password-reset-demand/password-reset-demand' as *;
@use 'authentication/password-reset-form' as *;
@use 'authentication/login-form' as *;
@use 'authentication/signup-form' as *;
@use 'authentication/sso-selection-form' as *;
@use 'user-account/delete-account-section' as *;
@use 'user-account/user-account-navigation' as *;

/* pages */
@use 'pages/assessment-results' as *;
@use 'pages/campaign-landing-page' as *;
@use 'pages/campaign-tutorial' as *;
@use 'pages/challenge' as *;
@use 'pages/competence-results' as *;
@use 'pages/course-preview' as *;
@use 'pages/course-error' as *;
@use 'pages/error' as *;
@use 'pages/evaluation-results' as *;
@use 'pages/fill-in-campaign-code' as *;
@use 'pages/fill-in-certificate-verification-code' as *;
@use 'pages/fill-in-participant-external-id' as *;
@use 'pages/signup' as *;
@use 'pages/join-restricted-campaign' as *;
@use 'pages/module' as *;
@use '../components/module/module-preview' as *;
@use 'pages/student-sco' as *;
@use 'pages/not-connected' as *;
@use 'pages/profile' as *;
@use 'pages/profile-already-shared' as *;
@use 'pages/account-recovery' as *;
@use 'pages/send-profile' as *;
@use 'pages/sign-form' as *;
@use 'pages/sso-selection' as *;
@use 'pages/terms-of-service' as *;
@use 'pages/update-expired-password-form' as *;
@use 'pages/user-trainings' as *;
@use 'pages/user-tutorials' as *;
@use 'pages/user-tests' as *;
@use 'pages/personal-information' as *;
@use 'pages/connection-methods' as *;
@use 'pages/language' as *;
@use 'pages/existing-campagne' as *;
@use 'pages/certification-instructions' as *;
@use 'pages/download-session-results' as *;

.page-without-navbar {

  &--login-page {
    background-color: var(--pix-neutral-0);
  }

  &--force-max-width {
    & > .pix-app-layout__main {
      max-width: 100%;
    }
  }

  & > .pix-app-layout__main,
  .pix-app-layout__footer,
  .pix-app-layout__navigation {
    padding: 0;
  }
}
