<div class="no-session-panel">
  <div class="no-session-panel__explain-create-session">
    <img src="{{this.rootURL}}/icons/icon-session-start.svg" alt="Vous pouvez créer des sessions de certifications.">
    <h1 class="page-title">Créez votre première session de certification</h1>

    <div class="no-session-panel__link-to-create">
      <LinkTo @route="authenticated.sessions.new" class="button button--link button--with-icon">
        Créer une session
        {{fa-icon 'plus'}}
      </LinkTo>
    </div>
  </div>
</div>
