<li class="tutorials-filters-areas-competences__item-checkbox">
  <PixCheckbox @id={{@item.id}} {{on "input" (fn @handleFilterChange @type @item.id)}} @checked={{this.isChecked}}>
    <:label>
      {{@item.name}}
    </:label>
  </PixCheckbox>
</li>