<div class="pix-section error-page__body-section">
  <div class="pix-row">
    <div class="pix-panel error-page__main-content">
      <h1>La campagne demandée n'existe pas.</h1>
      {{#link-to 'index' class="pix-button error-page__index-link"}}Revenir à la page d'accueil{{/link-to}}
    </div>
  </div>
</div>
