<InaccessibleCampaign>
  <span class="inaccessible-campaign-message">
    <span>{{t "pages.campaign.errors.existing-participation"}}</span>
    <span class="inaccessible-campaign-message__username">{{this.model.firstName}} {{this.model.lastName}}.</span>
  </span>
  <span class="inaccessible-campaign-info">
    {{t "pages.campaign.errors.existing-participation-info"}}
  </span>
</InaccessibleCampaign>