{{!-- template-lint-disable no-unknown-arguments-for-builtin-components --}}
{{page-title (t 'pages.fill-in-participant-external-id.title')}}
<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <Routes::Campaigns::FillInParticipantExternalId @campaign={{@model}} @onSubmit={{this.onSubmitParticipantExternalId}} @onCancel={{this.onCancel}} />
</div>
