<div class="campaign-tutorials">
  <div class="campaign-tutorials__container">

    <div class="campaign-tutorials__title">
      Vous pouvez recherchez sur internet
    </div>

    <div class="campaign-tutorials__explanation-icon">
    </div>


    <div class="campaign-tutorials__explanation-text">
      <p>
        Si vous ignorez une réponse,
        elle se trouve sûrement sur internet.
      </p>
    </div>

    <button type="submit" class="pix-button start-first-question" {{action "submit"}}>C'est parti</button>
  </div>
</div>