@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';
@use 'pix-design-tokens/breakpoints';

.results-recommendation-engine-training {
  &__title {
    @extend %pix-title-s;

    margin-top: var(--pix-spacing-10x);
  }

  &__description {
    @extend %pix-body-m;

    margin-top: var(--pix-spacing-2x);
    color: var(--pix-neutral-500);
  }

  &__list {
    display: flex;
    gap: var(--pix-spacing-8x);
    margin-top: var(--pix-spacing-4x);
    padding: 3px 5px 7px;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
}

.results-recommendation-engine-training-card {
  @extend %pix-shadow-default;

  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  justify-content: space-between;
  width: 329px;
  height: 315px;
  padding: var(--pix-spacing-3x);
  padding-bottom: var(--pix-spacing-6x);
  background-color: var(--pix-neutral-0);
  border-radius: 16px 0 16px 16px;

  @include breakpoints.device-is('mobile') {
    min-width: 280px;
  }

  &__tag {
    @extend %pix-body-xs;

    width: fit-content;
  }

  &__tag-icon {
    width: 1rem;
    height: 1rem;
  }
}

.results-recommendation-engine-training-card-image-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 127px;
  padding: var(--pix-spacing-7x, 28px) var(--pix-spacing-7x, 28px);
  background-color: var(--pix-primary-10);
  border-radius: 12px;

  &__editor-logo {
    position: relative;
    z-index: 1;
    height: 35px;
  }
}

.results-recommendation-engine-training-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-3x);

  &__title {
    @extend %pix-title-xxs;

    display: -webkit-box;
    min-height: 50px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__details {
    @extend %pix-body-xs;

    display: flex;
    color: var(--pix-neutral-500);
  }

  ul li:not(:first-child)::before {
    margin: 0 var(--pix-spacing-1x);
    content: '\2022';
  }

}

.results-recommendation-engine-training-card-modal {
  @include breakpoints.device-is('tablet') {
    width: 742px;
  }

  h2 {
    @extend %pix-title-xs;
  }

  &__section {
    @extend %pix-body-m;

    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    justify-content: space-between;
    margin-bottom: var(--pix-spacing-6x);

    @include breakpoints.device-is('tablet') {
      flex-direction: row;
      gap: var(--pix-spacing-2x);
    }
  }

  &__objectives {
    @extend %pix-body-m;

    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);

    li {
      display: flex;
      gap: var(--pix-spacing-3x);
      align-items: center;
      color: var(--pix-neutral-800);
    }
  }

  &__program {
    color: var(--pix-neutral-800);
  }

  .pix-modal__footer {
    justify-content: space-between;
  }
}

.results-recommendation-engine-training-card-modal-section {
  &__description {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);

    span {
      font-weight: var(--pix-font-bold);
    }
  }

  &__information {
    display: flex;
    gap: var(--pix-spacing-6x);
    align-items: center;
    justify-content: space-around;
    padding: var(--pix-spacing-6x) var(--pix-spacing-10x);
    background-color: var(--pix-primary-10);
    border: 1px solid var(--pix-primary-100);
    border-radius: 12px;

    @include breakpoints.device-is('tablet') {
      flex-direction: column;
      gap: var(--pix-spacing-8x);
      justify-content: center;
    }
  }

  &__time-information, &__localisation-information {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-1x);
    align-items: center;
    justify-content: center;

    &--bold {
      display: flex;
      flex-direction: column;
      font-weight: var(--pix-font-bold);
    }
  }
}

.results-recommendation-engine-training-card-modal-objectives {
  &__icon {
    color: var(--pix-primary-300);
  }
}

.results-recommendation-engine-training-card-modal-footer {
  display: flex;
  gap: var(--pix-spacing-2x);
  align-items: center;

  @include breakpoints.device-is('mobile') {
    flex-direction: column;
    justify-content: center;
    width: 100%
  }

  &__feedback {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;

    .selected {
      color: var(--pix-neutral-0);
      background-color: var(--pix-neutral-800);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -3px;
    }

    legend {
      @extend %pix-body-m;

      float: left;
    }
  }

  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    justify-content: flex-end;

    @include breakpoints.device-is('mobile') {
      flex-direction: column;
      justify-content: center;
      width: 100%
    }
  }
}

.results-recommendation-engine-training-card-modal-footer-action-buttons {

  &__link {
    display: flex;
    gap: var(--pix-spacing-1x);
    justify-content: center;
  }

  &__cancel {
    width: 100%;
  }
}
