{{#if @model}}
  <div class="user-tutorials-content-v2__container">
    {{#each @model as |userTutorial|}}
      <Tutorials::Card @tutorial={{userTutorial.tutorial}} />
    {{/each}}
  </div>
{{else}}
  <Tutorials::SavedEmpty />
{{/if}}