<html>
<head>
  <style>
    h1 {
      color: blue;
    }

    p {
      color: purple;
    }
  </style>
</head>

<body>
  <div>
    <h1>Attestation certificat pix !!</h1>
    <p>Nom: {{certificate.firstName}}</p>
  </div>
</body>
</html>
