.element-flashcards {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    align-items: center;
    max-width: 345px;
    margin:auto;
    color: var(--pix-neutral-500);

    &__position,
    &__direction,
    &__answer {
      @extend %pix-body-m;
    }

    &__position {
      font-weight: 700;
    }

    &__question {
      color: var(--pix-neutral-900);
      font-weight: 700;
    }

    &__answer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__button {
        width: calc(100% / 3 - 4px);
        padding: var(--pix-spacing-4x) 0;
        font-weight: 700;
        line-height: 24px;
        border-radius: var(--modulix-radius-s);
        transition: color 400ms, box-shadow 400ms;

        &--no {
          color: var(--pix-error-500);
          background: var(--pix-error-50);
          box-shadow: 0 0 0 var(--button-border-size) var(--pix-error-500);

          &:hover,
          &:active {
            color: var(--pix-error-700);
            background: var(--pix-error-50);
            box-shadow: 0 0 0 var(--button-border-size-hover) var(--pix-error-500);
          }

          &:active {
            background: var(--pix-error-100);
          }
        }

        &--almost {
          color: var(--pix-warning-700);
          background: var(--pix-warning-50);
          box-shadow: 0 0 0 var(--button-border-size) var(--pix-warning-700);

          &:hover,
          &:active {
            color: var(--pix-warning-900);
            background: var(--pix-warning-50);
            box-shadow: 0 0 0 var(--button-border-size-hover) var(--pix-warning-900);
          }

          &:active {
            background: var(--pix-warning-100);
          }
        }

        &--yes {
          color: var(--pix-success-500);
          background: var(--pix-success-50);
          box-shadow: 0 0 0 var(--button-border-size) var(--pix-success-500);

          &:hover,
          &:active {
            color: var(--pix-success-700);
            background: var(--pix-success-50);
            box-shadow: 0 0 0 var(--button-border-size-hover) var(--pix-success-700);
          }

          &:active {
            background: var(--pix-success-100);
          }
        }
      }
    }
  }
}
