.element-flashcards {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    align-items: center;
    max-width: 345px;
    margin:auto;
    color: var(--pix-neutral-500);

    &__position,
    &__direction,
    &__answer {
      @extend %pix-body-m;
    }

    &__position {
      font-weight: 700;
    }

    &__question {
      color: var(--pix-neutral-900);
      font-weight: 700;
    }

    &__answer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__button {
        width: calc(100% / 3 - 4px);
        padding: var(--pix-spacing-4x) 0;
        font-weight: 700;
        line-height: 24px;
        border-radius: var(--modulix-radius-s);

        &--no {
          color: var(--pix-error-500);
          background: var(--pix-error-50);
          border: 1px solid var(--pix-error-500);
        }

        &--almost {
          color: var(--pix-neutral-900);
          background: var(--pix-info-50);
          border: 1px solid var(--pix-info-500);
        }

        &--yes {
          color: var(--pix-success-500);
          background: var(--pix-success-50);
          border: 1px solid var(--pix-success-500);
        }
      }
    }
  }
}
