.grain {
  width: 100%;

  &--active {
    @extend .auto-scroll;

    outline: none;
  }

  &:last-child {
    padding-bottom: var(--pix-spacing-12x);
  }

  &__header {
    margin-bottom: var(--pix-spacing-6x);
    padding: 0 var(--pix-spacing-4x);
    font-weight: var(--pix-font-medium);
  }

  &__card {
    border-radius: var(--pix-spacing-4x) 0 var(--pix-spacing-4x) var(--pix-spacing-4x);
  }
}

.grain-card {
  &__content {
    padding: var(--pix-spacing-6x);
  }

  &__footer {
    padding: var(--pix-spacing-6x);
    border-top: 1px solid var(--pix-neutral-100);
  }

  &__tag {
    display: flex;
    justify-content: flex-end;
  }

  &--lesson {
    background: var(--pix-info-50);

    &__tag {
      background-color: inherit;
    }
  }

  &--activity {
    background: var(--pix-neutral-20);

    &__tag {
      background-color: inherit;
    }
  }
}

.grain-card-content {
  &__element:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__stepper:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }
}

// stylelint-disable-next-line no-duplicate-selectors
.grain--active:focus-visible {
  .grain__card {
    outline: 2px solid var(--pix-neutral-500);
    outline-offset: -2px;
  }
}
