$grain-card-border-radius: var(--pix-spacing-4x);

.grain {
  --modulix-lesson-card-background: rgb(240 247 254);
  --modulix-activity-card-background: rgb(249 249 250);

  width: 100%;

  &--active {
    @extend .auto-scroll;

    outline: none;
  }

  &:last-child {
    padding-bottom: var(--pix-spacing-12x);
  }

  &__header {
    margin-bottom: var(--pix-spacing-6x);
    padding: 0 var(--pix-spacing-4x);
    font-weight: var(--pix-font-medium);
  }

  &__card {
    border-radius: $grain-card-border-radius 0 $grain-card-border-radius $grain-card-border-radius;
  }
}

.grain-card {
  &__content {
    padding: var(--pix-spacing-6x);
  }

  &__footer {
    padding: var(--pix-spacing-6x);
    border-top: 1px solid var(--pix-neutral-100);
    border-radius: 0 0 $grain-card-border-radius $grain-card-border-radius;
  }

  &__tag {
    display: flex;
    justify-content: flex-end;
  }

  &--lesson {
    background: var(--modulix-lesson-card-background);

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      background: var(--pix-info-50);
    }
  }

  &--activity {
    background: var(--modulix-activity-card-background);

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      background: var(--pix-neutral-20);
    }
  }
}

.grain-card-content {
  &__element:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__stepper:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }
}

// stylelint-disable-next-line no-duplicate-selectors
.grain--active:focus-visible {
  .grain__card {
    outline: 2px solid var(--pix-neutral-500);
    outline-offset: -2px;
  }
}
