.element-image {
  &__container {
    aspect-ratio: auto 16 / 9;
    margin: 0 auto var(--pix-spacing-3x) auto;
  }
}

.element-image-container {
  &__image {
    display: block;
    height: 100%;
    object-fit: contain;
  }
}
