.login-or-register-oidc-form {
  margin-bottom: 32px;
  padding: 25px 50px;
  max-width: 1250px;
  display: flex;
  flex-direction: column;

  @include device-is('desktop') {
    padding: 50px 100px;
  }

  &__logo {
    text-align: center;

    img {
      height: 80px;
    }
  }

  &__title {
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    padding: 22px 0 38px 0;

    @include device-is('desktop') {
      padding: 32px 0 48px 0;
      font-size: 46px;
      line-height: 60px;
    }
  }

  &__container {
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center;

    @include device-is('desktop') {
      flex-direction: row;
      justify-content: space-between;
      align-items: normal;
    }
  }

  &__subtitle {
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    padding-bottom: 24px;

    @include device-is('desktop') {
      font-size: 28px;
    }
  }

  &__description {
    color: $pix-neutral-60;
    font-family: $font-open-sans;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 24px;
    margin: 0;
  }

  &__register-container,
  &__login-container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
  }

  &__register-container {
    @include device-is('desktop') {
      padding-right: 20px;
    }
  }

  &__login-container {
    @include device-is('desktop') {
      padding-left: 20px;
    }
  }

  &__divider {
    border-bottom: 1px solid $pix-neutral-30;
    width: 100%;
    margin: 50px 0 30px 0;

    @include device-is('desktop') {
      width: 0;
      border-left: 1px solid $pix-neutral-30;
      border-bottom-style: none;
      margin: 0 0;
    }
  }

  &__cgu-container {
    display: flex;
    padding: 0 0 24px 0;
  }

  &__cgu-label {
    margin-bottom: 0;
    padding: 3px 0 0 15px;
    font-size: 14px;
  }

  &__cgu-error {
    margin-bottom: 20px;
  }

  &__mandatory-description {
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 14px;
    color: $pix-neutral-70;
  }

  &__password-container {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
  }

  &__forgotten-password-link {
    align-self: flex-end;
    margin-top: 5px;
    font-size: 14px;
    color: $pix-neutral-70;
  }

  &__submit-button {
    width: 100%;
  }
}
