.login-or-register-oidc-form {
  padding: 50px 100px;
  max-width: 1250px;
  display: flex;
  flex-direction: column;

  &__logo {
    text-align: center;

    img {
      height: 80px;
    }
  }

  &__title {
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    font-weight: 300;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    padding: 32px 0 48px 0;
  }

  &__container {
    display: flex;
    min-height: 500px;
    justify-content: space-between;
  }

  &__subtitle {
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 24px;
  }

  &__description {
    color: $pix-neutral-60;
    font-family: $font-open-sans;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 24px;
    margin: 0;
  }

  &__register-container,
  &__login-container {
    display: flex;
    flex-direction: column;
    width: 440px;
  }

  &__divider {
    margin-top: 30px;
    border-left: 1px solid $pix-neutral-30;
  }
}
