.login-or-register-oidc-form {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin-bottom: 32px;
  padding: 25px 50px;

  @include device-is('desktop') {
    padding: 50px;
  }

  &__logo {
    text-align: center;

    img {
      height: 80px;
    }
  }

  &__title {
    @extend %pix-title-m;

    padding: 22px 0 38px;
    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;

    @include device-is('desktop') {
      flex-direction: row;
      align-items: normal;
      justify-content: space-between;
    }
  }

  &__subtitle {
    @extend %pix-title-s;

    padding-bottom: 24px;
    color: var(--pix-neutral-900);
  }

  &__description {
    @extend %pix-body-m;

    margin: 0;
    padding-bottom: 24px;
    color: var(--pix-neutral-500);
  }

  &__description em {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    color: var(--pix-neutral-900);
    font-style: normal;
  }

  &__information {
    @extend %pix-body-m;

    margin-bottom: 2rem;
    color: var(--pix-neutral-500);

    ul {
      margin: 0;
      padding-left: 1rem;
    }

    li {
      list-style: initial;
    }
  }

  &__register-container,
  &__login-container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
  }

  &__register-container {
    @include device-is('desktop') {
      padding-right: 30px;
    }
  }

  &__login-container {
    @include device-is('desktop') {
      padding-left: 30px;
    }
  }

  &__divider {
    width: 100%;
    margin: 50px 0 30px;
    border-bottom: 1px solid var(--pix-neutral-100);

    @include device-is('desktop') {
      width: 0;
      margin: 0;
      border-bottom-style: none;
      border-left: 1px solid var(--pix-neutral-100);
    }
  }

  &__cgu-container {
    display: flex;
    padding: 0 0 24px;
  }

  &__cgu-error {
    margin-bottom: 20px;
  }

  &__mandatory-description {
    @extend %pix-body-s;

    padding-bottom: 10px; 
    color: var(--pix-neutral-800);
    text-align: center;
  }

  &__input-container {
    display: flex;
    flex-direction: column;

    &--password {
      padding: var(--pix-spacing-4x) 0;
    }
  }

  &__forgotten-password-link {
    @extend %pix-body-s;

    align-self: flex-end;
    margin-top: 5px;
    color: var(--pix-neutral-800);
  }

  &__submit-button {
    width: 100%;
  }
}
