.bubble {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 8px;
  margin-left: 8px;
  padding: 12px;
  font-size: 1.5rem;
  text-align: left;
  background-color: #C3D0FF;
  border-radius: 16px 16px 16px 0;

  a {
    color: #3d68ff;
    text-decoration: underline;

    &:active,
    &:focus,
    &:hover {
      color: #2044dc;
    }
  }

  a:not(.internal-link)::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.2rem;
    background-image: url('/images/icons/external-link-alt.svg');
    background-repeat: no-repeat;
    background-size: 1rem;
    content: '';
  }


  &::after {
    position: absolute;
    bottom: 0;
    left: -8px;
    display: block;
    width: 0;
    border-color: transparent #C3D0FF;
    border-style: solid;
    border-width: 12px 8px 0 0;
    content: "";
  }

  &--success {
    background-color: #C8F0D8;

    &::after {
      border-color: transparent #C8F0D8;
    }
  }

  &--warning {
    background-color: #FFEACB;

    &::after {
      border-color: transparent #FFEACB;
    }
  }

  &--error {
    background-color: #F1C4C3;

    &::after {
      border-color: transparent #F1C4C3;
    }
  }
}

