.complementary-certification-attach-target-profile {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__header {
    @extend %pix-title-s;

    color: $pix-neutral-90;
    line-height: 36px;
  }
}

