.complementary-certification-details {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__title {
    text-transform: uppercase;
    color: $pix-neutral-50;
    font-family: $font-roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
  }


  &__label {
    color: $pix-neutral-70;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.04em;
  }

  &__target-profile {
    margin: $pix-spacing-s 0;
    font-family: $font-roboto;
    font-size: 16px;
    color: $pix-neutral-70;
  }
}


.complementary-certification-details-target-profile {
  &__link {
    color: $pix-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
