.selected-target-profile-form-change {
  display: flex;
  flex-direction: column;
  gap: $pix-spacing-xs;
  padding: $pix-spacing-s;
  font-size: 1.125rem;

  &__link {
    color: var(--pix-primary-500);

    &:hover {
      text-decoration: underline;
    }
  }
}
