<header class="page-header">
  <h1 class="page-title">Tous les parcours autonomes</h1>
  <PixButtonLink
    @route="authenticated.autonomous-courses.new"
    @backgroundColor="transparent-light"
    @isBorderVisible={{true}}
  >
    Nouveau parcours autonome
  </PixButtonLink>
</header>

<main class="page-body">
  <section class="page-section">
    <AutonomousCourses::ListItems @items={{@model}} />
  </section>
</main>