.mission-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__details {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    text-align: left;

    .details-action {
      margin-top: 32px;
      margin-left: auto;
      padding: 16px 32px 16px 40px;
      font-size: 18px;
      border-radius: 100px;

      &__icon {
        margin-left: 8px;
      }

      &__loader {
        visibility: hidden;

        &--visible {
          width: 200px;
          height: 58px;
          visibility: visible;
        }
      }
    }

    .details-go-back {
      margin-bottom: 21px;
      color: $pix-primary;
      text-decoration: underline;
    }

    .details-list {

      &__title {
        margin-bottom: 16px;
        font-weight: 800;
        font-size: 18px;

        &--big {
          font-size: 28px;
        }
      }

      &__item {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 8px;

        p {
          line-height: 28px;
        }

        .icon {
          color: $pix-primary;
        }
      }
    }
  }

  &__body {
    display: flex;
    gap: 25px;
    width: 960px;
    padding-left: 60px;
  }
}

.pix-button.pix1d-button.details-action {
  .loader__not-visible-text {
    height: 20px;
  }
}
