.tag {
  @extend %pix-body-s;

  display: flex;
  gap: var(--pix-spacing-1x);
  align-items: center;
  justify-content: center;
  padding: var(--pix-spacing-2x) var(--pix-spacing-4x) var(--pix-spacing-2x) var(--pix-spacing-4x);
  text-transform: uppercase;
  border-radius: var(--modulix-radius) var(--modulix-radius) 0 0;

  &--activity {
    background: var(--pix-neutral-20);
  }

  &--lesson {
    background: var(--pix-info-50);
  }

  &_icon {
    width: 1rem;
    height: 1rem;
  }
}
