.sco-organization-participant-list-page {
  &__authentication-methods {
    > * {
      margin: 0;
      padding: 0;
    }
  }

  &__certificability-header {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

