.sco-organization-participant-list-page {
  &__user-account-temporarily-blocked {
    margin-bottom: var(--pix-spacing-2x);
    color: var(--pix-error-500);
    font-weight: var(--pix-font-bold);
  }

  &__user-account-blocked {
    margin-bottom: var(--pix-spacing-2x);
    color: var(--pix-error-500);
    font-weight: var(--pix-font-bold);
  }

  &__no-user-account {
    color: var(--pix-warning-500);
    font-weight: var(--pix-font-bold);
  }

  &__authentication-methods {
    > * {
      margin: 0;
      padding: 0;
    }
  }

  &__certificability-header {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
