.learner-header {
  margin: $spacing-l 0;

  &__breadcrumb {
    text-transform: capitalize;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: $spacing-m;
  }

  &-info__title {
    @include h2;

    text-transform: capitalize;
  }
}
