{{! Cette page est affichée lorsqu'une erreur survient coté api. }}
<div class="error">
  <h1>{{t "pages.error.title"}}</h1>
  <p>{{t "pages.error.message"}}</p>
  <LinkTo class="pix1d-button pix1d-button--small not-found__button" @route="home">{{t "pages.error.backHome"}}</LinkTo>
</div>