<div class="page-section__panel">
  <div class="page-section__panel-header">
    <h3><span class="item-number two"></span>Résultats</h3>
  </div>

  <div class="page-section__panel-body">
    <div class="highlight-block">
      <div class="entry-field">
        <label for="certification-score">Total (en pix) :</label>
        <Input @id="certification-score" @type="text" @value={{@certification.pixScore}} />
      </div>
    </div>

    <CertificationInfoCompetences
        @competences={{@certification.competences}}
        @onUpdateScore={{this.onUpdateScore}}
        @onUpdateLevel={{this.onUpdateLevel}} />
  </div>
</div>

