.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: auto 145px 40px;

  @include device-is('tablet') {
    margin-left: 120px;
  }
}

.card {
  padding: 0;
  background-color: transparent;
  border: none;

  &--loading {
    background-color: var(--pix-neutral-300);
    opacity: 0.2;
  }
}

.pix-button.card {
  &:hover, &:focus, &:active, &:focus-visible {
    background-color: transparent;
  }
}
