.results-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: var(--pix-spacing-8x) var(--pix-spacing-2x);

  &__illustration {
    align-self: center;
    min-width: 210px;
    max-width: 320px;
  }

  @media (min-width: 767px) {
    &__illustration {
      min-width: 320px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button,
  &__steps {
    width: fit-content;
    margin: auto;
    margin-top: var(--pix-spacing-6x);
  }

  &__title {
    @extend %pix-title-m;

    margin-top: var(--pix-spacing-8x);
    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__subtitle {
    @extend %pix-title-xs;

    margin-top: var(--pix-spacing-2x);
    color: var(--pix-neutral-500);
    text-align: center;
  }

  &__button {
    transition: opacity 300ms ease-in;
  }

  .line {
    display: flex;
    gap: var(--pix-spacing-2x);
    margin-top: var(--pix-spacing-3x);
    opacity: 0;
    transition: opacity 150ms ease-in;

    &--visible {
      opacity: 1;
    }

    &__icon {
      width: var(--pix-spacing-6x);
      height: var(--pix-spacing-6x);
      opacity: 0;
      transition: opacity 300ms ease-in;
      fill: var(--pix-success-500);

      &--visible {
        opacity: 1;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
