<section class="import-page__section--download panel">
  {{#if @isImportInError}}
    <PixMessage @type="error">
      <p>{{@errorsReport}}</p>
    </PixMessage>
  {{else}}
    <PixMessage @type="info">
      <p>
        {{@sessionsReport}}</p>
      <p>
        {{@candidatesReport}}</p>
    </PixMessage>
  {{/if}}
</section>