<section class="import-page__section--download panel">
  {{#if @isImportInError}}
    <PixMessage @type="error">
      <p>{{@errorsReport}}</p>
    </PixMessage>
  {{else}}
    <PixMessage @type="info">
      <p>{{t "pages.sessions.import.step-two.sessions-and-empty-sessions-count"
             sessionsCount=@sessionsCount
             emptySessionsCount=@emptySessionsCount}}</p>
      <p>{{t "pages.sessions.import.step-two.candidates-count"
             candidatesCount=@candidatesCount}}</p>
    </PixMessage>
  {{/if}}
</section>