.list-students-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &__header {
    display: flex;
    margin: 1em;
  }

  &__import-students-button {
    margin-top: 20px;
    margin-left: auto;
  }

  &__authentication-methods {
    white-space: pre;
  }

  &__password-reset-cell {
    text-align: right;
  }

  &__manage-button {
    margin-right: 32px;
  }

  &__tooltip {
    bottom: 42px;
    border-radius: 4px;
    left: 55px;
    width: 64px;
  }
}
