$margin-right: 32px;

.list-students-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &__header {
    display: flex;
    margin: 1em;
  }

  &__import-students-button {
    margin-top: 20px;
    margin-left: auto;
  }

  &__authentication-methods {
    white-space: pre;
  }

  &__actions {
    text-align: right;
  }

  &__dropdown-button {
    font-size: 1.1rem;
    margin-right: $margin-right;
  }

  &__dropdown-content {
    width: 200px;
    right: $margin-right;
  }
}
