<div class="certification-layout">
  <div class="certification-page">
    <div class="certification-page__header">
      <h1 class="page__title page-title">{{t 'pages.certifications.title'}}</h1>
    </div>
    <div class="certification-page__text">
      {{t 'pages.certifications.description'}}
    </div>
  </div>
</div>