{{page-title (t "pages.preselect-target-profile.title")}}

<article class="preselect-target-profile">
  <h1 class="page__title page-title">{{t "pages.preselect-target-profile.title"}}</h1>
  <Tube::List @frameworks={{this.model.frameworks}} @organization={{this.model.organization}} />
</article>