<div class="panel">
  <div class="certification-candidates-sco-actions">
    <img src="/images/adding_candidate.svg" alt="" role="none">
    <p>Ajouter une liste d'élèves et c'est partix !</p>
    <LinkTo @route="authenticated.sessions.add-student" @model={{@sessionId}} class="button button--link">
      Ajouter des candidats
    </LinkTo>
  </div>
</div>
