<div class="panel">
  <div class="certification-candidates-sco-actions">
    <img src="/images/adding_candidate.svg" alt="" role="none" />
    <p>Inscrivez des élèves et c'est partix !</p>
    <PixButtonLink @route="authenticated.sessions.add-student" @model={{@sessionId}}>
      Inscrire des candidats
    </PixButtonLink>
  </div>
</div>