<fieldset class="connection-or-end-screen-certification-issue-report-fields">
  <div class="connection-or-end-screen-certification-issue-report-fields__radio-button">
    <input
      id="input-radio-for-category-connection-or-end-screen"
      type="radio"
      name="connection-or-end-screen"
      checked={{@connectionOrEndScreenCategory.isChecked}}
      {{on 'click' (fn @toggleOnCategory @connectionOrEndScreenCategory)}} />
    <label for="input-radio-for-category-connection-or-end-screen">{{@connectionOrEndScreenCategory.categoryLabel}}</label>
  </div>
</fieldset>
