<div class="no-session-panel">
  <div class="no-session-panel__explain-create-session">
    <img src="{{this.rootURL}}/icons/empty-list-session.svg" alt="" role="none" />
    <h1 class="page-title">{{t "pages.sessions.list.empty.title"}}</h1>

    <div class="no-session-panel__link-to-create">
      <PixButtonLink @route="authenticated.sessions.new">
        {{t "pages.sessions.list.actions.creation.label"}}
      </PixButtonLink>
      {{#if this.shouldRenderImportTemplateButton}}
        <PixButtonLink @route="authenticated.sessions.import">
          {{t "pages.sessions.list.actions.multiple-creation.label"}}
        </PixButtonLink>
      {{/if}}
    </div>
  </div>
</div>