<div class="panel session-details__clea-results-download">
  <div class="session-details__clea-results-download-grey">
    <div class="session-details__clea-results-download-icon">
      <FaIcon @icon="award" />
    </div>
    <div>
      <h1 class="session-details__clea-results-download-title">
        {{t "pages.sessions.detail.panel-clea.title"}}
      </h1>
      <p class="&__clea-results-download-description">
        Pour générer les certificats CléA numérique, téléchargez la liste des candidats, complétez-la, enregistrez-la au
        format .xlsx puis importez-la sur la
        <a href="https://cleanumerique.org/" target="_blank" rel="noopener noreferrer">plateforme du CléA numérique.
          <FaIcon @icon="link" /></a>
      </p>

      <PixButton
        @triggerAction={{this.downloadCleaCertifiedCandidateData}}
        class="session-details__clea-results-download-button"
      >
        {{t "pages.sessions.detail.panel-clea.download-button"}}
      </PixButton>
      {{#if this.cleaCandidateDataDownloadErrorMessage}}
        <p class="session-details__error-message">{{this.cleaCandidateDataDownloadErrorMessage}}</p>
      {{/if}}

    </div>
  </div>
</div>