<div class="session-finalization-formbuilder-link-step">
  <div class="session-finalization-formbuilder-link-step__text">
    Pour transmettre le PV de session scanné, suivez ce lien
  </div>
  <div class="session-finalization-formbuilder-link-step__link">
    <a href={{this.formBuilderLinkUrl}} target="_blank" rel="noopener noreferrer" >
      {{fa-icon 'arrow-right'}} Formulaire 123formbuilder
    </a>
  </div>
</div>
