<PixModal
  class="warning"
  @title="Tu n'as pas terminé"
  @showModal={{@showWarningModal}}
  @onCloseButtonClick={{@onClose}}
>
  <:content>
    <p>
      Pour valider la mission, tu dois terminer l'activité.
    </p>
    <p>
      Sinon, clique sur
      <b>Je passe</b>
      pour faire une nouvelle activité.
    </p>
  </:content>
  <:footer>
    <div class="modal-footer">
      <PixButton class="pix1d-button pix1d-button--modal" @triggerAction={{@onClose}}>Oui, j'ai compris</PixButton>
    </div>
  </:footer>
</PixModal>