.pix-modal.warning {
  background-color: var(--pix-color-primary-10);
}

.pix-modal.warning .pix-modal__content {
  font-size: 1.125rem;
}

.pix-button--background-blue.warning__button {
  &:hover {
    background-color: var(--pix-color-primary-60);
  }
}
