.tube-recommendation-title {
  @extend %pix-title-xs;

  color: var(--pix-neutral-800);
  font-size:0.875rem;

  &--open {
    margin-left: $pix-spacing-s;
  }
}

.tube-recommendation-subtitle {
  @extend %pix-body-s;

  color: var(--pix-neutral-20)0;
  font-weight: 400;

  &--open {
    color: var(--pix-neutral-500);
  }
}

.tube-recommendation-tutorial {
  display: none;
  height: 0;
  border-top: none;

  &--open {
    display: table-row;
    height: 100%;
  }

  &__description {
    @extend %pix-title-s;

    margin-bottom: $pix-spacing-s;
    color: var(--pix-neutral-500);
    font-size:0.875rem;
  }

  &__column {
    position: relative;
    padding-right: $pix-spacing-xl;
    padding-left: $pix-spacing-l;
  }

  &__title {
    @extend %pix-title-xs;

    margin-bottom: $pix-spacing-s;
    padding-left: $pix-spacing-m;
    font-weight: 500;
  }
}

.tube-recommendation-tutorial-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease;

  &--open {
    height: auto;
    max-height: 1000px;
    transition: max-height 1s ease-out;
  }
}

.tube-recommendation-tutorial-table {
  margin-bottom: $pix-spacing-xs;
  margin-left: $pix-spacing-m;

  &__row {
    padding-left: 0;

    a {
      font-weight: 500;
    }
  }

  &__details {
    color: var(--pix-neutral-800);
    font-weight: normal;
    font-size: 0.75rem;
    font-family: $font-roboto;
  }

  &__format {
    text-transform: capitalize;
  }
}
