.tube-recommendation-title {
  font-family: $font-open-sans;
  color: $pix-neutral-80;
  font-weight: 600;
  font-size: 0.875rem;

  &--open {
    margin-left: $spacing-s;
    color: $pix-neutral-100;
    font-weight: 700;
  }
}

.tube-recommendation-subtitle {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 0.75rem;
  color: $pix-neutral-50;

  &--open {
    color: $pix-neutral-60;
  }
}

.tube-recommendation-tutorial {
  height: 0;
  display: none;
  border-top: none;

  &--open {
    display: table-row;
    height: 100%;
  }

  &__description {
    font-family: $font-open-sans;
    color: $pix-neutral-60;
    font-size: 0.875rem;
    margin-bottom: $spacing-s;
  }

  &__column {
    position: relative;
    padding-left: $spacing-l;
    padding-right: $spacing-xl;
  }

  &__title {
    font-weight: 400;
    margin-bottom: $spacing-s;
    font-family: $font-open-sans;
    font-size: 1rem;
    padding-left: $spacing-m;
  }
}

.tube-recommendation-tutorial-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0s ease;

  &--open {
    height: auto;
    max-height: 1000px;
    transition: max-height 1s ease-out;
  }
}

.tube-recommendation-tutorial-table {
  margin-bottom: $spacing-xs;
  margin-left: $spacing-m;

  &__row {
    padding-left: 0;

    a {
      font-weight: 500;
    }
  }

  &__details {
    color: $pix-neutral-80;
    font-family: $font-roboto;
    font-size: 0.75rem;
    font-weight: normal;
  }

  &__format {
    text-transform: capitalize;
  }
}
