.admin-form--training__logo-url-input {
  @extend %pix-body-s;

  strong {
    font-weight: 500;
  }

  small {
    display: block;
    margin-bottom: var(--pix-spacing-2x);
    color: var(--pix-neutral-500);
    font-size: 0.813rem;
  }
}

.admin-form--training__duration {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  input {
    width: 6.25rem;
  }
}
