.create-training-form {
  color: var(--pix-neutral-800);

  .training-editor-logo-url-input {
    margin-top: 1rem;
    font-size: 0.875rem;

    &__label {
      display: inline;
    }

    &__information {
      display: block;
      margin-top: 4px;
      margin-bottom: 4px;
      color: var(--pix-neutral-500);
      font-size: 0.75rem;
    }
  }

  &__card {
    margin-bottom: $pix-spacing-m;
  }
}

.create-training-form-card {
  &__duration {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

    input {
      width: 6.25rem;
    }
  }
}
