.trigger-card {
  &__title {
    @include subheading;

    font-weight: 500;
    margin-bottom: $spacing-xs;
  }

  &__description {
    @include text-small;
  }

  &__toggler {
    display: inline-flex;
    margin-top: $spacing-s;

    svg {
      margin-right: $spacing-xs;
    }
  }
}
