.training-trigger {
  &__description {
    margin-bottom: $pix-spacing-m;
  }
}

.trigger-card {
  &__title {
    @include subheading;

    font-weight: 500;
    display: flex;
    align-items: baseline;
    margin-bottom: $pix-spacing-xs;
  }

  &__threshold {
    color: $pix-neutral-90;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: $pix-spacing-s;
  }

  &__tubes-count {
    margin-left: auto;
  }

  &__description {
    @include text-small;
  }

  &__toggler {
    display: inline-flex;
    margin-top: $pix-spacing-s;

    svg {
      margin-right: $pix-spacing-xs;
    }
  }
}

.edit-training-trigger {
  counter-reset: title;

  &__actions {
    display: flex;
    gap: $pix-spacing-m;
    margin: $pix-spacing-m 0;
  }

  &__threshold {
    margin-bottom: $pix-spacing-m;
  }

  .card__title {
    counter-increment: title;

    &::before {
      content: counter(title) '.\00a0';
    }
  }
}

.edit-training-trigger-threshold {
  &__description {
    margin-bottom: $pix-spacing-s;
  }

  &__input {
    max-width: 8.75rem;
  }
}
