{{page-title "Nouvelle orga"}}
<header class="page-header">
  <div class="page-title">
    <h1>Nouvelle organisation</h1>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Organizations::CreationForm
      @organization={{@model}}
      @onSubmit={{this.addOrganization}}
      @onCancel={{this.goBackToOrganizationList}}
    />
  </section>
</main>