<header class="page-header">
  <div class="page-title">
    Nouvelle organisation
  </div>
</header>


<main class="page-body">
  <section class="page-section">
    <OrganizationForm @organization={{model}} @onSubmit={{action "addOrganization"}} @onCancel={{action "goBackToOrganizationList"}} />
  </section>
</main>



