MOODLE_DOCKER_DBNAME=moodle
MOODLE_DOCKER_DBUSER=moodle
MOODLE_DOCKER_DBPASS=example
MOODLE_DOCKER_DBTYPE=pgsql
MOODLE_DOCKER_DB_VERSION=17

MOODLE_DOCKER_PHP_VERSION=8.4
MOODLE_DOCKER_RUNNING=1
MOODLE_DOCKER_WWWROOT=./moodle
MOODLE_DOCKER_WEB_PORT=8000

MOODLE_VERSION=v5.3.0

POSTGRES_USER=moodle
POSTGRES_PASSWORD=example
POSTGRES_DB=moodle
