.divisions, .learners {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: auto 50px 35px;
  font-size: 1.125rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    height: 70px;
    color: black;
    font-size: 1.125rem;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 #3D68FF, 8px 8px 32px -8px rgb(61 104 255 / 20%);

    &:hover {
      background-color: var(--pix-primary-10);
    }
  }
}

.pix-button.learners__item {
  &:hover, &:focus, &:active, &:focus-visible {
    background-color: var(--pix-primary-10);
  }
}
