.import-students-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
  }

  &__section {
    @extend %pix-shadow-xs;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    height: 230px;
    margin: 16px;
    padding: 16px;
    background-color: $pix-neutral-0;
    border-radius: 8px;
  }
}

.import-students-page-header {
  &__title {
    margin: 8px;
  }

  &__details {
    margin: 8px;
    color: $pix-neutral-50;
    font-weight: 300;
    font-size: 1rem;
    font-family: $font-roboto;

    &--small {
      font-size: 0.875rem;
    }
  }
}

.import-students-page-section {
  &__title {
    @extend %pix-title-xs;

    margin: 8px;
  }

  &__details {
    margin: 16px;
    color: $pix-neutral-50;
    font-size: 0.875rem;
    font-family: $font-roboto;
    line-height: 22px;
    letter-spacing: 0.15px;
    text-align: center;
  }
}

.import-type-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
