<div class="assessment-cards" >
  <Campaign::Cards::ResultAverage
    @value={{@averageResult}}
    class="assessment-cards__average-result-card"
  />
  <Campaign::Cards::SharedCount
    @value={{@sharedParticipationsCount}}
    @isTypeAssessment={{true}}
  />
</div>
