.footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 $pix-spacing-m;
  border-top: 1px solid var(--pix-neutral-20);

  @include device-is('desktop') {
    flex-direction: row;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include device-is('desktop') {
      flex-direction: row;
    }

    &-list {
      display: flex;
      padding: 0;
      list-style: none;

      li {
        display: inline;
        align-self: center;
        padding: 0;
      }
    }
  }

  &__copyrights {
    padding: 16px 0;
    color: var(--pix-neutral-20)0;
    font-size: 0.75rem;
    font-family: $font-roboto;
    cursor: default;
  }
}

.footer-navigation {
  &__item {
    margin-right: $pix-spacing-xxs;
    color: var(--pix-neutral-500);
    font-weight: 500;
    font-size: 0.8125rem;
    font-family: $font-roboto;
    text-decoration: none;

    @include device-is('desktop') {
      margin-right: $pix-spacing-s;
    }

    &.active {
      color: var(--pix-primary-500);
    }

    &:focus {
      color: var(--pix-neutral-20)0;
    }

    &:hover {
      color: var(--pix-primary-500);
      cursor: pointer;
    }
  }
}
