.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin: 0 $pix-spacing-m;
  border-top: 1px solid $pix-neutral-20;

  @include device-is('desktop') {
    flex-direction: row;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include device-is('desktop') {
      flex-direction: row;
    }

    &-list {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        align-self: center;
        display: inline;
        padding: 0;
      }
    }
  }

  &__copyrights {
    color: $pix-neutral-50;
    cursor: default;
    font-size: 0.75rem;
    font-family: $font-roboto;
    padding: 16px 0;
  }
}

.footer-navigation {
  &__item {
    margin-right: $pix-spacing-xxs;
    color: $pix-neutral-60;
    font-size: 0.8125rem;
    font-weight: 500;
    font-family: $font-roboto;
    text-decoration: none;

    @include device-is('desktop') {
      margin-right: $pix-spacing-s;
    }

    &.active {
      color: $pix-primary;
    }

    &:focus {
      color: $pix-neutral-50;
    }

    &:hover {
      cursor: pointer;
      color: $pix-primary;
    }
  }
}
