.organization-credit-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;

  &__label {
    color: var(--pix-neutral-900);
    font-weight: 500;
  }

  .info-icon {
    margin: 0 8px;
    color: var(--pix-neutral-100);
  }
}
