.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: $app-sidebar-width;
  height: 100vh;
  background-color: $dark-blue-orga;

  &__logo {
    padding: 24px;

    img {
      height: 60px;
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 24px;
    color: var(--pix-neutral-0);
    font-size: 0.875rem;
    font-family: $font-roboto;
    text-decoration: none;
    border-left: 3px solid transparent;

    &:hover {
      background-color: $chambray;
    }

    &.active {
      background-color: $chambray;
      border-left: 3px solid var(--pix-warning-500);
    }
  }

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    margin-right: 8px;

    > img {
      width: 100%; // useful for IE
      height: 1rem;
      margin: 0;
    }
  }

  &__documentation-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

@include device-is('mobile') {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }
}
