.topbar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  margin-bottom: $pix-spacing-m;
  background-color: $pix-neutral-0;

  &__organization-credit-info {
    padding: 0 30px;
  }
}
