.user-logged-button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  color: var(--pix-neutral-500);
  background-color: transparent;
  border-width: 0;
  border-left: 1px solid var(--pix-neutral-20);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: var(--pix-neutral-800);
    text-decoration: none;
  }

  &:focus {
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0px 0px 0px 1.6px var(--pix-primary-500);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: var(--pix-spacing-2x);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.1rem;
    letter-spacing: .03125rem;
    text-align: right;
    text-transform: capitalize;
  }

  &__text > *:last-child {
    font-weight: normal;
  }

  &__chevron {
    align-self: center;
    margin-left: 18px;
    vertical-align: middle;

    &--up {
      color: var(--pix-primary-500);
    }
  }
}

.user-logged-menu {
  top: 60px;
  right: 0;
  z-index: 2;
  width: 400px;
  max-width: 100%;

  &__icon {
    margin-right: 8px;
  }
}

@include device-is('mobile') {
  .user-logged-summary {
    &__text {
      overflow: hidden;
    }
  }
}
