@use '../passage';

$grain-card-border-radius: var(--pix-spacing-4x);

.grain {
  --modulix-lesson-card-background: var(--pix-info-50);
  --modulix-lesson-card-footer-background: rgb(237 245 254);
  --modulix-activity-card-background: var(--pix-neutral-20);
  --modulix-activity-card-footer-background: rgb(247 249 250);

  width: 100%;

  // margin: var(--pix-spacing-12x) 0;

  &--active {
    @extend .auto-scroll;
  }

  &:last-child {
    padding-bottom: var(--pix-spacing-12x);
  }

  &__header {
    margin-bottom: var(--pix-spacing-6x);
    padding: 0 var(--pix-spacing-4x);
    font-weight: var(--pix-font-medium);
  }

  &__card,
  &-card__tag {
    @media (not (prefers-reduced-motion: reduce)) {
      animation: 0.8s fade-in ease-in-out;

      @keyframes fade-in {
        0% {
          opacity: 0;
        }

        33% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  &__card {
    border-radius: $grain-card-border-radius;
  }

  &:focus-visible {
    outline: none;

    .grain__card {
      outline: 2px solid var(--pix-neutral-500);
      outline-offset: -2px;
    }
  }
}

.grain-card {
  &__content {
    padding: var(--pix-spacing-6x);
  }

  &__footer {
    padding: var(--pix-spacing-2x) var(--pix-spacing-6x);
    border-top: 0 solid var(--pix-neutral-100);
    border-radius: 0 0 $grain-card-border-radius $grain-card-border-radius;
  }

  &__tag {
    display: flex;
    justify-content: center;
  }

  &--lesson {
    background: transparent;

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      background: transparent;
    }
  }

  &--discovery {
    background: transparent;

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      background: transparent;
    }
  }

  &--summary {
    background: var(--pix-secondary-100);

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      padding: var(--pix-spacing-6x);
      background: var(--pix-secondary-100);
      border-top: 1px solid var(--pix-neutral-100);
    }
  }

  &--activity {
    background: transparent;

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      background: transparent;
    }
  }

  &--challenge {
    background: rgba(var(--pix-primary-100-inline), 0.3);

    &__tag {
      background-color: inherit;
    }

    .grain-card__footer {
      padding: var(--pix-spacing-6x);
      background: rgba(var(--pix-primary-100-inline), 0.3);
      border-top: 1px solid var(--pix-neutral-100);
    }
  }
}

.grain-card-content {
  &__element:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__stepper:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }
}

// stylelint-disable-next-line no-duplicate-selectors
.grain--active:focus-visible {
  .grain__card {
    outline: 2px solid var(--pix-neutral-500);
    outline-offset: -2px;
  }
}
