<div class="session-finalization-complementary-information-step">
  <div class="session-finalization-complementary-information-step__header-container">
    <div>
      <Input
        class=""
        @type="checkbox"
        @checked={{this.form.hasAnIncident}}
        id="session-finalization-complementary-information-step-incident"
      />
      <label for="session-finalization-complementary-information-step-incident">Malgré un incident survenu</label>

    </div>

  </div>
</div>