.activity {
  display: flex;
  flex-direction: column;

  &__line {
    display: flex;
    flex-direction: row;

    & >:not(:last-child) {
      margin-right: 8px;
    }
    & >:not(:first-child) {
      margin-left: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__participations-by-day {
    box-sizing: border-box;
    flex: 6 2 auto;
  }

  &__participations-by-status {
    box-sizing: border-box;
    flex: 0 1 auto;
  }
}
