.activity__dashboard {
  margin-top: 16px;
  margin-bottom: 32px;
}

.activity__participants-list {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .activity__dashboard {
    margin-bottom: 16px;
  }
}
