.campaign-details-container {
  display: flex;
  flex-direction: column;
}

.campaign-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-20;
  }
}

.campaign-details-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;

  &--single {
    &:first-child {
      width: 55%;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid $grey-20;
  }

  &__label {
    margin: 0 0 4px;
  }

  &__text {
    margin: 0;

    & p {
      margin: 0;
    }
  }

  &__clipboard {
    display: flex;
    flex-direction: row;
  }
}

.campaign-details-buttons {
  display: flex;
  padding: 24px;
  width: 100%;

  > *:first-child {
    margin-right: 32px;
  }
}

@include device-is('mobile') {
  .campaign-details-content {
    width: initial;
  }

  .campaign-details-row {
    flex-direction: column;
    justify-content: flex-start;
  }
}
