.campaign-details-container {
  display: flex;
  flex-direction: column;
}

.campaign-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-20;
  }
}

.campaign-details-content {
  display: flex;
  flex-direction: column;
  padding: 22px 20px 22px 38px;

  &--button {
    padding-right: 38px;
  }

  &--single {
    &:first-child {
      width: 55%;
    }
  }

  &--left {
    margin-right: auto;
  }

  &:not(:first-child) {
    border-left: 1px solid $grey-20;
  }

  &__label {
    margin: 0 0 4px;
  }

  &__text {
    margin: 0;

    & p {
      margin: 0;
    }
  }

  &__clipboard {
    display: flex;
    flex-direction: row;
  }

  &__return-button {
    margin-bottom: 10px;
    margin-right: 6px;
  }

  &__clipboard-button {
    margin-top: -10px;
    margin-left: 6px;
  }

  &__tooltip-text {
    margin-bottom: 6px;
  }
}
