.participant-list {
  &__mastery-percentage {
    margin-left: 26px;
    color: var(--pix-primary-500);
    font-size: 1.25rem;
  }

  &__icon {
    display: inline-block;
    min-width: 15px;
    margin-right: 8px;
  }

  &__header {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    color: var(--pix-neutral-500);
    font-size: 0.875rem;
    font-family: $font-roboto;
  }

  &__badges {
    .pix-tooltip {
      display: inline-block;
    }

    img {
      height: 40px;
    }
  }
}
