
.participant-list__header {
  display: flex;
  align-items: center;
  align-content: center;
  height: 60px;
  padding-left: 30px;
  color: $dove-gray;
  font-family: $roboto;
  font-size: 0.875rem;
}

.participant-list__no-participants {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  color: $dove-gray;
  font-family: $roboto;
  font-size: 1rem;
  text-align: center;
  border-top: 2px solid $wild-sand;
}

