
.participant-list__header {
  display: flex;
  align-items: center;
  align-content: center;
  height: 60px;
  padding-left: 30px;
  color: $dove-gray;
  font-family: $roboto;
  font-size: 0.875rem;
}
