<div class="complementary-certification-selected-target-profile-form-change">
  <span class="complementary-certification-selected-target-profile-form-change__link">Nouveau profil cible à rattacher :
    <LinkTo
      @route="authenticated.target-profiles.target-profile"
      @model={{@attachableTargetProfile.id}}
      class="complementary-certification-details-target-profile__link"
    >
      {{@attachableTargetProfile.name}}
    </LinkTo>
  </span>

  <div>
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onChange}}
    >Changer
    </PixButton>
  </div>
</div>