{{title (t 'navigation.pix') prepend=true}}
<HeadLayout />
<div class="body">
  <CommunicationBanner />
  {{outlet}}

  <!-- Preloading images -->
  <img src="{{rootURL}}/images/loader-white.svg" alt="{{t 'common.loading'}}" style="display: none">
</div>
