<div class="compte-page">
  {{resume-campaign-banner campaignParticipations=model.campaignParticipations}}
  {{navbar-header class="navbar-header--white"}}

  {{profile-panel
    competences=model.competences
    totalPixScore=model.totalPixScore
    searchForOrganization=(route-action 'searchForOrganization')
    shareProfileSnapshot=(route-action 'shareProfileSnapshot')}}
</div>
