{{navbar-header class="navbar-header--white"}}
<div class="competence-details">
  <div class="background-banner"></div>

  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner">
    <div class="competence-details-panel__header">
      {{#link-to "profilv2" class="competence-details-panel-header__return-button"}}
        <span class="icon-button competence-details-panel-header-return-button__icon">
          {{fa-icon 'arrow-left'}}
        </span>
        retour
      {{/link-to}}
    </div>
    {{scorecard-details scorecard=model}}
  </div>
</div>
