{{navbar-header class="navbar-header--white"}}
<div class="competence-details">
  <div class="profilv2__banner"></div>
  <div class="competence-details__panel">
    <div class="rounded-panel rounded-panel--strong">
      <div class="competence-details__panel__inner">
        <div class="competence-details__panel__inner__left">
          <div class="competence-details__panel__inner__left__area">
            Protection et sécurité
          </div>
          <div class="competence-details__panel__inner__left__name">
            Protéger la santé, le bien-être et l'environnement
          </div>
          <div class="competence-details__panel__inner__left__description">
            Appliquer des traitements à des données pour les analyser et les interpréter (avec un tableur, un programme, un logiciel de traitement d’enquête, une requête calcul dans une base de données, etc.).
          </div>
        </div>
        <div class="competence-details__panel__inner__right">
          <div class="competence-details__panel__inner__right__score-container">
            {{#circle-chart value=75 sliceColor="wild-strawberry" chartClass='circle-chart__content--big' thicknessClass='circle--thick'}}
              <div class="competence-card__level">
                <span class="competence-card-level__label">Niveau</span>
                <span class="competence-card-level__value">3</span>
              </div>
            {{/circle-chart}}
            <div class="competence-details__panel__inner__right__score-container__pix-earned">
              <div>26</div>
              <div>pix gagnés</div>
            </div>
          </div>
          <div class="competence-details__panel__inner__right__level-info">
            2 pix avant niveau 4
          </div>
          <div>
            Bouton vert
          </div>
        </div>
      </div>
    </div>
    <div class="competence-details__panel__shadow" aria-hidden="true">.</div>
  </div>
</div>
