<div class="pix-page error-page">

  <div class="pix-section">
    {{navbar-header class="navbar-header--white"}}
  </div>

  <div class="pix-section error-page__body-section">
    <div class="pix-row">
      <div class="pix-panel error-page__main-content">
        <h1>Oups, une erreur est survenue !</h1>
        <p>Nous vous invitons à recharger cette page ou {{#link-to 'index'}}revenir à la page d’accueil{{/link-to}}.</p>
        <p>Vous pouvez aussi nous contacter par courriel à l’adresse <a href="mailto:support@pix.fr">support@pix.fr</a>.</p>
        <p>Nous vous prions de nous excuser pour la gêne occasionnée.</p>
        <p>L'équipe Pix.</p>
        {{#link-to 'index' class="button button--extra-big button--link error-page__index-link"}}Revenir à la page d'accueil{{/link-to}}
      </div>
    </div>
  </div>

</div>
