{{page-title (t "pages.password-reset-demand.title")}}

{{#if this.isNewAuthenticationDesignEnabled}}
  <AuthenticationLayout class="signin-page-layout">
    <:header>
      <PixButtonLink @variant="secondary" @route="authentication.login">
        {{t "common.actions.login"}}
      </PixButtonLink>
    </:header>

    <:content>
      <h1 class="pix-title-m">{{t "pages.password-reset-demand.title"}}</h1>
      <Authentication::PasswordResetDemandForm />
    </:content>
  </AuthenticationLayout>

{{else}}
  <div class="sign-form-page">
    <PasswordResetDemandForm />
  </div>
{{/if}}