{{navbar-header class="navbar-header--white"}}
<div class="profilv2-page">
  <div class="rounded-panel--profilv2 profilv2-content">

    <div class="profilv2__header">
      <div class="profilv2-header__message">
        <div class="profilv2-header-message__content profilv2-header-message__content--regular">
          VOTRE PROFIL
        </div>

        <div class="profilv2-header-message__content profilv2-header-message__content--big">
          Vous avez 16 compétences à tester.<br>On se concentre et c'est partix !
        </div>
      </div>

      <div class="profilv2-header__hexagon-score">
        <div class="profilv2-header-hexagon-score__content">
          <div class="profilv2-header-hexagon-score-content__title">
            PIX
          </div>

          <div class="profilv2-header-hexagon-score-content__pix-score">
            {{model.totalPixScore}}
          </div>

          <div class="profilv2-header-hexagon-score-content__pix-total">
            1024
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
