{{resume-campaign-banner campaignParticipations=model.campaignParticipations}}
{{navbar-header class="navbar-header--white"}}
<div class="profilv2-page">
  <div class="background-banner"></div>

  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner profilv2__panel">

    <div class="rounded-panel-header-with-components">
      <div class="rounded-panel-header__left-wrapper">
        <h1 class="rounded-panel-header-text__content rounded-panel-title">
          votre profil
        </h1>

        <h2 class="rounded-panel-header-text__content rounded-panel-subtitle">
          Vous avez 16 compétences à tester.<br>On se concentre et c'est partix !
        </h2>
      </div>

      <div class="rounded-panel-header__right-wrapper">
        {{hexagon-score pixScore=model.pixScore.value}}
      </div>
    </div>

    <div class="profilv2__link-to-compte">
      {{#link-to "compte" class="link link--grey rounded-panel__link"}}Accès à l'ancien profil{{/link-to}}
    </div>

    <div class="rounded-panel-body">
      {{#each model.areasCode as |areaCode|}}
        <div class="rounded-panel-body__areas">
          {{#each model.scorecards as |scorecard|}}
            {{#if (eq areaCode scorecard.area.code)}}
              <div class="rounded-panel-body__competence-card">
                {{competence-card scorecard=scorecard}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    </div>

  </div>
</div>
