<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @burger={{burger}} />
    <Tutorials::Header />
    <main id="main" class="main">
      <article class="user-tutorials-content-v2">
        <div class="user-tutorials-content-v2__container">
          {{outlet}}
        </div>
      </article>
    </main>
    <Footer />
  </burger.outlet>
</BurgerMenu>