{{title pageTitle}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @burger={{burger}} />

    <div class="user-certifications-page__container">
      {{outlet}}
    </div>

  </burger.outlet>
</BurgerMenu>
