<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @burger={{burger}} />
    <Tutorials::Header />
    <main id="main" class="main">
      <div class="user-tutorials-content-v2">
        {{outlet}}
      </div>
    </main>
    <Footer />
  </burger.outlet>
</BurgerMenu>