{{#burger-menu animation="push" translucentOverlay=true as |burger|}}
  {{#burger.outlet}}
    {{navbar-header class="navbar-header--white" burger=burger}}

    <div class="user-certifications-page__container">
      {{outlet}}
    </div>

  {{/burger.outlet}}
{{/burger-menu}}
