<th class="attach-badges-header">
  <span class="attach-badges-header__content">
    {{yield}}
    {{#unless @isOptionnal}}
      <abbr title="obligatoire" class="mandatory-mark">*</abbr>
    {{/unless}}
    {{#if (has-block "tooltip")}}
      <PixTooltip role="tooltip" @isLight={{true}} @isWide={{true}} @position="bottom-left" class="content_tooltip">
        <:triggerElement><FaIcon @icon="circle-info" /></:triggerElement>
        <:tooltip>{{yield to="tooltip"}}</:tooltip>
      </PixTooltip>
    {{/if}}
  </span>
</th>