$scorecard-width: 212px;

.competence-card-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &__competence-card {
    margin-bottom: 37px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include device-is('tablet') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__competence-card {
      margin-right: calc((100% - #{$scorecard-width} * 3) / 2);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 1056px) {
    &__competence-card,
    &__competence-card:nth-child(3n) {
      margin-right: calc((100% - #{$scorecard-width} * 4) / 3);

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
