.competence-card-list {
  display: grid;

  &__competence-card {
    margin: 12px 0;
  }
}

@include device-is('tablet') {

  .competence-card-list {
    grid-template-columns: repeat(3, 1fr);

    &__competence-card {
      margin: 0;
    }
  }
}

@include device-is('desktop') {

  .competence-card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
