.competence-card-list {
  display: flex;
  flex-direction: column;

  &__competence-card {
    margin: 12px 0;
  }
}

@include device-is('tablet') {

  .competence-card-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
