.confirmation-step-account-information {
  padding: 0;
  list-style: none;
}

.confirmation-step-account-information__field {
  max-width: 400px;
  height: 65px;
  margin-bottom: 8px;
  padding: 12px 20px;
  color: var(--pix-neutral-800);
  font-weight: 500;
  background: var(--pix-neutral-20);
  border-radius: 8px;

  & > div:first-of-type {
    margin-bottom: 6px;
    color: var(--pix-neutral-800);
    font-weight: normal;
    font-size: 0.875rem;
    font-family: $font-roboto;
  }
}
