.update-sco-record-form {

  &__submit {
    width: 100%;
  }

  &__legal-details-container {
    margin-top: 30px;
    font-size: 0.75rem;
  }

  &__cgu-container {
    display: flex;
    padding-top: 15px;

    p {
      margin: 0;
    }
  }
}
