<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.add-organization-features-in-batch.title"}}</h2>
  </header>
  <p>{{t "components.administration.add-organization-features-in-batch.description"}}</p>
  <br />
  <PixButtonUpload
    @id="organizations-batch-update-file-upload"
    @onChange={{this.addOrganizationFeaturesInBatch}}
    @variant="secondary"
    accept=".csv"
  >
    {{t "components.administration.add-organization-features-in-batch.upload-button"}}
  </PixButtonUpload>
</section>