<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.organizations-batch-update.title"}}</h2>
  </header>
  <p>{{t "components.administration.organizations-batch-update.description"}}</p>
  <br />
  <PixButtonUpload
    @id="oidc-providers-file-upload"
    @onChange={{this.updateOrganizationsInBatch}}
    @variant="secondary"
    accept=".csv"
  >
    {{t "components.administration.organizations-batch-update.upload-button"}}
  </PixButtonUpload>
</section>