<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.organization-tags-import.title"}}</h2>
  </header>
  <p class="description">{{t "components.administration.organization-tags-import.description"}}</p>
  <PixButtonUpload
    @id="organization-tags-import-file-upload"
    @onChange={{this.importOrganizationTags}}
    @variant="secondary"
    accept=".csv"
  >
    {{t "components.administration.organization-tags-import.upload-button"}}
  </PixButtonUpload>
</section>