{
  local_certs
}

(pix_proxy) {
  reverse_proxy {$API_HOST:localhost}:{args[0]} {
    lb_try_duration 5s
    lb_try_interval 100ms
    lb_retries 3
  }
}

app.dev.pix.fr, app.dev.pix.org {
  import pix_proxy 4200
}

orga.dev.pix.fr, orga.dev.pix.org {
  import pix_proxy 4201
}

admin.dev.pix.fr {
  import pix_proxy 4202
}

certif.dev.pix.fr, certif.dev.pix.org {
  import pix_proxy 4203
}

1d.dev.pix.fr, 1d.dev.pix.org {
  import pix_proxy 4205
}
