<div class="app">
  <Layout::Sidebar
    @rootUrl={{this.rootUrl}}
    @showLinkToSessions={{this.showLinkToSessions}}
    @documentationLink={{this.documentationLink}}
  />

  <div class="app__main-content main-content">

    <Layout::Topbar />

    <div class="page">
      {{outlet}}
    </div>

    <Layout::Footer />
  </div>

</div>