<div class="app">

  <aside class="app__sidebar sidebar">
    <header class="sidebar__logo">
      <img class="sidebar__logo-image" src="{{this.rootUrl}}/pix-certif-logo.svg" alt="PixCertif">
    </header>

    <div class="sidebar__certification-center">
      <div class="sidebar__certification-center-label">
                Centre de certification
      </div>
      <div class="sidebar__certification-center-name">
                {{this.model.name}}
      </div>
    </div>
    <div class="sidebar__documentation">
      <a class="sidebar-documentation__button" href="{{this.documentationLink}}" target="_blank" rel="noopener noreferrer">
      <div class="sidebar-documentation__bar"></div>
        <FaIcon @icon='book' @class="sidebar-documentation__icon"></FaIcon>
                Documentation
      </a>
    </div>
  </aside>

  <div class="app__main-content main-content">

    <div class="main-content__topbar topbar">
      <div class="topbar__user-identification"><UserIdentification /></div>
      <div class="topbar__disconnect"><LinkTo @route="logout">Se déconnecter</LinkTo></div>
    </div>

    <div class="main-content__body page">
      {{outlet}}
    </div>

  </div>

</div>
