{{page-title (t "pages.login.title")}}
<div class="login-page">
  <LoginForm
    @hasInvitationAlreadyBeenAccepted={{this.hasInvitationAlreadyBeenAccepted}}
    @isInvitationCancelled={{this.isInvitationCancelled}}
  />
</div>