{{page-title "Surveiller la session n° " @model.id}}

<div class="session-supervising-page">
  <SessionSupervising::Header @session={{@model}}/>
  {{#if @model.certificationCandidates}}
    <SessionSupervising::CandidateList @candidates={{@model.certificationCandidates}}/>
  {{else}}
    Aucun candidat inscrit pour cette session.
  {{/if}}
</div>
