{{page-title (t "pages.session-supervising-error.title")}}

<div class="session-supervising-error-page">
  <div class="session-supervising-error-page__panel">
    <img src="/images/supervisor_no-access.svg" alt="" role="presentation" />
    <h1 class="session-supervising-error-page__panel__title">{{t "common.api-error-messages.internal-error"}}</h1>
    <p class="session-supervising-error-page__panel__subtitle">
      {{t "pages.session-supervising-error.description"}}
    </p>

    <PixButtonLink @route="login-session-supervisor" class="session-supervising-error-page__panel__button">
      {{t "pages.session-supervising.login.form.sub-title"}}
    </PixButtonLink>
  </div>
</div>