{{page-title "Conditions générales"}}

<div class="terms-of-service-page">
  <div class="terms-of-service-form">

    <div class="terms-of-service-form__logo">
      <img src="/pix-certif-logo.svg" alt="Pix Certif" />
    </div>

    <h1 class="terms-of-service-form__title">
      CONDITIONS GÉNÉRALES D'UTILISATION DE LA PLATEFORME PIX CERTIF
    </h1>

    <hr class="terms-of-service-form__line" />

    {{#if this.isEnglishLocale}}
      <TermsOfService::PageEn />
    {{else}}
      <TermsOfService::PageFr />
    {{/if}}

    <div class="terms-of-service-form__actions">
      <PixButtonLink @route="logout" @backgroundColor="transparent-light">{{t "common.actions.cancel"}}</PixButtonLink>
      <PixButton class="terms-of-service-form__submit" @triggerAction={{this.submit}}>J’accepte les conditions
        d’utilisation</PixButton>
    </div>
  </div>
</div>