<div class="activity">
  <div class="activity__line">
    <IndicatorCard @title="Total de participants" @icon="users" @color="blue" @info='Retrouvez ici le nombre de participations totales à votre campagne. Ce chiffre comprend l’ensemble des participants ayant saisi le code et commencé la campagne.'>143</IndicatorCard>
    <IndicatorCard @title="Résultats reçus" @icon="share" @color="green" @info='Retrouvez ici les résultats envoyés par vos participants. Ce chiffre comprend l’ensemble des participants ayant terminé et cliqué sur le bouton "J’envoie mes résultats".'>74</IndicatorCard>
  </div>
  <div class="activity__line">
    <Charts::ParticipantsByDay
      @campaignId={{@model.id}}
      @isTypeAssessment={{@model.isTypeAssessment}}
      class="activity__stats__participations-by-day"
    />
    <Charts::ParticipantsByStatus
      @campaignId={{@model.id}}
      @isTypeAssessment={{@model.isTypeAssessment}}
      class="activity__stats__participations-by-status"
    />
  </div>
</div>
