.authentication-method {

  &__connexions-information {
    display: flex;

    dt {
      font-weight: normal;
    }

    dd {
      margin-left: 6px;
    }
  }
}

.authentication-method-table {
  width: inherit;

  &__caption {
    display: none;
  }

  &__name-column {
    min-width: 200px;
  }

  &__actions-column {

    > div {
      display: flex;

      button:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &__check {
    margin: 0 20px;
    color: var(--pix-success-700);
  }

  &__uncheck {
    margin: 0 20px;
    color: var(--pix-neutral-100);
  }
}

.reassign-authentication-method-modal {

  &__form-body {

    p {
      margin-bottom: 40px;
      padding: 0;
    }
  }
}
