/* stylelint-disable selector-class-pattern */
.organization-learners-table {
  margin-top: 20px;
}

.organization-learners-table__status {

  p {
    margin: 0;
  }

  &--isEnabled {
    color: var(--pix-success-700);
  }

  &--isDisabled {
    color: var(--pix-neutral-100);
  }
}
