/* stylelint-disable selector-class-pattern */
.user-detail-personal-information-section {

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
  }

  &__buttons {
    display: flex;

    button {
      margin-right: 12px;
    }
  }

  &__anonymisation-message {
    margin-bottom: 16px;
  }
}

.organization-learners-table {
  margin-top: 20px;
}

.organization-learners-table__status {

  p {
    margin: 0;
  }

  &--isEnabled {
    color: $pix-success-70;
  }

  &--isDisabled {
    color: $pix-neutral-30;
  }
}
