<div class="list-team-page__header">
  <div class="page__title page-title">Mon équipe</div>
  <div class="list-team-page-header__add-member-button">
    {{#link-to 'authenticated.team.new' class="button button--link"}}Ajouter un membre{{/link-to}}
  </div>
</div>
<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
      </tr>
      </thead>

      {{#if memberships}}
        <tbody>
        {{#each memberships as |membership|}}
          <tr>
            <td>{{membership.user.lastName}}</td>
            <td>{{membership.user.firstName}}</td>
          </tr>
        {{/each}}

        </tbody>
      {{/if}}
    </table>

    {{#unless memberships}}
      <div class="table__empty content-text">En attente de membres</div>
    {{/unless}}
  </div>
</div>