<form {{action createOrganizationInvitation organizationInvitation on='submit'}} class="form">

  <div class="form__field">
    <label for="email" class="label">Email</label>
    <Input
      @type="email"
      @id="email"
      @name="email"
      @class="input"
      @value={{organizationInvitation.email}}
      multiple=true
    />
  </div>

  <div class="form__validation">
    <div class="button button--no-color" {{action cancel}}>Annuler</div>
    <button class="button button--regular" type="submit">Inviter</button>
  </div>

</form>
