<footer class="footer">
  <nav class="footer__navigation">
    <ul class="footer__navigation-list">
      <li>
        <a
          href="https://pix.fr/mentions-legales/"
          target="_blank"
          class="footer-navigation__item"
          rel="noopener noreferrer"
        >
          Mentions légales
        </a>
      </li>

      <li>
        <a
          href="https://pix.fr/accessibilite-pix-certif/"
          target="_blank"
          class="footer-navigation__item"
          rel="noopener noreferrer"
        >
          Accessibilité : non conforme
        </a>
      </li>
    </ul>
  </nav>

  <div class="footer__copyright">
    <span>© {{this.currentYear}} Pix</span>
  </div>
</footer>