<div class="assessment-challenge">

  <div class="assessment-challenge__course-banner">
      {{course-banner course=model.assessment.course withHomeLink=true}}
  </div>

  <div class="assessment-challenge__content">
    Page intermédiaire
    <button {{action "resumeAssessment" model}}>Je continue</button>
  </div>
</div>
