<div id="assessment-challenge">

  {{course-banner course=model.assessment.course withHomeLink=true}}

  <div class="container">
    {{#unless model.assessment.course.isAdaptive}}
      {{progress-bar progress}}
    {{/unless}}

    {{component challengeItemType
        challenge=model.challenge
        assessment=model.assessment
        answers=model.answers
        timer=model.timer
        onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
