<div class="assessment-challenge">

  <div class="assessment-challenge__course-banner">
    {{course-banner course=model.assessment.course withHomeLink=true}}
  </div>

  <div class="assessment-challenge__content">
    {{#unless model.assessment.course.isAdaptive}}
      <div class="assessment-challenge__progress-bar">
        {{progress-bar progress=model.progress}}
      </div>
    {{/unless}}

    {{component model.challenge.challengeItemType
        challenge=model.challenge
        assessment=model.assessment
        answers=model.answers
        onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
