<div id="assessment-challenge" class="assessment-challenge-container">

  {{course-banner course=model.assessment.course withHomeLink=true}}

  <div class="container">
    {{#unless model.assessment.course.isAdaptive}}
      {{progress-bar model.progress}}
    {{/unless}}

    {{component model.challenge.challengeItemType
        challenge=model.challenge
        assessment=model.assessment
        answers=model.answers
        onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
