<div id="assessment-challenge">

  {{course-banner course=model.assessment.course withHomeLink=true}}

  <div class="container">
    {{progress-bar progress=progress}}

    {{component challengeItemType 
        challenge=model.challenge 
        assessment=model.assessment 
        onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
