<div class="personal-information-item">
  <p class="form-textfield__label personal-information-item__label">{{t 'pages.user-account.account-panel.lang'}}</p>
  <PixSelect
    class="personal-information-item__select"
    @options={{this.options}}
    @onChange={{this.onChangeLang}}
    @selectedOption={{@model.lang}}
    data-test-lang />
</div>
