.candidate-edit-modal {

  &--content {

    &__required-fields-mention {
      padding-bottom: 10px;
    }

    &__field {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      input {
        box-sizing: border-box;
        width: 248px;
        height: 36px;
        border: 1px var(--pix-neutral-100) solid;
      }

      .pix-select {
        width: 248px;
      }
    }

    &__field-radio-button {

      .radio-button-container {
        display: flex;
        gap: 10px;

        // PixUI defines a margin-top to stack radio buttons vertically.
        // In our case, we want the radio buttons to be stacked horizontally
        // so we reset the margin-top value.
        .pix-radio-button + .pix-radio-button {
          margin-top: 0;
        }
      }
    }
  }
}
