.competence-list-details {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $pix-neutral-20;

    > *:not(:last-of-type) {
      min-width: 6em;
    }


    &:last-of-type {
      border-bottom: none;
    }
  }
}

div.competence-list-edited {
  display: flex;
  gap: 150px;

  .certification-info-field {
    &:last-of-type {
      border-bottom: 1px solid $pix-neutral-20;
    }

    > *:first-child {
      min-width: 6em;
    }
  }
}
