div.competence-list-edited {
  display: flex;
  gap: 150px;

  .certification-info-field {
    &:last-of-type {
      border-bottom: 1px solid var(--pix-neutral-20);
    }

    > *:first-child {
      min-width: 6em;
    }
  }
}

.competence-list__table {
  & tr {
    // Reset default style localized in the file app/styles/globals/tables.scss
    height: var(--pix-spacing-12x);
    border-bottom: 1px solid var(--pix-neutral-20);
  }

  & tr:last-child {
    border-bottom: none;
  }

  & th, td {
    // Reset default style localized in the file app/styles/globals/tables.scss
    padding-left: 0;
  }
}
