.scoring-simulation > .pix-block {
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 8px;
}

.scoring-simulation-data__container {
  display: flex;
  gap: var(--pix-spacing-1x)
}

.scoring-simulation-data-container__label {
  font-weight: bold;
}

.scoring-simulation__form {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  & > *:not(:first-child) {
    margin-left: 30px;
  }
}

.scoring-simulation__error-message {
  margin-top: 10px;
}
