.scoring-simulation__data {
  margin: 20px 0;
}

.scoring-simulation-data__container {
  display: flex;
  gap: var(--pix-spacing-1x);
}

.scoring-simulation__form {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  & > *:not(:first-child) {
    margin-left: 30px;
  }
}

.scoring-simulation__error-message {
  margin-top: 10px;
  width: fit-content;
}

.scoring-simulation__competences {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scoring-simulation-competences__item {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--pix-neutral-20);

  > *:not(:last-of-type) {
    min-width: 6em;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
