<div class="login-form">
  {{#if isErrorMessagePresent}}
    <div id="login-form-error-message" class="login-form__error-message error-message">L'adresse e-mail ou l'identifiant et/ou le mot de passe saisis sont incorrects</div>
  {{/if}}

  <form {{action 'authenticate' on='submit'}}>

    <div id="login-email-container">
      <FormTextfield @label="Adresse e-mail ou identifiant"
                     @textfieldName="login"
                     @validationStatus="default"
                     @inputBindingValue={{login}}
                     @autocomplete="username" />
    </div>

    <div id="login-password-container">
      <FormTextfield @label="Mot de passe"
                     @textfieldName="password"
                     @validationStatus="default"
                     @inputBindingValue={{password}}
                     @autocomplete="current-password" />
    </div>

    <div class="login-button-container">
      {{#if isLoading}}
        <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
      {{else}}
        <button id="submit-connexion" type="submit" class="button button--uppercase">Je me connecte</button>
      {{/if}}
    </div>

  </form>

  <div class="login-form__forgotten-password help-text">
    <a href="https://app.pix.fr/mot-de-passe-oublie" target="_blank" class="link">J'ai oublié mon mot de passe</a>
  </div>
</div>
