<section class="page-section mb_10 badges">

  <section class="badges__section">
    <h2 class="badges-section__title">Clés de lecture</h2>
    <TargetProfiles::BadgeList
      @model={{@model}} />
  </section>

</section>
