<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Clés de lecture</h2>
  </header>

  <TargetProfiles::BadgeList
    @model={{@model}} />
</section>
