{{#each @targetProfile.sortedNewAreas as |area|}}
  <TargetProfiles::TubesDetails::Area
    @title={{area.fullTitle}}
    @color={{area.color}}
    @competences={{area.sortedCompetences}}
  />
{{else}}
  <section class="page-section">
    <div class="table__empty">Profil cible vide.</div>
  </section>
{{/each}}