{{#each @areas as |area|}}
  <Common::TubesDetails::Area @title={{area.title}} @color={{area.color}} @competences={{area.competences}} />
{{else}}
  <section class="page-section">
    <div class="table__empty">Profil cible vide.</div>
  </section>
{{/each}}