<section class="page-section mb_10 badges">

  <section class="badges__section">
    <h2 class="badges-section__title">Résultats thématiques</h2>
    <TargetProfiles::BadgeList
      @model={{@model.badges}} />
  </section>

  <section class="badges__section">
    <h2 class="badges-section__title">Paliers</h2>
    <TargetProfiles::StageList
            @stages={{@model.stages}}
            @targetProfileImageUrl={{@model.targetProfileImageUrl}}/>
  </section>

</section>
