<section class="page-section insights">

  <section class="insights__section">
    <h2 class="insights-section__title">Résultats thématiques</h2>
    <TargetProfiles::Badges @badges={{@targetProfile.badges}} />
    <div class="insights-section__button">
      <PixButtonLink
        @backgroundColor="transparent-light"
        @route="authenticated.target-profiles.target-profile.badges.new"
        @model={{@targetProfile.id}}
        @isBorderVisible={{true}}
      >
        <FaIcon @icon="plus" class="insights-section-button__icon" />
        Nouveau résultat thématique
      </PixButtonLink>
    </div>
  </section>

  <section class="insights__section">
    <h2 class="insights-section__title">Paliers</h2>
    <TargetProfiles::Stages @targetProfile={{@targetProfile}} />
  </section>

</section>