<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">Contenus Formatifs</h2>
  </header>

  <Trainings::ListSummaryItems @summaries={{@trainingSummaries}} />
</section>