@import '../../styles/globals/fonts';

.school-code {
  display: flex;
  flex-direction: column;
  margin-top: 120px;

  p, label {
    width: fit-content;
  }

  &__welcome {
    @extend %pix-title-l;

    font-weight: 800;
  }

  &__instructions {
    font-size: 1.5rem;
  }

  &__label {
    @extend %pix-body-m;

    margin-top: 60px;
  }

  &__input {
    font-family: $font-nunito;
    text-transform: uppercase;
  }

  .pix1d-button {
    width: 215px;
    margin-top: 40px;
    padding: 16px 40px;
    font-size: 1.125rem;
  }
}

.pix-input-code input.pix-input-code__input.school-code__input {
  width: 55px;
  height: 55px;
  padding: 8px;
  font-weight: bold;
  font-size: 1.250rem;
  border-color: var(--pix-primary-500);
}
