@import '../../styles/globals/fonts';

.school-code {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    font-family: $font-nunito;
    text-transform: uppercase;
  }

  .pix1d-button {
    margin-top: 40px;
  }
}

.pix-input-code input.pix-input-code__input.school-code__input {
  width: 70px;
  height: 70px;
  padding: 8px;
  font-weight: bold;
  font-size: 1.625rem;
  border-color: var(--pix-primary-500);
}
