<div class="app">
  <Layout::Sidebar />

  <div class="main-content">
    <header>
      <Layout::Topbar @placesCount={{@model.available}} @refreshAuthenticatedModel={{this.refreshAuthenticatedModel}} />
    </header>

    <main class="main-content__body page">
      <Banner::Information />
      <Banner::LanguageAvailability />
      <Banner::Survey />
      {{outlet}}
    </main>

    <Layout::Footer />
  </div>

  <NotificationContainer @position="bottom-right" />
</div>