<div class="app">
  <Layout::Sidebar />

  <div class="main-content">
    <Layout::Topbar />

    <Banner::Information />

    <div class="main-content__body page">
      {{outlet}}
    </div>
  </div>

  <NotificationContainer @position="bottom-right" />
</div>
