<div class="app">

  <aside class="app__sidebar sidebar">
    <header class="sidebar__logo logo sidebar--padding-left">
      <LinkTo @route="authenticated.campaigns">
        <img class="logo__image" src="{{rootUrl}}/pix-orga.svg" alt="Pix Orga">
      </LinkTo>
    </header>

    <SidebarMenu @tagName="" />
  </aside>

  <div class="app__main-content main-content">

    <div class="main-content__topbar topbar">
      <div class="topbar__user-logged-menu"><UserLoggedMenu /></div>
    </div>

    <div class="main-content__body page">
      {{outlet}}
    </div>

  </div>

</div>