<div class="app">
  <Layout::Sidebar />

  <div class="main-content">
    <header>
      <Layout::Topbar />
    </header>

    <main class="main-content__body page">
      <Banner::Information />
      {{outlet}}
    </main>

    <Layout::Footer />
  </div>

  <NotificationContainer @position="bottom-right" />
</div>