<div class="join-page">
  {{routes/login-or-register organizationInvitationId=invitationId
                             organizationInvitationCode=code
                             organizationName=model.organizationName}}
</div>
