<div class="join-request">
  <div class="panel join-request__panel">
    <div class="panel__image">
      <img src="/pix-orga.svg" alt="Pix Orga">
    </div>
    <h1 class="join-request__title">Activez ou récupérez votre espace</h1>
    <p class="join-request__description">
      A l'attention des personnels de direction. <br/>
      Saisissez ces informations pour recevoir un lien d'activation à l'adresse e-mail
      de votre établissement et devenir administrateur de l'espace Pix Orga.
    </p>
    <Routes::JoinRequestForm />
  </div>
</div>
