<div class="login-page">
  <div class="panel login-page__panel">
    <img src="/pix-orga.svg" alt="logo de Pix Orga">
    <h1 class="form-title">Déjà utilisateur Pix ?</h1>
    <Routes::LoginForm @isWithInvitation={{false}} @hasInvitationError={{hasInvitationError}} />
  </div>
</div>
