<div class="login-page">
  <div class="panel login-page__panel">
    <div class="panel__image">
      <img src="/pix-orga.svg" alt="Pix Orga">
    </div>
    <h3 class="form-title">Connectez-vous</h3>
    <Routes::LoginForm @isWithInvitation={{false}} @hasInvitationError={{this.hasInvitationError}} />
  </div>
</div>
