{{page-title (t "pages.login.title")}}
<main class="login-page">
  <section>
    <Auth::LoginForm
      @isWithInvitation={{false}}
      @hasInvitationAlreadyBeenAccepted={{this.hasInvitationAlreadyBeenAccepted}}
      @isInvitationCancelled={{this.isInvitationCancelled}}
    />
  </section>
</main>