<div class="terms-of-service-page">
  <div class="terms-of-service-form">

    <div class="terms-of-service-form__logo">
      <img src="/logo-pix-orga.svg">
    </div>

    <div class="terms-of-service-form__title">
      CONDITIONS GÉNÉRALES D'UTILISATION DE LA PLATEFORME PIX ORGA
    </div>

    <hr class="terms-of-service-form__line">

    <div class="terms-of-service-form__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate convallis interdum. Quisque feugiat justo ut ante elementum semper eu quis lorem. In quis aliquet massa. Aliquam erat volutpat. Sed interdum at elit ac semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sit amet varius mi. Integer suscipit sapien non libero convallis elementum sed cursus libero. Quisque in sollicitudin nunc. Integer blandit mauris ac arcu lacinia hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu ipsum ac est vulputate porttitor non at felis. Duis elementum nunc nec massa finibus, ac tempor lacus tempor. Fusce pellentesque porttitor ultrices. Curabitur laoreet sagittis quam sit amet facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      Duis interdum hendrerit orci, fermentum mollis nisl tincidunt in. Phasellus vel enim ac massa pretium viverra ac vel purus. Integer at pellentesque mi. Praesent egestas cursus ex, nec varius dui consequat pharetra. Aliquam erat volutpat. Donec ac nisl quam. Donec consequat egestas facilisis. Vivamus eleifend venenatis orci ut porta. Sed nec dictum eros, ut elementum augue. Ut id pretium mauris, quis mollis erat.

      Etiam sodales quam ligula, eu convallis ante venenatis facilisis. Donec eget lectus justo. Fusce egestas sit amet purus ut semper. Donec eget neque ut eros volutpat rutrum a in massa. Ut sit amet molestie dolor, consequat scelerisque purus. Ut auctor nisi non justo porttitor mollis. Fusce est eros, sodales congue mattis non, porttitor ac nisi. Aliquam nec quam sed tellus commodo varius. Nunc sapien felis, egestas sed augue vitae, convallis iaculis urna. Vestibulum pulvinar metus a lorem scelerisque maximus. Maecenas rhoncus, ante et consequat convallis, lectus urna suscipit turpis, eu volutpat arcu neque fermentum ante. Sed placerat quam sed condimentum facilisis.

      Cras bibendum vitae dui at vestibulum. Proin malesuada nisi urna, non tempor nibh volutpat in. Nulla ac venenatis lectus. Sed a magna et lectus rutrum sollicitudin ut sed sem. Cras convallis sodales massa, non vehicula magna. Fusce ac condimentum velit, ac tincidunt leo. Ut vel nulla a erat scelerisque auctor. Praesent vestibulum vehicula vulputate. Quisque nec ultrices leo, id vestibulum lorem. Sed nulla lacus, ultrices vitae molestie fringilla, viverra at nisl. Nulla rutrum lacus lobortis, sodales erat vel, finibus neque. Nullam ac eros lectus.

      Proin id maximus nulla. Donec quis pretium augue, at egestas libero. Vestibulum sed sem vitae ex imperdiet iaculis in et quam. Duis vehicula ultrices diam sit amet tincidunt. Duis tincidunt lobortis interdum. In at ipsum a lorem vehicula porttitor. Proin rhoncus tortor massa, non consequat nisi egestas consequat. Nunc gravida eleifend ante, in pharetra nunc malesuada id. Donec interdum ligula et volutpat iaculis.
    </div>

    <div class="terms-of-service-form__actions">
      {{link-to 'Annuler' 'logout' id="terms-of-service-cancel-button" class="button button--white button--big button--link"}}
      <button type="submit" class="button button--big terms-of-service-form__submit" {{action 'submit'}}>J'accepte les CGU</button>
    </div>

  </div>
</div>
