@use 'pix-design-tokens/breakpoints';

.combined-course-blueprints {
  &__column {
    &--compact {
      width: 1px;
      white-space: nowrap;
    }
  }
}

.combined-course-blueprint {
  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('tablet') {
      grid-template-columns: 1fr 300px;
      gap: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    align-items: flex-start;
    margin-bottom: var(--pix-spacing-8x);
  }

  &__breadcrumb {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__button {
    width: fit-content;
  }
}
