<div class="new-campaign-page">
  {{#if error500Message}}
    <div class="new-campaign-page__error error-zone">
      {{error500Message}}
    </div>
  {{/if}}

  {{routes/authenticated/campaigns/new-item
    campaign=model.campaign
    targetProfiles=model.targetProfiles
    createCampaign=(action 'createCampaign')
    cancel=(action 'cancel')
  }}
</div>
