<div class="new-campaign-page">
  {{#if error500Message}}
    <div class="new-campaign-page__error error-zone">
      {{error500Message}}
    </div>
  {{/if}}

  <h1 class="page__title page-title">Création d'une campagne</h1>

  {{campaign-creation-form campaign=model.campaign targetProfiles=model.targetProfiles doCreateCampaign=(action 'createCampaign')}}
</div>
