<div class="new-campaign-page">

  <h1 class="page__title page-title">Création d'une campagne</h1>

  <Routes::Authenticated::Campaigns::NewItem @campaign={{this.model.campaign}} @targetProfiles={{this.model.targetProfiles}} @createCampaign={{this.createCampaign}} @cancel={{this.cancel}} />
</div>
