<div class="new-campaign-page">

  <h1 class="page__title page-title">Création d'une campagne</h1>

  {{routes/authenticated/campaigns/new-item
    campaign=model.campaign
    targetProfiles=model.targetProfiles
    createCampaign=(action 'createCampaign')
    cancel=(action 'cancel')
  }}
</div>
