<div class="new-campaign-page">

  <h1 class="page__title page-title">Création d'une campagne</h1>

  <Routes::Authenticated::Campaign::New @campaign={{@model.campaign}} @targetProfiles={{@model.targetProfiles}} @createCampaign={{this.createCampaign}} @cancel={{this.cancel}} />
</div>
