<div class="participant">
  <Routes::Authenticated::Campaigns::Participant::ParticipantHeader
          @campaignParticipation={{@model.campaignParticipation}}
          @campaign={{@model.campaign}} />
  {{outlet}}
</div>
