<nav class="navbar">
  <LinkTo @route="authenticated.certifications.single.info" @model={{@model.id}} class="navbar-item">
      Informations
  </LinkTo>
  <LinkTo @route="authenticated.certifications.single.details" @model={{@model.id}} class="navbar-item">
      Détails
  </LinkTo>
</nav>
<section>
  {{outlet}}
</section>
