<section class="page-section">
  <form {{on "submit" this.onCompetenceScoringConfigurationSubmit}}>
    <PixTextarea
      @id="competence-configuration"
      @value={{this.competenceScoringConfiguration}}
      {{on "change" this.onCompetenceScoringConfigurationChange}}
    >
      <:label>Ajout de la configuration de niveau par compétence (JSON) :</:label>
    </PixTextarea>
    <PixButton @type="submit">Envoyer</PixButton>
  </form>
</section>