<header class="page-header">
  <div class="page-title">
    Gestion des certifications
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <ul class="certifications-menu">
      <li>
        <LinkTo @route="authenticated.sessions">Consulter une session</LinkTo>
      </li>
      <li>
        <LinkTo @route="authenticated.certifications.single">Consulter une certification</LinkTo>
      </li>
    </ul>
  </section>
</main>

