<header class="page-header">
  <div class="page-title">
    Gestion des certifications
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <ul class="certifications-menu">
      <li>
        {{#link-to "authenticated.certifications.sessions"}}
          Consulter une session
        {{/link-to}}
      </li>
      <li>
        {{#link-to "authenticated.certifications.single"}}
          Consulter une certification
        {{/link-to}}
      </li>
    </ul>
  </section>
</main>

