<header class="page-header">
  <div class="page-title">
    Certification
  </div>
  <div class="page-actions">
    {{certification-select id=(readonly certificationId) select=(action "onLoadCertification")}}
  </div>
</header>

<main class="page-body">
  {{#if certificationId}}
    {{#bs-nav type="tabs" as |nav|}}
      {{#nav.item}}{{#nav.link-to 'authenticated.certifications.single.info' certificationId}}
        Informations{{/nav.link-to}}{{/nav.item}}
      {{#if isValid}}
        {{#nav.item}}{{#nav.link-to 'authenticated.certifications.single.details' certificationId}}
          Détails{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/bs-nav}}
  {{/if}}
  <section class="page-section {{if certificationId 'with-navs'}}">
    {{#if loading}}
      <div class="single-loading">
        <i class='fa fa-spinner fa-spin fa-lg'></i>
        Chargement...
      </div>
    {{else}}
      {{outlet}}
    {{/if}}
  </section>
</main>
