<div class="certification-instructions-content__images">
  <img class="certification-instructions-content__size" src={{this.information.image}} alt="" />
  <p class="certification-instructions-content-images__image-text">{{this.information.imageText}}</p>
</div>
<div class="certification-instructions__content">
  <p>{{this.information.text}}</p>
  <p>{{this.information.secondText}}</p>
</div>