<h2 {{did-insert @focus}} tabindex="0" class="instructions-step__title">{{@title}}
  <span class="screen-reader-only">{{@vocalStepIdentifier}}</span>
</h2>

<p tabindex="0">
  {{t "pages.certification-instructions.steps.4.paragraph.text" htmlSafe=true}}
</p>