{{#link-to "authenticated.campaigns.details" campaign.id
           class="panel panel--white panel--link campaign-list__item campaign-item"}}
  <div class="campaign-name">
    {{campaign.name}}
  </div>
{{/link-to}}
