<div class="campaign-item list__item">
  <div class="campaign-item__name"> {{campaign.name}} </div>
  <div class="campaign-item__code">
    <div class="campaign-item__tiny-text"> URL </div>
    <div> {{campaign.code}} </div>
  </div>
</div>