{{#link-to "authenticated.campaigns.details" campaign.id
           class="panel panel--link campaign-list__item campaign-item"}}
  <div class="campaign-name">
    {{campaign.name}}
  </div>
  <div class="participations-counts">
    <div class="participations-counts__total">
      <p class="count-title">Participants</p>
      <p class="count-value">{{participationsCount}}</p>
    </div>
    <div class="participations-counts__shared">
      <p class="count-title">Profils reçus</p>
      <p class="count-value">{{sharedParticipationsCount}}</p>
    </div>
  </div>
{{/link-to}}
