<div class="campaign-list__item campaign-item white-panel">
  <div class="campaign-name"> 
    {{#link-to "authenticated.campaigns.details" campaign.id}}
      {{campaign.name}} 
    {{/link-to}}
  </div>
</div>
