<div class="campaign-list__item campaign-item">
  <div class="campaign-name"> {{campaign.name}} </div>
  <div class="campaign-2-lines-column">
    <div class="campaign-column-label"> Lien direct </div>
    <div class="campaign-link"> {{campaign.url}} </div>
  </div>
</div>