{{#link-to "authenticated.campaigns.details" campaign.id
           class="panel panel--link campaign-list__item campaign-item"}}
  <div class="campaign-name">
    {{campaign.name}}
  </div>
  <div class="campaign-participationsCount">
      {{participationsCount}}
  </div>
  <div class="campaign-sharedParticipationsCount">
      {{sharedParticipationsCount}}
  </div>
{{/link-to}}
