{{#link-to "authenticated.campaigns.details" campaign.id class="button--no-color button--link"}}
  <div class="campaign-list__item campaign-item white-panel">
    <div class="campaign-name"> 
      {{campaign.name}} 
    </div>
  </div>
{{/link-to}}
