<div class="campaign-list__item campaign-item white-panel">
  <div class="campaign-name"> {{campaign.name}} </div>
  <div class="campaign-2-lines-column">
    <div class="campaign-column-label"> Lien direct </div>
    <div class="campaign-link"> {{campaign.url}} </div>
  </div>
  <div class="campaign-csv-export">
    <a class="campaign-csv-export-link submit-button" href="{{campaign.urlToResult}}" target="_blank" download>
      Résultats (.csv)
    </a>
  </div>
</div>