<div class="current-organization-panel">
  <div class="current-organization-panel__label">
    MON ORGANISATION
  </div>
  <div class="current-organization-panel__name">
    {{organization.name}}
  </div>
</div>
