<div class="recommendation-indicator">
  <svg height="10" width={{this.bubbleWidth}} aria-label={{this.label}}>
    {{#each this.bubbles as |bubble index|}}
      <circle cx={{sum (multiply 12 index) 5}} cy="5" r="5" class="recommendation-indicator__bubble"/>
    {{/each}}
  </svg>
</div>
