<nav class="sidebar-menu">
  {{#link-to 'authenticated.campaigns' class="sidebar-menu__item sidebar--padding-left sidebar--padding-right"}}
    Campagnes
  {{/link-to}}
  {{#if currentUser.isOwnerInOrganization}}
    {{#link-to 'authenticated.team' class="sidebar-menu__item sidebar--padding-left sidebar--padding-right"}}
      Équipe
    {{/link-to}}
  {{/if}}
  {{#if currentUser.canAccessStudentsPage}}
    {{#link-to 'authenticated.students' class="sidebar-menu__item sidebar--padding-left sidebar--padding-right"}}
      Élèves
    {{/link-to}}
  {{/if}}
</nav>
