<nav class="sidebar-menu">
  <LinkTo @route="authenticated.campaigns" class="sidebar-menu__item sidebar--padding-left sidebar--padding-right">
    Campagnes
  </LinkTo>
  {{#if currentUser.isAdminInOrganization}}
    <LinkTo @route="authenticated.team" class="sidebar-menu__item sidebar--padding-left sidebar--padding-right">
      Équipe
    </LinkTo>
  {{/if}}
  {{#if currentUser.canAccessStudentsPage}}
    <LinkTo @route="authenticated.students" class="sidebar-menu__item sidebar--padding-left sidebar--padding-right">
      Élèves
    </LinkTo>
  {{/if}}
  {{#if currentUser.canAccessStudentsPage}}
    <div class="sidebar-menu__documentation-item">
      <a class="sidebar-menu-documentation-item__button" href="https://bit.ly/ressourcespixorga"
         target="_blank">
        <div class="sidebar-menu-documentation-item__bar"></div>
        <FaIcon @icon='book' @class="sidebar--padding-right"></FaIcon>
        Documentation
      </a>
    </div>
  {{/if}}
</nav>
