<span class="toggle-button feature-hidden">
  <label class="toggle-button__label" for="toggle-button">Voir par :</label>
  <input type="checkbox" id="toggle-button" checked={{@value}} {{on 'click' @onToggle}}/>
</span>
