.app-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $porcelain-grey;

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: 150px;
  }
}

.app-footer__section {
  margin-bottom: 20px;

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.app-footer__section--pix-logo {
  order: 0;
  width: 260px;
  text-align: center;

  @media (min-width: 992px) {
    margin: 0;
  }
}

.app-footer__section--contact {
  order: 1;

  @media (min-width: 992px) {
    margin: 0;
  }
}

.app-footer__section--marianne-logo {
  order: 2;
  margin-bottom: 0;
  width: 260px;
  text-align: center;

  @media (min-width: 992px) {
    margin: 0;
  }
}

.app-footer__logo-marianne-img {
  height: 60px;
}

.app-footer__link-text {
  color: $charcoal-grey;
  margin: 0 5px;
}
