.app-footer {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $porcelain-grey;

  @include device-is('desktop') {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 150px;
    width: 100%;
    max-width: 1400px;
    padding: 0;
  }
}

.app-footer__section {
  margin-bottom: 20px;

  @include device-is('desktop') {
    margin-bottom: 0;
  }
}

.app-footer__section--pix-logo {
  order: 0;
  width: 260px;
  text-align: center;

  @include device-is('desktop') {
    width: 40%;
  }
}

.app-footer__section--contact {
  order: 1;

  @include device-is('desktop') {
    margin: 0;
    align-self: flex-end;
    margin-bottom: 15px;
    white-space: nowrap;
  }
}

.app-footer__section--marianne-logo {
  order: 2;
  text-align: center;
  max-width: 100%;

  @include device-is('desktop') {
    width: 40%;
  }
}

.mariane-logo__item {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;

  &:first-child {
    margin-right: 12px;
  }
}

.app-footer__logo-marianne-img {
  width: 300px;
}

.app-footer__link-text {
  color: $charcoal-grey;
  margin: 0 5px;
}
