.certifications-list-item img {
  width: 8px;
  margin-bottom: 1px;
  margin-right: 10px;

  @include device-is('tablet') {
    width: 12px;
    margin-bottom: 3px;
  }
}

.certifications-list-item__unpublished-item {
  color: $gray;
}

.certifications-list-item__published-item {
  color: $grayish-grey;
}
