.challenge-response {
  font-size: 15px;

  @media (min-width: 992px) {
    font-size: 20px;
  }
}

.challenge-response__proposal-label {
  font-weight: $font-normal;
  width: 100%;
}

.proposal-text {
  font-weight: $font-normal;
  width: 100%;
}
