.challenge-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.challenge-actions__action {
  cursor: pointer;
  text-align: center;
}

.challenge-actions__action-skip {
  color: $skip-action-color;
  margin-right: 15px;
}

.challenge-actions__action-skip:hover {
  color: $skip-action-color;
}

.challenge-actions__action-skip-text {
  width: 55px;
  height: 19px;
  font-family: $font-open-sans;
  font-size: 14px;
  font-weight: $font-semi-bold;
}

.challenge-actions__action-validate {
  width: 130px;
  height: 46px;
  border-radius: 23px;
  background-color: $validate-action-background-color;
  color: $validate-action-color;
}

.challenge-actions__action-validate:hover {
  color: $validate-action-color;
}

.challenge-actions__action-validate-text {
  width: 76px;
  line-height: 46px;
  font-family: $font-lato;
  font-size: 16px;
  font-weight: $font-heavy;
  text-transform: uppercase;
}

.picture-checkbox-proposal--qcm{
  position: absolute;
  left: -11px;
  top: 3px;
}
