.challenge-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.picture-checkbox-proposal--qcm {
  position: absolute;
  left: -11px;
  top: 3px;
}

.challenge-actions__action {
  cursor: pointer;
  text-align: center;
}

.challenge-actions__action-skip {
  margin-right: 15px;
  width: 150px;
  height: 46px;
  @include button-background-transition();
  border-radius: 23px;
  &:hover {
    background-color: $silver-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.challenge-actions__action-skip-text {
  text-align: center;
  line-height: 46px;
  font-family: $font-lato;
  font-size: 16px;
  font-weight: $font-semi-bold;
  color: $slate-grey;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.challenge-actions__action-skip__loader {
  margin-right: 15px;
  width: 150px;
  height: 46px;
  border-radius: 23px;
  background-color: $mercury-grey;
}


.challenge-actions__action-skip__loader-bar {
  background: url('/images/loader-grey.svg');
  background-size: 64px 55px;
  margin: auto;
  height: 50px;
  width: 64px;
  margin-top: -5px;
}

.challenge-actions__action-validate {
  order: 1;
  width: 150px;
  height: 46px;
  border-radius: 23px;
  background-color: $jade;
  color: $white;
  @include button-background-transition();
  text-decoration: none;
  &:hover{
    background: $eucalyptus;
    text-decoration: none;

  }
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

}

.challenge-actions__action-validate-text {
  width: 76px;
  line-height: 46px;
  font-family: $font-lato, sans-serif;
  font-size: 16px;
  font-weight: $font-semi-bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
}
.challenge-actions__action-validate__loader {
  order: 1;
  width: 150px;
  height: 46px;
  border-radius: 23px;
  background: $vista-blue;
}

.challenge-actions__action-validate__loader-bar {
  background: url('/images/loader-white.svg');
  background-size: 64px 55px;
  margin: auto;
  height: 50px;
  width: 64px;
  margin-top: -5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
