.competence-area-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.area__name {
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
  line-height: 50px;
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: $porcelain-grey;

  @include device-is('mobile') {
    padding-left: 30px;
    font-size: 14px;
  }
}

.competence-list {
  background: $white;
  width: 100%;
  padding: 10px 30px 10px;
  margin-bottom: 10px;

  @include device-is('tablet') {
    padding: 22px 100px 30px;
  }
}

.competence {
  font-family: $font-lato;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $charcoal-grey;
  margin-bottom: 3px;
}

.competence__name {
  margin-bottom: 4px;
}

.competence__level {
  border-radius: 12px;
  width: 100%;
  height: 24px;
  background-color: $porcelain-grey;
  margin-bottom: 12px;
}
