
.comparison-window {
  padding: 0 15px;
  max-width: 900px;
  margin: auto;

  @include device-is('desktop') {
    padding: 0;
  }
}

.comparison-window--dialog {
  max-width: 900px;
  margin-top: 40px;

  @include device-is('desktop') {
    margin-top: 60px;
  }
}

.comparison-window--content,
.comparison-window--body {
  border-radius: 5px;
}

.comparison-window--body {
  background-color: $porcelain-grey;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;

  @include device-is('desktop') {
    padding: 20px 40px 10px;
  }
}

.comparison-window__instruction {
  margin: 0 0 15px;
  font-size: 16px;
}

/*Modal Close button*/

.routable-modal--close-button {
  position: absolute;
  top: -25px;
  right: -10px; /*XXX : right alignment, found no other way to achieve it;*/
  margin-right: 0;
  height: 17px;
  font-family: $font-lato;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: $white;
}

/*Modal Header*/
.comparison-window__header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1070px;
  min-height: 70px;
  border-radius: 5px;
}

.comparison-window__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.comparison-window__title-text {
  display: flex;
  margin-left: 9px;
  max-width: 618.5px;
  font-family: $font-lato;
  font-size: 18px;
  font-weight: $font-heavy;
  font-style: italic;
  color: $charcoal-grey;
}

.assessment-results-result-light-line {
  width: 1px;
  height: 50px;
  border: solid 1.5px $alto-grey-light;
  margin-left: 15px;
}

.close-button-container {
  display: flex;
}

.comparison-window__result-item-index {
  width: 11px;
  height: 24px;
  font-family: $font-open-sans;
  font-size: 18px;
  font-weight: $font-bold;
  text-align: center;
  color: $charcoal-grey;
  margin-left: 22px;
}

.comparison-window__result-item-line {
  width: 2px;
  height: 61px;
  border: solid 1.5px $alto-grey-light;
  margin-left: 22px;
}

.comparison-window__feedback-panel {
  background-color: $alto-grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 40px;
}
