.course-list {
  width: 100%;
}

.course-list__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.course-list__li {
  margin: 10px;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}
