.course-banner {
  background-image: $pix-blue-gradient;
  color: white;
  display: flex;
  justify-content: center;
}

.course-banner__container {
  display: flex;
  align-items: center;
  min-height: 100px;
  max-width: 990px;
  width: 100%;
  padding: 0 20px;

  @include device-is('desktop') {
    padding: 0;
  }
}

.course-banner__name {
  font-size: 23px;

  @include device-is('desktop') {
    font-size: 28px;
  }
}

h1.course-banner__name {
  margin-top:10px;
}


.course-banner__home-link {
  font-size: 16px;
  margin-left: auto;
  text-align: right;
  color: white;

  &:hover {
    color: white;
  }
}
