.feedback-panel {
  color: $charcoal-grey;
  font-size: 15px;
}

/* "Link" view
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.feedback-panel__open-link {
  cursor: pointer;
  color: inherit;
  font-weight: $font-heavy;
  font-size: 15px;
  line-height: 20px;
}

.feedback-panel__open-link:hover,
.feedback-panel__open-link:focus,
.feedback-panel__open-link:active {
  color: $charcoal-grey;
}

/* "Form" view
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.feedback-panel__form-title {
  font-size: 15px;
  font-weight: $font-heavy;
  margin: 0 0 20px;
  line-height: 20px;
}

.feedback-panel__form-description {
  margin-bottom: 20px;
}

.feedback-panel__form-description p {
  margin: 0;
}

.feedback-panel__form-wrapper {
  display: flex;
}

.feedback-panel__form {
  width: 100%;
  @include device-is('desktop') {
    width: 50%;
  }
}

.feedback-panel__group {
  margin-bottom: 10px;
}

.feedback-panel__field {
  width: 100%;
  border-radius: 3px;
  background-color: $white;
  border: solid 1px $gainsboro;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
}

.feedback-panel__field--content {
  resize: none;
}

.feedback-panel__button {
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: $alto-grey;
  border: 1px solid $raven-grey;
  margin-right: 10px;
}

.feedback-panel__button--send {
  background-color: $raven-grey;
  color: white;
}

/* "Mercix" view
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.feedback-panel__view--mercix {
  text-align: center;
  font-family: $font-lato;
  font-size: 18px;
  color: $charcoal-grey;
  padding-top: 20px;
  padding-bottom: 10px;
}
