.profile-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1190px;
}

.profile-panel__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  width: 100%;

  @include device-is('tablet') {
    padding: 0 100px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.profile-header__left-bloc {
  margin: 20px auto 0;

  @include device-is('tablet') {
    margin: 55px 0 0;
  }
}

.profile-header__title {
  font-family: $font-raleway;
  font-weight: 800;
  color: $pix-blue;
  text-transform: uppercase;
  text-align: center;
  height: 47px;
  font-size: 30px;

  @include device-is('tablet') {
    font-size: 40px;
    text-align: left;
  }
}

.profile-header__details {
  font-family: $font-lato;
  font-size: 16px;
  height: 19px;
  letter-spacing: 1.8px;
  color: $charcoal-grey;
  text-align: center;
  margin-bottom: 10px;

  @include device-is('tablet') {
    margin-bottom: 52px;
    text-align: left;
  }
}

.profile-panel__competence-areas {
  width: 100%;
}

.profile-header__share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin-bottom: 20px;

  @include device-is('tablet') {
    margin-bottom: 0px;
    max-width: 150px;
  }
}

.profile-header__score-pastille-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 0 auto 12px;

  @include device-is('tablet') {
    padding: 36px 50px auto 45.5px;
  }
}
