.result-item {
  width: auto;
  height: 80px;
  border-radius: 5px;
  border-color: $porcelain-grey;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;

  &:hover {
    box-shadow: none;
    border: solid 2px $dogder-blue;
    transition: border-color 1s ease;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border: solid 2px #446eff;
  }

  &:nth-last-child(1) {
    margin-bottom: 20px;
  }
}

.result-item {
  display: flex;
  align-items: center;
}

.result-item__index {
  width: 11px;
  height: 24px;
  font-family: $font-open-sans;
  font-size: 18px;
  font-weight: $font-bold;
  text-align: center;
  color: $charcoal-grey;
  margin-left: 22px;
}

.result-item__item-line {
  width: 2px;
  height: 61px;
  border: solid 1.5px $alto-grey-light;
  margin-left: 22px;
}

.result-item__instruction {
  font-size: 18px;
  margin-left: 14px;
  height: 30px;
  overflow: hidden;
}

.result-item__correction {
  width: 73px;
  font-family: $font-lato;
  font-size: 12px;
  font-weight: $font-bold;
  color: $pix-blue;
  margin-right: 23px;
  margin-left: auto;
  height: 21px; /* XXX : should be aligned with flexbox */
}

.result-item__correction__button {
  color: $pix-blue;
  font-weight: $font-bold;

  padding-right: 0;
  padding-left: 0;
  margin-left: 12px;

  border: none;
  outline: 0;
  background-color: transparent;
}

.result-item__correction__button:focus,
.result-item__correction__button:hover {
  border-bottom: solid 2px;
  font-weight: $font-heavy;
}

.result-item__icon {
  margin-left: 14px;

  /* Forces bootstrap's default by including bootstrap props into .assessment-results container */
  .tooltip-inner {
    padding-top: 13px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: $mercury-grey;
    color: $charcoal-grey;
    font-family: $font-lato;
    font-size: 14px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px $white;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $mercury-grey;
  }

  .tooltip.in {
    opacity: 1;
    transition: opacity .75s ease;
  }

  .tooltip.top .tooltip-arrow {
    bottom: -4px;
    left: 50%;
    margin-left: -13px;
    border-width: 10px 13px 0;
  }

  /* XXX : See https://github.com/sgmap/pix/issues/211 */
  [data-lines="2"] + div .tooltip-inner {
    padding-top: 3px;
  }
}
