.reset-password-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 609px;
  width: 100%;
  margin: 25px 15px 15px;
  max-height: 588px;
  flex-direction: column;
  border-radius: 10px;
  background-color: $white;

  @include device-is('tablet') {
    margin: 80px 0;
    width: 609px;
  }
  @include device-is('desktop') {
    margin: 10px 5px 10px;
    padding: 50px 80px;
  }
}

.reset-password-form__heading {
  position: relative;
  width: 106px;
  height: 79px;
  margin: 26px auto 10px;
  @include device-is('tablet') {
    margin: 56px auto 53px;
  }
}

.reset-password-form__user-details {
  font-family: $font-raleway;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  color: $charcoal-grey;
  text-transform: capitalize;
  margin-top: 30px;

  @include device-is('desktop') {
    font-size: 36px;
    margin-top: 0;
  }
}

.reset-password-form__instruction {
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: $font-light;
  line-height: 28px;
  text-align: center;
  color: $charcoal-grey;
  margin: 10px 0 40px;

  @include device-is('desktop') {
    font-size: 22px;
    margin: 28px 0 70px;
  }
}

.reset-password-form__notification-message {
  max-width: 449px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  padding: 9px;
  background: $caribbean-green;
}

.reset-password-form__password-textfield-container {
  max-width: 449px;
  width: 100%;
  padding: 0px 20px;
  @include device-is('desktop') {
    width: 449px;
    padding: 0;
  }
}

.reset-password-form__password-textfield-container .form-textfield__label {
  width: 83px;
  color: $charcoal-grey;
  font-family: $font-lato;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.form-textfield__input-field-container {
  height: 40px;
  padding-left: 10px;
  border: 1px solid $gainsboro;
  border-radius: 3px;
  background-color: #FFFFFF;
  width: 100%;
  &:hover {
    border: 1px solid $pix-blue;
    box-shadow: 0 0 5px 0 rgba(61, 104, 255, 0.5);
  }

  @include device-is('desktop') {
    height: 50px;
  }
}

.reset-password-form__button-container {
  margin: 30px 0;
  @include device-is('desktop') {
    margin: 30px 0;
  }
}

.reset-password-form__button-container button {
  height: 40px;
  width: 170px;
  border-radius: 25px;
  background-color: $pix-blue;
  color: $white;
  font-family: $font-lato;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
