.rounded-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  overflow: hidden;
}

.rounded-panel__row {
  padding: 20px;
}

.rounded-panel hr {
  margin-left: -20px;
  margin-right: -20px;
}
