.scoring-panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #446eff, #001f8d), linear-gradient(#3d68ff, #3d68ff);
  color: $white;
  font-family: $font-raleway;

  @include device-is('tablet') {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*---------------Reward DIV--------------------*/

.scoring-panel__reward {
  height: 169px;
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  text-align: center;

  @include device-is('tablet') {
    margin-right: 50px;
    height: 245px;
    width: 217px;
    margin-top: 71px;
    margin-bottom: 71px;
  }

  @include device-is('desktop') {
    margin-right: 80px;
  }
}

/*-----------------Congrats DIV-------------------*/

.scoring-panel__congrats {
  display: flex;
  flex-direction: column;
  max-width: 386px;
  text-align: center;
  padding: 20px;

  @include device-is('tablet') {
    text-align: left;
    padding: 0px;
    margin-top: 71px;
    margin-bottom: 71px;
  }
}

.scoring-panel__congrats-course-name {
  margin-bottom: 15px;
  font-weight: $font-semi-bold;
  line-height: 0.95;
  font-size: 20px;

  @include device-is('tablet') {
    font-size: 20px;
  }
}

.scoring-panel__congrats-line {
  margin-bottom: 10px;
  height: 1px;
  opacity: 0.5;
  background-color: $white;
}

.scoring-panel__congrats-felicitations {
  font-weight: $font-light;
  font-size: 45px;

  @include device-is('tablet') {
    font-size: 60px;
  }
}

.scoring-panel__congrats-pas-mal {
  font-weight: $font-light;
  font-size: 35px;
}

.scoring-panel__congrats-scoring {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.07;

  @include device-is('tablet') {
    font-size: 21px;
  }
}

.scoring-panel__congrats-beta {
  font-weight: $font-medium;
  font-size: 10px;

  @include device-is('tablet') {
    font-size: 14px;
  }
}
/*------------BUTTON RETOUR ACCUEIL DIV-----------------*/

.scoring-panel__index-link {
  border-radius: 23px;
  border: solid 1px #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 10px;
  text-align: center;

  @include device-is('tablet') {
    margin-left: 30px;
    align-self: flex-end;
  }

  @include device-is('desktop') {
    margin-left: 60px;
  }
}

.scoring-panel__index-link__element {
  font-family: $font-lato;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: transparent;
  border: transparent;
  outline: 0;

  @include device-is('tablet') {
    font-size: 13px;
    align-self: flex-end;
  }
}
