.profile-header__score-pastille-wrapper {
  width: 94px;
  height: 94px;
  margin: 0 auto 12px;
  display: block;
  padding: 0;

  @include device-is('tablet') {
    margin: 36px 50px auto 45.5px;
  }
}

.score-pastille {
  background: url('/images/hexa-pix.svg') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
}

.score-pastille__pix-score-wrapper {
  padding-top: 24px;
  padding-bottom: 10px;
}

.score-pastille__pix-score {
  font-family: $font-overpass;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  color: $pix-blue;
  height: 40px;
  text-align: center;
}

.score-pastille__pix-score-unit {
  color: $pix-blue;
  font-family: $font-lato;
  font-size: 14px;
  height: 17px;
  font-weight: $font-extra-bold;
  text-align: center;
  line-height: normal;
  margin: -4px 25.9px 15.5px;
}


