.user-certifications-detail-area {
  background-color: $white;
  margin: 1rem;
  padding: 0.3rem;
  @include device-is('desktop') {
    justify-content: flex-start;
  }
}

.user-certifications-detail-area__box-name{
  width: 100%;
  background-color: $mercury-grey;
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.1rem;
  padding: 1.9rem 0 1.9rem 1.9rem;

  text-transform: uppercase;
  @include device-is('desktop') {
    height: 5.9rem;
  }
}
