.user-certifications-detail-area {
  width: 100%;
  background-color: $white;
  margin: 10px;
  padding: 3px 3px 25px 3px;
  @include device-is('desktop') {
    justify-content: flex-start;
  }
}

.user-certifications-detail-area__box-name{
  width: 100%;
  background-color: $mercury-grey;
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 21px;
  padding: 19px 0px 19px 36px;
  text-transform: uppercase;
  @include device-is('desktop') {
    height: 59px;
  }
}
