.user-certifications-detail-result {
  font-family: $font-lato;
  background-color: $white;

  margin-top: 30px;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direct: column;

  color: $charcoal-grey;
  font-family: $font-lato;
  font-size: 2rem;
  line-height: 3rem;


  @include device-is('desktop') {
    width: 30%;
  }
}

.user-certifications-detail-result__pix-score{
  margin-bottom: 20px;
  width: 250px;
}

.user-certifications-detail-result__badge-pix-score{
  width: 116px;
  height: 116px;
  padding-top: 38px;
  float: left;

  background: url('/images/pix-pastille-certif.svg') no-repeat;
  background-size: cover;

  text-align: center;
  display: table;

  span {
    height: 28px;
    width: 45px;
    color: $tundora-grey;
    font-family: $font-lato;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.86px;
    line-height: 33px;
    text-align: center;

  }
}

.user-certifications-detail-result__pix-certified {
  color: $tundora-grey;
  font-family: $font-lato;
  margin-top: 38px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 28px;
  text-align: right;
}

.user-certifications-detail-result__separation{
  clear: both;
  position: absolute;
  height: 105px;
  margin-top: 5px;
  width : 3px;
  background: black;
}

.user-certifications-detail-result__text-pix-certified {
  margin-left: 20px;
}

.user-certifications-detail-result__title-comment-jury {
  color: #7D808A;
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}
