.app-header {
  background-color: white;
}

.app-header-container {
  height: var(--app-header-height);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .app-header-container {
    justify-content: initial;
  }
}

.app-header-container-marianne {
  display: none;

}

@media (min-width: 992px) {
  .app-header-container-marianne {
    position: relative;
    height: 120px;
    display: block;
    order: 0;
    margin-left: 130px;
  }
}

.app-header-marianne {
  margin-top: 35px;
}

.app-header-container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

@media (min-width: 992px) {
  .app-header-container-logo {
    margin-left: 433px;
    order: 0;
  }
}

.app-header-logo {
  margin-top: 12px;
}

@media (max-width: 992px) {
  .app-header-logo-svg {
    width: 130px;
    height: 80px;
  }
}

.app-header-navbar {
  background-color: #fff;
}

.navbar-header__brand {
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
