.app-menu-wrapper {
  background: white;
  position: absolute;
}

@media (min-width: 992px) {
  .app-menu-wrapper {
    margin-left: 257px;
    position: static;
  }
}

.app-menu {
  display: flex;
  flex-direction: column;
  order: 1;
}

@media (min-width: 992px) {
  .app-menu {
    display: flex;
    flex-direction: row;
    order: 1;
  }
}

.app-menu__item {
  display: none;
}

@media (min-width: 992px) {
  .app-menu__item {
    margin-right: 28px;
    display: block;
  }
}

.app-menu__item a {
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--charcoal-grey);
  font-family: var(--font-lato);
  display: block;
  padding: 10px 0;
  border: 1px solid var(--charcoal-grey);
}

@media (min-width: 992px) {
  .app-menu__item a {
    display: inline;
    border: none;
  }
}
