
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Statement
- Response
- Actions
*/

.challenge-item {
  font-size: 17px;

/* Statement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  & .challenge-instruction {
    font-size: 20px;

    & img {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }

  & .challenge-illustration img {
      max-width: 100%;
  }

  & .challenge-attachment {
    text-align: center;

    & a {
    padding: 0 15px 15px;
    background-color: var(--pix-blue);
    border-color: var(--pix-blue);
    border-bottom: 1px solid var(--pix-blue1);
    text-transform: uppercase;
    text-decoration: none;
    color: white;

      &:hover,
      &:active {
         background-color: var(--pix-yellow);
         border-color: var(--pix-yellow);
         border-bottom: 1px solid var(--pix-yellow1);
       }

      & .glyphicon {
        margin-right: 15px;
        font-size: 30px;
        top: 18px;
      }
    }
  }

/* Response
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  & .challenge-proposals hr {
    border: none;
    background: none;
    margin: 10px;
  }

  & .challenge-proposal label {
    font-weight: 400;
    width: 100%;
  }

}

/* Actions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.challenge-item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.challenge-item-actions__action {
  cursor: pointer;
  text-align: center;
}

.challenge-item-actions__skip-action {
  color: var(--skip-action-color);
  margin-right: 15px;

  &:hover {
    color: var(--skip-action-color);
  }
}

.challenge-item-actions__skip-action-text {
  width: 55px;
  height: 19px;
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 600;
}

.challenge-item-actions__validate-action {
  width: 130px;
  height: 46px;
  border-radius: 23px;
  background-color: var(--validate-action-background-color);
  color: var(--validate-action-color);

  &:hover {
    color: var(--validate-action-color);
  }
}

.challenge-item-actions__validate-action-text {
  width: 76px;
  line-height: 46px;
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
