.course-banner {
  background-color: var(--pix-blue);
  color: white;
  margin-bottom: 30px;
}

.course-banner-wrapper {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.course-banner-name {
  font-size: 28px;
}

.course-banner-home-link {
  font-size: 16px;
  margin-left: auto;
  text-align: right;
  /* stand above BETA ribbon */
  z-index: 999;
  color: white;
}

.course-banner-home-link:hover {
  color: white;
}
