
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Hero
- Challenges
- Email
- Features
- Footer
*/

:root {
  --first-page-hero-height:  580px;
};

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-hero {
  background-image: url('/images/stock-photo2.jpg');
  background-size: cover;
  height: var(--first-page-hero-height);
  width: 100%;
}

.first-page-hero__box {
  height: 100%;
  display: flex;
}

.first-page-hero__box-item {
  margin-top: auto;
  margin-bottom: auto;
  @media (min-width: 992px) {
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 160px;
  }
}


.first-page-hero__main-value-prop {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
    max-width: 845px;
  @media (min-width: 992px) {
    font-size: 65px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 24px;
  }
}

.first-page-hero__sub-value-prop {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
    max-width: 567px;
  @media (min-width: 992px) {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
  }
}



/* Challenges
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-challenges {
  background-color: var(--light-grey1);
}

/* XXX : issue raised, impossible to put a margin-top to title (single direction margin declaration) */
.first-page-challenges__empty {
  margin-bottom: 56px;
}

.first-page-challenges__title {
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
  color: #3d68ff;
  margin-bottom: 52px;
  margin-right: 15px;
  margin-left: 15px;
}

.first-page-challenges__cards {

  &.container {
    max-width: 1180px;
  }

  & .courses {
    list-style-type: none;
    padding: 30px 0;
  }

  & .course-item {

    & .course {
      padding: 0;

      & .course-picture {
        width: 100%;
        height: 170px;
        text-align: center;
        margin: 0 auto;
        display: block;
      }

      & .course-content {
        padding: 15px;
        height: 115px;
        overflow: hidden;
        text-align: center;

        & .course-name {
          color: var(--pix-blue);
        }
      }

      & .course-number-of-challenges {
        text-align: center;
        padding: 15px;
        padding-bottom: 5px;
      }

      & .course-actions {
        text-align: center;
        padding: 15px;
        padding-bottom: 30px;

        & > a {
          background-color: var(--pix-blue);
          border-color: var(--pix-blue);
          border-bottom: 1px solid var(--pix-blue1);
          text-transform: none;

          &:hover,
          &:active {
            background-color: var(--pix-yellow);
            border-color: var(--pix-yellow);
            border-bottom: 1px solid var(--pix-yellow1);
          }
        }
      }

    }

  }
}


/* Email
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-email {
  height: 385px;
  background-color: var(--pix-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 992px) {
    height: 270px;
  }
}

.first-page-email-content {
  
}

.first-page-email__input-container {

}

.first-page-email__title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  @media (min-width: 992px) {
    font-size: 34px;
    margin-left: 0px;
    margin-right: 0px;
  }
}



/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;  
  @media (min-width: 992px) {
    padding-top: 75px;  
    flex-direction: row;
  }
}

.first-page-feature {
  height: 260px;
  width: 200px;
  @media (min-width: 992px) {
    height: 350px;
    margin-left: 35px;
    &:first-child {
      margin-left: 0px;
    };
  };
}

.first-page-feature__icon-container {
  display: flex;
  justify-content: center;
  height: 107px;
}

.first-page-feature__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-top: 20px;
  @media (min-width: 992px) {
    &:first-child {
      margin-left: 0px;
    };
  };
  color: #3e4149;
}

.first-page-feature__text {
  font-size: 15px;
  margin-top: 12px;
  color: #3e4149;
  text-align: center;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.first-page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  &.container {
    max-width: 1180px;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}



.first-page-footer__item-logo {
  display: none;
  order: 2;
  @media (min-width: 992px) {
    display: block;
    order: 0;
  }
}

.first-page-footer__item-marianne {
  order: 0;
  @media (min-width: 992px) {
    order: 2;
  }
}

.first-page-footer__item-contact {
  order: 1;
  @media (min-width: 992px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.first-page-footer__logo-pix-img {
  width: auto;
  height: 80px;
}

.first-page-footer__logo-marianne-img {
  width: 220px;
  height: 60px;
}

.first-page-footer__mailto {
  color: #3e4149;
}

