/* Whole assessments container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forces bootstrap's default by including bootstrap props into .assessment-results container */
.assessment-results .tooltip-inner {
  padding-top: 13px;
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  background-color: $tooltip-background-color;
  color: $tooltip-color;
  font-family: $font-lato;
  font-size: 14px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ffffff;
}

.assessment-results .tooltip.top .tooltip-arrow {
  border-top-color: #e6e6e6;
}

.assessment-results .tooltip.in {
  opacity: 1;
  transition: opacity 1s ease;
}

.assessment-results .tooltip.top .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -13px;
  border-width: 10px 13px 0;
}

/* XXX : See https://github.com/sgmap/pix/issues/211 */
.assessment-results [data-lines="2"] + div .tooltip-inner {
  padding-top: 3px;
}

/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__title {
  min-width: 240px;
  height: 48px;
  font-size: 40px;
  font-weight: 900;
  color: $pix-blue;
  margin-bottom: 26px;
}

/* List of results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__list {
  display: flex;
  flex-direction: column;
  &:nth-last-child(1) {
     margin-bottom: 20px;
  }
}

/* Button 'go back'
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__index-link-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
}

.assessment-results__index-link__element {
  width: 275px;
  height: 46px;
  border-radius: 23px;
  background-color: $pix-blue;
  border: none;
}

.assessment-results__link-back{
  width: 277px;
  height: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-family: $font-open-sans;
  color: #ffffff;
}
