.modal-mobile {

  /* XXX : Forces bootstrap's default by including bootstrap props into .modal-mobile  container */
  & .modal-header{
    border: none;
    text-align: center;
    margin-top: 29px;
  }
  & .modal-title{
    line-height: 0;
  }
  & .modal-body{
    font-family: var(--font-lato);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: var(--charcoal-grey);
  }
  & .modal-footer{
    border: none;
  }
  & .modal.fade.in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    transition: all 1s ease;
  }

}

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-mobile__confirm-button {
  background-color: var(--pix-blue);
  border-color: var(--pix-blue);
  border-bottom: 1px solid var(--pix-blue1);
  text-transform: none;
  height: 46px;
  border-radius: 23px;
  text-transform: uppercase;
  padding-right: 40px;
  padding-left: 40px;
  &:hover,
  &:active {
    background-color: var(--pix-yellow);
    border-color: var(--pix-yellow);
    border-bottom: 1px solid var(--pix-yellow1);
  }

}

.modal-mobile__dismiss-link {
  cursor: pointer;
  font-family: var(--font-lato);
  color: var(--charcoal-grey);
  font-weight: bold;
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 14px;
  text-decoration: underline;

}

