/* XXX : Forces bootstrap's default by including bootstrap props into .modal-mobile  container */
.modal-mobile .modal-header {
  border: none;
  text-align: center;
  margin-top: 29px;
}

.modal-mobile .modal-title {
  line-height: 0;
}

.modal-mobile .modal-body {
  font-family: $font-lato;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: $charcoal-grey;
}

.modal-mobile .modal-footer {
  border: none;
}

.modal-mobile .modal.fade.in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-mobile__confirm-button {
  background-color: $pix-blue;
  border-color: $pix-blue;
  border-bottom: 1px solid $pix-blue1;
  height: 46px;
  border-radius: 23px;
  text-transform: uppercase;
  padding-right: 40px;
  padding-left: 40px;
}

.modal-mobile__confirm-button:hover,
.modal-mobile__confirm-button:active {
  background-color: $pix-yellow;
  border-color: $pix-yellow;
  border-bottom: 1px solid $pix-yellow1;
}

.modal-mobile__dismiss-link {
  cursor: pointer;
  font-family: $font-lato;
  color: $charcoal-grey;
  font-weight: bold;
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 14px;
  text-decoration: underline;

}

