{{page-title (t "pages.user-tests.title")}}

<header role="banner">
  <NavbarHeader />
</header>

<main id="main" role="main">
  <PixBackgroundHeader class="user-tests__header">
    <div class="user-tests-banner">
      <img src="/images/background/user-test-banner.svg" class="user-tests-banner__icon" role="none" alt="" />
      <h1 class="user-tests-banner__title">{{t "pages.user-tests.title"}}</h1>
    </div>
  </PixBackgroundHeader>

  <section class="user-tests-main">
    <CampaignParticipationOverview::Grid @model={{this.model}} />
  </section>
</main>
<Footer />