{{page-title (t "pages.user-tutorials.title")}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <header role="banner">
      <NavbarHeader @burger={{burger}} />
      <Tutorials::Header />
    </header>

    <main id="main" class="main" role="main">
      <div class="user-tutorials-content-v2">
        {{outlet}}
      </div>
    </main>
    <Footer />
  </burger.outlet>
</BurgerMenu>