@use 'pix-design-tokens/typography';

.versions-calibration {
  color: var(--pix-neutral-800);

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    section {
      display: flex;
      gap: 1.5rem;
      align-items: end;
      justify-content: space-between;

      div {
        flex: 1.5;
      }
    }
  }

  &__report {
    margin-top: 1rem;

    &__title {
      @extend %pix-title-xs;
    }
  }

  &__save-button {
    width: fit-content;
  }
}

.calibration-report {
  &__icon--high {
    color: var(--pix-information-dark);
  }

  &__icon--low {
    color: var(--pix-information-light);
  }

  &__additional-content {
    color: var(--pix-neutral-500);
  }
}

.versions-calibration .description-list {
  dt,
  dd {
    display: flex;
    align-items: center;
  }
}

.actions-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
