.versions-edit {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    section {
      display: flex;
      gap: 1.5rem;
      align-items: end;
      justify-content: space-between;

      div {
        flex: 1;
      }
    }
  }
}

.actions-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
