.versions-scoring {
  &__form {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 20px;
    }

    section {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
      align-items: start;
      justify-content: space-between;

      .pix-label {
        font-size: 0.9rem;
      }
    }

    div {
      flex: 1.5
    }
  }

  &__fields-actions {
    display: flex;
    gap: 24px;

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

.actions-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
