.certification-details {
  padding: 20px;

  .card {
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 50%;
    }
  }

  .certificate {
    color: $pix-information-light;
  }

  .jury {
    color: $pix-error-70;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
