.certification-details-v2 {
  padding: 20px;

  .card {
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    div {
      flex: 50%;
    }
  }

  .certificate {
    color: var(--pix-information-light);
  }

  .jury {
    color: var(--pix-error-700);
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
