.certification-details-v3 {
   &__container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: $pix-spacing-s;
   }

  &__title {
    @extend %pix-title-xs;

    padding-bottom: var(--pix-spacing-6x);
    color : var(--pix-neutral-800);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    dd, dt {
      padding: var(--pix-spacing-2x) 0;
      border-bottom: var(--pix-neutral-100) 1px solid;
    }

    dt {
      color: var(--pix-neutral-500);
    }

    dd {
      display: flex;
      align-items: center;
      color: var(--pix-neutral-900);
    }
  }
}

.certification-details-v3-table {
  &__answered-at-column {
    width: 11%;
  }

  &__competence-column {
    width: 27%;
  }

  &__skill-column {
    width: 17%;
  }

  &__answer-status-column {
    width: 13%;
  }

  &__challenge-id-column {
    width: 18%;
  }

  &__challenge-action-cell {
    color: black;

  button:focus-visible {
    padding: 2px 5px;
  }

    & a, a:visited, {
      padding-right: 3px;
      color: inherit;
      text-decoration: none;
    }

    a:focus-visible {
      padding-left: 4px;
    }
  }
}

.certification-details-v3-modal{
  &__live-alert-subcategory {
    font-weight: $font-bold;
  }
}
