.certification-details {
  padding: 20px;

  .card.certification-details__info .card-body > div {
    display: flex;

    & div {
      flex: 1;
    }

    & div:last-child {
      flex: 2;
    }
  }

  &__info {
    margin-bottom: 20px;
  }

  .certificate {
    color: $pix-information-light;
  }

  .jury {
    color: $pix-error-70;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
