.certification-informations {
  padding: 20px;

  .card {
    margin-bottom: 20px;
  }

  &__actions {
    text-align: center;
  }

  &__published--float {
    float: right;
  }

  &__complementary-certification--acquired {
    color: $success;
    font-weight: bold;
  }
  &__complementary-certification--rejected {
    color: $error;
    font-weight: bold;
  }

  &__certification-issue-report-title--with-required-action {
    font-weight: bold;
    color: $information-dark;
  }
}
