<h2 class="badge__criteria-title">Critère d'obtention basé sur l'ensemble du profil cible&nbsp;:</h2>
<div class="card">
  <div class="card__content">
    <p data-testid="campaign-criterion-text">
      L'évalué doit obtenir
      <strong>{{@criterion.threshold}}%</strong>
      sur l'ensemble des sujets du profil cible.
    </p>
  </div>
</div>