<p>
  L‘évalué doit obtenir
  <strong>{{@criterion.threshold}}%</strong>
  sur tous les sujets plafonnés par niveau suivants :
</p>

{{#each this.areasForView as |area|}}
  <TargetProfiles::TubesDetails::Area @title={{area.title}} @color={{area.color}} @competences={{area.competences}} />
{{/each}}