@charset "utf-8";

/* Pix UI */
@import 'pix-design-tokens';
@import 'pod-styles';

// Globals
@import 'globals/buttons';
@import 'globals/breakpoints';
@import 'globals/colors';
@import 'globals/fonts';

// Components
@import 'components/challenge/challenge-actions';
@import 'components/challenge/challenge-embed-simulator';
@import 'components/challenge/challenge-illustration';
@import 'components/challenge/challenge-item';
@import 'components/challenge/challenge-item-proposals';
@import 'components/mission-card/card';
@import 'components/bubble';
@import 'components/footer';
@import 'components/issue';
@import 'components/robot-dialog';

// Pages
@import 'pages/identified/missions/list';
@import 'pages/identified/missions/mission';
@import 'pages/loading';
@import 'pages/organization-code.scss';
@import 'pages/school.scss';

body {
  color: var(--pix-neutral-900);
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: rgba(236 242 251 / 20%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

b {
  font-weight: bold;
}

.app {
  max-width: 1730px;

  @include device-is('tablet') {
    margin: 32px;
  }

  @include device-is('desktop') {
    margin: 32px 50px;
  }

  @include device-is('large-screen') {
    margin: 32px auto;
  }
}
