@charset "utf-8";

/* Pix UI */
@import 'pix-design-tokens';
@import 'pod-styles';

// Globals
@import 'globals/fonts';
@import 'globals/colors';
@import 'globals/buttons';
@import 'globals/breakpoints';


body {
  color: var(--pix-neutral-900);
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: rgb(var(--pix-primary-50) 0.2);
}

b {
  font-weight: bold;
}

.app {
  max-width: 1730px;

  @include device-is('tablet') {
    margin: 32px;
  }

  @include device-is('desktop') {
    margin: 32px 50px;
  }

  @include device-is('large-screen') {
    margin: 32px auto;
  }
}

