.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
  color: var(--pix-neutral-100);

  &__text {
    display: flex;
    margin-top: 16px;
  }
}
