.campaign-filters {
  display: flex;
  flex-direction: column;
  margin: 8px 5px;
  background-color: $pix-neutral-0;
  border-radius: 4px;
  padding: 10px 14px;
  gap: $spacing-s;

  @include device-is('tablet') {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    margin: 0 0 8px 0;
  }

  &__title {
    color: $pix-neutral-60;
    font-size: 0.875em;
  }

  .search-input {
    height: 36px;
    width: 260px;

    @include device-is('mobile') {
      width: 100%;
    }
  }

  &__type {
    display: flex;

    label:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    label:last-of-type {
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;

    @include device-is('desktop') {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__action {
    gap: $spacing-m;
    display: flex;
    border-top: 1.2px solid $pix-neutral-15;

    @include device-is('tablet') {
      border: none;
    }

    @include device-is('mobile') {
      justify-content: space-between;
      border: none;
    }
  }

  &__results {
    display: flex;
    align-items: center;
    color: $pix-neutral-60;
    font-size: 0.875em;
    font-weight: 500;
  }

  &__action-separator {
    border-left: 1px solid $pix-neutral-20;

    @include device-is('mobile') {
      border-left: none;
    }
  }

  &__radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:focus-visible + .campaign-filters__tab {
      box-shadow: $pix-neutral-0 0 0 0 2px, $pix-primary 0 0 0 4px;
      z-index: 1;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    color: $pix-neutral-60;
    background: transparent;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    font-size: 0.8125rem;
    font-weight: 500;
    outline: none;
    font-family: $font-roboto;
    border: 1.2px solid $pix-neutral-45;
    height: 36px;

    &:hover {
      background: $pix-neutral-20;
      opacity: 0.8;
    }

    &--active {
      background: $pix-neutral-20;

      &:hover {
        opacity: 1;
      }
    }

    @include device-is('mobile') {
      flex-grow: 1;
      justify-content: center;
    }
  }
}
