.campaign-list {
  padding: 0;

  &__link {
    color: $grey-80;
    display: block;
    padding: 20px 24px;
    text-decoration: none;
  }

  &__item {
    // position
    margin-bottom: 18px;
  }
}
