.campaign-list {
  padding: 0;

  &__campaign-link {
    display: flex;
    gap: $pix-spacing-xs;
    align-items: center;
  }

  &__item {
    margin-bottom: 18px;
  }

  &__table-header-background {
    background: $pix-neutral-10;
    box-shadow: 0px 0px 0px 4px $pix-neutral-0 inset;
  }
}
