.campaign-list {
  padding: 0;

  &__campaign-link {
    display: flex;
    gap: $pix-spacing-xs;
    align-items: center;
  }

  &__item {
    margin-bottom: 18px;
  }

  &__table-header-background {
    @extend %pix-shadow-xs;

    background: var(--pix-neutral-20);
  }
}
