.no-campaign-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 60px 30px;
  text-align: center;

  &__information-text {
    color: var(--pix-neutral-500);
  }
}
