.no-campaign-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  padding: 60px 30px;

  &__information-text {
    color: $pix-neutral-60;
  }
}
