.target-profile-details {
  &__description {
    margin-bottom: 8px;
  }

  &__specificity {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &__row {
      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;
      margin-bottom: var(--pix-spacing-2x);
      font-size: 0.875rem;
      list-style: none;

      &--break-line {
        flex-basis: 100%;
        margin-bottom: 0;
      }

      &--add-separator {
        &::before {
          height: 0.5rem;
          margin-left: var(--pix-spacing-2x);
          border-left: 1px solid var(--pix-neutral-100);
          content: '';
        }
      }
    }
  }
}
