.target-profile-details {
  &__description {
    margin-bottom: 8px;
  }

  &__specificity {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &__white-space {
      padding-right: 5px;
    }

    &__row {
      margin-bottom: 8px;
      font-size: 0.875rem;
      list-style: none;

      &--break-line {
        flex-basis: 100%;
        margin-bottom: 0;
      }

      &--add-separator {
        &::before {
          height: 0.3125rem;
          margin: auto 10px;
          border-left: 1px solid var(--pix-neutral-100);
          content: '';
        }
      }
    }
  }
}
