#organizations-get-page {

  .organization__information {
    display: flex;

    .organization__logo {
      margin-right: 20px;

      .organization__logo-figure {
        display: inline-block;
        padding: 3px;
        border: 2px solid $grey-body;
        border-radius: 4px;
        margin: 0;

        .organization__logo-img {
          width: 100px;
          height: 100px;
        }
      }
    }

    .organization__data {

      .organization__name {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .organization__type {

      }
    }
  }

  .organization__resources {

    .nav-tabs {

      .nav-link {
        color: #6f7c87;

        &:hover,
        &:focus {
          border-color: #ffffff;
          color: #333333;
        }
      }

      .nav-link.active,
      .nav-item.show .nav-link {
        border-color: #ffffff;
        border-bottom: 3px solid $blue-pix;
        color: $blue-pix;
        cursor: default;
      }
    }

    .organization__resource {
      padding: 1rem;
    }
  }
}
