.organization-form__control {
  margin-top: 24px;
  cursor: pointer;
  box-sizing: border-box;
}
.organization-form__control:first-child {
  margin-top: 0;
}
.organization-form__field,
.organization-form__button {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
}

.organization-form__field {
  padding: 8px 8px;
  border: 1px solid #CCCCCC;
  line-height: 22px;
}
