.action-bar {
  @extend %pix-body-m;
  @include shadow(-4px, 8px);

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - $app-sidebar-width) ;
  height: 68px;
  color: var(--pix-neutral-500);
  font-family: $font-roboto;
  background-color: var(--pix-neutral-0);

  .action-bar__informations {
    display: flex;
    align-items: baseline;
    margin-left: $pix-spacing-xl;
  }

  .action-bar__actions {
    display: flex;
    padding: 0 $pix-spacing-m;

    .pix-button {
      margin: 0 $pix-spacing-xs;
    }
  }
}

footer {
  padding: $pix-spacing-s $pix-spacing-m;
}
