.action-bar {
  @extend %pix-body-m;
  @include shadow(-4px, 8px);

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - $app-sidebar-width) ;
  height: 68px;
  color: var(--pix-neutral-500);
  font-family: $font-roboto;
  background-color: var(--pix-neutral-0);

  .action-bar__informations {
    display: flex;
    align-items: baseline;
    margin-left: var(--pix-spacing-10x);
  }

  .action-bar__actions {
    display: flex;
    padding: 0 var(--pix-spacing-6x);

    .pix-button {
      margin: 0 var(--pix-spacing-2x);
    }
  }
}

footer {
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
}
