.breadcrumb {

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    @extend %pix-body-m;
  }

  li:not(:last-child) {
    color: var(--pix-neutral-20)0;
  }

  li:not(:first-child) {
    margin-left: 0.25rem;
  }

  li:last-child {
    color: var(--pix-neutral-800);
  }

  li:not(:last-child)::after {
    display: inline-block;
    width: 0.4375rem;
    height: 0.4375rem;
    margin: 0 .375rem;
    border: .0625rem solid var(--pix-neutral-500);
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
    content: '';
  }
}


