.chart-card {
  @extend %pix-shadow-xs;

  position: relative;
  padding: 16px 20px;
  background-color: var(--pix-neutral-0);
  border: none;
  border-radius: 10px;

  &__title {
    @extend %pix-title-xs;

    margin-top: 0;
    margin-bottom: 32px;
    color: var(--pix-neutral-500);
  }
}
