.explanation-card {
  padding: $pix-spacing-s;
  color: var(--pix-neutral-500);
  background: var(--pix-neutral-20);
  border-radius: 8px;

  &__title {
    @extend %pix-body-m;

    display: block;
    margin-bottom: $pix-spacing-xs;
    color: var(--pix-neutral-900);
    font-weight: 500;
  }

  &__icon {
    margin-right: $pix-spacing-xs;
    color: var(--pix-primary-500);
  }

  &__message {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }
}
