.explanation-card {
  padding: var(--pix-spacing-4x);
  color: var(--pix-neutral-500);
  background: var(--pix-neutral-20);
  border-radius: 8px;

  &__title {
    @extend %pix-body-m;

    display: block;
    margin-bottom: var(--pix-spacing-2x);
    color: var(--pix-neutral-900);
    font-weight: 500;
  }

  &__icon {
    margin-right: var(--pix-spacing-2x);
    color: var(--pix-primary-500);
  }

  &__message {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }
}
