.information-wrapper {
  display: flex;
  margin-left: $spacing-xxl;
}

.information {
  padding: 0 $spacing-xs;
  border-left: 1px solid $pix-neutral-22;
  font-size: 0.875rem;
  text-align: center;

  &__title {
    margin-bottom: $spacing-xs;
    color: $pix-neutral-50;
  }

  &__content {
    color: $pix-neutral-90;
    margin: 0;

    &--gray {
      color: $pix-neutral-50;
    }
  }


  &:first-of-type {
    padding-left: 0;
    border: none;
  }
}
