.information-wrapper {
  display: flex;
  margin: 0;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 $pix-spacing-xs;
  font-size: 0.875rem;
  text-align: left;
  border-left: 1px solid var(--pix-neutral-100);

  &__title {
    margin-bottom: $pix-spacing-xs;
    color: var(--pix-neutral-20)0;
  }

  &__content {
    margin: 0;
    color: var(--pix-neutral-900);


    &--date {
      color: var(--pix-neutral-20)0;
      font-size: 0.75rem;
    }
  }

  &--certifiable {
    padding-bottom: $pix-spacing-xxs;
    text-align: center;
  }

  &:first-of-type {
    padding-left: 0;
    border: none;
  }
}
