.last-participation-date-tooltip {
  font-weight: $font-normal;

  &__icon {
    color: var(--pix-neutral-100);
  }

  [role='tooltip'] {
    text-align: left;
  }

  &__informations {
    font-weight: $font-medium;
  }
}
