.mastery-percentage-display {
  display: inline-flex;
  gap: 1rem;
  align-items: center;

  &--table-display {
    align-items: flex-end;
  }

  &__stars {
    height: 1.5rem;
    
    &--table-display {
      height: 1.125rem;
    }
  }

  &__percentage {
    @extend %pix-body-s;

    font-weight: 500;
    line-height: inherit;
  }

  &__info-icon {
    color: var(--pix-neutral-100);
  }
}


