.pix-modal {

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
    margin-bottom: $pix-spacing-s;
  
    @include device-is('tablet') {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }
}