<section class="import-students-page__section">
  <h2 class="import-students-page-section__title">{{t "pages.students-sup-import.actions.add.title"}}</h2>
  <p class="import-students-page-section__details">{{t "pages.students-sup-import.actions.add.details"}}</p>
  <PixButtonUpload @id="students-file-upload-add" @size="small" @onChange={{@onAddStudents}} accept=".csv">
    {{t "pages.students-sup-import.actions.add.label"}}
  </PixButtonUpload>
</section>