<section class="import-students-page__section">
  <h2 class="import-students-page-section__title">{{t "pages.students-sup-import.actions.replace.title"}}</h2>
  <p class="import-students-page-section__details">{{t "pages.students-sup-import.actions.replace.details"}}</p>
  <PixButtonUpload @id="students-file-upload-replace" @size="small" @onChange={{@onReplaceStudents}} accept=".csv">
    {{t "pages.students-sup-import.actions.replace.label"}}
  </PixButtonUpload>
</section>