.pix1d-button {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid $pix-primary;

  &--small {
    padding: 8px 24px;
    border-style: none;
    box-shadow: none;
  }

  &--skip {
    color: $pix-primary;
    background-color: var(--pix-color-neutral-0);

    &:hover, &:focus {
      color: var(--pix-color-neutral-0);
    }

    .loader.loader--white > div {
      background-color: $pix-primary;
    }

    &:hover {
      .loader.loader--white > div {
        background-color: white;
      }
    }
  }

  &--success {
    background-color: #36925B;
    border: 1px solid #36925B;
  }
}

.pix-button--background-green.pix1d-button--success {
    &:hover {
      background-color: #4CCE80;
      border: 1px solid #4CCE80;
    }
}
