:root {
  /* See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=16%3A2 */

  /**** SOLID */

  /* Primary */
  --pix-color-primary-5: #EEF0FA;
  --pix-color-primary-10: #EBEFFF;
  --pix-color-primary-20: #CAD1EF;
  --pix-color-primary: #556BCC;
  --pix-color-primary-60: #495AA0;
  --pix-color-primary-70: #33407A;
  --pix-color-primary-80: #26305B;
  --pix-color-primary-90: #1E2547;

  /* Secondary */
  --pix-color-secondary-5: #FFFEFB;
  --pix-color-secondary-10: #FFFDF9;
  --pix-color-secondary-20: #FFFBF2;
  --pix-color-secondary: #FFF0D6;
  --pix-color-secondary-60: #E5D9C1;
  --pix-color-secondary-70: #CBC1AB;
  --pix-color-secondary-80: #989180;
  --pix-color-secondary-90: #59544B;

  /* Success */
  --pix-color-success-10: #77CC99;
  --pix-color-success-20: #104834;

  /* Warning */
  --pix-color-warning-10: #E8A356;
  --pix-color-warning-20: #FFB665;

  /* Error */
  --pix-color-error-10: #CC7777;
  --pix-color-error-20: #F69897;

  /* Neutral */

  --pix-color-neutral-0: #ffffff; /* Background 3 */
  --pix-color-neutral-5: #F8F9FB; /* Background 2 */
  --pix-color-neutral-10: #EAEDF4; /* Background 1 */
  --pix-color-neutral-60: #D4D8DE;
  --pix-color-neutral-70: #989CAA;
  --pix-color-neutral-80: #666B80;
  --pix-color-neutral-90: #172B4D;
}
