:root {
  /* See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=16%3A2 */
  
  /* Primary */
  --pix-primary-10: #EBEFFF;
  --pix-primary-100: #C3D0FF;
  --pix-primary-300: #7D9AFF;
  --pix-primary-400: #6486FF;
  --pix-primary-500: #3D68FF;
  --pix-primary-700: #2B4AB5;
  --pix-primary-900: #1A2C6B;

  /* Secondary */
  --pix-secondary-50: #FFF8EE;
  --pix-secondary-100: #FFEACB;
  --pix-secondary-300: #FFD28E;
  --pix-secondary-500: #FFBB57;
  --pix-secondary-700: #B5853E;
  --pix-secondary-900: #6B4F25;

  /* tertiary */
  --pix-tertiary-50: #F4F0FE;
  --pix-tertiary-100: #DED1FA;
  --pix-tertiary-300: #B79BF5;
  --pix-tertiary-500: #9469F0;
  --pix-tertiary-700: #694BAA;
  --pix-tertiary-900: #3E2C65;


  /* Success */
  --pix-success-50: #EDFAF2;
  --pix-success-100: #C8F0D8;
  --pix-success-300: #87DEAA;
  --pix-success-500: #4CCE80;
  --pix-success-700: #36925B;
  --pix-success-900: #205736;

  /* Error */
  --pix-error-50: #FFECEC;
  --pix-error-100: #FFC5C5;
  --pix-error-300: #FE8181;
  --pix-error-500: #E73D3D;
  --pix-error-700: #B43030;
  --pix-error-900: #6B1C1C;

  /* Neutral */
  --pix-neutral-0: #ffffff;
  --pix-neutral-50: #EFF0F3;
  --pix-neutral-100: #CFD1DB;
  --pix-neutral-300: #969DB1;
  --pix-neutral-500: #636C8A;
  --pix-neutral-700: #464D62;
  --pix-neutral-900: #2A2D3A;

}
