{{page-title "Certification complémentaire " @model.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::TargetProfiles::Header @complementaryCertificationLabel={{@model.label}} />

<main class="page-body">
  <h1>Rattacher un nouveau profil cible à la certification {{@model.label}}</h1>
</main>