<div id="challenge-preview" data-id="{{ model.challenge.id }}" class="challenge-preview">
    <div class="container">

      {{challenge-item challenge=model.challenge mode="course-preview" course=model.course}}

    </div>
</div>
