.breadcrumb > ol {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 1rem;

  h1 {
    display: inline;
    font-weight: 500;
    font-size: 1rem;
  }

  > svg {
    margin: 0 0.4rem;
    width: 0.45rem;
  }
}
