.authentication-password-reset-demand-form {
    input {
        padding: var(--pix-spacing-3x);
    }

    &__rule {
        @extend %pix-body-xs;

        color: var(--pix-neutral-500);
    }

    &__error {
        margin-top: var(--pix-spacing-4x);
    }

    &__input-block {
        margin-top: var(--pix-spacing-4x);

        .pix-input {
            width: 100%;
        }
    }

    &__button {
        width: 100%;
        margin-top: var(--pix-spacing-4x);
    }

    &__help {
        @extend %pix-body-s;

        margin-top: var(--pix-spacing-4x);
        color: var(--pix-neutral-70);
        text-align: center;
    }

    &__help-contact-us-link {
        display: inline;
        padding: 0;
    }
}