.authentication-password-reset-demand-form {
    &__error {
        margin-top: var(--pix-spacing-4x);
    }

    &__input-block {
        margin-top: var(--pix-spacing-4x);

        .pix-input {
            width: 100%;
        }
    }

    &__button {
        width: 100%;
        margin-top: var(--pix-spacing-4x);
    }

    &__help {
        margin-top: var(--pix-spacing-4x);
    }

    &__help-contact-us-link {
        display: inline;
        padding: 0;
    }
}