<div class="user-certifications-page-get__top-bar">
  <LinkTo @route="user-certifications" class="user-certifications-page-get_link-to">
    ‹‹ Retour à la liste
  </LinkTo>
</div>

<UserCertificationsDetailHeader @certification={{@model}} />

<div class="user-certifications-page__detail-content">

  <UserCertificationsDetailResult @certification={{@model}} />

  <UserCertificationsDetailProfile @resultCompetenceTree={{@model.resultCompetenceTree}} />

</div>
