<PixBackgroundHeader class="user-certifications-page-get">

  <PixBlock class="user-certifications-page-get__header">
    <PixReturnTo @route="user-certifications" @shade="white" class="user-certifications-page-get__return-to">
      {{t "pages.certificate.back-link"}}
    </PixReturnTo>
    <UserCertificationsDetailHeader @certification={{@model}} />
  </PixBlock>

  <div class="user-certifications-page-get__details-body">
    {{#if (or @model.commentForCandidate @model.hasCleaCertif)}}
      <UserCertificationsDetailResult @certification={{@model}} />
    {{/if}}
    <UserCertificationsDetailCompetencesList @resultCompetenceTree={{@model.resultCompetenceTree}} />
  </div>

</PixBackgroundHeader>
