<div class="user-certifications-page-get certification-background-banner-wrapper">

  <div class="certification-background-banner"></div>

  <div class="rounded-panel user-certifications-page-get--over-background-banner">
    <LinkTo @route="user-certifications" class="link__return-to">
      <span class="icon-button"> {{fa-icon 'arrow-left'}} </span>
      Retour à la liste des certifications
    </LinkTo>
    <UserCertificationsDetailHeader @certification={{@model}} />
  </div>

  <div class="user-certifications-page__detail-content">
    <UserCertificationsDetailResult @certification={{@model}} />
    <UserCertificationsDetailProfile @resultCompetenceTree={{@model.resultCompetenceTree}} />
  </div>
</div>
