<div class="user-certifications-page-get certification-background-banner-wrapper">

  <div class="certification-background-banner"></div>

  <div class="rounded-panel user-certifications-page-get--over-background-banner">
    <LinkTo @route="user-certifications" class="link__return-to">
      <span aria-hidden="true" class="icon-button"> {{fa-icon 'arrow-left'}} </span>
      Retour à mes certifications
    </LinkTo>
    <UserCertificationsDetailHeader @certification={{@model}} />
  </div>

  <div class="user-certifications-page-get__details-body">
    <UserCertificationsDetailCompetencesList @resultCompetenceTree={{@model.resultCompetenceTree}} />
    {{#if (or @model.commentForCandidate @model.hasCleaCertif)}}
      <UserCertificationsDetailResult @certification={{@model}} />
    {{/if}}
  </div>
</div>
