<div class="user-certifications-page__container">
    <h1 class="user-certifications-page__title">{{t "certifications-list.title"}}</h1>

    <UserCertificationsPanel @certifications={{@model}} />
</div>
