<main id="main" class="page-container user-certifications-page__container">
    <h1 class="user-certifications-page__title">{{t "pages.certifications-list.title"}}</h1>

    <UserCertificationsPanel @certifications={{@model}} />
</main>
