<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">Créer un nouveau tag</h2>
  </header>
  <form {{on "submit" this.createNewTag}} class="tools__create-tag-form">
    <PixInput @id="tagNameInput" {{on "change" this.onChangeTagName}} @label="Nom du tag" />
    <PixButton @type="submit" @size="small">Créer le tag</PixButton>
  </form>
</section>