.pix-modal.answer {
  background-color: var(--pix-color-primary-10);
}

.pix-modal.answer .pix-modal__content {
  font-size: 1.125rem;
}

.answer {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 1rem;
  }

  &__span{
    margin-bottom: 1rem;
  }
}
