@use '../../globals/breakpoints';

.challenge-content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 16px 140px 0;
  column-gap: var(--pix-spacing-6x);
  transition: all 0.4s;
  row-gap: var(--pix-spacing-4x);

  @include breakpoints.device-is('tablet') {
    margin: 16px 120px 0;
  }

  &__grid-multiple-element {
    grid-template-areas:
      'left right'
      'left actions';
    grid-template-rows: min-content min-content;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);

    &--40-60 {
      grid-template-columns: minmax(200px, 2fr) minmax(300px, 3fr);
    }

    &--60-40 {
      grid-template-columns: minmax(300px, 3fr) minmax(200px, 2fr);
    }

    div:nth-child(1) {
      grid-area: left;
    }

    div:nth-child(2) {
      grid-area: right;
    }

    div:nth-child(3) {
      grid-area: actions;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__autoreply {
    display: none;
  }
}
