.challenge-item {
  display: flex;
  align-content: center;
  margin: 0 140px;

  @include device-is('tablet') {
    margin: 0 120px;
  }

  &--single-display {
    flex-direction: column;
  }

  &__media {
    width: 60%;
    height: fit-content;
    margin-right: var(--pix-spacing-6x);
    padding: var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
    border-radius: 24px;
    box-shadow: 0 0 1px 0 var(--pix-primary-500), 8px 8px 32px -8px rgb(63 125 216 / 35%);

    &--single-display {
      width: unset;
      margin-right: unset;
    }
  }

  &__proposals {
    width: 40%;

    &--single-display {
      width: unset;
    }
  }

  &__qrocm {
    align-items: center;
  }

  &__qcm, &__qcu {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__autoreply {
    width: 0;
  }

  &__embed {
    display: block;
    width: 100%;
  }
}

