<Module::BetaBanner />
<nav>
  <ul>
    <li>
      <Skiplink @href="#main" @label={{t "common.skip-links.skip-to-content"}} />
    </li>
    <li>
      <Skiplink @href="#footer" @label={{t "common.skip-links.skip-to-footer"}} />
    </li>
  </ul>
</nav>

<div class="modulix">
  <Module::Details @module={{@model}} />
</div>
<Footer />