{{page-title (t "pages.school.division-list.page-title")}}
<RobotDialog>
  <Bubble @message={{t "pages.school.division-list.welcome" schoolName=@model.name}} />
</RobotDialog>
<div class="list list__divisions">
  {{#each @model.divisions as |division|}}
    <LinkTo @route="school.students" @query={{hash division=division}} class="divisions__item">
      <p class="item__title">{{division}}</p>
    </LinkTo>
  {{/each}}
</div>