<header class="page-header">
  <h1 class="page-title">Tous les profils cibles</h1>
  <div class="page-actions">
    <LinkTo @route="authenticated.smart-random-simulator" class="page-actions__link">Accéder au simulateur Smart Random</LinkTo>
    <PixButtonLink @route="authenticated.target-profiles.new" @variant="secondary" @iconBefore="plus">
      Nouveau profil cible
    </PixButtonLink>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::ListSummaryItems
      @summaries={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>