{{page-title "Nouveau profil cible"}}
<header class="page-header">
  <div class="page-title">
    Nouveau profil cible
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::CreateTargetProfileFormTubeBased
      @frameworks={{@model.frameworks}}
      @targetProfile={{@model.targetProfile}}
      @onCancel={{this.goBackToTargetProfileList}}
    />
  </section>
</main>