{{page-title "Générateur de profil cible"}}
<header class="page-header">
  <div class="page-title">
    Générateur de profil cible
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::TubesSelection::GenerateTargetProfileFormTubeBased @frameworks={{@model.frameworks}} />
  </section>
</main>