{{page-title "Sélection des sujets"}}
<header class="page-header">
  <h1 class="page-title">
    Sélection des sujets
  </h1>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::TubesSelection::Form @frameworks={{@model.frameworks}} />
  </section>
</main>