@use 'pix-design-tokens/typography';

.element-qcu {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-medium);

    &--short {
      font-weight: var(--pix-font-normal);
    }
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals {
    margin: var(--pix-spacing-4x) 0;
    &--short {
      display: flex;
      width: 100%;
      gap: var(--pix-spacing-4x);
      flex-wrap: wrap;

      .button--short {
        flex-grow: 1;
      }
    }
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__feedback {
    margin-bottom: var(--pix-spacing-4x);
  }
}

$pix-qcu-max-width: 500px;
.element-qcu--short {
  max-width: $pix-qcu-max-width;
  margin: auto;
}
