.element-qcu {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-medium);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals {
    margin: var(--pix-spacing-4x) 0;
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__feedback {
    margin-bottom: var(--pix-spacing-4x);
  }
}
