@use 'pix-design-tokens/typography';

.element-text {
  table {
    width: 100%;
    background: var(--pix-neutral-0);
    border-collapse: collapse;
  }

  th, td {
    padding: 1rem;
    vertical-align: top;
    border-bottom: 1px solid var(--pix-neutral-100);

    &.width-auto { width: auto; }
    &.width-15 { width: 15%; }
    &.width-20 { width: 20%; }
    &.width-30 { width: 30%; }
    &.width-full { width: 100%; }
  }

  th {
    font-weight: var(--pix-font-bold);
    background: var(--pix-primary-10);
  }

  th[scope="row"] {
    text-align: left;
  }

  td {
    width: 26.66%;
  }

  tr:last-child th, tr:last-child td {
    border-bottom: none;
  }

  @media (max-width: 600px) {
    th, td {
      padding: 0.75rem;
    }
  }

  .module-glossary-word {
    font-weight: bold;
    display: inline;
    padding: var(--pix-spacing-1x);
    background-color: rgb(var(--pix-tertiary-100-inline), 0.5);
    border-radius: var(--pix-spacing-1x);
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 2px solid var(--pix-tertiary-500);
      outline-offset: 1px;
    }
  }

  fieldset {
    padding: var(--pix-spacing-2x);
    border: 2px dashed var(--pix-primary-700);
    border-radius: var(--pix-spacing-2x);
  }

  legend {
    @extend %pix-body-s;

    display: inline-flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: 0 var(--pix-spacing-2x);
    color: var(--pix-primary-700);
  }


  &--with-tag {
    margin-bottom: var(--pix-spacing-2x);
  }
}
