.leave-organization-modal {
  color: var(--pix-neutral-900);
  font-size: 1rem;
  line-height: $pix-spacing-m;

  &__action-buttons {

    &--list {
      display: flex;
      gap: $pix-spacing-s;
      justify-content: flex-end;
    }

    &--container {
      margin-bottom: $pix-spacing-s;
    }
  }
}
