.remove-member-modal {
  color: var(--pix-neutral-900);
  font-size: 1rem;
  line-height: var(--pix-spacing-6x);

  &__action-buttons {

    &--list {
      display: flex;
      gap: var(--pix-spacing-4x);
      justify-content: flex-end;
    }

    &--container {
      margin-bottom: var(--pix-spacing-4x);
    }
  }
}
