.email-verification-code {
  color: $grey-70;

  &__description {
    font-size: 0.875rem;
  }

  &__email {
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__input-code {
    margin: 24px 0;
  }

  &__resend {
    display: flex;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    p:last-child {
      margin-left: 4px;
    }

    &.visible {
      opacity: 1;
    }
  }
}
