.update-email-with-validation {
  display: flex;
  flex-direction: column;

  @include device-is('desktop') {
    padding: 10px 0;
  }

  &__password-input,
  &__email-input {
    max-width: 260px;
  }

  &__email-input {
    padding-bottom: 32px;

    .pix-input > svg {
      width: 18px;
      height: 18px;
    }
  }

  &__password-input .pix-input-password > svg {
    width: 18px;
    height: 18px;
  }

  &__informations {
    font-size: 0.875rem;
    border-top: 1px solid $grey-20;
    padding: 32px 0 16px;
    color: $grey-70;
    font-family: $font-roboto;
    line-height: 1.5rem;

    @include device-is('tablet') {
      margin-right: 8px;
      letter-spacing: 0.13px;
      line-height: 1.2rem;
    }

    p {
      margin: 0;
    }
  }

  &__confirm-button {
    display: flex;
    padding-top: 10px;

    @include device-is('tablet') {
      padding-top: 20px;
    }
  }
}
