.create-autonomous-course {
  color: var(--pix-neutral-800);
  counter-reset: title;

  &__mandatory-text {
    margin-bottom: $pix-spacing-m;
  }

  &__card {
    margin-bottom: $pix-spacing-m;
  }

  .card__title {
    counter-increment: title;

    &::before {
      content: counter(title) '.\00a0';
    }
  }
}
