.autonomous-course-card {
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 2rem;

  &__title {
    @extend %pix-title-s;
  }

  &__details {
    margin-top: 1.5rem;
  }

  &__details-label {
    float: left;
  }

  &__details-value {
    margin-bottom: 0.5rem;

    &::after {
      display: table;
      clear: left;
      content: '';
    }
  }
}

.autonomous-course-card-details-value {
  &__link {
    font-weight: $font-medium;
  }

  &__tooltip {
    display: inline-block;
  }
}
