<div class="background-banner assessment-banner{{if checkpoint '__checkpoint'}}">
  <div class="assessment-banner-container">
    <div class="assessment-banner__pix-logo">
      <img src="/images/pix-logo-blanc.svg" alt="Pix">
    </div>
    {{#if title}}
      <div class="assessment-banner__splitter"></div>
      <div class="assessment-banner__title"><h1>{{title}}</h1></div>
    {{/if}}
    <div class="assessment-banner__home-link">
      {{#link-to 'index' class="assessment-banner__home-link"}}‹ Quitter{{/link-to}}
    </div>
  </div>
</div>
