<div class="badge-acquired-card">
  <div class="badge-acquired-card__text">
    <p class="badge-acquired-card-text__title">{{@title}}</p>
    <p class="badge-acquired-card-text__message">{{@message}}</p>
  </div>
  <div class="badge-acquired-card__image"><img src="{{@imageUrl}}" alt="{{@altMessage}}" /></div>
</div>
