<div class="badge-card">
  <div class="badge-card__text">
    <p class="badge-card-text__title">{{@title}}</p>
    <p class="badge-card-text__message"><MarkdownToHtml @markdown={{@message}} /></p>
  </div>
  <div class="badge-card__image"><img src="{{@imageUrl}}" alt="{{@altMessage}}" /></div>
</div>
