<div class="banner-brand__pix-logo">
  <img src="/images/pix-logo-blanc.svg" alt="Pix">
</div>
{{#if title}}
  <div class="banner-brand__splitter"></div>
  <div class="banner-brand__title"><h1>{{title}}</h1></div>
{{/if}}
