<div class="certifications-list__table">
  <div class="certifications-list__table-header">
    <div class="certifications-list__table-header-cell">date</div>
    <div class="certifications-list__table-header-cell-double-width">statut</div>
    <div class="certifications-list__table-header-cell">score pix</div>
    <div class="certifications-list__table-header-cell-certification-center">centre de certification</div>
    <div class="certifications-list__table-header-cell"></div>
  </div>

  <div class="certifications-list__table-body" role="tablist">
  {{#each certifications as |certification|}}
    <CertificationsListItem @certification={{certification}} />
  {{/each}}
  </div>
</div>

