<div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner certification-not-certifiable__panel">
  <h3 class="certification-not-certifiable__title">
      Votre profil n'est pas encore certifiable.
  </h3>
  <p class="certification-not-certifiable__text">
      Pour faire certifier votre profil, vous devez avoir obtenu un niveau supérieur à 0 dans 5 compétences minimum.
  </p>

  <LinkTo @route="authenticated" class="button button--link button--big button--thin certification-not-certifiable__button">Retour à l'accueil</LinkTo>
</div>
