<div class="certifications-list__table">
  <div class="certifications-list__table-header">
    <div class="certifications-list__table-header-cell">DATE</div>
    <div class="certifications-list__table-header-cell-double-width">STATUT</div>
    <div class="certifications-list__table-header-cell">SCORE PIX</div>
    <div class="certifications-list__table-header-cell-certification-center">CENTRE DE CERTIFICATION</div>
    <div class="certifications-list__table-header-cell"></div>
  </div>

  <div class="certifications-list__table-body" role="tablist">
  {{#each this.certifications as |certification|}}
    <CertificationsListItem @certification={{certification}} />
  {{/each}}
  </div>
</div>

