<div class="background-banner certification-banner">
  <div class="certification-banner__container">
    <div class="certification-banner__user-fullname">
      {{currentUser.user.fullName}}
    </div>

    <div class="certification-banner__certification-number">
      #{{certificationNumber}}
    </div>
  </div>
</div>
