<div class="certification-progress">
  <div class="certification-progress__label">Question</div>
  <div class="certification-progress__value">
    {{currentAnswerNumber}} / {{assessment.course.nbChallenges}}
  </div>
</div>
