{{#if this.displayPlaceholder}}
  <div class="challenge-illustration__placeholder" aria-label="Chargement de l'image en cours">
    <Fa-Icon @icon='image'></Fa-Icon>
  </div>
{{/if}}

<img src="{{this.src}}"
     alt="{{this.alt}}"
     class="challenge-illustration__loaded-image {{this.hiddenClass}}"
     onload={{action 'onImageLoaded'}}>
