{{#if _isSimulatorNotYetLaunched}}
  <div class="challenge-embed-simulator__aknowledgment-overlay">
    <button class="challenge-embed-simulator__launch-simulator-button" {{action "launchSimulator"}}>Je lance l’application</button>
  </div>
{{/if}}

<div class="challenge-embed-simulator__simulator blurred">
  <iframe class="challenge-embed-simulator__iframe"
          src="{{embedDocument.url}}"
          title="{{embedDocument.title}}">
  </iframe>
  <button class="challenge-embed-simulator__reload-button" {{action "reloadSimulator"}}>Recharger l’application</button>
</div>
