<svg viewBox="0 0 36 36" class="circle-chart__container">
  <path class="circle-chart"
        d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
  ></path>
  <path class="circle-chart circle-chart--slice"
        stroke-dasharray="{{value}}, 100"
        d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
  ></path>
</svg>
<div class="circle-chart__text">
  <span class="circle-chart-text__value">{{displayValue}}</span>
</div>