<div class="congratulations-banner" >
  <button aria-label="Fermer" class="icon-button congratulations-banner__icon" {{on 'click' @closeBanner}}>
    {{fa-icon 'times'}}
  </button>
  <p class="congratulations-banner__message">Bravo {{@fullName}},<br>votre profil est certifiable.</p>
</div>
