<div class="background-banner course-banner">
  <div class="course-banner__container">
    <h1 class="course-banner__name">{{courseName}}</h1>
    {{#if withHomeLink}}
      {{#if course.isDemo}}
        <a href={{urlHome}} class="course-banner__home-link">Revenir à l'accueil</a>
      {{else}}
        {{#link-to "index" class="course-banner__home-link"}}Revenir à l'accueil{{/link-to}}
      {{/if}}
    {{/if}}
  </div>
</div>
