<div class="feedback-certification-section__div">
  Pour signaler un problème, appelez votre surveillant et communiquez-lui les informations suivantes :
  <ul>
    <li>
      votre n° de certification (en haut à droite de l'écran)
    </li>
    <li>
      le numéro de la question (en haut à droite de l'écran)
    </li>
    <li>
      le problème rencontré
    </li>
  </ul>
</div>
