<div class="rounded-panel timed-challenge-instructions">
  <div class="timed-challenge-instructions__primary">
    {{t 'pages.focused-challenge-instructions.primary'}}
  </div>

  <div class="timed-challenge-instructions__secondary">
    {{t 'pages.focused-challenge-instructions.secondary'}}
  </div>


  <div class="timed-challenge-instructions__action">
    <button {{on "click" @hasUserConfirmedWarning}}
            class="timed-challenge-instructions-action__confirmation-button"
            type="button">
      {{t 'pages.focused-challenge-instructions.action'}}
    </button>
  </div>
</div>
