<div class="rounded-panel rounded-panel--no-margin-bottom focused-challenge-instructions">
  <div class="focused-challenge-instructions__primary">
    {{t 'pages.focused-challenge-instructions.primary'}}
  </div>

  <div class="focused-challenge-instructions__secondary">
    {{t 'pages.focused-challenge-instructions.secondary'}}
  </div>


  <div class="focused-challenge-instructions__action">
    <PixButton {{on "click" @hasUserConfirmedWarning}}
            class="focused-challenge-instructions-action__confirmation-button"
            @shape="rounded"
            @backgroundColor="green"
    >
      {{t 'pages.focused-challenge-instructions.action'}}
    </PixButton>
  </div>
</div>
