<div class="hexagon-score">
  <div class="hexagon-score__content">
    <div class="hexagon-score-content hexagon-score-content__title">PIX</div>
    <div class="hexagon-score-content hexagon-score-content__pix-score">{{score}}</div>
    <div class="hexagon-score-content hexagon-score-content__pix-total">1024</div>
  </div>
</div>
