<div class="navbar-header__container">
  {{#unless media.isDesktop}}
    {{navbar-mobile-menu menu=menu}}
  {{/unless}}

  <!-- Logo (left) -->
  <div class="navbar-header-logo">
    {{pix-logo}}
  </div>

  <!-- Links (right) -->
  <div class="navbar-header-right">
    {{#if media.isDesktop}}
      {{navbar-desktop-menu menu=menu}}
    {{/if}}

    {{#if isUserLogged}}
      {{user-logged-menu}}
    {{/if}}
  </div>
</div>
