<div class="navbar-header__container">
  <!-- Logo (left) -->
  <div class="navbar-header-logo">
    <div class="navbar-header-logo__pix">
      {{pix-logo}}
    </div>
    <div class="navbar-header-logo__marianne">
      <img src="{{rootURL}}/images/logo-de-la-republique-francaise.svg" alt="Logo de la Marianne">
    </div>
  </div>

  <div class="navbar-header-container__menu">
    {{#link-to 'profile' class="navbar-header-menu__item"}}
      Profil
    {{/link-to}}
    {{#link-to 'campaigns' class="navbar-header-menu__item"}}
      Parcours
    {{/link-to}}
    {{#link-to 'certifications' class="navbar-header-menu__item"}}
      Certification
    {{/link-to}}
    <a href="https://pix.fr/aide" target="_blank" class="navbar-header-menu__item">
      Aide
    </a>
  </div>

  <!-- Links (right) -->
  <div class="navbar-header-right">
    {{#if media.isDesktop}}
      {{navbar-desktop-menu menu=menu}}
    {{/if}}

    {{#if isUserLogged}}
      {{user-logged-menu}}
    {{/if}}
  </div>
</div>
