<div class="navbar-header">
  {{#if (media 'isDesktop')}}
    <NavbarDesktopHeader @isFrenchDomain={{this.isFrenchDomainExtension}}/>
  {{else}}
    <NavbarMobileHeader @burger={{@burger}} @isFrenchDomain={{this.isFrenchDomainExtension}} />
  {{/if}}
</div>
