<div class="navbar-header">
  {{#if (media 'isDesktop')}}
    <NavbarDesktopHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}}/>
  {{else}}
    <NavbarMobileHeader @burger={{@burger}} @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{/if}}
</div>
