<div class="navbar-desktop-header">
  <div class="navbar-desktop-header__container">
    <!-- Logo (left) -->
    <div class="navbar-desktop-header-logo">
      <div class="navbar-desktop-header-logo__pix">
        <PixLogo />
      </div>
      {{#if @shouldShowTheMarianneLogo}}
        <div class="navbar-desktop-header-logo__marianne">
          <img src="{{rootURL}}/images/logo-de-la-republique-francaise.svg" alt="République française">
        </div>
      {{/if}}
    </div>

    {{#unless isInRouteWithoutLinksInHeader}}
      {{#if this.isUserLogged}}
        <div class="navbar-desktop-header-container__menu">
          <LinkTo @route="profile" class="navbar-desktop-header-menu__item">
            Profil
          </LinkTo>
          <LinkTo @route="certifications" class="navbar-desktop-header-menu__item">
            Certification
          </LinkTo>
          <a href="https://pix.fr/aide" target="_blank" class="navbar-desktop-header-menu__item">
            Aide
          </a>
        </div>
      {{/if}}
    {{/unless}}

    <LinkTo @route="campaigns" class="button button--extra-thin button--link">
      J'ai un code
    </LinkTo>

    <!-- Links (right) -->
    <div class="navbar-desktop-header-right">
      <NavbarDesktopMenu @menu={{this.menu}} />

      {{#if this.isUserLogged}}
        <UserLoggedMenu />
      {{/if}}
    </div>
  </div>
</div>
