{{#link-to "index" class="pix-logo__link" title="Lien vers la page d'accueil de PIX"}}
  <img class="pix-logo__image" src="/images/pix-logo.svg" alt="Logo officiel de PIX (version bêta)">
  <span class="pix-logo__beta">Bêta</span>
{{/link-to}}
