<div class="pix-logo">
  <LinkTo @route="index" class="pix-logo__link" @title={{t 'navigation.homepage'}}>
    <img class="pix-logo__image" src="{{this.rootURL}}/images/pix-logo.svg" alt={{t 'common.pix'}}>
  </LinkTo>
</div>
