<div class="pix-logo">
  <LinkTo @route="index" class="pix-logo__link">
    <img class="pix-logo__image" src="{{this.rootURL}}/images/pix-logo.svg" alt={{t 'navigation.homepage'}}>
  </LinkTo>
</div>
