<div class="background-banner placement-banner">
  <div class="placement-banner-container">
    <div class="placement-banner__pix-logo">
      <img src="/images/pix-logo-blanc.svg" alt="Pix">
    </div>
    {{#if competenceName}}
      <div class="placement-banner__splitter"></div>
      <div class="placement-banner__title"><h1>{{competenceName}}</h1></div>
    {{/if}}
    <div class="placement-banner__home-link">
      {{#link-to "index" class="placement-banner__home-link"}}‹ Quitter{{/link-to}}
    </div>
  </div>
</div>
