<div class="rounded-panel-body">
  <h2 class="sr-only">{{t "pages.profile.accessibility.user-skills"}}</h2>
  <div>
    {{#each @areasCode as |areaCode|}}
      <div class="rounded-panel-body__areas">
        {{#each @scorecards as |scorecard|}}
          {{#if (eq areaCode scorecard.area.code)}}
            <div class="rounded-panel-body__competence-card">
              <CompetenceCard @interactive={{@interactive}} @scorecard={{scorecard}} />
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>