<div class="progression-gauge" style={{barStyle}}>
  <div class="progression-gauge__marker" style={{progressionStyle}}></div>

  <div class="progression-gauge__tooltip-wrapper" style={{progressionStyle}}>
    <div class="progression-gauge__tooltip">{{yield}}</div>
  </div>
</div>