{{#each _blocks as |block|}}

  {{#if block.text}}
    <span>{{block.text}}</span>
  {{/if}}

  {{#if block.input}}
    <input class="challenge-response__proposal-input"
           type="text"
           name={{block.input}}
             placeholder={{block.placeholder}}
           value={{property-of answersValue block.input}}>
  {{/if}}

  {{#if block.breakline}}
    <br>
  {{/if}}

{{/each}}
