<div class="qrocm-solution-panel rounded-panel">
  <div class="rounded-panel__row">
    {{#each inputFields as |field|}}
      {{{field.label}}}

      <div class="correction-qrocm__answer-solution">
        <input value="{{field.answer}}" class="correction-qrocm__answer-input {{field.inputClass}}" disabled>

        {{#if field.emptyOrWrongAnswer}}
          <div class="correction-qrocm__solution">
            <img class="correction-qrocm__solution-img" src="/images/comparison-window/icon-arrow-right.svg" alt="">
            <div class="correction-qrocm__solution-text">{{field.solution}}</div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>

