{{#if hasCampaignParticipations}}
  <div class="results-warning__warning-message">
    <img src="/images/icons/icon-warning.svg" alt="attention">
    Les résultats de vos parcours ne sont pas encore visibles dans votre profil mais le seront prochainement.
  </div>
{{/if}}
