<span class="resume-campaign-banner__title">{{t 'pages.profile.resume-campaign-banner.reminder-send-campaign'}}</span>
<LinkTo @route="campaigns.start-or-resume" @model={{@code}} class="resume-campaign-banner__button button button--big button--link">{{t 'pages.profile.resume-campaign-banner.actions.continue'}}</LinkTo>
