{{#if hasCampaignParticipations}}
  {{fa-icon 'exclamation-circle' class="results-warning__icon"}}
  <div class="results-warning__warning-message">
    Les résultats de vos parcours ne sont pas encore affichés ici. Vous pouvez les retrouver sur&nbsp;
    {{#link-to "profilv2" class="link results-warning__link"}}le nouveau profil que nous sommes en train de vous construire{{/link-to}}.
  </div>
{{/if}}
