<div class="resume-campaign-banner__container">
  <span class="resume-campaign-banner__title">Vous n'avez pas terminé votre parcours</span>
  {{link-to 'Reprendre' 'index' class="resume-campaign-banner__button pix-button"}}
</div>
