<div class="result-item__icon" title="{{this.resultItem.title}}">
  {{fa-icon this.resultItem.icon class=(concat 'result-item__icon--' this.resultItem.color)}}
</div>

<div class="result-item__instruction">
  {{strip-instruction (convert-to-html this.answer.challenge.instruction) this.textLength}}
</div>

<div class="result-item__correction">
  {{#if this.validationImplementedForChallengeType}}
    <button {{action this.openAnswerDetails this.answer}} class="result-item__correction-button link js-correct-answer">Réponses et tutos</button>
  {{/if}}
</div>
