<div class="resume-campaign-banner">
{{#if this.campaignParticipationState}}
  <div class="resume-campaign-banner__container">
    {{#if this.campaignParticipationState.isProfilesCollection}}
      <ResumeCampaignBannerCollectProfile @code={{this.campaignParticipationState.code}} />
    {{/if}}
  </div>
{{/if}}
</div>
