{{#unless @campaignParticipation.isShared}}
  <div class="skill-review__begin-improvement">
    <div>
      <h2 class="skill-review__subtitle">
        {{t 'pages.skill-review.try-again.title'}}
      </h2>
      <p class="skill-review__explain-text">
        {{t 'pages.skill-review.try-again.description'}}
      </p>
    </div>
    <button class="button button--dark-grey button--big skill-review__improvement-button" {{on "click" @improvementCampaignParticipation}} type="button">
      {{t 'pages.skill-review.actions.try-again'}}
    </button>
  </div>
{{/unless}}
