<div class="timeout-gauge">
  <div class="timeout-gauge-container">
    <div class="timeout-gauge-clock">
      <img src={{this.imageSource}} alt="" role="none">
      <div>&nbsp;</div>
      <div class="timeout-gauge-remaining" data-spent="{{this.remainingSeconds}}">
        {{this.formattedRemainingTime}}
      </div>
    </div>
    <div class="timeout-gauge-progress" style={{this.gaugeWidthStyle}}>
    </div>
  </div>
</div>
