{{!-- template-lint-disable no-implicit-this no-curly-component-invocation --}}
<div class="timeout-jauge">
  <div class="timeout-jauge-container">
    <div class="timeout-jauge-clock">
      <img src={{this.getImageSource}} alt="" role="none">
      <div>&nbsp;</div>
      <div class="timeout-jauge-remaining" data-spent="{{remainingSeconds}}">
        {{remainingTime}}
      </div>
    </div>
    <div class="timeout-jauge-progress" style={{jaugeWidthStyle}}>
    </div>
  </div>
</div>
