<div class="timeout-jauge">
  <div class="timeout-jauge-container">
    <div class="timeout-jauge-clock">
      <img src={{this.imageSource}} alt="" role="none">
      <div>&nbsp;</div>
      <div class="timeout-jauge-remaining" data-spent="{{this.remainingSeconds}}">
        {{this.remainingTime}}
      </div>
    </div>
    <div class="timeout-jauge-progress" style={{this.jaugeWidthStyle}}>
    </div>
  </div>
</div>
