<div class="user-certifications-detail-result__pix-score">
  <div class="user-certifications-detail-result__badge-pix-score">
    <span>{{ certification.pixScore }}</span>
  </div>
  <div class="user-certifications-detail-result__pix-certified">
    Pix certifiés
  </div>
</div>

<div class="user-certifications-detail-result__text-pix-certified">
  Votre score certifié a été calculé en fonction de vos réponses lors du passage de la certification.
  Il peut donc différer de votre nombre de Pix affiché dans votre profil.
</div>



{{#if certification.hasCleaCertif}}
  <hr>
  <img src="/images/badges/CleA_Num_certif.svg" alt="Badge cléA numérique" class="user-certifications-detail-result__badge-clea">
{{/if}}

<div>
  {{#if certification.commentForCandidate}}
    <hr>
    <div class="user-certifications-detail-result__title-comment-jury">Intervention du jury</div>
    <div class="user-certifications-detail-result__comment-jury">
      {{certification.commentForCandidate}}
    </div>
  {{/if}}
</div>

