<div class="user-certifications-detail-competences-list">
  <h2>Compétences certifiées <span>(niveaux sur 5)</span></h2>

  {{#each this.sortedAreas as |area index|}}

    <UserCertificationsDetailCompetence @area={{area}} />

  {{/each}}

  <p class="user-certifications-detail-competences-list__note">
  Votre score certifié a été calculé en fonction de vos réponses lors du passage de la certification. Il peut donc différer du nombre de Pix affiché dans votre profil.
  Le jour de votre certification il était possible d’atteindre le niveau 5 des compétences et 640 pix au maximum.
  </p>
</div>
