<label>Prénom</label>
<span data-test-firstName>{{@user.firstName}}</span>
<label>Nom</label>
<span data-test-lastName>{{@user.lastName}}</span>
<label>Adresse e-mail</label>
<span data-test-email>{{@user.email}}</span>
