<div class="user-certification-hexagon-score">
  <div class="user-certification-hexagon-score__content">
    <p class="user-certification-hexagon-score__content-title">PIX</p>
    <p class="user-certification-hexagon-score__content-pix-score">{{@score}}</p>
    <p class="user-certification-hexagon-score__content-certified">certifiés</p>
  </div>
</div>
