<div class="user-certifications-detail-competences-list">
  <h2>{{t "pages.certificate.competences.title"}} <span>{{t "pages.certificate.competences.subtitle"}}</span></h2>

  {{#each this.sortedAreas as |area index|}}

    <UserCertificationsDetailCompetence @area={{area}} />

  {{/each}}

  <p class="user-certifications-detail-competences-list__note">
    {{t "pages.certificate.competences.informations"}}
  </p>
</div>
