{{#if certification.commentForCandidate}}
  <h2>{{t "certificate.jury-title"}}</h2>
  <PixBlock>
    <p class="user-certifications-detail-result__comment-jury">
      {{certification.commentForCandidate}}
    </p>
  </PixBlock>
{{/if}}

{{#if certification.hasCleaCertif}}
  <h2>{{t "certificate.clea-title"}}</h2>
  <PixBlock>
    <div class="user-certifications-detail-result__badge-clea">
      <img
        src="https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-images/badges/CleA_Num_certif.svg"
        alt="Certification cléA numérique" />
    </div>
  </PixBlock>
{{/if}}
