<div class="user-certifications-detail-result__pix-score">
  <div class="user-certifications-detail-result__badge-pix-score">
    <span>{{ certification.pixScore }}</span>
  </div>
  <div class="user-certifications-detail-result__pix-certified">
    Pix certifiés
  </div>
</div>

<div class="user-certifications-detail-result__text-pix-certified">
  Votre score certifié a été calculé en fonction de vos réponses lors du passage de la certification.
  Il peut donc différer de votre nombre de Pix affiché dans votre profil.
</div>



{{#if true}}
  <hr>
  <h3 class="user-certifications-detail-result__title-comment-jury">Vous avez obtenu le badge</h3>
  <img src="/images/badges/Pret-CleaNum.svg" alt="" class="user-certifications-detail-result__badge-clea">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur dui quis nisl sollicitudin fringilla. Pellentesque vitae arcu purus. Ut ornare neque scelerisque lorem tincidunt, nec consectetur lorem sodales. Nunc eget elit leo. Suspendisse potenti. Donec tristique tortor et semper elementum.</p>
{{/if}}

<div>
  {{#if certification.commentForCandidate}}
    <hr>
    <div class="user-certifications-detail-result__title-comment-jury">Intervention du jury</div>
    <div class="user-certifications-detail-result__comment-jury">
      {{certification.commentForCandidate}}
    </div>
  {{/if}}
</div>

