<div class="user-certifications-detail-competences-list">
  <h2>{{t "certificate.competences.title"}}<span>{{t "certificate.competences.sub-title"}}</span></h2>

  {{#each this.sortedAreas as |area index|}}

    <UserCertificationsDetailCompetence @area={{area}} />

  {{/each}}

  <p class="user-certifications-detail-competences-list__note">
    {{t "certificate.competences.informations"}}
  </p>
</div>
