{{#if certification.commentForCandidate}}
  <h2>Observations du jury</h2>
  <div class="rounded-panel">
    <p class="user-certifications-detail-result__comment-jury">
      {{certification.commentForCandidate}}
    </p>
  </div>
{{/if}}

{{#if certification.hasCleaCertif}}
  <h2>Certifié Cléa</h2>
  <div class="rounded-panel">
    <div class="user-certifications-detail-result__badge-clea">
      <img
        src="https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-images/badges/CleA_Num_certif.svg"
        alt="Certification cléA numérique" />
    </div>
  </div>
{{/if}}
