<div class="challenge-item-warning">
  <div class="challenge-item-warning__instruction-primary">
    Vous disposerez de <span class="challenge-item-warning__instruction-time">{{allocatedHumanTime}}</span> pour
    réussir l’épreuve.
  </div>

  <div class="challenge-item-warning__intruction-secondary">
    Vous pourrez continuer à répondre ensuite, mais l’épreuve ne sera pas considérée comme réussie.
  </div>
  <div class="challenge-item-warning__allocated-time">
    <div class="challenge__allocated-time__jauge">
      <img class="challenge__allocated-time__warning-icon" src="/images/icon-timed-challenge.svg" alt="Message d'avertissement">
      <span class="challenge__allocated-time__value">{{allocatedTime}}</span>
    </div>
  </div>
  <div class="challenge-item-warning__action">
    <button {{action "confirmWarning"}} class="challenge-item-warning__confirm-btn">Commencer l'épreuve</button>
  </div>
</div>
