{{#if this.displayBanner}}
  <div class="warning-banner warning-banner--{{this.bannerType}}">
    <div class="warning-banner__content">
      <span class="warning-banner__icon">
        {{#if this.bannerTypeError}}
          <FaIcon @icon="exclamation-triangle"></FaIcon>
        {{else if this.bannerTypeWarn}}
          <FaIcon @icon="exclamation-circle"></FaIcon>
        {{else}}
          <FaIcon @icon="info-circle"></FaIcon>
        {{/if}}
      </span>
      {{this.htmlSafeBannerContent}}
    </div>
  </div>
{{/if}}
