<div class="page restricted-access-page">
  <img class="restricted-access-content__image" src="/images/calendar_blocked_access_sco.svg" alt="" role="none" />
  <h1 class="restricted-access-content__opening-title">Ouverture de votre espace PixCertif</h1>
  <p class="restricted-access-content__opening-dates">Le 1er novembre pour les lycées et le 1er février pour les
    collèges</p>
  <p class="restricted-access-content__link-calendar">La création de sessions sera donc possible 1 mois avant les dates
    du
    <a class="sidebar-menu__item" href={{this.calendarScoLink}} target="_blank" rel="noopener noreferrer">
      Calendrier 2021/2022 eduscol
      <FaIcon @icon="external-link-alt" @class="sidebar-menu__item-icon" />
    </a>
  </p>
</div>