<div class="terms-of-service-page">
  <div class="terms-of-service-form">

    <div class="terms-of-service-form__logo">
      <img src="/pix-logo-certif.svg">
    </div>

    <div class="terms-of-service-form__title">
      CONDITIONS GÉNÉRALES D'UTILISATION DE LA PLATEFORME PIX CERTIF
    </div>

    <hr class="terms-of-service-form__line">

    <div class="terms-of-service-form__text">
      lorem ipsum
    </div>

    <div class="terms-of-service-form__actions">
      {{link-to 'Annuler' 'logout' id="terms-of-service-cancel-button" class="button button--white button--big button--link"}}
      <button type="submit" class="button button--extra-big terms-of-service-form__submit" {{action 'submit'}}>J’accepte les conditions d’utilisation</button>
    </div>

  </div>
</div>
