<div id="assessment-challenge">
    <div class="container">

        <div class="rounded-panel">
            <h1>Mercix !</h1>
            <p>Fin du test : {{model.assessment.course.name}}</p>
        </div>

    </div>
</div>
