.module {
  max-width: 960px;
  margin: 0 auto;

  &__title {
    @extend %pix-title-m;

    margin: 1rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
    align-items: center;
    justify-content: center;
  }
}

.grain {
  background: $pix-neutral-0;
  border: 1px solid $pix-neutral-22;
  border-radius: $pix-spacing-s;

  &__element {
    margin: $pix-spacing-s;

    &--text {
      @extend %pix-body-l;

      color: $pix-neutral-90;

      // revert the reset
      ul,
      ol {
        margin: revert;
        padding: revert;
        list-style: revert;
      }
    }
  }

  &__footer {
    margin: $pix-spacing-s;
  }
}
