.module {
  max-width: 960px;
  margin: 0 auto;

  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-12x) var(--pix-spacing-2x);
    text-align: center;
  }

  &__content {
    --modulix-grains-gap: 56px;

    display: flex;
    flex-direction: column;
    gap: var(--modulix-grains-gap);
    align-items: center;
    justify-content: center;
  }
}
