<div id="challenge-preview" data-id="{{ model.challenge.id }}" class="challenge-preview">
  <div class="container">

    {{component (get-challenge-component-class model.challenge)
        challenge=model.challenge
        assessment=model.assessment
        answerValidated=(route-action "navigate")}}
  </div>
</div>
