<div id="challenge-preview" data-id="{{ model.challenge.id }}" class="challenge-preview">
  <div class="container">

    {{component challengeItemType
        challenge=model.challenge
        assessment=model.assessment
        onValidated=(action navigate)}}
  </div>
</div>
