@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.card {
  @extend %pix-shadow-default;

  background: var(--pix-neutral-0);
  border-radius: 8px;

  &__title {
    @extend %pix-title-xs;

    padding: 11px 32px;
    color: var(--pix-neutral-0);
    background: var(--pix-primary-900);
    border-radius: 8px 8px 0 0;
  }

  &__content {
    padding: 11px 32px;

    @extend %pix-body-s;

    // add to nebulix possibility to change the layout to a component
    & > .pix-input,
    .pix-select {
      display: flex;
    }
  }

  &__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  &-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(0 0 0 / 12.5%);

    &:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }

  .card-footer,
  .card-header {
    padding: 0.75rem 1.25rem;
    background-color: rgb(0 0 0 / 3%);
  }
}
