.certification-session-report__body {

  .data-section {
    margin-bottom: 20px;

    &__switch {
      border: none;
      background: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }

    &__certification-id, &__candidate-names {
      border-radius: 20px;
      background-color: $n15;
      padding: 4px 10px;
      line-height: 2rem;

      &__not-linked {
        white-space: nowrap;
        border-radius: 20px;
        background-color: $warning;
        padding: 4px 10px;
        line-height: 2rem;
      }

      &__linked {
        white-space: nowrap;
        border-radius: 20px;
        background-color: $success;
        padding: 4px 10px;
        line-height: 2rem;
      }

      &__not-in-session {
        white-space: nowrap;
        border-radius: 20px;
        background-color: $error;
        padding: 4px 10px;
        line-height: 2rem;
      }
    }

    &__status {

      &--success {
        color: $success;
      }

      &--failure {
        color: $error;
      }

      &--warning {
        color: $warning;
      }
    }
  }
}
