.certification-details-competence {

  &__content {

    &__header {
      display: flex;
      flex-direction: row;

      > div {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    .jury {
      color: var(--pix-error-700);
    }

    .progress {
      display: flex;
      flex-grow: 2;
      height: 1rem;
      font-size: 0.75rem;
      line-height: 0;
      background-color: var(--pix-neutral-100);

      .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--pix-neutral-0);
        white-space: nowrap;
        text-align: center;
        background-color: var(--pix-communication-dark);
        border-radius: 0.25rem;
        transition: width 0.6s ease;

        &.certificate {
          color: var(--pix-neutral-0);
          background-color: var(--pix-information-light);
        }

        &.jury {
          color: var(--pix-neutral-0);
          background-color: var(--pix-information-dark);
        }
      }
    }
  }

  &-challenges {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .card {
      flex: 0.25;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}
