.certification-issue-reports {

  &__title {
    margin-bottom: 16px;
    font-size: 1.25rem;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    margin: 0;

    &--with-action-required {
      background-color: $pix-warning-10;
      color: $pix-secondary-70;
    }

    &--without-action-required {
      background-color: $pix-neutral-10;
      color: $pix-neutral-60;
    }
  }

  &__list {
    padding-left: 0;
    width: 100%;

    button:last-of-type {
      margin-left: auto;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}
