.certification-issue-report {
  display: flex;
  align-items: center;
  border-bottom: #EAECF0 solid 1px;

  &__resolution-status {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;

    &--resolved {
      color: var(--pix-success-700);
    }

    &--unresolved {
      color: var(--pix-error-700);
    }
  }

  &__details {
    margin-left: 16px;

    &__label {
      color: var(--pix-neutral-500);
      font-weight: $font-medium;
      font-family: $font-roboto;
    }

    &__resolution-message {
      color: var(--pix-neutral-100);
      font-family: $font-roboto;
    }
  }
}
