.certification-details-competence {
  margin-bottom: 20px;

  .jury {
    color: $pix-error-70;
  }

  .card-deck {
    margin-top: 10px;
  }

  .progress-bar {

    &.certificate {
      background-color: $pix-information-light;
      color: $pix-neutral-0;
    }

    &.jury {
      background-color: $pix-error-10;
      color: $pix-neutral-0;
    }
  }
}
