/* stylelint-disable selector-class-pattern */
.certification-details-card {
  padding: 5px 10px;
  text-align: center;
}

.certification-details-answer {

  .card__content {
    padding: 0;
  }

  .certification-details-answer-skill {
    font-size: 0.875rem;
  }

  .certification-details-answer-challenge {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.875rem;
  }

  .certification-details-answer-challenge-link {
    display: flex;
    font-size: 0.875rem;
  }

  .certification-details-answer-order {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .certification-details-answer-value {
    font-size: 0.875rem;
  }

  .jury {

    button {
      color: var(--pix-error-700);
    }
  }
}
