.certification-details-answer {
  .certification-details-answer-skill {
    font-size: 0.8em;
  }

  .certification-details-answer-id,
  .certification-details-answer-order {
    font-size: 10px;
  }


  .jury select {
    color: $error;
  }
}

