.certification-details-answer {
  .certification-details-answer-skill {
    font-size: 0.8125rem;
  }

  .certification-details-answer-challenge {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8125rem;
  }

  .certification-details-answer-challenge-link {
    display: flex;
    font-size: 0.8125rem;
  }

  .certification-details-answer-order {
    font-size: 0.8125rem;
  }


  .jury select {
    color: $error;
  }

  .answer-result {
    display: flex;
    justify-content: center;
  }
}

