.certification-issue-reports {

  &__title {
    margin-bottom: 16px;
    font-size: 1.25rem;
  }

  &__subtitle {
    margin: 0;
    padding: 0.75rem 1rem;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4px;

    &--with-action-required {
      color: var(--pix-secondary-500)-70;
      background-color: var(--pix-warning-100);
    }

    &--without-action-required {
      color: var(--pix-neutral-500);
      background-color: var(--pix-neutral-20);
    }
  }

  &__list {
    width: 100%;
    padding-left: 0;

    button:last-of-type {
      margin-left: auto;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}
