.certification-session-report__body {

  .data-section {
    margin-bottom: 20px;

    &__switch {
      border: none;
      background: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }

    &__certification-ids {

    }

    &__certification-id {
      border-radius: 20px;
      background-color: #F1F1F1;
      padding: 4px 10px;
      line-height: 2rem;
    }

    &__status {

      &--success {
        color: #39B97A;
      }

      &--failure {
        color: #E55636;
      }

      &--warning {
        color: #F5B042;
      }
    }
  }
}
