/* stylelint-disable selector-class-pattern */
.certification-center-form {
  max-width: 400px;

  .habilitations-title {
    color: var(--pix-neutral-800);
    font-weight: normal;
    font-size: 0.875rem;
  }

  .habilitations-checkbox-list {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding: 0;
    list-style-type: none;

    .habilitation-entry {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding-bottom: 8px;

      * {
        align-self: center;
        margin-bottom: 0;
      }

      input[type='checkbox'] {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
