.entry-field {
  margin-bottom: 20px;

  label {
    margin-bottom: 4px;
    color: #7A869A;
  }

  input, textarea {
    width: 100%;
  }

  .ember-flatpickr-input.form-control.input {
    line-height: 24px;
    border: 1px solid #767676;
    padding: 1px 2px;
    height: 30px;
    border-radius: 3px;
    color: #000000;
  }
}
