.member-item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__modify {
    display: flex;
  }

  &__button {
    max-height: 30px;
    margin-bottom: 4px;

    svg {
      margin-right: 6px;
    }

    &--icon {
      height: 30px;
      width: 30px;
    }
  }

}

.disable-membership-button {
  margin-top: 5px;
}
