/* stylelint-disable selector-class-pattern */
.menu-bar {
  width: 100%;
  color: $pix-neutral-0;

  .menu-bar__entries {
    margin: 0;
    list-style-type: none;
    padding: 0;

    .menu-bar__entry {
      margin: 10px 0 0;
      padding: 0 15px;

      .menu-bar__link {
        width: 50px;
        position: relative;
        color: $pix-neutral-22;
        display: block;
        line-height: 50px;
        padding: 0;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        font-size: 1.25rem;

        i.fa {
          margin: 0 10px;
          width: 32px;
        }

        &:hover {
          text-decoration: none;
          color: $pix-neutral-0;
        }

        &.active {
          font-weight: 600;
          background-color: $pix-neutral-40;
          color: $pix-neutral-0;
        }
      }
    }
  }
}
