.organization-team-section {

  &__input {
    min-width: 320px;
    width: auto;
  }

  &__button {
    height: calc(100% + 4px);
    margin-left: 6px;
  }

  .pix-select {
    height: 38px;

    .organization-team-section__select {
      min-width: 120px;
      height: 38px;
    }
  }
}
