.organization-members-section {

  label {
    font-weight: bold;
    font-size: 1.125rem;
  }

  &__input {
    min-width: 320px;
  }

  &__button {
    height: calc(100% + 4px);
    margin-left: 6px;
  }

  .pix-select {
    height: 38px;

    .organization-members-section__select {
      min-width: 120px;
      height: 38px;
    }
  }

}
