.organization-information-section {

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__details {
    overflow: hidden;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
