.profile {

  &__header {
    display: flex;
    width: 100%;
    padding: 32px;
    justify-content: space-between;
    border-radius: 5px;

    .legend {
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      border: 1px solid $pix-neutral-22;
      padding: 12px;
    }
  }
}
