.quest-editor {
  width: 100%;
  height: 100vh;

  &__workspace {
    height: 80%;
  }

  &__output {
    position: relative;
    height: 20%;
    overflow: scroll;
  }

  &__actions {
    position: absolute;
    top: var(--pix-spacing-2x);
    right: var(--pix-spacing-2x);
  }
}
