.user-detail-personal-information-section{

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
  }
}

.schooling-registrations-buttons {
  text-align: right;
}

.schooling-registrations-table {
  margin-top: 20px;
}

.user-authentication-method {

  &__item {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: $grey-40;
  }

  &__remove-button {
    background-color: transparent;
    color: red;
    font-size: 0.75rem;
    border: none;
    padding: 0 0 0 10px;
  }

  .user-authentication-method-item {

    &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 175px;
    }

    &__check {
      color: $success;
    }

    &__uncheck {
      color: $grey-30;
    }

  }
}
