.user-detail-personal-information-section{

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
  }
}

.schooling-registrations-buttons {
  text-align: right;
}

.schooling-registrations-table {
  margin-top: 20px;
}

.user-authentication-method {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin: 8px 0;
    color: $grey-40;
  }

  .user-authentication-method-item {

    &__check {
      color: $success;
    }

    &__uncheck {
      color: $grey-30;
    }

  }
}
