<div class="places-page-header">
  <h1 class="page-title">{{t "pages.places.title"}}</h1>
  <span class="places-page-header__date">{{t "pages.places.before-date"}} {{format-date this.todayDate}}</span>
</div>