<div class="membership-item-actions">
  <PixButton
    @size="small"
    @backgroundColor="red"
    @triggerAction={{@disableCertificationCenterMembership}}
    class="member-item-actions__button"
    @iconBefore="trash"
  >
    {{t "common.actions.deactivate"}}
  </PixButton>
</div>