.session-supervising-candidate-in-list {
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;

  &__candidate-data {
    width: calc(100% - 32px);
  }

  &__details {
    color: $pix-neutral-22;
    font-size: 0.75rem;
  }

  &__full-name {
    color: $pix-warning-40;
    margin-bottom: 4px;
  }

  &__checkbox[type="checkbox"] {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  &__status {
    border-radius: 12px;
    display: inline-block;
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 8px;
    padding: 4px 16px;

    &--started {
      background-color: $pix-success-5;
      color: $pix-success-80;
    }

    &--completed {
      background-color: $pix-primary-10;
      color: $pix-primary-70;
    }
  }

  &__start-time {
    color: $pix-neutral-15;
    font-size: 0.75rem;
    margin-left: 4px;
  }

  &__menu {
    position: relative;
  }

  .dropdown__content {
    right: 0;
    top: 32px;
    width: 216px;
  }
}
