.session-supervising-candidate-in-list {
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  position: relative;

  &__candidate-data {
    width: calc(100% - 32px);
    padding: 12px 16px;

    @include device-is('tablet') {
      position: relative;
    }
  }

  &__confirm-button {
    margin-top: var(--pix-spacing-4x);
  }

  &__details {
    color: var(--pix-neutral-100);
    font-size: 0.75rem;
  }

  &__full-name {
    color: var(--pix-secondary-500);
    margin-bottom: 4px;
    text-transform: capitalize;
  }

  &__checkbox[type='checkbox'] {
    width: 32px;
    height: 32px;
    margin: 16px;
  }

  &__status-container {
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: $font-normal;
    margin-top: var(--pix-spacing-2x);
    padding: var(--pix-spacing-1x) 0;

    @include device-is('tablet') {
      margin-top: 0;
      position: absolute;
      right: var(--pix-spacing-4x);
      top: var(--pix-spacing-1x);
    }

    &--ongoing-alert {
      background-color: var(--pix-error-100);
      color: var(--pix-error-700);
    }

    &--started {
      background-color: var(--pix-success-50);
      color: var(--pix-success-900);
    }

    &--completed {
      background-color: var(--pix-primary-100);
      color: var(--pix-primary-700);
    }

    &--authorized-to-resume {
      background-color: var(--pix-tertiary-100);
      color: var(--pix-tertiary-900);
    }

    > .pix-tag--compact {
      text-transform: none;
    }
  }

  &__start-time {
    color: var(--pix-neutral-20);
    font-size: 0.75rem;
  }

  &__menu {
    border-left: solid var(--pix-neutral-500) 1px;
    padding: 2px;
  }

  .dropdown__content {
    right: 0;
    top: 32px;
    width: 216px;
  }
}

.session-supervising-candidate-in-list-details {
  &__enrolment {
    color: var(--pix-neutral-0);
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.3125rem;
  }

  &__eligibility {
    margin-top: var(--pix-spacing-1x);
  }
}

.session-supervising-candidate-in-list-details-enrolment {
  &__icon {
    margin-right: 5px;
  }
}

.session-supervising-candidate-in-list-details-time {
  display: flex;
  align-items: center;
  margin-top: var(--pix-spacing-2x);
  gap: var(--pix-spacing-2x);
  width: fit-content;

  @include device-is('mobile') {
    flex-direction: column;
    align-items: flex-start;

    &__end-date-time::before {
      content: none;
    }
  }

  &__text {
    padding: 6px var(--pix-spacing-2x);
    background-color: var(--pix-neutral-500);
    border-radius: 8px;
    color: var(--pix-neutral-0);
    flex-grow: 1;

    &__end-date-time::before {
      content: '|';
      display: inline-block;
      color: transparent;
      width: 1px;
      background-color: var(--pix-neutral-0);
      border-radius: 25px;
    }
  }

  &__clock {
    padding-right: 3px;
  }
}
