.session-supervising-candidate-in-list {
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  position: relative;

  &__candidate-data {
    width: calc(100% - 32px);
    padding: 12px 16px;

    @include device-is('tablet') {
      position: relative;
    }
  }

  &__confirm-button {
    margin-top: $pix-spacing-s;
  }

  &__details {
    color: $pix-neutral-22;
    font-size: 0.75rem;
  }

  &__full-name {
    color: $pix-warning-40;
    margin-bottom: 4px;
    text-transform: capitalize;
  }

  &__checkbox[type='checkbox'] {
    width: 32px;
    height: 32px;
    margin: 16px;
  }

  &__status-container {
    border-radius: 12px;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: $font-normal;
    margin-top: $pix-spacing-xs;
    padding: $pix-spacing-xxs 0;

    @include device-is('tablet') {
      margin-top: 0;
      position: absolute;
      right: $pix-spacing-s;
      top: $pix-spacing-xxs;
    }

    &--ongoing-alert {
      background-color: $pix-error-10;
      color: $pix-error-70;
    }

    &--started {
      background-color: $pix-success-5;
      color: $pix-success-80;
    }

    &--completed {
      background-color: $pix-primary-10;
      color: $pix-primary-70;
    }

    &--authorized-to-resume {
      background-color: $pix-tertiary-5;
      color: $pix-tertiary-80;
    }

    > .pix-tag--compact {
      font-family: $font-roboto;
      font-weight: $font-normal;
      text-transform: none;
    }
  }

  &__start-time {
    color: $pix-neutral-15;
    font-size: 0.75rem;
  }

  &__menu {
    border-left: solid $pix-neutral-60 1px;
    padding: 2px;
  }

  .dropdown__content {
    right: 0;
    top: 32px;
    width: 216px;
  }
}

.session-supervising-candidate-in-list-details {
  &__enrolment {
    color: $pix-neutral-0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.3125rem;
  }

  &__eligibility {
    margin-top: $pix-spacing-xxs;
  }
}

.session-supervising-candidate-in-list-details-enrolment {
  &__icon {
    margin-right: 5px;
  }
}

.session-supervising-candidate-in-list-details-time {
  display: flex;
  align-items: center;
  margin-top: $pix-spacing-xs;
  padding: $pix-spacing-xxs $pix-spacing-xs;
  gap: $pix-spacing-xs;
  background: #{$pix-neutral-0}#{1a};
  border-radius: 8px;
  color: $pix-neutral-0;
  width: fit-content;

  &__text {
    flex-grow: 1;

    &__end-date-time::before {
      content: '|';
      display: inline-block;
      color: transparent;
      width: 1px;
      background-color: $pix-neutral-0;
      border-radius: 25px;
    }

    @include device-is('mobile') {
      display: flex;
      flex-direction: column;

      &__end-date-time::before {
        content: none;
      }
    }

    &__extra-time-percentage {
      color: $pix-secondary-certif-30;
    }
  }
}
