.session-supervising-candidate-list-background {
  background: var(--pix-neutral-900);
  border-radius: 18px 18px 0 0;
  flex-grow: 1;
  padding: 32px 16px;

  .session-supervising-candidate-list {
    @include device-is("tablet") {
      padding: 0 48px;
      margin: auto;
    }

    @include device-is("desktop") {
      max-width: 672px;
      margin: auto;
    }

    &__description {
      display: flex;
      justify-content: flex-start;
      color: var(--pix-neutral-20);
      font-size: 0.875rem;
      font-weight: normal;
      min-height: 14px;
      letter-spacing: 0;
      margin: 0 0 24px;
    }

    &__title {
      @extend %pix-title-xs;
      font-weight: 600;
      margin: 0 0 8px;
      color: var(--pix-neutral-20);
    }

    &__candidates {
      list-style: none;
      padding: 0;

      > li {
        background: var(--pix-neutral-800);
      }
    }

    &__empty-image {
      display: block;
      margin: 20px auto;
    }

    &__empty-message {
      color: var(--pix-neutral-20);
      @extend %pix-title-xs;
      font-size: 1.125rem;
      font-weight: 600;
      margin: auto;
      max-width: 225px;
      text-align: center;
    }

    &__search {
      align-items: center;
      background-color: var(--pix-neutral-0);
      border: 1px solid #7A869A;
      border-radius: 4px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: 44px;
      padding-left: 15px;
      width: 100%;
    }

    &__candidates-count {
      display: flex;
      justify-content: flex-start;
      color: var(--pix-neutral-20);
      font-size: 0.875rem;
      font-weight: normal;
      height: 14px;
      letter-spacing: 0;
      margin: 16px 0 24px;
    }

    .search-icon {
      color: var(--pix-neutral-100);
    }

    .search-input {
      border: none;
      box-shadow: none;
      color: var(--pix-neutral-900);
      font-size: 1rem;
      padding: 0 10px;
      width: 100%;
    }

    .empty-button {
      margin-left: auto;
      margin-right: 4px;
    }

    .pix-input {
      flex: 1;
    }
  }
}
