.session-supervising-header {
  background: var(--pix-neutral-20);
  padding: 16px;

  @include device-is("tablet") {
    padding: 40px 48px;
  }

  @include device-is("desktop") {
    align-self: center;
    width: 672px;
  }

  &__quit {
    float: right;

    svg {
      margin-right: 8px;
    }
  }

  &__title {
    @extend %pix-title-s;
    font-weight: normal;
    margin-bottom: 4px;
  }

  &__date {
    color: var(--pix-neutral-500);
    display: block;
    font-size: 0.875rem;
    margin-bottom: 16px;
  }

  &__line {
    align-items: center;
    border-bottom: 1px solid var(--pix-neutral-100);
    color: var(--pix-neutral-800);
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;
  }

  &__label {
    color: var(--pix-neutral-500);
    display: inline-block;
    flex-shrink: 0;
    font-weight: normal;
    margin-right: 8px;
  }
}
