<section class="page-section">
  <h2 class="page-section__title">Informations personnelles</h2>
  <div class="data-field">
    <label class="data-field__label">Identifiant :</label>
    <span class="data-field__value">#{{model.id}}</span>
  </div>
  <div class="data-field">
    <label class="data-field__label">Nom :</label>
    <span class="data-field__value">{{model.firstName}} {{model.lastName}}</span>
  </div>
  <div class="data-field">
    <label class="data-field__label">Email :</label>
    <span class="data-field__value">{{model.email}}</span>
  </div>
</section>

<section class="page-section">
  <h2 class="page-section__title">Profil de compétence</h2>
</section>

<section class="page-section">
  <h2 class="page-section__title">Évaluations</h2>
</section>

<section class="page-section">
  <h2 class="page-section__title">Partages</h2>
</section>

<section class="page-section">
  <h2 class="page-section__title">Campagnes</h2>
</section>

<section class="page-section">
  <h2 class="page-section__title">Certifications</h2>
</section>
