<section class="page-section">
  {{models-table
    data=model
    columns=columns
    showColumnsDropdown=false
    showGlobalFilter=false
    filteringIgnoreCase=true
    useNumericPagination=false
  }}
</section>