<form class="user-form">

  <!-- First name -->
  <div class="user-form__control">
    {{input class="user-form__field" id="firstname" placeholder='Prénom' value=firstName}}
  </div>

  <!-- Last name -->
  <div class="user-form__control">
    {{input class="user-form__field" id="lastname" placeholder='Nom' value=lastName}}
  </div>

  <!-- Email -->
  <div class="user-form__control">
    {{input class="user-form__field" id="email" placeholder='Email' value=email}}
  </div>

  <!-- Form submit button -->
  <div class="user-form__control">
    {{#bs-button class="user-form__button" type="primary" onClick=(action "addUser")}}Ajouter{{/bs-button}}
  </div>
</form>