.element-lesson {
  @extend %pix-body-l;

  margin: $pix-spacing-s;
  color: $pix-neutral-90;

  // revert the reset
  ul,
  ol {
    margin: revert;
    padding: revert;
    list-style: revert;
  }
}
