<header class="login-form__header">
  <img class="login-form__logo" src="/platform-logo.png" alt="Pix for pix Admin" />

  <h1 class="screen-reader-only">Connectez-vous</h1>
</header>

<p class="login-form__information">L'accès à Pix4Pix Admin est limité aux administrateurs de la plateforme.</p>

<LinkTo @route="authentication.login-oidc" @model="google" class="login-form__oidc-connect-link">
  <img src="/google-logo.svg" alt="" role="presentation" />
  <span>Se connecter avec Google</span>
</LinkTo>