<header class="login-page__header">
  <h1 class="login-page__header__title">Pix Admin</h1>
  <p class="login-form__information">L'accès à Pix Admin est limité aux administrateurs de la plateforme.</p>
</header>

<section class="login-page__section--login-form">
  <form class="login-form" {{on "submit" this.authenticateUser}}>

    <Input
      class="login-form__fields login-form__email-field"
      placeholder="Adresse e-mail"
      aria-label="Adresse e-mail"
      required="true"
      @value={{this.email}}
      autocomplete="true"
    />

    <Input
      class="login-form__fields"
      placeholder="Mot de passe"
      aria-label="Mot de passe"
      required="true"
      @type="password"
      @value={{this.password}}
      autocomplete="true"
    />

    {{#if this.errorMessage}}
      <p class="login-form__error">{{this.errorMessage}}</p>
    {{/if}}


    <PixButton @type="submit" class="login-form__button">Je me connecte</PixButton>
  </form>
</section>