<header class="login-form__header">
  <img class="login-form__logo" src="/logo-pix.png" alt="Pix Admin" />
  <h1 class="screen-reader-only">Connectez-vous</h1>
</header>

<p class="login-form__information">L'accès à Pix Admin est limité aux administrateurs de la plateforme.</p>

<form class="login-form" {{on "submit" this.authenticateUser}}>

  <div class="login-form__control">
    <Input
      class="login-form__field"
      placeholder="Adresse e-mail"
      aria-label="Adresse e-mail"
      required="true"
      @value={{this.email}}
      autocomplete="true"
    />
  </div>

  <div class="login-form__control">
    <Input
      class="login-form__field"
      placeholder="Mot de passe"
      aria-label="Mot de passe"
      required="true"
      @type="password"
      @value={{this.password}}
      autocomplete="true"
    />
  </div>

  {{#if this.errorMessage}}
    <PixMessage @type="alert">
      {{this.errorMessage}}
    </PixMessage>
  {{/if}}

  <div class="login-form__control">
    <PixButton @type="submit" @size="small" class="login-form__button">Je me connecte</PixButton>
  </div>
</form>

<LinkTo @route="authentication.login-oidc" @model="google" class="login-form__oidc-connect-link">
  <img src="/google-logo.svg" alt="" />
  <span>Se connecter avec Google</span>
</LinkTo>

{{#if @isUserShouldCreateAnAccount}}
  <PixMessage @type="alert">
    Vous n'avez pas de compte Pix.
  </PixMessage>
{{/if}}

{{#if @isUnknownErrorOccurs}}
  <PixMessage @type="alert">
    Une erreur est survenue. Veuillez recommencer ou contacter les administrateurs de la plateforme.
  </PixMessage>
{{/if}}