<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Rattacher un ou plusieurs profil(s) cible(s)</h2>
  </header>
  <form aria-label="Rattacher un ou plusieurs profil(s) cible(s)" class="organization__sub-form form">
    <Input
      aria-label="ID du ou des profil(s) cible(s)"
      @value={{@targetProfilesToAttach}}
      class="organization-sub-form__input form-field__text form-control"
      @placeholder="1, 2" />
    <button
      type="button"
      {{on "click" @attachTargetProfiles}}
      class="organization-sub-form__validate-button btn btn-outline-default">
      Valider
    </button>
  </form>
</section>

<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Profils cibles</h2>
  </header>
  <div class="target-profiles-list content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Nom du profil cible</th>
        </tr>
        </thead>

        {{#if @targetProfiles}}
          <tbody>
          {{#each @targetProfiles as |targetProfile|}}
            <tr aria-label="Profil cible">
              <td>{{targetProfile.id}}</td>
              <td>{{targetProfile.name}}</td>
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @targetProfiles}}
        <div class="table__empty content-text">Aucun résultat</div>
      {{/unless}}
    </div>
  </div>
</section>
