/* globals */
@import 'globals/palette';
@import 'globals/fonts';
@import 'globals/alert';
@import 'globals/buttons';
@import 'globals/dimension';
@import 'globals/redesign-inputs';

/* 3rd-party */
@import 'vendor/ember-routable-modal/core';
@import 'vendor/ember-routable-modal/dialog';

/* components */
@import 'components/rounded-panel';
@import 'components/app-header';
@import 'components/app-footer';
@import 'components/app-menu';
@import 'components/corner-ribbon';
@import 'components/challenge-actions';
@import 'components/challenge-response';
@import 'components/challenge-statement';
@import 'components/challenge-stay';
@import 'components/comparison-window';
@import 'components/course-banner';
@import 'components/course-item';
@import 'components/course-list';
@import 'components/feature-item';
@import 'components/feature-list';
@import 'components/feedback-panel';
@import 'components/follower-form';
@import 'components/get-results';
@import 'components/modal-mobile';
@import 'components/navbar-header';
@import 'components/pix-logo';
@import 'components/qroc-solution-panel';
@import 'components/result-item';
@import 'components/timeout-jauge';
@import 'components/warning-timing-page';
@import 'components/app-menu';
@import 'components/get-results';
@import 'components/result-item';
@import 'components/comparison-window';
@import 'components/qroc-solution-panel';
@import 'components/qcm-solution-panel';

/* views */
@import 'index';
@import 'project';
@import 'courses/get-preview';

/* XXX : every above is to be refactored, don't put any CSS properties right here */
@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

.assessment-challenge-container .container {
  max-width: 990px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;

  @media (min-width: 1024px) {
    padding-right: 0;
    padding-left: 0;
  }
}

body {
  font-family: $font-lato;
  background-color: $light-grey1;
}

.body {
  padding-top: 0;
}

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .title {
  display: block;
  text-rendering: optimizeLegibility;
  color: $dark-grey5;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
