/* globals */
@import url('globals/alert.css');
@import url('globals/buttons.css');
@import url('globals/dimension.css');
@import url('globals/form.css');
@import url('globals/flexbox-helpers.css');
@import url('globals/groupped-input.css');
@import url('globals/rounded-panel.css');

/* components */
@import url('globals/palette.css');
@import url('components/app-header.css');
@import url('components/beta-logo.css');
@import url('components/first-page.css');
@import url('components/corner-ribbon.css');
@import url('components/identification-form.css');
@import url('components/challenge-item.css');
@import url('components/load-email.css');
@import url('components/course-banner.css');

/* views */
@import url('home.css');
@import url('home-loading.css');
@import url('index.css');
@import url('courses/get-preview.css');
@import url('assessments/get-results.css');

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

body {
  font-family: Lato, Arial, sans-serif;
  background-color: var(--light-grey1);
}

.body {
  padding-top: 0;
}

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .title {
  display: block;
  text-rendering: optimizeLegibility;
  color: var(--dark-grey5);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
