/* globals */
@import url('globals/alert.css');
@import url('globals/buttons.css');
@import url('globals/dimension.css');
@import url('globals/flexbox-helpers.css');
@import url('globals/rounded-panel.css');

/* 3rd-party */
@import url('vendor/ember-routable-modal/core.css');
@import url('vendor/ember-routable-modal/dialog.css');

/* components */
@import url('globals/fonts.css');
@import url('globals/palette.css');
@import url('components/app-header.css');
@import url('components/app-footer.css');
@import url('components/first-page.css');
@import url('components/corner-ribbon.css');
@import url('components/challenge-statement.css');
@import url('components/challenge-response.css');
@import url('components/challenge-actions.css');
@import url('components/feedback-panel.css');
@import url('components/load-email.css');
@import url('components/course-banner.css');
@import url('components/challenge-stay.css');
@import url('components/modal-mobile.css');
@import url('components/timeout-jauge.css');
@import url('components/warning-timing-page.css');
@import url('components/app-menu.css');
@import url('components/get-results.css');
@import url('components/comparison-window.css');

/* views */
@import url('home.css');
@import url('home-loading.css');
@import url('index.css');
@import url('project.css');
@import url('courses/get-preview.css');

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

body {
  font-family: var(--font-lato);
  background-color: var(--light-grey1);
}

.body {
  padding-top: 0;
}

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .title {
  display: block;
  text-rendering: optimizeLegibility;
  color: var(--dark-grey5);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
