@charset "utf-8";

/* globals */
@import 'globals/palette';
@import 'globals/fonts';
@import 'globals/alert';
@import 'globals/buttons';
@import 'globals/dimension';
@import 'globals/redesign-inputs';

/* 3rd-party */
@import 'vendor/ember-routable-modal/core';
@import 'vendor/ember-routable-modal/dialog';

/* components */
@import 'components/rounded-panel';
@import 'components/app-header';
@import 'components/app-footer';
@import 'components/app-menu';
@import 'components/corner-ribbon';
@import 'components/challenge-actions';
@import 'components/challenge-response';
@import 'components/challenge-statement';
@import 'components/challenge-stay';
@import 'components/comparison-window';
@import 'components/course-banner';
@import 'components/course-item';
@import 'components/course-list';
@import 'components/feature-item';
@import 'components/feature-list';
@import 'components/feedback-panel';
@import 'components/follower-form';
@import 'components/modal-mobile';
@import 'components/navbar-header';
@import 'components/pix-logo';
@import 'components/qroc-solution-panel';
@import 'components/qrocm-proposals';
@import 'components/result-item';
@import 'components/timeout-jauge';
@import 'components/warning-timing-page';
@import 'components/app-menu';
@import 'components/result-item';
@import 'components/comparison-window';
@import 'components/qroc-solution-panel';
@import 'components/qrocm-solution-panel';
@import 'components/qcm-solution-panel';
@import 'components/qcu-solution-panel';

/* pages */
@import 'pages/index';
@import 'pages/project';
@import 'pages/course-preview';
@import 'pages/assessment-challenge';
@import 'pages/assessment-results';
@import 'pages/competences';

body {
  font-family: $font-lato;
  background-color: $light-grey1;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
