@charset "utf-8";

/* globals */
@import 'globals/palette';
@import 'globals/fonts';
@import 'globals/breakpoints';
@import 'globals/alert';
@import 'globals/dimension';
@import 'globals/loading';
@import 'globals/redesign-inputs';
@import 'globals/pix-modale';
/* 3rd-party */
@import 'vendor/ember-routable-modal/core';
@import 'vendor/ember-routable-modal/dialog';
/* components */
@import 'components/rounded-panel';
@import 'components/app-footer';
@import 'components/corner-ribbon';
@import 'components/challenge-actions';
@import 'components/challenge-item';
@import 'components/challenge-response';
@import 'components/challenge-statement';
@import 'components/challenge-stay';
@import 'components/certification-banner';
@import 'components/comparison-window';
@import 'components/competence-by-area-item';
@import 'components/competence-level-progress-bar';
@import 'components/course-banner';
@import 'components/course-item';
@import 'components/course-item-placeholder';
@import 'components/course-list';
@import 'components/feature-item';
@import 'components/feature-list';
@import 'components/feedback-panel';
@import 'components/follower-form';
@import 'components/legal-notices';
@import 'components/modal-mobile';
@import 'components/medal-item';
@import 'components/navbar-header';
@import 'components/pix-logo';
@import 'components/password-reset-form';
@import 'components/qroc-solution-panel';
@import 'components/qrocm-proposals';
@import 'components/result-item';
@import 'components/scoring-panel';
@import 'components/timeout-jauge';
@import 'components/trophy-item';
@import 'components/warning-timing-page';
@import 'components/result-item';
@import 'components/comparison-window';
@import 'components/qroc-solution-panel';
@import 'components/qrocm-solution-panel';
@import 'components/qcm-solution-panel';
@import 'components/qcu-solution-panel';
@import 'components/signup-form';
@import 'components/signin-form';
@import 'components/form-textfield';
@import 'components/scoring-panel-tantpix';
@import 'components/score-pastille';
@import 'components/snapshot-list';
@import 'components/profile-panel';
@import 'components/user-logged-menu';
@import 'components/partners-enrollment-panel';
@import 'components/share-profile';
@import 'components/logged-user-profile-banner';
@import 'components/reset-password-form';
@import 'components/tutorial-panel';
@import 'components/certification-result';
@import "components/navbar-mobile-menu";
@import "components/navbar-desktop-menu";
@import "components/_blue-ribbon.scss";
@import "ember-side-menu";
/* pages */
@import 'pages/index';
@import 'pages/project';
@import 'pages/course-preview';
@import 'pages/assessment-challenge';
@import 'pages/assessment-results';
@import 'pages/competences';
@import 'pages/inscription';
@import 'pages/login';
@import 'pages/compte';
@import 'pages/enrollment';
@import 'pages/board';
@import 'pages/terms-of-service';
@import 'pages/reset-password';
@import 'pages/password-reset-demand';
@import 'pages/certification-course-error';

body {
  font-family: $font-lato;
  background-color: $porcelain-grey;
}

input[type="radio"] {
  margin: 0 5px 0 0;
}
