#home .courses {
  list-style-type: none;
  padding: 30px 0;
}

#home .course-item .course {
  padding: 0;
}

#home .course-item .course .course-picture {
  width: 100%;
  height: 170px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#home .course-item .course .course-content {
  padding: 15px;
  height: 115px;
  overflow: hidden;
  text-align: center;
}

#home .course-item .course .course-content .course-name {
  color: var(--pix-blue);
}

#home .course-item .course .course-number-of-challenges {
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
}

#home .course-item .course .course-actions {
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}

#home .course-item .course .course-actions > .start-button {
  background-color: var(--pix-blue);
  border-color: var(--pix-blue);
  border-bottom: 1px solid var(--pix-blue1);
  text-transform: none;
}

#home .course-item .course .course-actions > .start-button:hover,
#home .course-item .course .course-actions > .start-button:active {
  background-color: var(--pix-yellow);
  border-color: var(--pix-yellow);
  border-bottom: 1px solid var(--pix-yellow1);
}
