#home-loading .loader-container {
  width: 1em;
  height: 3em;
  margin: 0 auto;
  padding-top: 180px;
}

#home-loading .ball-zig-zag > div:nth-child(2) {
  background-color: var(--pix-blue);
}

#home-loading .ball-zig-zag > div:nth-child(1) {
  background-color: var(--pix-yellow);
}
