.smart-random-simulator {
  display: flex;
  flex-direction: row;

  .load-campaign-params{
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-content: left;
    margin-right: 20px;

    p{
      display: block;
      color: var(--pix-neutral-900);
      font-weight: var(--pix-font-medium);
      line-height: 1.5;
    }
  }

  section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4px;
  }

  .start {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    p {
      margin-right: 10px;
    }
  }
}
