{{#if this.canShowCredit}}
  <div class="organization-credit-info">
    <span class="organization-credit-info__label">{{t
        "navigation.credits.number"
        count=this.currentUser.organization.credit
      }}</span>

    <PixTooltip @id="credit-info-tooltip" @position="bottom-left" @isWide={{true}} @isLight={{true}}>
      <:triggerElement>
        <FaIcon @icon="info-circle" class="info-icon" tabindex="0" aria-describedby="credit-info-tooltip" />
      </:triggerElement>
      <:tooltip>
        {{t "navigation.credits.tooltip-text" htmlSafe=true}}
      </:tooltip>
    </PixTooltip>
  </div>
{{/if}}