<div class="topbar">
  <div class="topbar__organization-credit-info hide-on-mobile">
    <Layout::OrganizationCreditInfo />
  </div>
  <Layout::UserLoggedMenu class="topbar__user-logged-menu" />
</div>