<div class="topbar">
  <Layout::OrganizationPlacesOrCreditInfo @placesCount={{@placesCount}} />
  <Layout::UserLoggedMenu class="topbar__user-logged-menu" @reloadPlaceStatistics={{@reloadPlaceStatistics}} />
</div>