<div class="topbar">
  <Layout::OrganizationPlacesOrCreditInfo @placesCount={{@placesCount}} />
  <Layout::SchoolSessionManagement />
  <Layout::UserLoggedMenu class="topbar__user-logged-menu" @onChangeOrganization={{@onChangeOrganization}} />
</div>