<div class="topbar">
  <Layout::OrganizationPlacesOrCreditInfo @placesCount={{@placesCount}} />
  <Layout::SchoolSessionManagement @refreshAuthenticatedModel={{@refreshAuthenticatedModel}} />
  <Layout::UserLoggedMenu class="topbar__user-logged-menu" @refreshAuthenticatedModel={{@refreshAuthenticatedModel}} />
</div>