// enlève la flèche par défaut de la datalist sur chrome
.campaign-target-profile::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.clean-input-button__tooltip {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  height: 20px;
  margin: auto;
  border-right: solid 0.5px var(--pix-neutral-100);

  &__content {
    width: auto;
  }
}

.form__field-with-info {

  .pix-multi-select {
    @include device-is('desktop') {
      width: 140px;
    }
  }

  .pix-select {
    @include device-is('desktop') {
      width: 100%;
    }
  }

  &.form__field-campaign-owner {
    .pix-select {
      width: 100%;
    }
  }
}
