// enlève la flèche par défaut de la datalist sur chrome
.campaign-target-profile::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.clean-input-button__tooltip {
  position: absolute;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  border-right: solid 0.5px $pix-neutral-30;

  &__content {
    width: auto;
  }
}

.form__field-with-info {

  .pix-multi-select {
    @include device-is('desktop') {
      width: 140px;
    }
  }

  .pix-select {
    @include device-is('desktop') {
      width: 360px;
    }
  }
}
