.campaign-details-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.campaign-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.campaign-details-header {
  &__title {
    display: flex;
    align-items: center;
  }

  &__report {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

.campaign-details-header-report {
  &__participants {
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid $alto;
  }
}

.campaign-details__navbar {
  display: flex;
  margin: 1em 0;
}

