.campaign-details-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.campaign-details{
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
}

.campaign-details-header {
  &__title {
    display: flex;
    align-items: center;
  }

  &__report {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 345px;
  }
}

.campaign-details-header-report {
  &__info {
    padding-right: 15px;
    margin-right: 15px;
  }
}

.campaign-details-controls {
  &__navbar-tabs {
    display: flex;
  }

  &__export-button {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

.campaign-archived-banner {
  font-family: $open-sans;
  font-weight: 600;
  background: $comet;
  display: flex;
  padding: 13px 13px 13px 32px;
  border-radius: 6px;
  color: $white;
  flex-flow: row nowrap;
  align-items: center;

  &__icon {
    margin-right: 30px;
    font-size: 1.6rem;
  }
  &__unarchive-button {
    background: $comet;
    border: 2px solid white;
    margin-left: auto;
    &:hover {
      opacity: .8;
      background: $comet;
    }
    &:focus {
      background: $comet;
    }
  }
}
