.campaign-settings {
  display: flex;
  flex-direction: column;

  > dl {
    margin: 0
  }
}

.campaign-settings-row {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid var(--pix-neutral-20);
  }
}

.campaign-settings-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;

  &--single {
    flex-basis: 100%;
    border-left: none;

    &:first-child {
      width: 55%;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid var(--pix-neutral-20);
  }

  &__label {
    margin: 0 0 4px;

    &--with-tooltip {
      display: flex;

      & > :last-child {
        margin-left: 8px;
      }
    }

  }

  &__text {
    margin: 0;

    &--with-tooltip {
      display: flex;

      & > :last-child {
        margin-left: 8px;
      }
    }

    & p {
      margin: 0;
    }
  }

  &__clipboard {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}

.campaign-settings-content__tooltip-icon {
  margin: 0 0 4px 0;
  color: var(--pix-neutral-100);
}

.campaign-settings-buttons {
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 24px;

  > *:last-child {
    margin-left: auto;
  }
}

@include device-is('mobile') {
  .campaign-settings {
    width: initial;
  }

  .campaign-settings-row {
    flex-direction: column;
    justify-content: flex-start;
  }

  .campaign-settings-content {
    border-left: none;
  }
}
