<div class="mission-page">
  <div class="mission-page__header">
    <p class="text__header">Bienvenue pour ta nouvelle mission <b>{{@model.name}} </b>!</p>
    <p class="text__header">Prépare-toi à résoudre des épreuves et relever des défis 👀</p>
  </div>
  <div class="mission-page__body-start">
    <div class="label">
      <p>Mission</p>
    </div>
    {{#if (eq @model.id "recExjO7RHeDI48HK")}}
      <p class="text__body"><b>Objectif de la mission :</b> Savoir utiliser un moteur de recherche en ligne</p>
    {{else}}
      <p class="text__body"><b>Objectif de la mission :</b>
        Connaître la notion de données personnelles et savoir les protéger</p>
    {{/if}}
    <MissionCard @title={{@model.name}} />
    <LinkTo class="pix1d-button pix1d-button--small" @route="missions.mission.resume" id={{@model}}>Je commence</LinkTo>
  </div>
</div>