.participant-header {
  width: 100%;

  &__title {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }

  &__information {
    margin-bottom: 1em;
  }
}

.participant-header-content {
  &__left-wrapper {
    flex-shrink: 1;
    width: 60%;
    margin: 0 0 0 3%;
    border-right: 1px solid var(--pix-neutral-20);
  }

  &__right-wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 370px;
    max-width: 600px;

    .participant-content--large {
      flex-shrink: 0;
    }
  }
}
