.participant-results {
  width: 100%;

  &__details {
    margin-bottom: 30px;
  }
}

.participant-row {
  &__result {
    margin-bottom: 1em;
  }
}

.participant-results-content {
  &__summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
  }

  &__score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
  }

  &__circle-chart {
    margin-right: 40px;
  }

  &__circle-chart-value {
    color: $grey-100;
    font-family: $roboto;
    font-size: 1.9375rem;
  }
}

.participant-filter-banner {
  margin-bottom: 14px;
}

.division-filter {
  .pix-multi-select__item--no-result {
    padding: 8px 16px;
  }
}
