.restricted-access-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restricted-access-content {

  &__image {
    margin: auto;
    margin-bottom: 24px;
  }

  &__opening-title {
    @extend %pix-title-s;

    margin: 0;
    margin-bottom: 16px;
    text-align: center;
  }
}
