.restricted-access-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restricted-access-content {

  &__image {
    margin: auto;
    margin-bottom: 24px;
  }

  &__opening-title {
    @extend %pix-title-s;

    margin: 0;
    margin-bottom: 16px;
    text-align: center;
  }

  &__opening-dates {
    margin: 0;
    margin-bottom: 16px;
    padding: 8px 16px;
    color: var(--pix-neutral-0);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.15px;
    text-align: center;
    background: var(--pix-neutral-500);
    border-radius: 8px;

    @extend %pix-title-s;
  }

  &__link-calendar {
    @extend %pix-body-s;

    margin: 0;
    margin-bottom: 16px;
    line-height: 22px;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
