.session-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include device-is('desktop') {
    max-width: 500px;
  }

  &__mandatory-information {
    padding-bottom: $pix-spacing-m;
    color: $pix-neutral-70;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__actions {
    margin-top: $pix-spacing-l;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: $pix-spacing-m;
    list-style: none;
  }

  &__error {
    padding-top: 4px;
  }
}
