.team {
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
  }
  &__header-admin-buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--pix-spacing-4x);
  }

  &__tabs {
    display: flex;
    margin-bottom: var(--pix-spacing-6x);
  }

  &__no-referer-container {
    margin-bottom: 24px;
    padding: 6px;
  }

  &__no-referer-container-grey {
    padding: 16px;
    background: var(--pix-neutral-20);
    display: flex;
  }

  &__no-referer-title {
    @extend %pix-title-s;

    margin: 0 0 4px;
  }

  &__no-referer-description {
    @extend %pix-body-m;

    color: var(--pix-neutral-500);
    margin: 16px 0;
  }

  &__no-referer-bell-icon {
    width: 80px;
    padding: 2px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    svg {
      font-size: 2.5rem;
      color: var(--pix-neutral-500);
    }
  }
}
