.team {
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
  }
  &__header-admin-buttons {
    display: flex;
    justify-content: flex-end;
    gap: $pix-spacing-s;
  }

  &__tabs {
    display: flex;
    margin-bottom: $pix-spacing-m;
    border-bottom: 1px solid $pix-neutral-20;
  }

  &__update-referer-button {
    width: 180px;
    height: 50px;
    font-weight: 500;
    border-radius: 6px;
  }

  &__no-referer-container {
    margin-bottom: 24px;
    padding: 6px;
  }

  &__no-referer-container-grey {
    padding: 16px;
    background: $pix-neutral-5;
    display: flex;
  }

  &__no-referer-title {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: $font-open-sans;
    color: $pix-neutral-90;
    margin: 0 0 4px;
  }

  &__no-referer-description {
    color: $pix-neutral-50;
    margin: 16px 0;
  }

  &__no-referer-bell-icon {
    width: 80px;
    padding: 2px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    svg {
      font-size: 2.5rem;
      color: $pix-neutral-50;
    }
  }
}
