@use '../globals/fonts';
@use '../globals/breakpoints';
@use 'pix-design-tokens/typography';

.school-code {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 3rem;

  p, label, a {
    width: fit-content;
  }

  &__welcome-with-bubble {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &__welcome {
    @extend %pix-title-l;

    font-weight: 800;
  }

  &__instructions {
    font-size: 1.5rem;
  }

  &__label {
    @extend %pix-body-m;

    margin-top: 60px;
  }

  &__input {
    display: flex;
    padding-top: var(--pix-spacing-4x);
  }

  &__pix-code {
    border: solid 1px var(--pix-neutral-100);
    border-radius: var(--pix-spacing-2x);
  }

  &__rotated-bubble {
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    margin-bottom: 30px;
    padding: 12px 24px;
    color: var(--pix-primary-900);
    font-size: 1.5rem;
    text-align: left;
    background-color: var(--pix-secondary-500);
    border-radius: 16px;
    transform: rotate(-8deg);

    &::after {
      position: absolute;
      bottom: -14px;
      left: 20px;
      display: block;
      width: 0;
      border-color: transparent var(--pix-secondary-500);
      border-style: solid;
      border-width: 0px 0px 15px 25px;
      content: "";
    }
  }

  .pix1d-button {
    width: 215px;
    margin-top: 24px;
    margin-bottom: 64px;
    padding: 16px 40px;
    font-size: 1.125rem;
  }


  .logos {
    display: flex;
    gap: var(--pix-spacing-6x);
    margin-top: 73px;
    margin-bottom: 20px;
  }

  .logo {
    height: 80px;
  }

  @include breakpoints.device-is('desktop') {
    margin-top: 30px;

    .logos {
      gap: var(--pix-spacing-8x);
      margin-top: 149px;
      margin-bottom: 16px;
    }

    .logo {
      height: 112px;
    }
  }
}

