.campaign-participation-overview-grid {
  display: grid;
  grid-gap: 20px;
  padding-left: 0;
  min-width: 0;
  grid-template-columns: minmax(200px, 1fr);

  @include device-is('tablet') {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @include device-is('desktop') {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  &__item {
    list-style-type: none;
  }
}
