.campaign-participation-overview-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  @include device-is('tablet') {
    flex-direction: row;
  }

  &__item {
    list-style-type: none;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @include device-is('tablet') {
      width: calc(50% - 10px);
    }

    @include device-is('desktop') {
      width: calc(33% - 10px);
    }
  }
}
