<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.organizations.list">Tous les utilisateurs</LinkTo>
    <span style="color: #DDDDDD;">&nbsp;>&nbsp;</span>
    {{@model.firstName}} {{@model.lastName}}
  </div>
</header>

<main class="page-body" id="organizations-get-page">

</main>
