<div class="panel profiles__panel">
  <div class="table content-text content-text--small">
    <Routes::Authenticated::Campaigns::Details::ProfilesTab @campaign={{@model.campaign}} @participants={{@model.profiles}} />
  </div>
</div>
