{{page-title "Certification complémentaire " @model.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::Header @complementaryCertificationLabel={{@model.label}} />

<main class="page-body">
  {{outlet}}
</main>