.badge-data {
  display: flex;

  &__image {
    margin-right: 20px;
  }

  &__tags {
    margin: 8px 0;
  }
}

.badge-criteria-competences {
  list-style-type: none;
}

.badge-partner-competences-table {
  margin: 20px 0;
}
