.badge-data {
  display: flex;

  &__image {
    margin-right: 20px;
  }

  &__tags {
    margin: 8px 0;
  }

  &__action {
    margin-top: 12px;
  }

  &__list {
    padding: 0;
    list-style: none;
  }
}

.badge-criteria-competences {
  list-style-type: none;
}

.badge-edit-form {
  width: 50%;

  &__field {
    margin-bottom: 12px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    margin-bottom: 12px;
  }
}

.badge-edit-form-field {

  &__label {
    width: 100%;
  }
}

.skill-sets-table {
  margin: 20px 0;
}
