<div class="certification-details-v3__container">
  <section class="page-section"></section>
  <section class="page-section">
    <h2 class="certification-details-v3__title">Informations complémentaires</h2>

    <dl class="certification-details-v3__list">
      <dt>Nombre de question répondues <br /> / Nombre total de questions</dt>
      <dd>10/10</dd>
      <dt>Nombre de question OK :</dt>
      <dd>4</dd>
      <dt>Nombre de question KO :</dt>
      <dd>1</dd>
      <dt>Nombre de question abandonnées :</dt>
      <dd>2</dd>
      <dt>Nombre de problèmes techniques validés :</dt>
      <dd>3</dd>
    </dl>
  </section>
</div>
<section class="page-section"></section>