@import '../../../../styles/globals/breakpoints';

.mission-page {
  &__body {
    display: flex;
    margin-left: 145px;

    @include device-is('tablet') {
      margin-left: 125px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    margin-right: 40px;
    margin-left: 25px;
    text-align: left;

    .details-action {
      margin-top: 32px;
      margin-left: auto;
      padding: 16px 32px 16px 40px;
      font-size: 18px;
      border-radius: 100px;

      @include device-is('tablet') {
        margin: 32px 60px 0 auto;
      }

      &__icon {
        margin-left: 8px;
      }

      &__loader {
        display: none;

        &--visible {
          width: 200px;
          height: 58px;
        }
      }
    }

    .details-go-back {
      margin-bottom: 21px;
      color: var(--pix-primary-700);
      text-decoration: underline;
    }

    ul {
      margin-left: 30px;
      list-style-type: disc;
    }

    .details-list {

      &__title {
        margin-bottom: 16px;
        font-weight: 800;
        font-size: 18px;

        &--big {
          font-size: 28px;
        }
      }

      &__item {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 8px;

        p {
          line-height: 28px;
        }

        .icon {
          color: var(--pix-primary-500);
        }
      }
    }
  }
}

.pix-button.pix1d-button.details-action {
  .loader__not-visible-text {
    height: 20px;
  }
}
