  <header class="page-header">
    <h1 class="page-title">Gestion des certifications</h1>
  </header>
  <section class="page-section">
    <div class="certifications-menu">
      {{#link-to "authenticated.certifications.single"}}
      Consulter une certification
      {{/link-to}}
    </div>
  </section>