<header class="page-header">
  <h1 class="page-title">Sessions de certification</h1>
  <div class="page-actions">
    {{certification-select id=(readonly sessionId) select=(action "onLoadSession")}}
  </div>
</header>
{{#if sessionId}}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      {{#link-to "authenticated.certifications.sessions.info" sessionId class="nav-link"}}Informations{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "authenticated.certifications.sessions.info.list" sessionId class="nav-link"}}Liste{{/link-to}}
    </li>
  </ul>
{{/if}}
<section class="page-section  {{if sessionId 'with-navs'}}">
  {{#if loading}}
    <div class="single-loading">
      <i class='fa fa-spinner fa-spin fa-lg'></i>
      Chargement...
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</section>
