<div class="session-list-page">
  {{#if this.displayNoSessionPanel}}
    <NoSessionPanel />
  {{else}}
    <div class="session-list-page__header">
      <h1 class="page__title page-title">Sessions de certification</h1>
    </div>

    {{#if this.shouldDisplayResultRecipientInfoMessage}}
      <PixMessage @withIcon={{true}}>
        Vous pouvez maintenant renseigner l'adresse email du destinataire des résultats (exemple : formateur).<br>
        Pensez à bien renseigner ce champ lors de l'inscription des candidats.
        <a href="https://cloud.pix.fr/s/gTwmp4GKWNJtdn5" target="_blank" rel="noreferrer noopener">
          Plus d'informations ici.
        </a>
      </PixMessage>
    {{/if}}

    <div class="panel">
      <div class="session-list__header">
        <LinkTo @route="authenticated.sessions.new" class="button button--link button--with-icon">
          Créer une session
          <FaIcon @icon='plus'/>
        </LinkTo>
      </div>
    </div>
    <SessionSummaryList
            @sessionSummaries={{@model}}
            @goToSessionDetails={{this.goToSessionDetails}}
    />
  {{/if}}
</div>
