<div class="session-list-page">
  {{#if hasSession}}
    {{routes/authenticated/sessions/list-items
      sessions=model
      goToDetails=(action 'goToDetails')
      isSessionFinalizationActive=isSessionFinalizationActive
    }}
  {{else}}
    {{routes/authenticated/sessions/no-session-panel}}
  {{/if}}
</div>
