<div class="session-list-page">
  {{#if this.hasSession}}
    <Routes::Authenticated::Sessions::ListItems
            @sessions={{this.model}}
            @goToDetails={{this.goToDetails}}
            @isSessionFinalizationActive={{this.isSessionFinalizationActive}} />
  {{else}}
    <Routes::Authenticated::Sessions::NoSessionPanel />
  {{/if}}
</div>
