<div class="session-list-page">
  {{#if hasSession}}
    <Routes::Authenticated::Sessions::ListItems @sessions={{model}} @goToDetails={{action "goToDetails"}} @isSessionFinalizationActive={{isSessionFinalizationActive}} />
  {{else}}
    <Routes::Authenticated::Sessions::NoSessionPanel />
  {{/if}}
</div>
