<div class="list-sessions-page">
  {{#if hasSession}}
    {{routes/authenticated/sessions/list-items sessions=sortedSessions}}
  {{else}}
    {{routes/authenticated/sessions/no-session-panel}}
  {{/if}}
</div>
