<div class="new-campaign-page">
  <Routes::Authenticated::Sessions::NewItem
          @session={{this.model}}
          @createSession={{this.createSession}}
          @cancel={{this.cancel}}
  />
</div>
