<div class="update-session-page">
  <Routes::Authenticated::Sessions::UpdateItem
          @session={{this.model}}
          @updateSession={{this.updateSession}}
          @cancel={{this.cancel}}
  />
</div>
