<div class="update-session-page">
  {{routes/authenticated/sessions/session-form
    session=model
    saveSession=(action 'saveSession')
    cancel=(action 'cancel')
    isNewSession=false
  }}
</div>
