{{certification-list certifications=model.data}}
<!--
<div class="row">
  <div class="col session-list__actions">
    {{#bs-button class='session-lit__button' type='primary' size='sm' onClick=(action "onExport")}}Exporter{{/bs-button}}
  </div>
</div>
-->
