.result-item__title {
  display: flex;
  gap: var(--pix-spacing-3x);
  align-items: center;
  margin-bottom: var(--pix-spacing-1x);
  font-weight: var(--pix-font-bold);
}

.result-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-item__instruction {
  width: 82%;
  overflow: hidden;
  font-size: 1rem;
}
