.password-rule {
  display: flex;
  gap: var(--pix-spacing-2x);
  align-items: center;

  path {
    fill: var(--pix-success-500);
  }

  &--error {
    font-weight: var(--pix-font-bold);

    path {
      fill: var(--pix-error-500);
    }
  }
}
