.password-reset-form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  input {
    width: 100%;
    padding: var(--pix-spacing-3x);
  }

  &__mandatory-fields-message {
    @extend %pix-body-xs;

    color: var(--pix-neutral-500);
  }

  &__password-input, &__submit-button {
    width: 100%;
  }
}

.password-reset-succeeded-info {
  margin-top: var(--pix-spacing-6x);
  margin-bottom: var(--pix-spacing-4x);
  padding: var(--pix-spacing-6x);
  color: var(--pix-neutral-900);
  text-align: center;
  background-color: var(--pix-success-50);
  border-radius: var(--pix-spacing-4x);

  &__heading {
      @extend %pix-title-xs;

      margin-top: var(--pix-spacing-8x);
  }
}
