<div class="list-campaigns-page__header-page">
  <h1 class="page__title page-title">Campagnes</h1>
  <div class="list-campaigns-page__create-campaign-button">
    {{#link-to 'authenticated.campaigns.new' class="button button--link"}}Créer une campagne{{/link-to}}
  </div>
</div>

<div class="campaign-list">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
        <tr>
          <th>Parcours</th>
          <th>Participants</th>
          <th>Résultats reçus</th>
        </tr>
        </thead>

        <tbody>
        {{#each campaigns as |campaign|}}
          <tr onclick={{action goToCampaignPage campaign.id}} class="tr--clickable">
            <td>{{campaign.name}}</td>
            <td>{{campaign.campaignReport.participationsCount}}</td>
            <td>{{campaign.campaignReport.sharedParticipationsCount}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
