<div class="list-campaigns-page__header-page">
  <h1 class="page__title page-title">Campagnes</h1>
  <div class="list-campaigns-page__create-campaign-button">
    {{#link-to 'authenticated.campaigns.new' class="button button--link"}}Créer une campagne{{/link-to}}
  </div>
</div>

<div class="campaign-list">
  {{#each campaigns as |campaign|}}
    {{campaign-item campaign=campaign}}
  {{/each}}
</div>
