<div class="no-campaign-panel">
  <div class="no-campaign-panel__explain-create-campaign">
    <img src="{{this.rootURL}}/icons/icon-campagne-start.svg" alt="Vous pouvez créer des campagnes.">
    <h1 class="page-title">Créez votre première campagne</h1>
    <div class="no-campaign-panel__information-text information-text">
      Configurez et lancez votre première campagne. Vous pourrez ensuite inviter vos utilisateurs à rejoindre ce parcours.
    </div>

    <div class="no-campaign-panel__link-to-create">
      <LinkTo @route="authenticated.campaigns.new" class="button button--link">Créer une campagne</LinkTo>
    </div>
  </div>
</div>
