<div class="rounded-panel__row challenge-actions">

  <div class="challenge-actions__group">
    <PixButton
      @isDisabled={{@isDisabled}}
      @triggerAction={{@validateAnswer}}
      @backgroundColor="green"
      @shape="rounded"
      class="challenge-actions__action-validate"
    >
      <span class="challenge-actions__action-validate-text">
        Valider
      </span>
    </PixButton>
  </div>
</div>