<div>
  <div>
    <PixButton @isDisabled={{@isDisabled}} @triggerAction={{@validateAnswer}} @backgroundColor="green" @shape="rounded">
      <span>
        Vérifier
      </span>
    </PixButton>
  </div>
</div>