<section class="page-section">
  <Users::CertificationCenters::Memberships
    @certificationCenterMemberships={{@model.certificationCenterMemberships}}
    @disableCertificationCenterMembership={{this.disableCertificationCenterMembership}}
  />
</section>