<section class="page-section">
  <Users::CertificationCenters::Memberships
    @certificationCenterMemberships={{@model}}
    @onCertificationCenterMembershipRoleChange={{this.updateCertificationCenterMembershipRole}}
    @disableCertificationCenterMembership={{this.disableCertificationCenterMembership}}
  />
</section>