{{#burger-menu animation="push" translucentOverlay=true as |burger|}}
  {{#burger.outlet}}

    {{navbar-header class="navbar-header--white" burger=burger}}

    <div class="background-banner-wrapper">
      <div class="background-banner"></div>
        {{certification-not-certifiable}}
    </div>

  {{/burger.outlet}}
{{/burger-menu}}
