{{#burger-menu animation="push" translucentOverlay=true as |burger|}}
  {{#burger.outlet}}

    {{navbar-header class="navbar-header--white" burger=burger}}
    <div class="background-banner-wrapper">
      <div class="background-banner"></div>

      <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner certification-start-page__panel">

        <Stepper @steps={{array "certification-stepper-start"}}/>

      </div>
    </div>

  {{/burger.outlet}}
{{/burger-menu}}
