<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <NavbarHeader @burger={{burger}} />
    <div class="background-banner-wrapper">
      <div class="background-banner"></div>

      <div class="app-nested-loader rounded-panel--over-background-banner rounded-panel rounded-panel--strong">
        <p class="app-loader__image">
          <img src="/images/interwind.gif" alt="" role="presentation" />
        </p>
        <p class="app-loader__text">{{t "common.loading.default"}}</p>
      </div>

    </div>

    <Footer />

  </burger.outlet>
</BurgerMenu>