<header class="campaign__header">
  <div class="campaign__header__links">
    {{#link-to 'index'}}<span aria-hidden="true">&lt; </span>Retour à mon compte{{/link-to}}
  </div>
</header>
<div class="campaign__gradient"></div>

<div class="campaign__container">
  {{outlet}}
</div>
