{{navbar-header class="navbar-header--white"}}

<div class="certification-error-page">

  <div class="certification-error-page__ribbon blue-ribbon" />

  <div class="certification-error-page__panel rounded-panel">
    <h2 class="certification-error-page__title">
      Votre profil n'est pas encore certifiable.
    </h2>
    <p class="certification-error-page__text">
      Pour faire certifier votre profil, vous devez avoir obtenu un niveau supérieur à 0 dans 5 compétences minimum.
    </p>

    {{#link-to "index" class="certification-error-page__button"}}Retour à l'accueil{{/link-to}}

  </div>

</div>

{{app-footer}}