<div class="compte-page">

  {{navbar-header class="navbar-header--white"}}

  {{profile-panel competences=model.competences totalPixScore=model.totalPixScore searchForOrganization=(route-action 'searchForOrganization')}}
</div>

{{app-footer}}