<div class="compte-page">

  {{navbar-header class="navbar-header--white"}}

  <h1>Bienvenue</h1>

  <a href="/logout">Se déconnecter</a>

  {{profile-panel competences=model.competences}}
</div>

{{app-footer}}