<div class="signin-container">
  <div class="signin-no-account">
    <p class="signin-no-account-text" title="">Vous n'avez pas encore de compte Pix ?</p>
    <a class="signin-inscription-button" href="/inscription">S'inscrire <span class="sr-only"> sur Pix</span> </a>
  </div>

  {{signin-form onSubmit=(route-action 'signin')}}
</div>
