<div class="course-groups-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="course-groups-page__header">
    <div class="course-groups-page__header-title">Le défi <span class="course-groups-page__header-title__pix-span">pix</span></div>
    <div class="course-groups-page__header-description">Chaque semaine, tester vos compétences numériques sur un nouveau
      sujet
    </div>
  </div>

  <div class="course-groups-page__series">
    {{#each model as |serie|}}
      <div class="course-groups-page__series-item">
        <div class="course-groups-page__series-name">{{serie.name}}</div>
        <div class="course-groups-page_series-line"></div>
        <div class="course-groups-page__courses">{{course-list courses=serie.courses}}</div>
      </div>
    {{/each}}
  </div>

  {{app-footer}}

</div>