<div class="course-groups-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="course-groups-page__header">
    <div class="course-groups-page__header-title">Les défis <span class="course-groups-page__header-title__pix-span">pix</span></div>
    <div class="course-groups-page__header-description">Chaque semaine, testez vos compétences numériques sur un nouveau
      sujet.
    </div>
  </div>

  <div class="course-groups-page__course-groups">
    {{#each model as |courseGroup|}}
      <div class="course-groups-page__course-group-item">
        <div class="course-groups-page__course-group-name">{{courseGroup.name}}</div>
        <div class="course-groups-page_course-group-line"></div>

        <div class="course-groups-page__courses">{{course-list courses=courseGroup.courses startCourse='startCourse'}}</div>
      </div>
    {{/each}}
  </div>

  {{app-footer}}

</div>