<div id="index">
    <div class="cover">
    </div>
    <div class="container">
        <div class="row presentation">
            <div class="col-md-12">
                <h1>Et vous, combien de PIX avez-vous ?</h1>
                <h2 class="sales-pitch">
                    PIX est un projet public de plateforme en ligne d'évaluation et de certification des compétences
                    numériques, en cours de développement.  Rejoignez la communauté des premiers testeurs pour nous
                    aider à le construire !
                </h2>
            </div>
        </div>

        <div class="row identification-form">
            <div class="col-md-12">
                {{identification-form}}
            </div>
        </div>
  </div>
</div>

