<div class="legal-notices-page">
  {{navbar-header class="navbar-header--white"}}
  <div class="rounded-panel legal-notices-page__container">
    <h1 class="legal-notices-page__title">
      Mentions légales
    </h1>
    <section class="legal-notices-section legal-notices-section--editor">
      <h2 class="legal-notices-section__title">Éditeur</h2>
      <p>Groupement d’intérêt public « Pix » <br>
        110 rue de Grenelle <br>
        75007 Paris<br>
        tél. : 01 43 40 00 18<br>
      </p>
      <br/>
      <p>Directeur de la publication : M. Benjamin MARTEAU, Directeur</p>
      <h3 class="legal-notices-section__subtitle">Membres du groupement d'intérêt public pix :</h3>
      <ul class="legal-notices-members">
        <li class="legal-notices-member">
          <a class="legal-notices-member__link" target="_blank" href="http://www.education.gouv.fr/">
            <img src="/images/legal-notices/logo-MEN.jpg" alt="logo ministère de l'éducation nationale">
          </a>
        </li>
        <li class="legal-notices-member">
          <a class="legal-notices-member__link" target="_blank" href="http://www.enseignementsup-recherche.gouv.fr/">
            <img src="/images/legal-notices/logo-MESRI.jpg"
                 alt="logo ministère de l'enseignement supérieur, de la recherche et de l'innovation">
          </a>
        </li>
      </ul>
      <ul class="legal-notices-members">
        <li class="legal-notices-member">
          <a class="legal-notices-member__link" target="_blank" href="http://uoh.fr/front">
            <img src="/images/legal-notices/logo-UOH.jpg" alt="logo université ouverte humaines">
          </a>
        </li>
        <li class="legal-notices-member">
          <a class="legal-notices-member__link" target="_blank" href="http://www.cned.fr/">
            <img src="/images/legal-notices/logo-CNED.jpg" alt="logo CNED">
          </a>
        </li>
        <li class="legal-notices-member">
          <a class="legal-notices-member__link" target="_blank" href="http://unistra.fr/">
            <img src="/images/legal-notices/logo-Univ-strasbourg.jpg" alt="logo université strasbourg">
          </a>
        </li>
      </ul>
      <p>
        <a target="_blank" href="https://www.legifrance.gouv.fr/eli/arrete/2017/4/27/MENF1711150A/jo">
          Arrêté du 27 avril 2017 portant approbation de la convention constitutive du groupement d'intérêt
          public « PIX »
        </a>
      </p>
    </section>
    <section class="legal-notices-section legal-notices-section--personal-data">
      <h2 class="legal-notices-section__title">Protection des données personnelles</h2>
      <p>Correspondante « informatiques et libertés » : Mme Nathalie DENOS</p>
      <p>Conformément à la loi « informatiques et libertés » du 6 janvier 1978, vous bénéficiez d’un droit d’accès, de
        rectification et d’opposition sur les données à caractère personnel vous concernant. Vous pouvez exercer ces
        droits, et/ou formuler toute demande d'information relative à vos données personnelles, en contactant notre
        Correspondant « informatiques et libertés » :</p>
      <ul class="legal-notices-data-restriction-means">
        <li class="legal-notices-data-restriction-mean">
          <p>- par voie électronique, en adressant votre demande accompagnée de la copie d'un titre d'identité, à <a
            href="mailto:cil.pix@beta.gouv.fr" target="_top">cil.pix@beta.gouv.fr</a>
          </p>
        </li>
        <li class="legal-notices-data-restriction-mean">
          <p>
            - par courrier, accompagné de la copie d'un titre d'identité, à l'adresse suivante : PIX - 193 rue de Bercy - tour Gamma A - 75012 Paris
          </p>
        </li>
      </ul>
    </section>
    <section class="legal-notices-section legal-notices-section--hosting">
      <h2 class="legal-notices-section__title">Hébergements</h2>
      <p>
        OVH<br>
        2 rue Kellermann<br>
        59100 Roubaix<br>
        France
      </p>
    </section>
    <section class="legal-notices-section legal-notices-section--credits">
      <h2 class="legal-notices-section__title">Crédits</h2>
      <p>UX / UI Design : <a target="_blank" href="http://reloaded.digital/">Reloaded</a></p>
    </section>

  </div>
</div>
{{app-footer}}
