<div class="signin-container">
  <div class="signin-no-account">
    <p class="signin-no-account-text" title="">Vous n'avez pas encore de compte Pix ?</p>
    {{#link-to "inscription" class="signin-inscription-button"}}S'inscrire <span class="sr-only"> sur Pix</span> {{/link-to}}
  </div>

  {{signin-form onSubmit=(route-action 'signin')}}
</div>
