<div class="password-reset-page">

  <div class="password-reset-page__inscription">
    <p class="password-reset-page__inscription-text" title="">Vous n'avez pas encore de compte Pix ?</p>
    {{#link-to 'inscription' class="password-reset-page__inscription-button"}}
      S'inscrire <span class="sr-only"> sur Pix</span>{{/link-to}}
  </div>

  <div class="password-reset-page__password-reset-form">
    {{password-reset-form}}
  </div>
</div>
