<div class="reset-password">

  <div class="reset-password__link-to-home">
    <a href="/" class="signin-form__home-link">Annuler
      <img class="signin-form__home-link_close" alt="" src="/images/icons/icon-close.svg"></a>
  </div>

  {{reset-password-form user=model}}
</div>