<div class="series-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="series-page__header"></div>

  <div class="series-page__series">
    {{#each model as |serie|}}
      <div class="series-page__serie-item">{{serie.name}}</div>
      <div class="series-page__courses">{{course-list courses=serie.courses}}</div>
    {{/each}}
  </div>
</div>