<div class="terms-of-service-page">
  {{navbar-header class="navbar-header--white"}}

  <div class="rounded-panel terms-of-service-page__content">

    <h1 class="terms-of-service-page__title">Conditions générales d'utilisation du site Pix</h1>
    <p class="terms-of-service-page__subtitle">Toute utilisation du Site est soumise au préalable à la prise de connaissance et à l’acceptation des présentes Conditions Générales d’Utilisation.</p>

    <section class="terms-of-service-section terms-of-service-section--legal-notice">
      <h2 class="terms-of-service-section__title">1. Notice légale</h2>
      <p>Le Site est édité par Groupement d’intérêt public « Pix »</p>
      <ul>
        <li>SIRET : 130 023 435 00014</li>
        <li>Adresse : 110 rue de Grenelle 75007 PARIS</li>
        <li>Téléphone : 01 43 40 00 18</li>
        <li>Email :  contact@pix.beta.gouv.fr</li>
      </ul>

      <p><b>Directeur de publication :</b> M. Benjamin MARTEAU, Directeur du GIP Pix</p>
      <p><b>Objet</b></p>
      <p><b>Pix</b> <a href="https://pix.beta.gouv.fr">https://pix.beta.gouv.fr</a> est un site visant à permettre l’évaluation et la certification des compétences numériques, et à faciliter l’accès à la formation sur ces compétences.</p>
      <p>Les conditions générales d’utilisation ont pour objet de définir les droits et obligations de tout Utilisateur du Site et de l’Éditeur.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--definitions">
      <h2 class="terms-of-service-section__title">2. Définitions</h2>
      <p>Les termes ci-après définis ont le sens et la portée donnés dans leur définition dans le cadre de la conclusion et l’exécution des présentes Conditions Générales d’Utilisation.</p>
      <p>« <span class="terms-of-service__definition">Conditions Générales d’Utilisation » ou « CGU</span> » : les présentes Conditions Générales d’Utilisation, destinées à encadrer au plan contractuel l’utilisation du Site par tout Utilisateur.</p>
      <p>« <span class="terms-of-service__definition">Contenus informationnels</span> » : l’ensemble des textes, photographies, illustrations, à l’exception des contenus de test.</p>
      <p>« <span class="terms-of-service__definition">Contenus de test » ou « épreuves</span> » : les épreuves (énoncés, consignes, illustrations, documents à télécharger, etc.).</p>
      <p>« <span class="terms-of-service__definition">Éditeur</span> » : désigne <b>Groupement d’intérêt public « Pix »</b> qui édite le Site.</p>
      <p>« <span class="terms-of-service__definition">Hébergeur</span> » : désigne l’entreprise qui héberge les données pour le Service indiqué dans les {{#link-to "legal-notices"}}mentions légales{{/link-to}}.</p>
      <p>« <span class="terms-of-service__definition">Site</span> » : le site internet Pix accessible à partir du lien <a href="https://pix.beta.gouv.fr">https://pix.beta.gouv.fr.</a></p>
      <p>« <span class="terms-of-service__definition">Service</span> » : le service Pix incluant le Service standard et le Service prescripteur.</p>
      <p>« <span class="terms-of-service__definition">Service standard</span> » : le service standard est celui qui permet à l’utilisateur de bénéficier directement de la fonction première du Site, c’est-à-dire évaluer et préparer la certification de ses propres compétences numériques et disposer d’un accès facilité à la formation permettant de les développer.</p>
      <p>« <span class="terms-of-service__definition">Service prescripteur</span> » : le service prescripteur est celui qui permet à un acteur d’opérer le suivi pédagogique de cohortes d’utilisateurs du Service standard.</p>
      <p>« <span class="terms-of-service__definition">Visiteur</span> » : tout usager du Site non doté d’un compte ou non connecté à son compte.</p>
      <p>« <span class="terms-of-service__definition">Utilisateur</span> » : tout usager du Site doté d’un compte et utilisant tout ou partie du Service.</p>
      <p>« <span class="terms-of-service__definition">Utilisateur standard</span> » : tout usager du Site doté d’un Compte standard.</p>
      <p>« <span class="terms-of-service__definition">Compte standard</span> » : compte utilisateur donnant accès au Service standard.</p>
      <p>« <span class="terms-of-service__definition">Utilisateur prescripteur</span> » : tout usager du Site doté d’un Compte prescripteur.</p>
      <p>« <span class="terms-of-service__definition">Compte prescripteur</span> » : compte utilisateur donnant accès au Service prescripteur.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--site-access">
      <h2 class="terms-of-service-section__title">3. Accès au site</h2>
      <p>Le présent article a vocation à décrire les modalités et conditions d’accès au Site et au Service.</p>
      <p>Le Site est mis gratuitement à disposition de tout Visiteur et tout Utilisateur standard à partir de l’adresse <a href="https://pix.beta.gouv.fr"><b>https://pix.beta.gouv.fr</b></a></p>
      <p>Le Visiteur peut naviguer sur le Site pour la consultation des contenus informationnels d’ordre général sans nécessité de disposer d’un compte.</p>
      <p>Le Visiteur peut créer gratuitement un Compte standard et s’y connecter pour accéder au Service standard. Seule une personne physique peut créer un Compte standard, et elle doit en faire un usage personnel.</p>
      <p>Pour accéder au Service prescripteur, le Visiteur doit obligatoirement s’adresser à l'Éditeur pour obtenir un Compte prescripteur dans le cadre d’une convention établie à cette occasion, après quoi il aura accès au Service prescripteur. L’Editeur se réserve le droit discrétionnaire de ne pas donner suite aux demandes de création de Compte prescripteur. Même si l’accès au Service prescripteur fait l’objet d’une convention avec une organisation ou entité, tout Compte prescripteur est associé à au moins une personne physique.</p>
      <p>L'accès au Site et son utilisation par tout Utilisateur ou Visiteur sont soumis aux présentes CGU, aux lois en vigueur concernant l'utilisation d'Internet, et plus généralement au respect de toutes les lois applicables.</p>
      <p>La navigation au sein du Site emporte acceptation inconditionnelle des présentes CGU.</p>
      <p>L’accès d’un Utilisateur au Service pourra être révoqué s’il contrevient à l’une de ces dispositions.</p>

    </section>

    <section class="terms-of-service-section terms-of-service-section--headings-and-warnings">
      <h2 class="terms-of-service-section__title">4. Rubriques et mises en garde associées</h2>
      <p>Le présent article a vocation à décrire et à émettre des mises en garde concernant les différents espaces du Site, les rubriques et les fonctionnalités associées, le cas échéant.</p>

      <h4 class="terms-of-service-section__subtitle">Mises en garde générales relatives au Site :</h4>
      <p>Les Utilisateurs ne peuvent utiliser le Site à d’autres fins que pour sa destination définie en objet des présentes CGU.</p>

      <h4 class="terms-of-service-section__subtitle">Mises en garde générales relatives aux contenus informationnels du Site :</h4>
      <p>Les Contenus informationnels du Site permettent de s’informer sur le projet Pix et sur le Service.</p>
      <p>Les informations formalisées et organisées dans le cadre des différentes rubriques du Site ont une vocation synthétique et ne sont en aucun cas présentées à titre exhaustif.</p>
      <p>Malgré le soin apporté au traitement des informations, l’Editeur décline toute responsabilité concernant les erreurs, omissions ou défauts d’actualisation portant sur les informations diffusées sur ce Site. L’Editeur ne peut être tenu responsable de l'interprétation ou de l’utilisation des Contenus informationnels diffusés par l’intermédiaire du Site, ni des conséquences.</p>
      <p>L’Utilisateur est seul responsable de l’utilisation des informations proposées via le Site, de toute décision prise et de toute action mise en œuvre à partir des informations contenues au sein du Site.</p>
      <p>L’utilisation des supports d’information accessibles dans le cadre du site se fait dans le respect des modalités d’utilisation du site, de ses contenus et de ses fonctionnalités.</p>

      <h4 class="terms-of-service-section__subtitle">Mises en garde relatives aux contenus de test du Site :</h4>
      <p>Les Contenus de test du Site sont soumis à un processus d'amélioration continue. L’Editeur utilise les statistiques issues du passage des tests par les Utilisateurs pour contribuer à ce processus.</p>
      <p>L’Editeur se réserve le droit de mettre à jour les Contenus de tests sans publicité ni préavis. L’Editeur ne pourra pas être tenu pour responsable des dommages éventuels faisant suite à ces modifications.</p>

      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">4.1. Accueil</h3>
        <p>Dans cet espace, le Visiteur a accès à un ensemble d’informations sur le projet et le Service.</p>
      </div>

      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">4.2. Ressources</h3>
        <p>L’Utilisateur standard a accès à des contenus de tests, vidéos, publications (actualités, informations, ...), liens vers des formations en ligne et tout autre contenu relatif aux compétences numériques.</p>
        <p>L’Utilisateur standard peut utiliser ces ressources à titre personnel pour appuyer sa démarche de développement de compétences numériques.</p>
      </div>

      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">4.3. Abonnement à des lettres d’informations</h3>
        <p>L’Utilisateur peut bénéficier de lettres d’informations d’actualités, sur les différentes thématiques abordées dans le cadre du Site.</p>
        <p>Les lettres d’informations sont accessibles sur inscription, laquelle nécessite de renseigner des données personnelles, dans le respect des dispositions de l’article relatif à la protection des données personnelles.</p>
      </div>
    </section>

    <section class="terms-of-service-section terms-of-service-section--obligations-and-responsabilities">
      <h2 class="terms-of-service-section__title">5. Obligations générales et responsabilités  des Utilisateurs ou Visisiteurs</h2>
      <p>De manière générale, tout Utilisateur ou Visiteur s’engage à faire du Site un usage conforme à sa destination et à respecter de manière inconditionnelle l'ensemble de la législation applicable, et notamment :</p>
      <ul>
        <li>le droit de la propriété intellectuelle et de la propriété industrielle ayant notamment prises sur les créations multimédias, les textes, les images de toute nature auxquels il a accès dans le cadre du Site ;</li>
        <li>la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée, dite loi Informatique et Libertés ;</li>
        <li>le dispositif légal de protection contre la fraude informatique.</li>
      </ul>
      <p>En conséquence, l’Utilisateur ou Visiteur s’abstient de toute action ou tentative susceptible de porter atteinte à l’intégrité du Site, à sa disponibilité, ainsi plus généralement qu’aux droits de l’Editeur et à ce titre s’interdit :</p>
      <ul>
        <li>de transmettre des virus, un cheval de Troie, des bombes logiques ou tout autre programme nuisible ou destructeur ;</li>
        <li>d’entraver le Site par quelque moyen que ce soit ;</li>
        <li>de reproduire et/ou utiliser la marque, la dénomination sociale, le logo ou tout signe distinctif et de manière générale toute donnée de quelque nature qu’elle soit, rédactionnel, graphique ou autre appartenant à l’Editeur, un de ses partenaires ou un tiers, sauf autorisation expresse de l’Editeur ;</li>
        <li>de procéder ou même de tenter une intrusion au sein du Site ou du système d’information d’administration du Site, ou de modifier, totalement ou partiellement les éléments qui y sont contenus.</li>
      </ul>
      <p>L’Utilisateur est, en tout état de cause, exclusivement responsable de l’utilisation qu’il fait du Site et de ses Contenus, et, de manière générale, de toute décision prise sur la base de ces Contenus.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--hypertext-links">
      <h2 class="terms-of-service-section__title">6. Liens hypertexte</h2>
      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">6.1. A partir du Site</h3>
        <p>L’Editeur n’est en aucun cas responsable du contenu des sites vers lesquels des liens sont faits.</p>
        <p>Leur présence ne signifie en aucune manière que l’Editeur adhère ou valide leur contenu ou accepte une responsabilité quelconque pour le contenu ou l'utilisation de ces sites tiers.</p>
        <p>Les liens sont proposés à titre strictement indicatif par l’Editeur, et utilisés par les Utilisateurs sous leur responsabilité exclusive, sans aucune démarche de certification des sites concernés de la part de l’Editeur.</p>
        <p>Chaque Utilisateur accède aux sites tiers sous sa seule et entière responsabilité, y compris lorsque des liens ont été proposés à partir du Site.</p>
      </div>

      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">6.2. Vers le Site</h3>
        <p>Toute mise en œuvre d’un lien vers une page du Site correspondant à un Contenu de test requiert l’autorisation expresse et préalable de l’Editeur qui peut être sollicité à l’adresse électronique suivante : contact@pix.beta.gouv.fr.</p>
      </div>
    </section>

    <section class="terms-of-service-section terms-of-service-section--intellectual-property">
      <h2 class="terms-of-service-section__title">7. Propriété intellectuelle</h2>
      <p>La marque, l’ensemble des Contenus de test et les bases de données sont la propriété exclusive de l’Editeur et sont protégés par le Code français de la propriété intellectuelle et plus généralement par les traités et accords internationaux comportant des dispositions relatives à la protection des droits d'auteur, des producteurs de bases de données et des droits de propriété intellectuelle.</p>
      <p>L’ensemble des Contenus informationnels du Site peuvent être utilisés par les Visiteurs et Utilisateurs pour leur information et usage personnels, et à des fins de promotion du Site et du Service. Les contenus informationnels relatifs à la description des compétences (notamment le référentiel) sont soumis à la licence Creative Commons CC BY (l’auteur à citer est pix.beta.gouv.fr).</p>
      <p>Toute autre forme d'utilisation des contenus en fraude des droits de l’Editeur constituerait une contrefaçon sanctionnée notamment par les articles L.335-2 et suivants du Code de la propriété intellectuelle français susceptible d’exposer les auteurs de ces agissements à des poursuites judiciaires civiles et pénales.</p>
      <p>L’Editeur se réserve le droit de prendre toutes les mesures qu'il juge adéquates afin d'empêcher ou de mettre un terme à l'atteinte à ses droits d'auteurs ou aux droits d'auteurs de tiers, sans qu'aucune responsabilité ne puisse lui être imputée en raison de ces mesures.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--data-protection">
      <h2 class="terms-of-service-section__title">8. Protection des données</h2>
      <p>Des données à caractère personnel concernant l’Utilisateur (en ce compris des données relatives à l’état civil et éventuellement portant sur la vie personnelle, à l’exclusion de toute donnée de santé au sens de l’article 8 de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée, dite loi Informatique et Libertés et de l’article L.1111-8 du Code de la santé publique) sont collectées et traitées :</p>
      <ul>
        <li>dans le cadre de la création d’un Compte standard ou prescripteur ;</li>
        <li>dans le cadre de l’utilisation du Service ;</li>
        <li>dans le cadre de l’inscription à une lettre d’information.</li>
        <li>dans le cadre de l’émission de commentaires (retours d’usage ou feedback utilisateur) ;</li>
      </ul>
      <p>À ce titre, <b>l’Editeur</b> revêt la qualité de responsable de traitement au sens de la Loi Informatique et Libertés et a procédé à une formalité de désignation d’un Correspondant Informatique et Libertés auprès de la Commission Nationale de l’Informatique et des Libertés.</p>
      <p>Les informations concernant les Utilisateurs sont destinées exclusivement :</p>
      <ul>
        <li>à leur propre usage conformément à l’objet du Site ;</li>
        <li>à l’amélioration des performances du Site et du Service ;</li>
        <li>à leur donner accès, de façon optionnelle et à leur discrétion, à des fonctionnalités de partage en direction de tiers ;</li>
        <li>à des fins de statistiques anonymes.</li>
      </ul>
      <p>Lorsqu’un Utilisateur standard décide du partage de données personnelles depuis son Compte standard vers un Compte prescripteur, le transfert est opéré par l’Editeur dans le cadre suivant :</p>
      <ul>
        <li>le tiers titulaire du Compte prescripteur s’engage à respecter la charte dressée dans la convention établie en amont lors de la création du Compte prescripteur ;</li>
        <li>cette charte est  accessible à l’Utilisateur standard qui peut la consulter avant de déclencher l’opération de partage.</li>
      </ul>
      <p>Les données personnelles sont stockées sur les bases de données de l’Editeur chez l’Hébergeur. L’Editeur s’engage à ce que les données personnelles soient stockées en France.</p>
      <ul>
        <li>La durée de conservation des données personnelles est établie de façon différenciée selon la finalité de leur collecte, et selon les principes suivants :</li>
        <li>les données personnelles nécessaires à la création d’un compte sont conservées pour la durée d’utilisation du Service ;</li>
        <li>les données personnelles résultant de l’évaluation des compétences numériques de l’Utilisateur standard sont conservées pour la durée d’utilisation du Service ;</li>
        <li>les données personnelles résultant de la certification des compétences numériques de l’Utilisateur standard sont conservées pour une durée cohérente avec la valeur probante du document qui les recèle.</li>
      </ul>
      <p>Conformément à la loi Informatique et Libertés, l’Utilisateur dispose d'un droit d'accès, d’opposition,  de rectification et de suppression des données à caractère personnel le concernant.</p>
      <p>Pour exercer ces droits, l’Utilisateur doit contacter le Correspondant Informatique et Libertés habilité à répondre aux demandes d’exercice des droits des Utilisateurs, via l’adresse électronique suivante : cil.pix@beta.gouv.fr.</p>
      <p>La demande doit préciser les noms, prénom, et adresse électronique de l’Utilisateur et être accompagnée d’une copie de la pièce d’identité de l’Utilisateur, conformément à la réglementation en vigueur.</p>
      <p>L’Editeur met en œuvre toutes les mesures de sécurité afin de garantir la protection et la sécurité des données des Utilisateurs.</p>
      <p>L’Utilisateur dispose également du droit de définir des directives générales relatives à la conservation, à l'effacement et à la communication de ses données à caractère personnel après son décès qui peuvent être enregistrées auprès d'un tiers de confiance numérique certifié par la CNIL, et de directives particulières, concernant les traitements de données à caractère personnel mentionnées par ces directives, qui peuvent être enregistrées auprès de l’Editeur à l’adresse susmentionnée et qui font l’objet de son consentement spécifique à ce titre.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--cookies">
      <h2 class="terms-of-service-section__title">9. Cookies</h2>
      <div class="terms-of-service-section__subsection">
        <h3 class="terms-of-service-section__subsection-title">9.1. Cookies utilisés</h3>
        <p>Un cookie est un petit fichier alphanumérique qui est déposé dans le terminal de l’ordinateur, smartphone, tablette, mobile, etc, de l’Utilisateur, lors de sa connexion au Site.</p>
        <p>Le Site n’utilise pas les Cookies pour son fonctionnement à l’exception d’un suivi statistique des visites.</p>
        <p>L’Utilisateur ou Visiteur peut à tout moment désactiver l’usage des cookies dans son navigateur sans altérer le fonctionnement du Site.</p>
        <p>Les informations collectées sont à l’usage exclusif de l’Editeur, et ne sont en aucun cas cédées à des tiers.</p>

      </div>

    </section>

    <section class="terms-of-service-section terms-of-service-section--limitations-of-liability">
      <h2 class="terms-of-service-section__title">10. Limitations de responsabilité</h2>
      <p>Autant que possible, l’Editeur intègre au sein du Site des Contenus précis et fiables mais ne fournit aucune garantie quant à leur exhaustivité et leur mise à jour. Ces contenus sont fournis à titre indicatif.</p>
      <p>Le Site ne saurait être tenu responsable des dommages directs ou indirects, qui pourraient résulter de l’accès au Site ou de l’utilisation et/ou de l’interprétation de ses Contenus, et de ses fonctionnalités, quelle qu’en soit la nature.</p>
      <p>En outre, l’Editeur décline toute responsabilité en cas de dommages subis par l’Utilisateur à raison notamment de la perte, de la détérioration ou de l’altération de fichiers ou tout autre bien à l’occasion de la connexion et/ou de la consultation et/ou de l’utilisation du Site, de ses fonctionnalités et de ses Contenus.</p>
      <p>S’agissant de l’accès aux supports d’information, compte tenu des aléas techniques inhérents à l’Internet, l’Editeur ne fournit aucune garantie d’accès et de continuité au Site.</p>
      <p>En cas d’interruption de l’accès au Site, quelle qu’en soit la cause (opération de maintenance en cours, incident sur le réseau Internet ou autre), l’Editeur s’engage à mettre en œuvre les actions nécessaires au rétablissement de l’accès au Site, dans les meilleurs délais et à la bonne information des utilisateurs ou visiteurs.</p>
      <p>L’Editeur fera ses meilleurs efforts pour rendre le Site accessible 24 heures sur 24 et 7 jours sur 7, mais ne saurait en aucun cas engager sa responsabilité à ce titre.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--security">
      <h2 class="terms-of-service-section__title">11. Sécurité</h2>
      <p>D’une manière générale, la sécurité du Site impose aux Utilisateurs d'avertir l’Editeur à l’adresse <a href="mailto:contact@pix.beta.gouv.fr">contact@pix.beta.gouv.fr</a> de tout dysfonctionnement technique constaté et de toute anomalie découverte, telle que les intrusions.</p>
      <p>L’Editeur ne pourra pas être tenu pour responsable des dommages résultant des défauts de communication entre les serveurs loués chez l’Hébergeur et le dispositif utilisé pour accéder au Site.</p>
      <p>L’Editeur ne pourra pas être tenu pour responsable des dommages résultant des défauts des dispositifs logiciels et matériels utilisés pour accéder au Site.</p>
      <p>L’Editeur ne pourra être tenu pour responsable des dommages résultant de bug(s), voire de tout programme ou d'application qui serait incompatible avec l'infrastructure utilisée par l'Utilisateur, ni des dommages subis par l'Utilisateur par le fait d'une panne, interruption ou erreur, évolution, remise en état, contrôle, maintenance, problème technique, coupure du réseau internet ou des réseaux ou services liés, surcharge, négligence ou faute de tiers ou de l'Utilisateur, ainsi qu'en cas d'évènements indépendants de la volonté de l’Editeur.</p>
      <p>Chaque Utilisateur est responsable de la mise en œuvre au sein de son ordinateur ou de son équipement mobile une solution et des mesures de sécurité de nature à prévenir la propagation de virus.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--modifications">
      <h2 class="terms-of-service-section__title">12. Modifications</h2>
      <p>L’Editeur se réserve le droit de modifier à tout moment les présentes CGU ou les règles concernant l’utilisation du Site ainsi que le Site et ses Contenus. Chaque nouvelle version des présentes CGU sera mise en ligne au sein du Site. L’Editeur s’engager à assurer la bonne information des Utilisateurs sur ces modifications. Le fait de continuer à utiliser le Site après toute modification des CGU entraîne l’acceptation des modifications des CGU.</p>
      <p>L’Editeur se réserve en outre le droit de faire évoluer le Site et ses Contenus. Des modifications techniques pourront intervenir sans préavis de la part de l’Editeur. L’Editeur s’engage à rendre publique chacune des modifications et améliorations techniques apportées.</p>
      <p>L’Editeur se réserve le droit de suspendre provisoirement ou définitivement l’accès au Site, sans délai, ni contrepartie de quelque nature que ce soit.</p>
    </section>

    <section class="terms-of-service-section terms-of-service-section--french-law">
      <h2 class="terms-of-service-section__title">13. Loi française</h2>
      <p>Le Site et les Contenus sont destinés à l’Utilisation de résidents français et sont créés conformément aux règles applicables en France.</p>
      <p>Les présentes CGU sont régies par la loi française. Les résidents étrangers acceptent expressément l’application de la loi française en visitant le Site et en utilisant tout ou partie des fonctionnalités du Site et sont informés que les autres pays peuvent avoir des réglementations différentes de la réglementation française.</p>
      <p>En conséquence, les Utilisateurs reconnaissent que toute information y figurant est susceptible de ne pas être complète ou compatible ou appropriée en dehors de la France.</p>
      <p>Tout litige relatif au Site ou en relation avec son utilisation sera soumis, à défaut de règlement amiable, aux tribunaux français.</p>
      <p>Si une ou plusieurs stipulations des CGU sont tenues pour non valides ou déclarées telle en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations gardent toute leur force et leur portée.</p>
    </section>


  </div>
</div>

{{app-footer}}
