<Ui::IsCertifiable @isCertifiable={{@isCertifiable}} />
{{#if this.displayCertificabilityDate}}
  <span class="cell-certifiable-at">{{dayjs-format @certifiableAt "DD/MM/YYYY" allow-empty=true}}</span>
{{/if}}