<div class="certificability-tooltip">
  <PixTooltip @id="column-is-certifiable-informations" @position="top-left" @isWide={{true}}>
    <:triggerElement>
      <FaIcon
        @icon="circle-question"
        tabindex="0"
        aria-label={{t "components.certificability-tooltip.aria-label"}}
        aria-describedby="column-is-certifiable-informations"
      />
    </:triggerElement>
    <:tooltip>
      <span>{{t "components.certificability-tooltip.content"}}</span>
      <span>{{this.certificabilityDescription}}</span>
    </:tooltip>
  </PixTooltip>
</div>