@use 'pix-design-tokens/breakpoints';

.catalogue {
  &__nav {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__filters {
    margin-bottom: var(--pix-spacing-4x);

    @include breakpoints.device-is('desktop') {
      .pix-filter-banner__filter > * {
        flex-basis: 15rem;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--pix-spacing-3x);
    width: 100%;
  }
}
