.certifications-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $pix-spacing-l;
  padding: $pix-spacing-s 0 0 $pix-spacing-s;

  &__tabs {
    display: flex;
    margin-bottom: $pix-spacing-s;
    border-bottom: 1px solid var(--pix-neutral-20);
  }

  &__text {
    margin: 2px 0 32px 0;
    color: var(--pix-neutral-500);
    font-size: 1rem;
    font-family: $font-roboto;
    line-height: 1.45rem;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: $pix-spacing-s;
    align-items: flex-end;
    min-width: 100%;
    margin-bottom: $pix-spacing-xl;
  }

  .pix-message {
    max-width: max-content;
  }
}

.certifications-page-header {
  &__add-member-button {
    margin-top: 20px;
    margin-left: auto;
  }
}
