.certifications-page {
  display: flex;
  flex-direction: column;
  padding: $spacing-s 0 0 $spacing-s;
  width: 100%;
  margin-bottom: $spacing-l;

  // TODO : Remove after update fix on PIX UI
  .pix-select__dropdown {
    overflow-x: hidden;
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid $pix-neutral-20;
    margin-bottom: $spacing-s;
  }

  &__text {
    font-family: $font-roboto;
    margin: 2px 0 32px 0;
    font-size: 1rem;
    line-height: 1.45rem;
    color: $pix-neutral-60;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    min-width: 100%;
    margin-bottom: $spacing-xl;
    gap: $spacing-s;
  }

  .pix-message {
    max-width: max-content;
  }
}

.certifications-page-header {
  &__add-member-button {
    margin-top: 20px;
    margin-left: auto;
  }
}
