.mission-list {
  &__title {
    margin: 1em 0;
  }
}

.mission-list-banner {
  a {
    font-weight: bolder;
    text-decoration: underline;
  }

  li {
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 15px;
    list-style: disc;

    li {
      margin-left: 15px;
      list-style: circle;
    }
  }

  &__school-code {
    display: inline-flex;
    margin-top: 8px;

    .pix-icon-button {
       color: var(--pix-info-700);
     }
  }

  &__copypaste-container {
    display: flex;
    flex-direction: column;
    text-align: start;

    #external-link-icon {
      margin-left: 4px;
      text-decoration: none;
    }
  }
}

.button_import {
  width: fit-content;
  margin: 5px;
  padding: 5px;
}

.mission-header {
  margin-bottom: var(--pix-spacing-6x);

  &__banner {
    margin: var(--pix-spacing-4x) 0;
  }

  &-informations {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 25px 0;


    &__title {
      @extend %pix-title-m;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__details {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      margin: 0;
      padding: 0;


      & > * {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid var(--pix-neutral-20);
      }

      & > *:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right-width: 0;
      }
    }

    &__details-item {
      @extend %pix-body-s;

      color: var(--pix-neutral-500);

      & > dt {
        display: block;
        margin-bottom: var(--pix-spacing-2x);
      }

      & > dd {
        margin: 0;
        color: var(--pix-neutral-900);
      }
    }
  }
}

.mission-informations {
  @extend %pix-body-l;

  color: var(--pix-neutral-500);

  &__objective-list {
    margin-top: var(--pix-spacing-2x);
    margin-left: var(--pix-spacing-6x);
    list-style: disc;
  }
}

.learners-title {
  margin-bottom: var(--pix-spacing-4x)
}

