.download-file {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  padding: 0.5em 0;
  top: 0;
  z-index: 1;

  &__button {
    width: fit-content;
  }
}
.preselect-tube-table {
   .is-responsive {
     color: $green;
   }
   .not-responsive {
     position: absolute;
     top: 50%;
     left: calc(50% + 12px);
     transform: translate(-50%, -50%);
     color: $red;
   }
}

