.terms-of-service-page {
  display: flex;
  flex-direction: column;
  align-items: center; // XXX do not remove: ugly fix for ugly IE
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background: var(--pix-secondary-500)-orga-gradient;
}

.terms-of-service-form {
  justify-content: center;
  max-width: 800px;
  margin: auto;
  padding: 35px 0;
  background-color: var(--pix-neutral-0);
  border-radius: 10px;

  @include device-is('mobile') {
    width: 95%;
  }

  &__logo {
    margin-bottom: 20px;

    & img {
      display: flex;
      margin: auto;
    }
  }

  &__title {
    @extend %pix-title-s;

    margin-bottom: 30px;
    color: var(--pix-neutral-900);
    text-align: center;
    text-transform: uppercase;
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    background-color: var(--pix-neutral-20);
    border: none;
  }

  &__text {
    @extend %pix-body-m;

    height: 400px;
    margin: 0 60px 20px;
    padding: 0 35px;
    overflow-x: hidden;
    overflow-y: scroll;

    @include device-is('mobile') {
      margin: 20px 0;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-6x);
    justify-content: flex-end;
    margin: 0 60px;

    @include device-is('mobile') {
      flex-direction: column;
      align-items: center;
    }
  }
}

.terms-of-service-form-text {
  &__article-title {
    @extend %pix-title-xs;
  }

  &__article-subtitle {
    @extend %pix-title-xs;
  }
}
