@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.terms-of-service-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: var(--pix-spacing-4x);
  background: var(--pix-orga-500);
}

.terms-of-service-acceptation {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  width: min(700px, 100%);
  margin: auto;
  padding: var(--pix-spacing-8x);
  background: var(--pix-neutral-0);
  border-radius: var(--pix-spacing-2x);
  box-shadow: 0 6px 12px 0 rgb(7 20 46 / 8%);

  &__illustration {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    align-items: center;
    padding: var(--pix-spacing-2x) 0;
  }

  &__link {
    @extend %pix-body-l;

    display: flex;
    gap: var(--pix-spacing-1x);
    align-items: center;
    font-weight: var(--pix-font-bold);
    text-decoration: underline;
  }

  &__actions {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--pix-spacing-4x);
    padding-top: var(--pix-spacing-4x);
    border-top: 1px solid var(--pix-neutral-100);

    @include breakpoints.device-is('tablet') {
      flex-flow: row wrap;
      gap: var(--pix-spacing-6x);
    }
  }

  &__accept-action {
    flex-grow: 1;
  }
}

