.autonomous-course-landing-page-start-block {
  padding: 1.5rem 3rem 2.5rem;
  text-align: center;
}

.autonomous-course-landing-page-start-block__logos {
  display: flex;
  justify-content: space-between;

  img {
    height: 5rem;
  }
}

.autonomous-course-landing-page-start-block__title {
  @extend %pix-title-m;

  margin-top: 2rem;
  text-align: center;
}

.autonomous-course-landing-page-start-block__description {
  @extend %pix-body-l;

  margin-top: 1rem;
  color: $pix-neutral-50;
}

.autonomous-course-landing-page-start-block__launcher {
  display: inline-block;
  margin: 1.5rem 0 2rem;
  padding: 1.5rem 2rem;
  background-color: $pix-neutral-10;
  border-radius: 0.5rem;

  p {
    @extend %pix-title-xs;
  }

  .start-anonymously-button {
    margin: 0.75rem auto 1.25rem;
  }

  .sign-in-button {
    margin-top: 0.5rem;
    color: $pix-primary;
    font-size: 0.875rem;
    text-decoration: underline;
  }
}

.autonomous-course-landing-page-start-block__connected-start-button {
  margin: 1.5rem auto 2rem;
}

.autonomous-course-landing-page-start-block__informations {
  @extend %pix-body-xs;
}
