@use 'pix-design-tokens/colors';

.llm-preview__header .pix-background-header__background {
  background: colors.$pix-primary-certif-gradient;
}

.llm-preview__iframe {
  width: 100%;
  height: 600px;
  border: none;
}
