.session-finalization-examiner-global-comment-step {
  padding: 22px 32px;

  &__header-container {
    color: $grey-40;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      margin: 16px 0;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 116px;
  }
}
