.session-finalization-reports-information-step {
  font-size: 0.8125rem;

  &__title {
    display: flex;
    background: #F4F5F7;
    margin: 8px;
    color: #5E6C84;
    font-weight: bold;
    padding: 20px 0 20px 48px;
  }

  &__icon {
    margin-right: 12px;
    font-size: 1rem;
  }

  table {
    table-layout: initial;
  }


  &__row {
    display: flex;
    align-items: center;
  }

  &__checker {
    margin-right: 16px;
  }

  .finalization-report-examiner-comment {
    display: flex;

    .add-button {
      font-size: 13px;
    }
  }

  &__header_cancel{
    display: flex;

    .pix-tooltip{
      padding-left: 5px;
      cursor: help;
    }

    .pix-tooltip__content--wide{
      width: 600px;
    }

    ul{
      margin-left: 10px;

      li{
        list-style-type: disc;

        li{
          list-style-type: '- ';
        }
      }
    }

  }

  .finalization-report-cancel-reason {

    .pix-select {
      max-width: 210px;
    }
  }
}
