.session-finalization-reports-informations-step {
  font-size: 0.8125rem;

  table {
    table-layout: initial;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__checker {
    margin-right: 16px;
  }

  .finalization-report-examiner-comment {
    display: flex;

    .add-button {
      font-size: 13px;
    }
  }
}
