.action-chip {
  width: 36px;
  height: 36px;
  background: $pix-neutral-0;
  border-radius: 50%;
  border: 1px solid $pix-neutral-10;
  text-align: center;

  &__icon {
    left: calc(50% - 20px / 2);
    top: 0%;
    bottom: 0%;
    color: $pix-neutral-50;
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
    border: 1.4px solid $pix-neutral-50;
    background: $pix-neutral-10;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  &--selected {
    border-color: $pix-primary;

    .action-chip__icon {
      color: $pix-primary;
    }

    &:hover {
      border-color: $pix-primary-60;

      .action-chip__icon {
        color: $pix-primary-60;
      }
    }

    &:focus-visible {
      background-color: $pix-primary;
      box-shadow: 0 0 0 3px $pix-primary;
      border-color: $pix-neutral-0;

      .action-chip__icon {
        color: $pix-neutral-0;
      }
    }
  }

  &:not(.action-chip--selected):focus-visible {
    background-color: $pix-neutral-60;
    box-shadow: 0 0 0 3px $pix-neutral-60;
    border-color: $pix-neutral-0;
    outline: none;

    .action-chip__icon {
      color: $pix-neutral-0;
    }
  }
}
