.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badge-card {
  display: flex;
  flex: 1 1 90%;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  margin: 10px;
  overflow: hidden;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgb(12 22 58 / 10%), 0 1px 3px 0 rgba($pix-neutral-110, 0.1);

  @include device-is('desktop') {
    flex: 1 1 40%;
    min-width: 420px;
    max-width: 420px;
    min-height: 200px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 24px;
    padding-right: 16px;

    @include device-is('desktop') {
      flex: 1 1 40%;
      min-width: 300px;
      max-width: 300px;
    }
  }

  &-text {
    &__title {
      margin: 1em 0;
      color: $pix-neutral-100;
      font-weight: $font-medium;
      font-size: 1.12rem;
      font-family: $font-roboto;
      letter-spacing: 0.028rem;
    }

    &__message {
      margin-bottom: 0;
      color: $pix-neutral-45;
      font-weight: $font-normal;
      font-size: 0.85rem;
      font-family: $font-roboto;
      line-height: 1.2rem;
      letter-spacing: 0.0093rem;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    max-width: 120px;
    padding: 16px;
    background-color: $pix-neutral-10;

    img {
      width: 90px;
    }

    &--not-acquired {
      filter: grayscale(1);
    }
  }
}

.badge-card-status {
  &__acquired-icon {
    margin-right: 4px;
    color: $pix-success-50;
  }

  &__not-acquired-icon {
    margin-right: 4px;
    color: $pix-neutral-50;
  }
}
