.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badge-card {
  display: flex;
  flex: 1 1 90%;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  margin: 10px;
  overflow: hidden;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgb(12 22 58 / 10%), 0 1px 3px 0 rgba($pix-neutral-110, 0.1);

  @include device-is('desktop') {
    flex: 1 1 40%;
    min-width: 420px;
    max-width: 420px;
    min-height: 200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: $pix-spacing-m $pix-spacing-s $pix-spacing-m $pix-spacing-m;

    @include device-is('desktop') {
      flex: 1 1 40%;
      min-width: 300px;
      max-width: 300px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    max-width: 120px;
    padding: $pix-spacing-s;
    background-color: $pix-neutral-10;

    img {
      width: 90px;
    }

    &--not-acquired {
      filter: grayscale(1);
    }
  }
}

.badge-card-content {
  &__header {
    display: flex;
    gap: $pix-spacing-s;
    align-items: center;
  }

  &__title {
    @extend %pix-title-xs;

    margin: 12px 0 $pix-spacing-xs;
    color: $pix-neutral-100;
  }

  &__message {
    @extend %pix-body-s;

    margin-bottom: 0;
    color: $pix-neutral-45;
  }
}

.badge-card-content-header {
  &__status {
    @extend %pix-body-s;

    padding: $pix-spacing-xxs $pix-spacing-xs;
    white-space: nowrap;
    background-color: $pix-neutral-10;
    border-radius: 8px;
  }
}

.badge-card-content-header-status {
  &__acquired-icon {
    margin-right: $pix-spacing-xxs;
    color: $pix-success-50;
  }

  &__not-acquired-icon {
    margin-right: $pix-spacing-xxs;
    color: $pix-neutral-50;
  }
}
