.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badge-card {
  display: flex;
  flex: 1 1 90%;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  margin: 10px;
  overflow: hidden;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgb(12 22 58 / 10%), 0 1px 3px 0 rgb(var(--pix-neutral-900) 0.1);

  @include device-is('desktop') {
    flex: 1 1 40%;
    min-width: 420px;
    max-width: 420px;
    min-height: 200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: var(--pix-spacing-6x) var(--pix-spacing-4x) var(--pix-spacing-6x) var(--pix-spacing-6x);

    @include device-is('desktop') {
      flex: 1 1 40%;
      min-width: 300px;
      max-width: 300px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    max-width: 120px;
    padding: var(--pix-spacing-4x);
    background-color: var(--pix-neutral-20);

    img {
      width: 90px;
    }

    &--not-acquired {
      filter: grayscale(1);
    }
  }
}

.badge-card-content {
  &__header {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
  }

  &__title {
    @extend %pix-title-xs;

    margin: 12px 0 var(--pix-spacing-2x);
    color: var(--pix-neutral-900);
  }

  &__message {
    @extend %pix-body-s;

    margin-bottom: 0;
    color: var(--pix-neutral-500);
  }
}

.badge-card-content-header {
  &__status {
    @extend %pix-body-s;

    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
    white-space: nowrap;
    background-color: var(--pix-neutral-20);
    border-radius: 8px;
  }
}

.badge-card-content-header-status {
  &__acquired-icon {
    margin-right: var(--pix-spacing-1x);
    color: var(--pix-success-500);
  }

  &__not-acquired-icon {
    margin-right: var(--pix-spacing-1x);
    color: var(--pix-neutral-100);
  }
}
