.badge-certifiable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.badge-card-certifiable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: var(--pix-spacing-6x);
  background-color: var(--pix-success-50);
  border-radius: 16px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--not-acquired {
    background-color: var(--pix-neutral-20);
  }

  @include device-is('tablet') {
    flex-grow: 0;
    width: calc(50% - 10px);

    &:nth-child(even) {
      margin-left: 20px;
    }

    &:first-child:last-child {
      width: 100%;
    }
  }

  &__image {
    width: 130px;

    &--not-acquired {
      filter: grayscale(1);
    }
  }
}

.badge-card-certifiable-header {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-content: center;
  }

  &__title {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-2x) 0 var(--pix-spacing-4x);
  }
}

.badge-card-certifiable-header-content {
  &__status {
    @extend %pix-body-s;

    width: fit-content;
    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
    white-space: nowrap;
    background-color: var(--pix-neutral-0);
    border-radius: 8px;
  }

  &__progression {
    inline-size: 7rem;
  }
}
