.banner-brand {
  display: flex;
  align-items: center;
  min-height: 80px;
  max-width: 990px;
  width: 100%;
  padding-right: 10px;

  @include device-is('desktop') {
    min-height: 100px;
    padding: 0;
  }

  &__pix-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;

    img {
      position: relative;
      top: 4px;
      right: -8px;
    }
  }

  &__splitter {
    width: 1px;
    border-left: 1px solid $mercury-grey;
    height: 40px;
    margin: 0 10px;

    @include device-is('desktop') {
      margin: 0 20px;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-family: $font-open-sans;

    @include device-is('desktop') {
      font-size: 1.75rem;
    }

    h1 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: $font-light;

      @include device-is('desktop') {
        font-size: 2.4rem;
        font-weight: $font-normal;
      }
    }
  }
}
