@import 'certifications-list';

.certifications-list-item {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid $pix-neutral-20;
}

.certifications-list-item img {
  width: 8px;
  margin-right: 10px;
  margin-bottom: 1px;

  @include device-is('tablet') {
    width: 12px;
    margin-bottom: 3px;
  }
}

.certifications-list-item__clickable {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.certifications-list-item__clickable:hover {
  color: inherit;
  background-color: $pix-neutral-10;
}

.certifications-list-item__not-clickable a {
  cursor: default;
}

.certifications-list-item__row {
  @extend .certifications-list__table-row;
}

.certifications-list-item__row-presentation {
  @extend .certifications-list-item__row;

  height: 30px;

  @include device-is('tablet') {
    height: 60px;
    font-size: 1rem;
  }
}

.certifications-list-item__row-presentation.cp-Panel-toggle:link {
  color: inherit;
  text-decoration: none;
}

.certifications-list-item__row-comment {
  @extend .certifications-list-item__row;

  max-height: 0;
  padding: 0 2%;
  overflow: hidden;
  transition: max-height 0s ease;

  &--open {
    height: auto;
    max-height: 1000px;
    transition: max-height 1s ease-out;
  }
}

.certifications-list-item__row-comment-cell {
  @extend .certifications-list-item__cell;

  padding: 10px 0;
  color: $pix-neutral-60;
  font-size: 1rem;
  text-align: left;
  border-top: 1px solid $pix-neutral-20;
}

.certifications-list-item__cell {
  @extend .certifications-list__table-row-item;
}

.certifications-list-item__cell-double-width {
  @extend .certifications-list-item__cell;

  flex-grow: 2;
}

.certifications-list-item__unpublished-item {
  color: $pix-neutral-35;
}

.certifications-list-item__published-item {
  color: $pix-neutral-80;
}

.certifications-list-item__cell-pix-score {
  @extend .certifications-list-item__cell;
}

.certifications-list-item__pix-score {
  display: table;
  width: 18px;
  height: 20px;
  margin-left: 10%;
  text-align: center;
  background: url('/images/background/hexa-pix.svg') no-repeat;
  background-size: cover;

  @include device-is('tablet') {
    width: 36px;
    height: 40px;
  }

  span {
    display: table-cell;
    color: $pix-neutral-70;
    font-weight: 300;
    font-size: 0.5rem;
    line-height: normal;
    letter-spacing: -1px;
    vertical-align: middle;

    @include device-is('tablet') {
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
}

.certifications-list-item__cell-certification-center {
  @extend .certifications-list-item__cell-double-width;

  justify-content: center;
}

.certifications-list-item__cell-detail {
  @extend .certifications-list-item__cell;

  flex-flow: row-reverse nowrap;
  justify-content: left;

  & :first-child {
    color: $pix-primary;
    font-size: 0.813rem;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@mixin arrow-button() {
  margin-bottom: 2%;
  margin-left: 8px;
}

.certifications-list-item__clickable .cp-is-open .certifications-list-item__cell-detail::before {
  @include arrow-button;

  content: url('/images/icons/icon-arrow-down.svg');
}

.certifications-list-item__clickable .cp-is-closed .certifications-list-item__cell-detail::before {
  @include arrow-button;

  content: url('/images/icons/icon-arrow-up.svg');
}
