@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/colors';

.blur-banner {
  filter: blur(30px);
}

.certification-number {
  margin-left: auto;
  color: var(--pix-neutral-0);
  text-align: right;

  &__label {
    text-transform: uppercase;
    opacity: 0.5;
  }

  &__value {
    font-weight: bold;
    font-size: 1.875rem;
  }
}
