@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.certification-start-page {
  display: grid;
  align-items: center;
  max-width: 880px;
  min-height: 100%;
  margin: 0 auto;
  padding-block: var(--pix-spacing-8x);

  @include breakpoints.device-is('mobile') {
    margin: var(--pix-spacing-4x);
  }

  @include breakpoints.device-is('tablet') {
    margin-top: calc(var(--pix-app-layout-top) * -1);
 }

  &__information {
    @extend %pix-body-s;

    margin-top: var(--pix-spacing-3x);
    text-align: center;
  }

  &__title {
    @extend %pix-title-m;

    margin-block: var(--pix-spacing-6x);
    text-align: center;

    @include breakpoints.device-is('tablet') {
      margin-bottom: var(--pix-spacing-10x);
    }
  }
}

.certification-starter-subscriptions {
  margin-bottom: var(--pix-spacing-8x);

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    text-align: center;
    background-color: var(--pix-neutral-20);

    &-title {
      @extend %pix-body-m;
    }

    &-items {
      &__eligible,
      &__non-eligible {
        @extend %pix-body-s;

        display: flex;
        gap: var(--pix-spacing-1x);
        align-items: center;
        font-weight: 500;
      }

      &__eligible-icon {
        color: var(--pix-success-700);
      }

      &__non-eligible,
      &__non-eligible-icon {
        color: var(--pix-neutral-500);
      }

      &__non-eligible-icon,
      &__eligible-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.certification-start-page__cgu {
  @extend %pix-body-xs;

  margin-block: var(--pix-spacing-2x) var(--pix-spacing-6x);
  line-height: 18px;
  text-align: justify;
}

.certification-start__form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);
  max-width: 25rem;
  margin-inline: auto;
}

.certification-start-form__error-message {
  display: inline-flex;
  margin-top: var(--pix-spacing-4x);
}

.certification-start-form__lang-confirm-checkbox {
  & > label {
    background-color: var(--pix-info-50);
    border-color: transparent;
  }

  padding-bottom: var(--pix-spacing-8x);
  border-bottom: 1px solid var(--pix-neutral-100);
}

.certification-start-form__pix-plus-explanation {
  color: var(--pix-neutral-800);

  @extend %pix-body-s;
}

.certification-start-form__code {
  padding-top: var(--pix-spacing-4x);

  .label {
    margin-bottom: var(--pix-spacing-3x);
    text-align: center;
  }

  .input {
    display: block;
    margin-inline: auto;
  }
}


.certification-start-form__submit-button {
  margin: 0 auto var(--pix-spacing-6x);
}
