.certifications-list {
  justify-content: space-around;
  color: var(--pix-neutral-800);
  font-size: 0.625rem;
  font-family: $font-open-sans;
  background-color: transparent;

  @include device-is('tablet') {
    font-size: 0.875rem;
  }
}

.certifications-list__table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.certifications-list__table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.certifications-list__table-row-item {
  display: flex;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;
  align-items: center;
  padding: 5px 2%;
}

.certifications-list__table-header {
  @extend .certifications-list__table-row;

  font-weight: $font-bold;

  div {
    text-transform: uppercase;
  }
}

.certifications-list__table-header-cell {
  @extend .certifications-list__table-row-item;

  padding: 5px 3%;
}

.certifications-list__table-header-cell-double-width {
  @extend .certifications-list__table-header-cell;

  flex-grow: 2;
}

.certifications-list__table-header-cell-certification-center {
  @extend .certifications-list__table-header-cell-double-width;

  justify-content: center;
}

.certifications-list__table-body {
  background-color: var(--pix-neutral-0);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgb(51 51 51 / 10%), 0 1px 3px 0 rgb(0 0 0 / 8%);
}
