.certification-progress {
  text-align: right;
  color: $white;
  margin-bottom: 10px;

  .certification-progress__label {
    opacity: 0.5;
    text-transform: uppercase;
  }

  .certification-progress__value {
    font-size: 3rem;
    font-weight: bold;
  }
}
