.certification-joiner {
  margin-top: 32px;
  text-rendering: optimizelegibility;

  &__title {
    margin-bottom: 32px;
    color: $pix-neutral-90;
    font-size: 2rem;
    font-family: $font-open-sans;
    text-align: center;
  }

  &__row {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 24px;
  }

  form {
    display: block;
    width: 280px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    min-width: 0;
    height: 50px;
    padding-left: 10px;
    border: 2px solid $pix-neutral-20;
    border-radius: 4px;
    outline-width: 1px;

    &:hover {
      box-shadow: 0 0 0 2px $pix-primary-40;
    }

    &:focus {
      outline: 1px solid $pix-primary-40;
      box-shadow: 0 0 0 2px $pix-primary-40;
    }

    &:focus-within {
      outline: 1px solid $pix-primary-40;
      box-shadow: 0 0 0 2px $pix-primary-40;
    }

    &.certification-joiner__input--invalid:not(:hover) {
      outline: 1px solid $error;
      box-shadow: 0 0 0 2px $error;
    }

    &.certification-joiner__input--invalid:focus {
      outline: 1px solid $error;
      box-shadow: 0 0 0 2px $error;
    }
  }

  input::-ms-clear {
    display: none;
  }

  button {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 34px;
    border: 2px solid $pix-neutral-0;

    &:focus-within {
      border: 2px solid $pix-neutral-0;
      box-shadow: 0 0 0 2px $pix-primary;
    }
  }

  ::placeholder {
    color: $pix-neutral-30;
  }

  :input-placeholder {
    color: $pix-neutral-30;
  }

  p.certification-joiner__validation-error {
    margin-top: 6px;
    margin-bottom: 0;
    color: $pix-warning-60;
    font-size: 0.875rem;
  }

  &__birthdate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .pix-input {
      flex: 0.3;

      input {
        padding-right: 3px;
      }
    }
  }

  &__label {
    margin-bottom: 4px;
    color: $pix-neutral-70;
    font-size: 0.875rem;
  }

  .certification-course-page {
    &__errors {
      margin: 5px;
      color: $pix-warning-60;
      font-size: 0.875rem;
      text-align: start;

      &__list {
        li {
          margin: 8px 0 0 16px;
          text-align: start;
          list-style: disc;
        }
      }

      a,
      a:visited {
        color: $pix-warning-60;
        text-decoration: underline;
      }
    }
  }
}
