.assessment-banner {
  &--certification {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      height: 270px;
      background: $pix-emerald-to-emerald-dark-gradient;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      color: $white;
  }
}

.certification-number {
  margin-left: auto;
  text-align: right;
  color: $white;
  width: 150px;

  &__label {
   opacity: 0.5;
   text-transform: uppercase;
 }

 &__value {
   font-size: 1.875rem;
   font-weight: bold;
 }
}
