.challenge-response {
  font-size: 15px;
  background-color: $porcelain-grey;
  margin: 6px;

  @include device-is('desktop') {
    font-size: 20px;
  }
}

.challenge-response__proposal-label {
  font-weight: $font-normal;
  width: 100%;
}

.proposal-text {
  font-weight: $font-normal;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 2.6rem;
}
