.challenge-response {
  font-size: 15px;
  background-color: $porcelain-grey;
  margin: 6px;

  @include device-is('desktop') {
    font-size: 20px;
  }

  &__proposal {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.challenge-response__proposal {
  &--paragraph {
    display: flex;
    width: 100%;
    height: auto;
    resize: vertical;
  }

  &--sentence {
    display: flex;
    width: 100%;
  }
}

.challenge-response__proposal-label {
  font-weight: $font-normal;
  width: 100%;
}

.proposal-text {
  font-weight: $font-normal;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 2.6rem;
}
