.challenge-item {
  padding: $pix-spacing-xxs;

  &--focused {
    z-index: 1;
    border-radius: 10px;
    outline: 3px dashed $pix-neutral-70;
    outline-offset: -3px;
  }
}

.challenge-response {
  @extend %pix-body-m;

  display: flex;
  flex-direction: column;
  margin: 4px;
  background-color: $pix-neutral-10;

  label {
    font-weight: $font-normal;
  }

  a {
    color: $pix-primary;
    text-decoration: underline;

    @include device-is('tablet') {
      display: inline-block;
    }

    &:active,
    &:focus,
    &:hover {
      color: $pix-primary-60;
    }

    &::after {
      @include external-link;
    }
  }

  &__proposal {
    width: auto;

    &--paragraph {
      width: 100%;
      height: auto;
      resize: vertical;
    }

    &--sentence {
      width: 100%;
    }

    &--selector {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 1rem;

      button {
        max-width: 100%;
      }

      .pix-select {
        max-width: 100%;
      }
    }

    &--selector:last-of-type {
      margin: 0;
    }

    &--input {
      margin: $pix-spacing-s $pix-spacing-xs;
    }
  }

  &__proposal-label {
    width: 100%;
    font-weight: $font-normal;
  }

  &__alert {
    margin: 4px;
  }
}

.proposal-text {
  width: 100%;
  font-weight: $font-normal;
  line-height: 1.625rem;
  word-wrap: break-word;
  overflow-wrap: break-word;

  p {
    margin: 0;
  }
}

form .challenge-response {
  &--locked {
    position: relative;
  }

  &__locked-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .challenge-response__instructions {
    @extend %pix-body-s;

    float: left;
    margin-top: 0;
    color: $pix-neutral-60;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .qroc-proposal {
    display: flex;
    flex-wrap: wrap;
    gap: $pix-spacing-xs;
    align-items: center;

    .qroc_input-label {
      display: inline;
    }

    ul,
    ol,
    p {
      margin: 0;
    }
  }
}

form .challenge-response.challenge-response--locked {
  &:hover {
    .challenge-response__locked-overlay {
      opacity: 1;
      transition: 0.9s ease;
    }
  }
}

form .challenge-response-locked {
  &__icon {
    font-size: 3.125rem;
    opacity: 1;

    &:hover {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}
