.checkpoint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -190px 5px 30px 5px;
  font-family: $font-open-sans;

  @include device-is('tablet') {
    margin: -190px 0 30px 0;
  }
}

.checkpoint__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
  width: 80%;

  @include device-is('tablet') {
    width: 800px;
    margin-bottom: 50px;
  }
}

.checkpoint__content {
  background-color: $white;
  margin: 0;
  max-width: 800px;
  padding: 22px 5px;
  border-radius: 10px;
  box-shadow: 0 7px 14px 0 rgba(12,22,58,0.1), 0 3px 6px 0 rgba(0,0,0,0.1);

  @include device-is('tablet') {
    padding: 30px;
    width: 800px;
  }
}

.checkpoint-title-container {
  margin-bottom: 16px;
  text-align: center;

  @include device-is('tablet') {
    margin: 0 14px 30px 14px;
    text-align: left;
  }
}

.checkpoint-title {
  font-size: 1.8rem;
  font-weight: $font-light;
  color: $nero;
  margin: 6px 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  @include device-is('tablet') {
    font-size: 1.3rem;
  }
}

.checkpoint-legend {
  font-size: 1.3rem;
  font-weight: $font-light;
  color: $white;
  margin: 6px 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.checkpoint__continue-wrapper {
  display: none;

  @include device-is('tablet') {
    display: flex;
  }
}

.checkpoint__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include device-is('tablet') {
    justify-content: flex-end;
  }
}

.checkpoint__continue-button {
  padding: 0 10px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  display: inline-block;

  @include device-is('tablet') {
    width: 230px;
  }

  & > svg {
    margin-left: 30px;
    padding-top: 6px;
    font-size: 1.5em;

    @include device-is('tablet') {
      margin-left: 6px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    padding-right: 4px;
    transition: all 0.25s ease-in-out;

    & > svg {
      margin-left: 12px;
      transition: all 0.25s ease-in-out;
    }
  }
}
