@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.checkpoint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkpoint__header {
  width: 100%;
  margin: var(--pix-spacing-6x) 0 var(--pix-spacing-4x);
  padding-inline: var(--pix-spacing-2x);

  @include breakpoints.device-is('tablet') {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 832px;
    margin: var(--pix-spacing-8x) 0 var(--pix-spacing-2x);
    padding: 0 var(--pix-spacing-4x);
  }
}

.checkpoint__content {
  max-width: 800px;
  margin: 0;
  padding: 22px 5px;

  @include breakpoints.device-is('tablet') {
    width: 800px;
    padding: 30px;
  }
}


.checkpoint__continue-wrapper {
  display: none;

  @include breakpoints.device-is('tablet') {
    display: flex;
  }
}

.checkpoint__continue {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include breakpoints.device-is('tablet') {
    justify-content: flex-end;
  }
}

.checkpoint__continue-button {
  @include breakpoints.device-is('tablet') {
    width: 230px;
  }

  & > svg {
    position: relative;
    left: 0;
    margin-left: 0.5em;
    transition: all 0.25s ease-in-out;

    @include breakpoints.device-is('tablet') {
      margin-left: 6px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    & > svg {
      left: 12px;
    }
  }
}

.checkpoint-no-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__header {
    @extend %pix-title-m;

    line-height: 3rem;
  }

  &__info {
    max-width: 100%;
    margin-bottom: 40px;
    color: var(--pix-neutral-500);
    white-space: pre-line;
  }
}
