.pix-choice-chip {
  @extend %pix-cta-s;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pix-spacing-2x) var(--pix-spacing-6x);
  color: var(--pix-neutral-800);
  white-space: nowrap;
  text-decoration: none;
  background: var(--pix-neutral-20);
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;

  &--active {
    color: var(--pix-primary-700);
    background: var(--pix-primary-100);
  }

  &:hover {
    color: var(--pix-neutral-900);
    background: var(--pix-neutral-100);
  }

  &:focus-visible {
    color: var(--pix-neutral-0);
    background-color: var(--pix-neutral-500);
    border-color: var(--pix-neutral-0);
    outline: none;
    box-shadow: 0 0 0 2px var(--pix-neutral-500);
  }
}
