.pix-choice-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  color: var(--pix-neutral-100);
  font-weight: var(--pix-font-medium);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.028rem;
  white-space: nowrap;
  text-decoration: none;
  background: var(--pix-neutral-20);
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;

  &--active {
    color: var(--pix-primary-700);
    background: var(--pix-primary-100);
  }

  &:hover {
    color: var(--pix-neutral-900);
    background: var(--pix-neutral-20);
  }

  &:focus-visible {
    color: var(--pix-neutral-0);
    background-color: var(--pix-neutral-500);
    border-color: var(--pix-neutral-0);
    outline: none;
    box-shadow: 0 0 0 2px var(--pix-neutral-500);
  }
}
