@mixin competence-card-area {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  opacity: 0.8;
  text-transform: uppercase;
}

@mixin competence-card-competence {
  font-size: 1.6rem;
  font-weight: $font-medium;
}

@mixin competence-card-level-label {
  color: $nero;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

@mixin competence-card-level-value {
  color: $black;
  font-family: $font-open-sans;
  font-size: 4.6rem;
  line-height: 4.6rem;
}

.competence-card {
  width: 210px;
  height: 300px;
  font-family: $font-roboto;
  box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid $alto-grey;
  border-radius: 11px;
  background-color: $white;
}

.competence-card__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 10px 2px;
  height: 110px;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.competence-card__color {

  &::after {
    border-radius: 100%;
    position: absolute;
    right: -200px;
    left: -200px;
    top: -100px;
    content: '';
    bottom: 0;
  }

  &--jaffa::after {
    background: radial-gradient(#F24645 0%, $jaffa 100%);
  }

  &--emerald::after {
    background: radial-gradient(#1A8C89 0%, $emerald 100%);
  }

  &--cerulean::after {
    background: radial-gradient(#3D68FF 0%, $cerulean 100%);
  }

  &--wild-strawberry::after {
    background: radial-gradient(#AC008D 0%, $wild-strawberry 100%);
  }

  &--butterfly-bush::after {
    background: radial-gradient(#5E2563 0%, $butterfly-bush 100%);
  }
}

.competence-card__area-name {
  @include competence-card-area;
  position: relative;
  margin: 8px 0;
}

.competence-card__competence-name {
  @include competence-card-competence;
  position: relative;
  margin: 8px 0;
}

.competence-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.competence-card__level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competence-card-level__label {
  @include competence-card-level-label;
}

.competence-card-level__value {
  @include competence-card-level-value;
  min-height: 44px;
}

.competence-card__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}

.competence-card__button {
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
