.competence-card {
  width: 210px;
  height: 300px;
  font-family: $font-roboto;
  box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid $alto-grey;
  border-radius: 10px;
  background-color: $white;

  .competence-card__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 10px;
    height: 110px;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .competence-card__color {

      &::after {
        border-radius: 100%;
        position: absolute;
        right: -200px;
        left: -200px;
        top: -100px;
        content: '';
        bottom: 0;
      }

      &--orange::after {
        background: radial-gradient(#F24645 0%, #F1A141 100%);
      }

      &--green::after {
        background: radial-gradient(#1A8C89 0%, #52D987 100%)
      }
    }

    .competence-card__domain-name {
      position: relative;
      margin: 8px 0;
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      opacity: 0.8;
      text-transform: uppercase;
    }

    .competence-card__competence-name {
      position: relative;
      margin: 8px 0;
      font-size: 1.6rem;
      font-weight: $font-medium;
    }
  }

  .competence-card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    .competence-card__level {
      display: flex;
      flex-direction: column;
      align-items: center;

      .competence-card-level__label {
        color: $nero;
        font-size: 1rem;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
      }

      .competence-card-level__value {
        color: $black;
        font-family: $font-open-sans;
        font-size: 4.6rem;
        line-height: 4.6rem;
      }
    }
  }
}

