.comparison-window-content__body {
  display: flex;
  flex-direction: column;
}

.comparison-window-content-body {

  &__instruction {
    font-size: 1rem;
  }

  &__default-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.3px dashed $pix-neutral-40;
    max-width: 991px;
    border-radius: 5px;
    padding: 36px 0 28px;
    margin: 0 15px 15px;

    @include device-is('desktop') {
      margin: 0 40px 20px;
    }
  }
}

.comparison-windows-content-body-default-message-container {

  &__default-message-title {
    font-family: $font-open-sans;
    font-size: 1.063rem;
    text-align: center;
    color: $pix-neutral-110;
    font-weight: $font-semi-bold;
    margin: 10px 25px 40px 25px;

    @include device-is('desktop') {
      line-height: 26px;
    }
  }
}

.comparison-window-solution {
  display: flex;
  align-items: stretch;

  &__text {
    font-size: 1rem;
    font-weight: $font-bold;
    color: $pix-success-70;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    bottom: 3px;
    overflow-wrap: break-word;
  }

  &__img {
    width: 18px;
    height: 18px;
  }

  &--with-margin {
    margin: 0 0 20px 20px;
  }
}
