.communication-banner {
  text-align: center;
  color: $white;
  height: 56px;
  font-family: $font-open-sans;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include device-is('tablet') {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__icon {
    margin-right: 8px;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  &--info {
    background-color: darken($pix-blue, 5%);
  }

  &--warning {
    background-color: $dark-orange;
  }

  &--error {
    background-color: darken($red-error, 10%);
  }
}

