.communication-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 10px 0;
  color: $pix-neutral-0;
  font-weight: 400;
  font-size: 0.625rem;
  font-family: $font-open-sans;
  line-height: 0.938rem;
  text-align: center;

  @include device-is("tablet") {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &__icon {
    margin-right: 8px;
  }

  a {
    color: $pix-neutral-0;
    text-decoration: underline;
  }

  &--info {
    background-color: darken($pix-primary, 5%);
  }

  &--warning {
    background-color: $pix-information-light;
  }

  &--error {
    background-color: darken($pix-error-60, 10%);
  }
}
