.competence-level-progress-bar__background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
}

.competence-level-progress-bar__background-level-limit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  width: 62.5%;
  padding-right: 2px;
  border-radius: 12px;
  background: linear-gradient(90deg, $porcelain-grey 0%, $alto-grey 100%);
}

.competence-level-progress-bar__background-level-limit-indicator {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: $white;
  color: $dusty-grey;
  text-align: center;
}

.competence-level-progress-bar__background-available-soon-text {
  max-width: 50px;
  font-family: $font-lato;
  font-size: 8px;
  text-align: center;

  @include device-is('middle-desktop') {
    max-width: none;
    font-size: 14px;
  }
}

.competence-level-progress-bar__background-level-limit-max-indicator {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $white;
  color: $dusty-grey;
  text-align: center;
}

.competence-level-progress-bar__level {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  background-image: linear-gradient(to right, rgba(255, 190, 0, 0.0), $pizazz-orange), linear-gradient($marigold, $marigold);
  border-radius: 12px;
  height: 24px;

  position: relative;
  bottom: 24px;
}

.competence-level-progress-bar__level-indicator {
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 20px;
  text-align: center;

  font-family: $font-overpass;
  font-weight: bold;
  color: $pix-blue;
}

.competence-level-progress-bar__link {
  text-align: right;
  padding: 2px 17px 3px 0;
  height: 24px;
}

.competence-level-progress-bar__link-start {
  width: 81px;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: $font-bold;
  letter-spacing: 0.5px;
  color: $pix-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: $mariner-blue;
    cursor: pointer;
    text-decoration: underline;
  }
}

.competence-level-progress-bar__link-resume {
  width: 81px;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: $font-bold;
  letter-spacing: 0.5px;
  color: $pix-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: $mariner-blue;
    cursor: pointer;
    text-decoration: underline;
  }
}

.competence-level-progress-bar__link-replay {
  border: none;
  background-color: inherit;
  color: $pix-blue;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: $font-bold;
  letter-spacing: 0.5px;
  padding: 0;
  text-decoration: none;
  width: 107px;


  &:hover, &:active, &:focus {
    color: $mariner-blue;
    cursor: pointer;
    text-decoration: underline;
  }
}

.competence-level-progress-bar__modal-body {
  padding: 4% 0;
}

.competence-level-progress-bar__modal-text {
  padding: 2% 0;
  font-size: 1.8rem;
}

.competence-level-progress-bar__modal-actions {
  padding-top: 6%;
  text-align: center;
}

.competence-level-progress-bar__modal-link-cancel {
  display: inline-block;
  background: $dusty-grey;
  border: none;
  border-radius: 5px;
  color: $white;
  flex-grow: 0;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-right: 25px;
  padding: 12px 30px;
  text-transform: uppercase;

  &:hover, &:active, &:focus {
    background-color: $boulder-grey;
    color: white;
    text-decoration: none;
  }
}

.competence-level-progress-bar__modal-link-validate {
  display: inline-block;
  background: $pix-blue;
  border: none;
  border-radius: 5px;
  color: $white;
  flex-grow: 0;
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 12px 30px;
  text-transform: uppercase;

  &:hover, &:active, &:focus {
    background-color: $mariner-blue;
    color: white;
    text-decoration: none;
  }
}
