.congratulations-banner {
  background: $green-gradient;
  position: relative;
  color: $grey-10;
  border-radius: 6px;
  margin: 12px 12px 0 12px;
  box-sizing: border-box;
  height: 194px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.congratulations-banner__icon {
  color: $white;
  position: absolute;
  top: 8px;
  right: 10px;
  left: auto;
  bottom: auto;
  font-size: 0.625rem;
  cursor: pointer;
  opacity: .5;
  &:hover, &:active {
    color: $grey-60;
  }
}

.congratulations-banner__message {
  color: $grey-10;
  font-weight: $font-normal;
  font-family: $font-open-sans;
  line-height: 0.875em;
  font-size: 1.5em;
  text-align: center;
}
