.feedback-panel-v3 {
  margin-bottom: $pix-spacing-xl;
  color: var(--pix-neutral-800);
  font-size: 0.875rem;
  font-family: $font-roboto;

  &__refresh-info {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: $font-bold;

    p {
      min-width: fit-content;
    }

    button {
      display: flex;
      gap: $pix-spacing-xxs;
      align-items: center;
      margin: 0;
      padding: 0;
      color: var(--pix-primary-700);
      font-weight: $font-bold;
    }
  }
}

/* "Link" view
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.feedback-panel-v3__open-button {
  display: flex;
  gap: $pix-spacing-xxs;
  align-items: center;
  width: 100%;
  margin-top: $pix-spacing-s;
  padding: 0.75rem 0;
  line-height: 20px;
  text-align: left;
  text-decoration: underline;

  svg {
    margin-right: $pix-spacing-xxs;
  }

  &[aria-expanded='true'] {
    color: var(--pix-neutral-900);
  }

  &--hidden {
    visibility: hidden;
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--pix-primary-500);
  }
}

.feedback-panel-v3__view {
  display: flex;
  gap: 24px;
  font-weight: $font-bold;
}

.feedback-panel-v3__action-buttons {
  display: flex;
  gap: 16px;

  > button {
    text-decoration: underline;

    &:first-of-type {
      color: var(--pix-error-700);
      font-weight: $font-bold;
      text-decoration-color: var(--pix-error-700);
    }
  }
}

.feedback-panel-v3__information {
  margin-top: $pix-spacing-s;
}
