.footer {

  &__container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;

    @include device-is('tablet') {
      padding: 18px 16px;
    }

    @include device-is('desktop') {
      padding: 18px 0 48px;
    }
  }
}

.footer-container {

  &__left {
    display: flex;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
  }

  &__copyrights {
    color: $grey-25;
    cursor: default;
    font-size: 0.75rem;
    letter-spacing: 0.008rem;
    font-family: $font-roboto;
  }
}

.footer-links {

  &__social-medias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;

    @include device-is('tablet') {
      border-right: 1px solid $grey-20;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.footer-social-medias-item__icon {
  font-size: 1rem;
  color: $grey-70;
}

.footer-social-medias__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-20;
  border-radius: 4.2px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  letter-spacing: 0.008rem;
  font-size: 0.75rem;
  font-family: $font-roboto;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: $grey-70;
    transition: background-color 0.2s ease;

    & > .footer-social-medias-item__icon {
      color: $grey-5;
      text-decoration: none;
    }
  }
}

.footer-navigation__item {
  margin: 0 5px;
  color: $grey-60;
  font-size: 0.875rem;
  font-family: $font-roboto;
  letter-spacing: 0.009rem;

  &.active {
    text-decoration: none;
    color: $blue;
  }

  &:focus {
    text-decoration: none;
    color: $grey-50;
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $blue;
  }
}

.footer-logos {
  display: flex;

  &__french-government {
    margin-right: 24px;

    > img {
      height: 43px;
    }
  }
}
