@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.hexagon-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 148px;
  background: url('/images/background/hexa-pix-blue.svg') no-repeat center center;
  background-size: cover;

  &__content {
    position: relative;
    text-align: center;
  }
}

.hexagon-score-content__title {
   @extend %pix-body-xs;

  padding-top: 1em;
  color: var(--pix-neutral-900);
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.hexagon-score-content__pix-score {
  @extend %pix-title-l;

  color: var(--pix-neutral-900);
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.1;
}

.hexagon-score-content__pix-total {
  @extend %pix-body-s;

  margin-bottom: -0.125rem;
  padding-top: 0.25em;
  color: var(--pix-neutral-500);
  border-top: 1px solid var(--pix-neutral-500);
}

.hexagon-score-content__information {
  display: inline-block;
}

.hexagon-score-content-information__icon {
  display: block;
  align-items: center;
  width: 1rem;
  height: 1rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.75;
  }
}

#hexagon-score-tooltip {
  max-width: 90vw;
}

.hexagon-score-information__text {
  @extend %pix-body-m;

  line-height: 1.6rem;
  text-align: left;

  &--strong {
    font-weight: var(--pix-font-bold);
  }

  p {
    padding-top: 1rem;
  }
}
