.learning-more-panel {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.learning-more-panel__container {

  & .tutorial-card {
    margin-bottom: 16px;
  }
}

.learning-more-panel__hint-title {
  @include tutorial-panel-title($pix-neutral-10);
}

.learning-more-panel__tutorial-info {
  margin: 5px;
  color: $pix-neutral-50;
  font-size: 0.813rem;
  line-height: 1.25rem;
}

.learning-more-panel__list-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
