
.learning-more-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.learning-more-panel__container{
  margin: 20px 0 40px;
}

.learning-more-panel__hint-title {
  // XXX Inspired from https://codepen.io/ericrasch/pen/Irlpm
  position: relative;
  z-index: 1;

  span {
    background: white;
  }
}

.learning-more-panel__tutorial-info {
  color: $grey-40;
  font-size: 0.813rem;
  line-height: 1.25rem;
  margin: 5px;
}

.learning-more-panel__hint-container-header{
  margin: 25px 15px;

  @include device-is('desktop') {
    margin: 25px 40px;
  }
}

.learning-more-panel__list-container{
  margin: 0 15px;

  @include device-is('desktop') {
    margin: 0 40px;
  }
}
