.logged-user-profile-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 469px;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 20px;

  @include device-is('desktop') {
    align-items: stretch;
    height: 500px;
  }
}

.profile-banner__background {
  position: absolute;
  top: 0px;
  background: url('/images/banners/welcome-profile-banner.png') center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.profile-banner__content-text-container {
  margin-top: 100px;
  max-width: 330px;

  @include device-is('desktop') {
    margin-left: 15%;
    max-width: 1200px;
    position: relative;
  }
}

.profile-banner__title {
  position: relative;
  width: 100%;
  background-color: rgba(37, 73, 255, .8);
  padding-left: 14px;
  margin-bottom: 8px;

  font-family: $font-raleway;
  font-size: 50px;
  font-weight: $font-bold;
  text-align: left;
  height: 76px;
  color: $white;

  @include device-is('desktop') {
    max-width: 290px;
  }
}

.profile-banner__description {
  position: relative;
  height: 38px;
  width: 100%;
  line-height: 38px;
  background-color: rgba(37, 73, 255, .8);
  margin-top: 3px;

  font-family: $font-raleway;
  font-size: 16px;
  font-weight: $font-medium;
  text-align: left;
  color: $white;
  padding: 0 14px 0 17px;

  @include device-is('desktop') {
    font-size: 32px;
    height: 45px;
    line-height: 45px;
    max-width: 576px;
  }
}

.profile-banner__button-scroll-container {
  margin-top: 102px;
  text-align: center;
  position: relative;

  @include device-is('desktop') {
    margin-top: 110px;
  }
}

.button-scroll-to-profile {
  width: 276px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: $pix-blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  text-transform: uppercase;
  font-family: $font-lato;
  font-size: 13px;
  font-weight: $font-bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: $white;
}
