.login-or-register {
  margin: 20px 0;
  vertical-align: top;

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97vw;
    max-width: 880px;
    padding: 20px 3px;
    border-radius: 10px;

    @include device-is('large-screen') {
      width: 100vw;
      max-width: 1080px;
      padding: 40px 100px;
    }

    @include device-is('mobile') {
      align-items: center;
      padding: 20px 2px;
    }
  }

  abbr {
    text-decoration: none;
  }
}

.login-or-register-panel {
  &__logo {
    display: flex;
    width: 159px;
    height: 123px;
    margin: auto;
  }

  &__invitation {
    margin-top: 24px;
    color: $pix-neutral-60;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: $font-roboto;
    text-align: center;
  }

  &__forms-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    min-height: 500px;
    margin-top: 10px;

    @include device-is('large-screen') {
      flex-flow: row;
      justify-content: space-between;
    }

    @include device-is('mobile') {
      flex-flow: column;
      margin: 10px 20px 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include device-is('tablet') {
      width: 360px;
    }
  }

  &__divider {
    margin-top: 30px;
    border-left: 1px solid $pix-neutral-30;
  }
}

.login-or-register-panel-form {
  &__expandable {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;

    &--expanded {
      max-height: 860px;
    }
  }
}

.form-title {
  margin-bottom: 20px;
  color: $pix-neutral-100;
  font-size: 1.875rem;
  font-family: $font-open-sans;
}
