.login-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-width: 360px;

  &__error-message {
    color: red;
    font-family: $font-roboto;
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  &__forgotten-password {
    font-size: 0.875rem;
    margin: 8px;
    text-align: center;
  }

  .login-button-container {
    display: flex;

    .button {
      flex-grow: 1;
      margin-top: 25px;
    }
  }
}
