.navbar-header {
  background-color: transparent;
  float: none;
  color: $white;
  width: 100%;
}

.navbar-header--white {
  background-color: $white;
  color: $slate-grey;
}

.navbar-header__container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;

  @include device-is('desktop') {
    justify-content: space-between;
    padding: 20px;
  }
}

.navbar-header-container {
  &__menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-header-menu {
  &__item {
    margin-left: 23.3px;
    margin-right: 23.3px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.6rem;
    font-family: $font-roboto;
    color: $gray;
    text-decoration: none;

    &.active {
      text-decoration: none;
      color: $dogder-blue;
      border-bottom: 2px solid $dogder-blue;
    }

    &:focus {
      text-decoration: none;
      color: $gray;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $dogder-blue;
    }
  }
}

.navbar-header-right {
  @include device-is('desktop') {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-header-logo {
  display: flex;
  position: relative;
  width: 220px;
}

.navbar-header-logo__link {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.navbar-header-logo__pix {
  float:left;
  margin-left: 5px;
}

.navbar-header-logo__marianne {
  float:right;
  margin-top: 5px;
  margin-left: 30px;
}
