.navbar-header {
  background-color: transparent;
  padding: 20px 0;
  float: none;
  color: $white;
  width: 100%;
}

.navbar-header--white {
  background-color: $white;
  color: $slate-grey;
}

.navbar-header__container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  @include device-is('desktop') {
    justify-content: space-between;
    padding: 0 100px;
  }

  @include device-is('large-screen') {
    padding: 0;
  }
}

.navbar-header-right {

  @include device-is('desktop') {
    padding: 0;
    margin: 0;
  }
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-header-logo {
  display: inline-block;
  position: relative;
}

.navbar-header-logo__link {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.navbar-header-logo__pix {
  float:left;
  height: 35px;
  margin-left: 5px;
  @include device-is('tablet') {
    height: 45px;
    margin-left: 30px;
  }
}
.navbar-header-logo__marianne {
  float:right;
  margin-top: 5px;
  height: 35px;
  margin-left: 5px;
  @include device-is('tablet') {
    height: 45px;
    margin-left: 10px;
  }
}
