.navbar-desktop-header {
  &__container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: center;
    position: relative;
  }
}

.navbar-desktop-header-container {
  &__menu {
    display: flex;
    margin-left: 68px;
    margin-right: 20px;
  }
}

.navbar-desktop-header-menu {
  &__item {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    font-family: $font-roboto;
    color: $grey-60;
    text-decoration: none;

    &.active {
      text-decoration: none;
      color: $light-blue;
      border-bottom: 2px solid $light-blue;
    }

    &:focus {
      text-decoration: none;
      color: $grey-35;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $light-blue;
    }
  }
}

.navbar-desktop-header-right {
  display: flex;
  padding: 0;
  margin: 0;
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-desktop-header-logo {
  display: flex;
  position: relative;

  &__link {
    display: inline-block;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  &__marianne {
    margin-left: 24px;
  }
}
