.navbar-desktop-menu-links {
  display: block;
  padding: 5px 0;
}

.navbar-desktop-menu-links__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-desktop-menu-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 20px;
  color: var(--pix-neutral-500);
  text-transform: uppercase;
  border: none;
}

.navbar-header--white .navbar-desktop-menu-links__item {
  color: var(--pix-neutral-100);
}

.navbar-desktop-menu-links__item:first-child {
  justify-content: normal;
  padding: 0;
  font-size: 0.813rem;
  background: transparent;
}

.navbar-desktop-menu-links__link {
  width: 100%;
  padding-left: 0;
  color: inherit;
  font-size: 0.813rem;
  text-transform: uppercase;

  &.active,
  &:hover,
  &:focus,
  &:active {
    color: var(--pix-warning-700);
    text-decoration: none;
  }
}

.navbar-menu-signup-link {
  width: 140px;
  padding: 10px;
  color: var(--pix-primary-500);
  font-size: 0.813rem;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--pix-primary-500);
  border-radius: 20px;

  &:hover,
  &:focus,
  &:active {
    color: var(--pix-neutral-0);
    text-decoration: none;
    background-color: var(--pix-primary-500);
  }
}

.navbar-header--white .navbar-menu-signup-link {
  color: var(--pix-primary-500);
  border: 2px solid var(--pix-primary-500);

  &:hover,
  &:focus,
  &:active {
    color: var(--pix-neutral-0);
    background-color: var(--pix-primary-500);
  }
}
