.navbar-burger__menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .navbar-burger-menu__list {
    padding: 20px 0;
  }
}

.navbar-burger__menu .navbar-burger-menu {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
  }

  &__content {
    flex-grow: 1;
  }

  &__button {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 21px;
    padding: 10px 32px;
  }

  &__footer {
    padding: 20px 0;
    background-color: var(--pix-primary-500);
  }
}

.navbar-burger-menu-list-item {
  &__link {
    display: inline-block;
    width: 100%;
    padding: 12px 32px;
    color: var(--pix-neutral-800);
    font-size: 1.125rem;
    font-family: $font-roboto;

    &.active {
      padding-left: calc(32px - 5px);
      color: var(--pix-primary-500);
      border-left: 5px solid var(--pix-primary-500);
    }

    &:hover {
      color: var(--pix-primary-700);
      background-color: var(--pix-neutral-20);
    }

    &:active {
      color: var(--pix-primary-700);
      background-color: var(--pix-neutral-20);
    }
  }
}

.navbar-burger-menu-footer {
  &__list {
    margin: 0;
    padding-left: 0;
  }
}

.navbar-burger-menu-footer-item {
  &__link {
    @extend %pix-body-m;

    display: inline-block;
    width: 100%;
    padding: 10px 32px;
    color: var(--pix-neutral-0);

    &.active {
      padding-left: calc(32px - 5px);
      border-left: 5px solid var(--pix-neutral-0);
    }

    &:hover {
      background-color: var(--pix-primary-700);
    }

    &:active {
      background-color: var(--pix-primary-700);
    }

    &--logout {
      margin-top: $pix-spacing-xs;
    }
  }
}
