.navbar-mobile-header {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    width: auto;
  }

  &__burger-icon {
    padding: 0;
    background: none;
    border: none;
    color: $pix-neutral-70;
    font-size: 1.625rem;
    display: inline-flex;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.navbar-mobile-header-logo {

  &__marianne {

    > img {
      margin-left: 12px;
      height: 45px;
    }
  }
}
