.no-certification-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: $pix-neutral-80;
  font-size: 1.063rem;
  font-family: $font-open-sans;
  background-color: white;

  @include device-is("tablet") {
    margin: 0 50px;
    font-size: 1.25rem;
  }

  @include device-is("desktop") {
    margin: 0 100px;
  }
}
