.panel {
  background-color: var(--pix-neutral-0);
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgb(12 22 58 / 10%), 0 2px 5px 0 rgb(0 0 0 / 10%);

  &--strong-shadow {
    box-shadow: 0 6px 12px 0 rgb(12 22 58 / 10%), 0 2px 5px 0 rgb(0 0 0 / 10%);
  }

  &--link {
    color: var(--pix-neutral-900);
    text-decoration: none;
    border: solid 2px var(--pix-neutral-0);
    outline: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      border-color: var(--pix-primary-500);
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
      transition: border-color 1s ease;
    }
  }
}
