.password-reset-form__text {
  margin: 50px 0;
  //width: 280px;
  text-align: center;

  @include device-is('tablet') {
    width: 400px;
    font-size: 22px;
  }
}

.password-reset-form__form-success-message {
  margin-top: 30px;
  color: $caribbean-green;
}

.password-reset-form__form-error-message {
  font-size: 8px;
  color: red;
  align-self: flex-end;
  margin-top: -11px;

  @include device-is('tablet') {
    margin-top: -18px;
    font-size: 12px;
  }
}

.password-reset-form__submit-container {
  padding: 20px;
}
