.password-reset__connexion {
  color: $white;
  text-align: right;
  margin: 8px 0;
}

.password-reset__connexion-link {
  color: $white;
}

.password-reset__connexion-link:hover,
.password-reset__connexion-link:focus {
  color: $white;
  text-decoration: none;
}

.password-reset__home-link_close {
  border: solid 2px $white;
  padding: 2px;

  width: 20px;
  border-radius: 20px;

  margin-left: 5px;
}

.password-reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  font-family: $font-raleway;
  margin-bottom: 10px;
}

.password-reset-form__pix-logo {
  margin-top: 50px;
}

.password-reset-form__title {
  margin-top: 30px;
  color: $charcoal-grey;
  font-size: 20px;

  @include device-is('tablet') {
    font-size: 36px;
  }
}

.password-reset-form__text {
  margin-top: 30px;
  width: 280px;
  text-align: center;

  @include device-is('tablet') {
    width: 400px;
    font-size: 22px;
  }
}

.password-reset-form__form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-width: 250px;

  @include device-is('tablet') {
    width: 400px;
  }
}

.password-reset-form__form-success-message {
  margin-top: 30px;
  color: $caribbean-green;
}

.password-reset-form__form-label {
  text-transform: uppercase;
  font-size: 9px;

  @include device-is('tablet') {
    font-size: 12px;
  }
}

.password-reset-form__form-error-message {
  font-size: 8px;
  color: red;
  align-self: flex-end;
  margin-top: -11px;

  @include device-is('tablet') {
    margin-top: -18px;
    font-size: 12px;
  }
}

.password-reset-form__form-email-input {
  border: 1px solid $light-grey;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}

.password-reset-form__button {
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 25px;
  background-color: $pix-blue;
  color: $white;
  width: 140px;
  height: 40px;
  vertical-align: center;
}

.password-reset-form__submit-button {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: transparent;
}
