.password-reset-demand-form {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 95%;
    max-width: 609px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: $font-open-sans;
    background-color: $pix-neutral-0;
    border-radius: 10px;

    @include device-is('tablet') {
      margin: 20px 0;
      padding: 40px 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-weight: $font-light;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--succeeded {
      align-items: flex-start;
      padding: 30px 20px 0;

      @include device-is('tablet') {
        padding: 30px 0 0;
      }
    }
  }

  &__title {
    font-size: 1.375rem;

    &--forgotten-password {
      color: $pix-neutral-80;
      font-size: 1.563rem;
  
      @include device-is('desktop') {
        font-size: 2rem;
      }
    }
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__cancel-link {
    font-size: 0.938rem;
  }

  &__home-link {
    align-self: center;
    margin-bottom: 30px;
  }

  &__notification-message--error {
    margin: 0;
    color: $pix-error-70;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center;
  }

  &__input {
    width: 100%;
    max-width: 450px;
  }

  &__actions-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 10px 0;
  }
}

.password-reset-demand-body__text {
  margin-bottom: 15px;
  color: $pix-neutral-80;
  font-size: 0.8rem;
  font-family: $font-open-sans;

  @include device-is('tablet') {
    font-size: 0.938rem;
  }
}
