.password-reset-demand-form {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 95%;
    max-width: 609px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: $pix-neutral-0;
    border-radius: 10px;

    @include device-is('tablet') {
      margin: 20px 0;
      padding: 40px 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--succeeded {
      align-items: flex-start;
    }
  }

  &__title {
    @extend %pix-title-s;

    &--forgotten-password {
      @extend %pix-title-s;

      color: $pix-neutral-80;
    }
  }

  &__subtitle {
    @extend %pix-body-m;
  }

  &__cancel-link {
    @extend %pix-body-m;
  }

  &__home-link {
    align-self: center;
    margin-bottom: 30px;
  }

  &__notification-message--error {
    @extend %pix-body-m;

    margin: 0;
    color: $pix-error-70;
    text-align: center;
  }

  &__input {
    width: 100%;
    max-width: 450px;
  }

  &__actions-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 10px 0;
  }
}

.password-reset-demand-body__text {
  @extend %pix-body-s;

  margin-bottom: 15px;
  color: $pix-neutral-80;
}
