.sign-form__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px;
  color: $charcoal-grey;
  font-family: $font-open-sans;
  font-size: 1.5rem;

  @include device-is('tablet') {
    margin: 80px;
  }
}

.password-reset-demand-form__cancel-link {
  align-self: center;
  font-family: $font-roboto;
  font-size: 1.2rem;
  margin-top: 40px;
}

.password-reset-demand-form__home-link {
  align-self: center;
  font-family: $font-roboto;
  font-size: 1.4rem;
  margin-bottom: 60px;
  margin-top: 20px;
}
