.pix-toggle-deprecated {
  display: flex;
  height: 44px;
  color: var(--pix-neutral-500);
  font-weight: $font-medium;
  font-size: 1rem;
  font-family: $font-roboto;
  letter-spacing: 0.45px;
  text-align: center;
  border: 2px solid var(--pix-neutral-20);
  border-radius: 12px;
  cursor: pointer;

  span {
    width: 50%;
    line-height: 2.75rem;
    vertical-align: middle;
    border-radius: 10px;
  }

  &__on {
    color: var(--pix-neutral-0);
    background-color: var(--pix-neutral-500);
  }

  &__off {

    &:hover {
      color: var(--pix-neutral-800);
    }
  }
}
