.placement-banner {
  display: flex;
  justify-content: center;
  height: 100px;
}

.placement-banner-container {
  display: flex;
  align-items: center;
  min-height: 100px;
  max-width: 990px;
  width: 100%;
  padding: 0 20px;

  @include device-is('desktop') {
    padding: 0;
  }
}

.placement-banner__title {
  font-size: 1.4rem;
  font-family: $font-open-sans;

  @include device-is('desktop') {
    font-size: 1.75rem;
  }
}

.placement-banner__title h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: $font-normal;
}

.placement-banner__pix-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px
}

.placement-banner__pix-logo img {
  position: relative;
  top: 4px;
  right: -8px;
}

.placement-banner__splitter {
  width: 1px;
  background: $mercury-grey;
  height: 40px;
  margin: 0 20px
}

.placement-banner__home-link {
  font-family: $font-roboto;
  font-size: 13px;
  font-weight: $font-medium;
  margin-left: auto;
  text-align: right;
  color: white;

  &:hover {
    color: white;
  }
}
