.progression-gauge {
  background-color: $alto-grey;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.progression-gauge__marker {
  background: linear-gradient(to right, $pix-yellow-hover, $dark-orange);
  height: 4px;
  border-radius: 5px;
  text-align: right;
}

.progression-gauge__tooltip-wrapper {
  position: relative;
  top: -27px;
}

.progression-gauge__tooltip {
  position: absolute;
  background: linear-gradient(180deg, $pix-yellow-hover 0%, $dark-orange 100%);
  color: $white;
  border-radius: 5px;
  font-family: $font-roboto;
  font-size: 1.3rem;
  font-weight: $font-normal;
  text-align: center;
  right: -18px;
  width: 36px;

  &::after {
    content: '';
    position: absolute;
    left: 40%;
    border-top: 4px solid $dark-orange;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    margin-top: 18px;
  }
}
