.proposal-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: $pix-spacing-xs;

  & + .proposal-paragraph {
    margin-top: $pix-spacing-s;
  }
}
