.proposal-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--pix-spacing-2x);

  & + .proposal-paragraph {
    margin-top: var(--pix-spacing-4x);
  }
}
