.qcu-proposals {
  a {
    color: $pix-primary;
    text-decoration: underline;

    @include device-is('tablet') {
      display: inline-block;
    }

    &:active,
    &:focus,
    &:hover {
      color: $pix-primary-60;
    }

    &::after {
      @include external-link;
    }
  }
}
