.qcu-proposals {

  a {
    text-decoration: underline;
    color: $pix-primary;

    @include device-is('tablet') {
      display: inline-block;
    }

    &:active,
    &:focus,
    &:hover {
      color: $pix-primary-60;
    }

    &::after {
      @include external-link;
    }
  }

  &__label {
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    line-height: 21px;
    position: relative;
    cursor: pointer;
    font-weight: $font-normal;
  }
}
