.correction-qroc-box__answer {
  max-width: 90vw;
}

.correction-qroc-box-answer {
  width: auto;

  &--paragraph {
    width: 100%;
    height: auto;
    resize: vertical;
  }

  &--sentence {
    width: 100%;
  }

  &--input {
    display: inline-block;
    max-width: 100%;
    padding: var(--pix-spacing-2x) var(--pix-spacing-3x);
    overflow: hidden;
    color: var(--pix-neutral-500);
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    background-color: var(--pix-neutral-20);
    border: 1px solid var(--pix-neutral-100);
    border-radius: var(--pix-spacing-1x);
  }

  &--correct {
    textarea,
    .correction-qroc-box-answer--input,
    [disabled] {
      color: var(--pix-success-700);
      font-weight: var(--pix-font-bold);
    }
  }

  &--wrong {
    textarea,
    .correction-qroc-box-answer--input {
      text-decoration: line-through;
    }
  }

  &--aband,
  &--timeout {
    textarea,
    .correction-qroc-box-answer--input {
      color: var(--pix-neutral-800);
      font-style: italic;
    }
  }
}
