.correction-qrocm__answer {
  &--paragraph {
    display: block;
    width: 100%;
  }

  &--sentence {
    display: block;
    width: 100%;
  }

  &--input {
    display: inline-block;
    padding: $pix-spacing-xxs $pix-spacing-xxs $pix-spacing-xxs 0;
    vertical-align: 0;

    &:not(:last-child) {
      padding-left: 0;
    }
  }

  &.correction-qroc-box-answer--wrong,
  &.correction-qroc-box-answer--aband {
    vertical-align: -2.5em;
  }
}

.correction-qrocm-answer {
  &__input-paragraph {
    display: block;
    width: 100%;
  }

  &-answer__input-sentence {
    display: block;
    width: 100%;
  }

  &-answer__input {
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
}

.correction-qrocm__text {
  padding-inline: 12px;
}

.correction-qrocm-text {
  &__label {
    display: inline;
    padding: $pix-spacing-xxs $pix-spacing-xxs $pix-spacing-xxs 0;

    &:not(:last-child) {
      padding-left: 0;
    }
  }
}

.correction-qrocm__solution {
  display: flex;
  align-items: center;

  &-text {
    @extend %pix-body-m;

    margin: $pix-spacing-xxs 0 $pix-spacing-xs;
    color: var(--pix-success-700);
    font-weight: $font-bold;
  }
}
