.correction-qroc-box__answer {
  max-width: 90vw;
}

.correction-qroc-box-answer {
  width: auto;

  &--paragraph {
    width: 100%;
    height: auto;
    resize: vertical;
  }

  &--sentence {
    width: 100%;
  }

  &--input {
    width: auto;
    max-width: 100%;
  }

  &--correct {
    textarea,
    input,
    [disabled] {
      color: var(--pix-success-700);
      font-weight: $font-bold;
    }
  }

  &--wrong {
    textarea,
    input {
      text-decoration: line-through;
    }
  }

  &--aband {
    textarea,
    input {
      color: var(--pix-neutral-800);
      font-style: italic;
    }
  }
}
