.correction-qrocm {

  &__text {
    display: inline-block;
    width: 100%;
  }

  &__answer {

    &-wrapper {
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }

    &--paragraph {
      display: block;
      width: 100%;
    }

    &--sentence {
      display: block;
      width: 100%;
    }

    &--input {
      display: inline-block;
      width: auto;
      max-width: 100%;
    }
  }

  &__solution {
    display: flex;
    align-items: center;

    &-text {
      margin-top: 3px;
      margin-left: 10px;
      padding-bottom: 1px;
      color: $pix-success-70;
      font-weight: $font-bold;
      font-size: 1rem;
    }
  }
}

.correction-qrocm-text {

  &__label {
    display: block;
  }
}

.correction-qrocm-answer {
  &__input-paragraph {
    display: block;
    width: 100%;
  }

  &__input-sentence {
    display: block;
    width: 100%;
  }

  &__input {
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
}
