.reached-stage {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  background: $pix-neutral-0;
  border: 1px solid rgb(231 231 231);
  border-radius: 16px;

  &__score {
    padding: 43px 20px 20px;
  }

  &__image {
    width: 100%;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

.reached-stage-score {
  &__stars {
    display: flex;
    justify-content: center;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: $pix-spacing-m;
  }

  &__percentage-text {
    color: $pix-neutral-50;
    font-weight: $font-medium;
    font-size: 0.875rem;
    font-family: $font-roboto;
    text-align: center;
  }
}
