.reached-stage {
  &__left-container {
    background: $white;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 16px;
    padding: 43px 26px;
    min-width: 300px;
  }

  &__percentage-text {
    font-family: $font-roboto;
    font-size: 0.875rem;
    font-weight: $font-medium;
    color: $grey-40;
    text-align: center;
  }
  &__stars {
    text-align: center;
  }
  &__stars img {
    margin: 3px;
    padding-bottom: 16px;
  }

  &__right-container {
    padding: 20px 40px 0 40px;
    text-align: center;

    @include device-is('tablet') {
      text-align: left;
    }
  }

  &__title {
    font-family: $font-open-sans;
    font-size: 1.875rem;
    font-weight: $font-bold;
    color: $grey-100;
    padding-bottom: 10px;
  }

  &__message {
    font-family: $font-open-sans;
    font-size: 1.125rem;
    font-weight: $font-normal;
    color: $grey-45;
    line-height: 1.8rem;
  }
}

