.result-item {
  width: auto;
  height: 70px;
  background-color: $white;
  display: flex;
  align-items: center;
  border-radius: 4px;

  &:active,
  &:hover,
  &:focus,
  &:focus-within {
    border: 2px solid $pix-blue;
  }

  &:nth-child(odd) {
    background: $porcelain-grey;
  }
}

.result-item__instruction {
  font-size: 1.6rem;
  margin-left: 14px;
  overflow: hidden;
}

.result-item__correction {
  color: $pix-blue;
  margin-right: 23px;
  margin-left: auto;
  text-align: center;
  height: 21px; /* XXX : should be aligned with flexbox */
}

.result-item__correction__button {
  padding-right: 0;
  padding-left: 0;
  margin-left: 12px;
  border: none;
  outline: 0;
  background-color: transparent;
}

.result-item__icon {
  margin-left: 14px;

  /* Forces bootstrap's default by including bootstrap props into .assessment-results container */
  .tooltip-inner {
    padding-top: 13px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: $mercury-grey;
    color: $charcoal-grey;
    font-family: $font-lato;
    font-size: 14px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px $white;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $mercury-grey;
  }

  .tooltip.in {
    opacity: 1;
    transition: opacity .75s ease;
  }

  .tooltip.top .tooltip-arrow {
    bottom: -4px;
    left: 50%;
    margin-left: -13px;
    border-width: 10px 13px 0;
  }

  /* XXX : See https://github.com/sgmap/pix/issues/211 */
  [data-lines="2"] + div .tooltip-inner {
    padding-top: 3px;
  }
}
