.reset-campaign-participation-modal {
  &__text {
    margin: var(--pix-spacing-6x);
  }

  &__footer {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-content: end;
  }
}
