.results-warning {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1190px;
  margin-bottom: 50px;
  margin-top: 10px;

  &__icon {
    font-size: 1.4em;
  }

  &__warning-message {
    padding-left: 10px;
  }

  &__link {
    color: $charcoal-grey;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $pix-blue-hover;
    }
  }
}
