.reset-password-form {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 95%;
    max-width: 609px;
    padding: 30px 10px;
    background-color: var(--pix-neutral-0);
    border-radius: 10px;

    @include device-is('tablet') {
      margin: 20px 0;
      padding: 40px 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
}

.reset-password-form-body {
  &__input {
    width: 100%;
    max-width: 450px;
  }
}

.reset-password-form-title {
  @extend %pix-title-s;

  color: var(--pix-neutral-800);
}

.reset-password-form-subtitle {
  @extend %pix-title-xs;

  width: 100%;
  margin-top: 10px;
  color: var(--pix-neutral-800);
  text-align: center;
}

.reset-password-form-text {
  @extend %pix-body-m;

  padding: 20px 0;
  color: var(--pix-neutral-800);
}
