
.reset-password-form__notification-message {
  max-width: 449px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  padding: 9px;
  background: $caribbean-green;
}
