.resume-campaign-banner{
  width: 100%;
  @media (min-width: 768px) {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 4;
  }
  .resume-campaign-banner__container {
    background: $yellow;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    .resume-campaign-banner__title {
      font-family: $font-open-sans;
      font-size: 0.75rem;

      @media (min-width: 768px) {
        font-size: 1.156rem;
      }
    }

    .resume-campaign-banner__button {
      margin-left: 5px;
      @media (min-width: 768px) {
        margin-left: 46px;
      }
    }
  }
}
