.reset-password-form {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 95%;
    max-width: 609px;
    padding: 30px 10px;
    background-color: $pix-neutral-0;
    border-radius: 10px;

    @include device-is('tablet') {
      margin: 20px 0;
      padding: 40px 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
}

.reset-password-form-body {
  &__input {
    width: 100%;
    max-width: 450px;
  }
}

.reset-password-form-title {
  color: $pix-neutral-80;
  font-weight: $font-light;
  font-size: 1.563rem;
  font-family: $font-open-sans;

  @include device-is('desktop') {
    font-size: 2.25rem;
  }
}

.reset-password-form-subtitle {
  width: 100%;
  margin-top: 10px;
  color: $pix-neutral-80;
  font-weight: $font-light;
  font-size: 0.938rem;
  font-family: $font-open-sans;
  line-height: 28px;
  text-align: center;

  @include device-is('tablet') {
    margin-top: 24px;
    font-size: 1.375rem;
  }
}

.reset-password-form-text {
  padding: 20px 0;
  color: $pix-neutral-80;
  font-size: 0.938rem;
  font-family: $font-open-sans;
}
