.scorecard-circle__circle {
  stroke: $silver-grey;
}

.scorecard-circle__arc-jaffa {
  stroke: $jaffa;
}

.scorecard-circle__arc-emerald {
  stroke: $emerald;
}

.scorecard-circle__arc-cerulean {
  stroke: $cerulean;
}

.scorecard-circle__arc-wild-strawberry {
  stroke: $wild-strawberry;
}

.scorecard-circle__arc-butterfly-bush {
  stroke: $butterfly-bush;
}

.scorecard-circle__text {
  font-size: 4.2rem;
  font-family: $font-open-sans;
  font-weight: $font-medium;
}
