/* Wrapper */

.share-profile__section {
  width: 100%;

  ul {
    margin: 0 0 10px;
    padding: 0;
    text-align: left;

    li {
      margin-left: 40px;
    }
  }

  .share-profile__row {
    width: 100%;
    padding: 20px;
    text-align: center;

    &--student-code,
    &--campaign-code {
      padding-top: 0;
    }

    &--disclaimer {

      ul {
        margin-left: 200px;
      }
    }
  }

}

.share-profile__share-button {
  flex-grow: 0;
  background: $pix-blue;
  text-transform: uppercase;
  padding: 12px 17px;
  color: $white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.share-profile__share-button-image {
  vertical-align: text-top;
  padding-left: 5px;
}

/* "Organization code entry" view */

.share-profile__modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;

  @include device-is('tablet') {
    width: 265px;
    max-width: 380px;
    padding: 30px 16px 16px;
  }
}

.share-profile__organization-code-input {
  width: 100%;
  text-align: center;

  @include device-is('tablet') {
    width: 265px;
  }
}

.share-profile__form-error {
  color: $pure-orange;
  margin-bottom: 5px;

  @include device-is('tablet') {
    font-size: 16px;
  }
}

.share-profile__share-modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  box-sizing: border-box;
}

.share-profile__share-modal-button {
  flex-grow: 1;
}

/* "Sharing confirmation" view */

p.share-profile__organization-name {
  font-weight: $font-bold;
  color: $pix-blue;
  font-size: 20px;
  text-align: center;

  @include device-is('tablet') {
    font-size: 24px;
  }
}

/* "Success notification" view */

.share-profile__statement {
  @include device-is('tablet') {
    padding: 20px 0;
    text-align: center;
  }
}
