.signin-form__forgotten-password-link {
  align-self: flex-end;
  color: $dove-gray;
  font-family: $font-roboto;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-right: 10px;
}

.signin-form__errors {
  color: $white;
  padding:10px;
  background-color: $pure-orange;

  @include device-is('tablet') {
    margin: 40px 80px 0px 80px;
    border-radius: 3px;
  }
}
