.signin-form__home-link {
  color: $white;

  margin-right: 20px;

  @include device-is('tablet') {
    margin: 8px 0;
  }
}

.signin-form__home-link:hover,
.signin-form__home-link:focus {
  color: $white;
}

.signin-form__home-link_close {
  border: solid 2px $white;
  padding: 2px;

  width: 20px;
  border-radius: 20px;

  margin-left: 5px;
}

.signin-form__forgotten-password-link {
  align-self: flex-end;
  color: $dove-gray;
  margin-bottom: 20px;
  margin-right: 10px;
}

.signin-form__errors {
  color: $white;
  padding:10px;
  background-color: $pure-orange;

  @include device-is('tablet') {
    margin: 40px 80px 0px 80px;
    border-radius: 3px;
  }
}
