.skip-link {
  position: absolute;
  padding: 0.5em;
  margin: 8px;
  color: $white;
  background-color: $blue;
  transform: translateY(calc(-100% - 8px));
  transition: transform 0.3s;
  z-index: 1;

  &:focus,
  &:active {
    transform: translateY(0);
  }
}
