
.snapshot-list {
  background: $alabaster-grey;

  @include device-is('tablet') {
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;
  }

  @include device-is('desktop') {
    max-width: 970px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.snapshot-list__body-table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0px 5px;
}

.snapshot-list__body-table__header {
  background-color: $porcelain-grey;

  font-family: $font-lato;
  font-size: 12px;
  font-weight: $font-bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.snapshot-list__table-header-cell {
  text-align: center;
  padding:15px 0;
}

.snapshot-list__no-profile{
  height: 200px;
  padding: 0 30px;
  background: $white;
  text-align: center;

  font-size: 32px;
  font-family: $font-lato;
  font-weight: $font-light;
  letter-spacing: 0.7px;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.snapshot-list__snapshot-item {
  background-color: $white;
  font-family: $font-lato;
  font-weight: $font-light;
  letter-spacing: 0.7px;
  text-align: center;

  @include device-is('tablet') {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
}

.snapshot-list__snapshot-item-cell {
  text-align: center;
  padding:15px 0;

  font-size: 16px;
  font-family: $font-lato;
  color: $charcoal-grey;
}
