.timed-challenge-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 20px;

  &__primary {
    font-size: 1.5rem;
    font-weight: $font-bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    margin-top: 22px;
    color: $grey-80;
  }

  &__secondary {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-bottom: 50px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: $grey-80;
  }

  &__time {
    color: $blue;
    text-align: center;
  }

  &__allocated-time {
    text-align: center;
    color: $grey-80;
    font-size: 1.7375rem;
  }

  &__action {
    text-align: center;
  }
}

.timed-challenge-instructions-allocated-time {

  &__gauge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 50px;
    border-radius: 7px;
    background-color: $grey-20;
    margin: 0 auto;
    line-height: 3.125rem;
  }
}

.timed-challenge-instructions-gauge {

  &__icon {
    width: 42px;
    padding-right: 6px;
    padding-bottom: 6px;
  }

  &__value {
    width: 69px;
  }
}

.timed-challenge-instructions-action {

  &__confirmation-button {
    width: 234px;
    height: 46px;
    border-radius: 5px;
    margin-top: 22px;
    border: none;
    background-color: $green-hover;
    color: $grey-0;
    text-transform: uppercase;
    font-size: 0.875rem;
    cursor: pointer;
  }
}
