.timeout-gauge {
  display: flex;
  align-items: center;
  justify-content:flex-end;

  &__stop-icon {
    color: var(--pix-error-500)
  }

  &__content {
    position: relative;
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    width: fit-content;
    padding: var(--pix-spacing-1x);
    font-weight: var(--pix-font-bold);
    font-size: 1.25rem;
    font-style: normal;
    border-radius: 5px;
  }
}
