.tooltip {

  &__tag {
    border: none;
    background-color: transparent;
    position: relative;
    width: 45px;
    height: 40px;
    margin-top: -23px;
    margin-right: -17px;
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include device-is('tablet') {
      margin-top: -25px;
      width: 85px;
      height: 80px;
    }

    &--regular {
      background-image: url('/images/tag-regular-challenge.svg');
    }
  }
}

.tooltip-tag {

  &__icon-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  &__information {
    position: absolute;
    background-color: $white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 300;
    min-width: 220px;
    width: 40vw;
    max-width: 300px;
    padding: 24px;
    right: 50px;
    top: -10px;

    @include device-is('tablet') {
      right: 80px;
      top: -60px;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 20px;
      left: 100%;
      margin-top: -5px;
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent transparent white;

      @include device-is('tablet') {
        top: 80px;
      }
    }

    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tooltip-tag-information {

  &__title {
    margin-bottom: 16px;
    line-height: 1rem;
    font-family: $font-roboto;
    font-size: 1.125rem;
    font-weight: $font-medium;
  }

  &__text {
    font-family: $font-roboto;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: block;
    text-align: left;
    font-weight: $font-normal;
    letter-spacing: 0;
  }

  &__button {
    margin-top: 16px;
  }
}

.tooltip-tag__icon-button[aria-expanded="false"] + .tooltip-tag__information {
  display: none;
}
