.tutorial {
  background: $white;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $dove-gray;

  transition: all ease-in-out 0.1s;

  @include device-is('desktop') {
    width: 32%;
    margin: 8px 0;

    &:nth-child(3n+2) {
      margin-right: auto;
      margin-left: 2%;
    }
  }

  &:active, &:focus {
    text-decoration: none;
    color: $dove-gray;
  }

  &:hover {
    box-shadow: 0 4px 18px 0 rgba(12, 22, 58, 0.2), 0 0 0 0 rgba(245, 245, 245, 0.2);


    text-decoration: none;
    cursor: pointer;
    color: $dove-gray;
  }

  &__header {
    margin-bottom: 40px;
  }

  &-header__title {
    margin-bottom: 10px;
    color: $grayish-grey;
    font-size: 1.7rem;
    font-weight: 500;
  }

  &-header__source {
    font-size: 1.4rem;
    font-family: $font-roboto;
    font-weight: 400;
  }

  &__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-statistics__content-type {
    display: flex;
    align-items: center;

    img {
      height: 18px;
    }

    span {
      text-transform: capitalize;
      margin-left: 8px;
    }
  }
}
