.tutorial-card-v2 {
  min-height: 170px;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba($grey-90, 0.06);
  padding: 16px;
  gap: 12px;
  display: flex;

  &__domain-border {
    width: 3px;
    background: $yellow;
    border-radius: 2px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.tutorial-card-v2-content {
  &__skill {
    margin-bottom: 16px;
    width: 274px;
    color: $grey-50;
    font-family: $font-roboto;
    font-size: 0.813rem;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__link {
    margin-bottom: 4px;
    color: $grey-90;
    font-size: 1rem;
    font-family: $font-open-sans;
    font-weight: $font-semi-bold;

    @include device-is('tablet') {
      font-size: 1.125rem;
    }

    &:hover,
    &:focus {
      color: $blue;
    }

    &::after {
      @include external-link;

      margin-left: 8px;
    }
  }

  &__details {
    height: 24px;
    color: $grey-50;
    font-size: 0.813rem;
    font-family: $font-roboto;
    font-weight: $font-normal;
    line-height: 1.5rem;
    margin: 0;
  }

  &__actions {
    align-items: end;
    display: flex;
    flex: 1;
    gap: 13px;
  }
}

.tutorial-card-v2-content-actions {

  &__save,
  &__evaluate {
    font-size: 0.813rem;
    font-weight: $font-medium;
    color: $grey-50;
    letter-spacing: 0.028rem;
    background: transparent;
    border: none;
    padding: 0;
    display: block;

    svg {
      margin-right: 4px;
    }

    &:hover {
      filter: brightness(70%);
      cursor: pointer;
    }

    &:disabled {
      color: $grey-30;
      filter: brightness(90%);
      cursor: auto;
    }
  }
}
