.tutorial-card-v2 {
  display: flex;
  min-height: 170px;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba($grey-90, 0.06);
  padding: 16px;
  gap: 12px;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.tutorial-card-v2-content {

  &__link {
    display: -webkit-box;
    margin-bottom: 4px;
    color: $grey-90;
    font-size: 1.25rem;
    font-family: $font-open-sans;
    font-weight: $font-semi-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  &__details {
    height: 24px;
    color: $grey-50;
    font-size: 0.813rem;
    font-family: $font-roboto;
    font-weight: $font-normal;
    line-height: 1.5rem;
    margin: 0;
  }

  &__actions {
    justify-content: space-between;
    align-items: end;
    display: flex;
    flex: 1;
    gap: 13px;
  }
}

.tutorial-card-v2-content-actions {

  &__evaluate {
    display: inline-block;
  }
}

.pix-action-chip {
  $dark-blue: #2044DC;

  width: 36px;
  height: 36px;
  background: $white;
  border-radius: 50%;
  border: 1px solid $grey-10;
  text-align: center;

  &__icon {
    left: calc(50% - 20px / 2);
    top: 0%;
    bottom: 0%;
    color: $grey-50;
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
    border: 1.4px solid $grey-50;
    background: $grey-10;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  &--selected {
    border-color: $blue;

    .pix-action-chip__icon {
      color: $blue;
    }

    &:hover {
      border-color: $dark-blue;

      .pix-action-chip__icon {
        color: $dark-blue;
      }
    }

    &:focus-visible {
      background-color: $blue;
      box-shadow: 0 0 0 3px $blue;
      border-color: $white;

      .pix-action-chip__icon {
        color: $white;
      }
    }
  }

  &:not(.pix-action-chip--selected):focus-visible {
    background-color: $grey-60;
    box-shadow: 0 0 0 3px $grey-60;
    border-color: $white;
    outline: none;

    .pix-action-chip__icon {
      color: $white;
    }
  }
}
