.tutorial-card {
  display: flex;
  gap: 12px;
  min-height: 170px;
  padding: 16px;
  background: $pix-neutral-0;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba($pix-neutral-90, 0.06);

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.tutorial-card-content {
  &__title {
    display: -webkit-box;
    margin-bottom: 4px;
    overflow: hidden;
    font-weight: $font-semi-bold;
    font-size: 1.25rem;
    font-family: $font-open-sans;
    line-height: 1.25;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    a {
      color: $pix-neutral-90;

      &:hover,
      &:focus {
        color: $pix-primary;
      }
    }
  }

  &__details {
    height: 24px;
    margin: 0;
    color: $pix-neutral-50;
    font-weight: $font-normal;
    font-size: 0.813rem;
    font-family: $font-roboto;
    line-height: 1.5rem;
  }

  &__actions {
    display: flex;
    flex: 1;
    gap: 13px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
