.tutorial-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.tutorial-panel__hint-container-body {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 0 40px;
}

.tutorial-panel__hint-container {
  display: flex;
  flex-direction: column;
  max-width: 991px;
  margin: 0 15px;
  border-radius: 5px;

  @include device-is('desktop') {
    margin: 0 40px;
  }
}

.tutorial-panel__tutorials-container {
  display: flex;
  flex-direction: column;
}

.tutorial-panel__tutorial-info {
  color: $grey-40;
  font-size: 0.813rem;
  line-height: 1.25rem;
  margin: -5px 5px 0;
}

.tutorial-panel__hint-title {
  font-family: $font-open-sans;
  font-size: 1.375rem;
  text-align: center;
  color: $grey-80;
  font-weight: $font-semi-bold;
  margin-bottom: 20px;

  // XXX Inspired from https://codepen.io/ericrasch/pen/Irlpm
  position: relative;
  z-index: 1;

  &:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }

  span {
    background: $grey-10;
    padding: 0 15px;
  }

  @include device-is('desktop') {
    font-size: 1.375rem;
    line-height: 26px;
  }
}

.tutorial-panel__hint-content {
  font-size: 1.125rem;
  font-family: $font-open-sans;

  & p {
    padding-top: 12px;
  }
}

.tutorial-panel__hint-picto-container {
  vertical-align: middle;
}

.tutorial-panel__hint-picto {
  padding: 0 20px;
}
