.user-account-update-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 60px;

  h3 {
    @include device-is("mobile") {
      line-height: 2rem;
      text-align: center;
    }
  }

  &__informations {
    padding-top: 12px;
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    line-height: 1.75rem;
    text-align: center;

    &:nth-child(3) {
      padding-top: 25px;
    }
  }

  &__form {
    padding-top: 30px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 449px;
    padding-top: 30px;
  }

  &__error {
    padding-top: 30px;
    color: $pix-error-60;
  }
}

abbr.mandatory-mark {
  text-decoration: none;
}
