.user-account {

  &__banner {
    position: relative;
    max-width: 980px;
    margin: auto;
    font-weight: $font-light;
    height: 270px;
    padding: 0 20px;
    text-align: center;

    @include device-is('tablet') {
      text-align: left;
    }

    @include device-is('desktop') {
      padding: 0;
    }

    h1 {
      font-size: 1.625rem;
      font-family: $font-open-sans;
      font-weight: $font-light;
      line-height: 2.75rem;

      @include device-is('tablet') {
        font-size: 2rem;
        line-height: 3.375rem;
      }
    }
  }

  &__panel,
  &__update-email {
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    top: -6rem;
    padding: 0 20px;

    @include device-is('desktop') {
      padding: 0;
    }
  }
}

.user-account-banner {

  &__title {
    margin: 0 0 8px;
    padding-top: 64px;
  }
}
