.user-certifications-detail-competences-list {
  flex-grow: 1;

  h2 {
    font-family: $font-open-sans;
    font-size: 1.125rem;
    margin-bottom: 8px;
    font-weight: normal;

    span {
      font-size: 0.75rem;
    }
  }
}
