.certification-background-banner {
  width: 100%;
  min-height: 270px;
  background: $default-gradient;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  color: $white;
  position: absolute;
  top: 0; left :0;
}

.certification-background-banner-wrapper {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include device-is('mobile') {
  .certification-background-banner-wrapper {
    padding: 0 24px;
  }
}
