.user-certifications-detail-result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 370px;
  height: 100%;
  color: $grey-80;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 40px;

  h2 {
    color: $grey-60;
    font-family: $font-open-sans;
    font-size: 1.125rem;
    margin-bottom: 8px;
    font-weight: normal;
  }

  &__badge-clea {
    margin: 24px;
    text-align: center;
  }

  &__jury {

    &__info {
      font-size: 0.75rem;
    }

    &__comment {
      font-size: 0.875rem;
    }

    p {
      font-family: $font-open-sans;
      font-weight: $font-medium;
      line-height: 1.375rem;
    }
  }

  @include device-is('mobile') {
    min-width: 100%;
  }

  @include device-is('tablet') {
    min-width: 100%;
  }

  @include device-is('desktop') {
    min-width: 30%;
    margin-left: 20px;
  }
}
