.user-account-update-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 60px 0;

  &__informations {
    padding-top: 12px;
    text-align: center;
    color: $grey-90;
    font-family: $font-open-sans;
    line-height: 1.75rem;

    &:nth-child(3) {
      padding-top: 25px;
    }
  }

  &__form {
    padding-top: 30px;
  }

  &__actions {
    padding-top: 30px;
    width: 100%;
    max-width: 449px;
    display: flex;
    justify-content: space-between;
  }

  &__error {
    padding-top: 30px;
    color: $red;
  }
}

.user-account-update-email-actions {

  &__cancel-button {
    min-width: 120px;

    &:hover {
      border-color: $grey-90;
      background-color: $grey-10;
    }

    &:active {
      border-color: $grey-90;
      background-color: $grey-20;
    }
  }

  &__confirm-button {
    min-width: 120px;
  }
}

abbr.mandatory-mark {
  text-decoration: none;
}

.confirm-button-enabled {

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: darken($blue, 8%);
  }
}
