.user-account-panel {

  &__item {
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: $grey-15 1px solid;
    padding-bottom: 1rem;

    &:last-child {
      border-bottom: none;
    }

    input {
      height: 31px;
    }
  }
}

.user-account-panel-item {

  &__label {
    min-width: 200px;
  }

  &__value {
    color: $grey-50;
    min-width: 200px;
  }

  &__button {
    margin: 0 5px;
    padding: 6px;
  }
}
