.user-account-panel {

  &__item {
    margin: 20px 0;
    display: flex;
    align-content: flex-start;
    border-bottom: $grey-15 1px solid;
    padding-bottom: 1rem;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.user-account-panel-item {

  &__label {
    min-width: 200px;
    display: flex;
    align-items: center;
    margin: 0;

    @include device-is('mobile') {
      padding-bottom: 10px;
    }
  }

  &__value {
    color: $grey-50;
    margin: 0;
  }

  &__text {
    display: flex;

    @include device-is('mobile') {
      flex-direction: column;
      padding-left: 10px;
    }
  }

  &__button {
    margin-left: auto;
    background-color: transparent;
    color: $blue;
    padding: 0 20px;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  &__select {
    width: 165px;
  }
}
