.user-certifications-detail-result {
  background-color: $white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width:370px;

  color: $grey-80;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 40px;

  @include device-is('desktop') {
    margin-right: 20px;
  }

  &__pix-score{
    margin-bottom: 0.781rem;
    width: 16.875rem;
  }

  &__badge-pix-score{
    width: 8.125rem;
    height: 8.125rem;
    padding-top: 2.938rem;
    float: left;

    background: url('/images/pix-pastille-certif.svg') no-repeat;
    background-size: cover;

    text-align: center;
    display: table;

    span {
      height: 1.094rem;
      width: 1.756rem;
      color: $grey-70;
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 1.288rem;
      text-align: center;

    }
  }

  &__pix-certified {
    color: $grey-70;
    font-size: 1.563rem;
    font-weight: bold;
    line-height: 1.094rem;
    margin-top: 3rem;
    text-align: right;
  }

  &__separation{
    clear: both;
    position: absolute;
    height: 8.75rem;
    margin-top: 0.5rem;
    width : 0.156rem;
    background: black;
  }

  &__text-pix-certified {
    padding-left: 0.781rem;

    border-left-style: solid;
    border-left-color: $grey-80;
    border-left-width: 3px;
  }

  &__badge {
    max-width: 250px;
    align-self: center;
  }

  &__title-comment-jury {
    color: $grey-40;
    font-family: $font-open-sans;
    font-size: 1rem;
    font-weight: $font-medium;
    line-height: 1.625rem;
  }

  hr {
    margin-top: 40px;
    border: 0;
    width: 100%;
    background-color: $grey-15;
    height: 3px;
  }

  h3 {
    color: $grey-70;
    font-size: larger;
  }

  p {
    margin: 0;
    color: $grey-70;
  }
}
