.user-account {

  &__title {
    margin: 0 0 8px;
    padding-bottom: 26px;
    font-family: $font-open-sans;
    font-size: 3rem;
    font-weight: 300;
    color: $pix-neutral-0;
    position: relative;
    right: 0;
    text-align: center;
  }

  &__validation-title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 16px;
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    font-weight: 400;

    @include device-is('tablet') {
      text-align: start;
    }
  }

  &__menu-and-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .pix-block {
      width: auto;
    }
  }

  &__menu-block {
    margin: 32px;
    height: max-content;

    .user-account-menu {

      ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
      }

      ul li {
        border-bottom: 1.5px solid $pix-neutral-10;
        border-radius: 4px;

        &:first-child a {
          border-radius: 4px 4px 0 0;
        }

        &:last-child a {
          border-radius: 0 0 4px 4px;
          border-bottom: none;
        }
      }

      &__link {
        display: block;
        color: $pix-neutral-60;
        padding: 16px 60px 16px 20px;

        svg {
          margin-right: 8px;
        }

        &:hover {
          background-color: $pix-neutral-15;
        }

        &:focus-within {
          background-color: $pix-neutral-15;
        }

        &.active {
          background-color: $pix-neutral-15;
        }
      }
    }
  }

  &__content.pix-block {
    flex-grow: 1;
    height: max-content;
    padding: 14px 24px;
    margin: 32px 0;

    @include device-is('mobile') {
      padding: 16px;
      min-width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &__error-message {
    @include device-is('tablet') {
      max-width: 520px;
      margin-bottom: 10px;
    }
  }

  &__connection-methods {
    max-width: 980px;
    padding: 10px 0;
  }
}
