.user-certifications-page-get__header {
  display: flex;
  margin-bottom: 32px;
  padding: 14px 24px;

  @include device-is('mobile') {
    .pix-block {
      padding: 16px;
    }
  }
}

.user-certifications-detail-header {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  font-family: $font-open-sans;

  &__info-certificate {
    align-self: center;
    color: $pix-neutral-80;

    & > * {
      margin: 0;
      font-size: 1rem;
    }

    h1 {
      font-weight: lighter;
      font-size: 2rem;
    }

    p:nth-child(4) {
      font-weight: bold;
    }

    &--grey {
      color: $pix-neutral-45;
      font-size: 0.875rem;
      line-height: 23px;

      &:nth-child(2) {
        margin-top: 10px;
      }

      &:nth-child(3) {
        margin-bottom: 10px;
      }
    }

    &--professionalizing-warning {
      padding-top: 12px;
      color: $pix-neutral-45;
      font-size: 0.875rem;
      line-height: 23px;
    }
  }

  @include device-is('mobile') {
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
  }

  @include device-is('tablet') {
    flex-wrap: wrap;
  }

  @include device-is('desktop') {
    flex-wrap: nowrap;
  }
}

.attestation-and-verification-code {
  padding: 16px 20px;
  background-color: $pix-neutral-10;
  border-radius: 8px;

  .attestation {
    margin: auto;
    font-size: 0.875rem;
    text-align: center;

    button {
      max-width: 250px;
      padding: 14px 20px;
    }

    &__error-message {
      max-width: 250px;
      margin-top: 15px;
      color: $pix-error-50;
    }
  }

  hr {
    margin: 24px 0;
    border: 1px solid $pix-neutral-15;
  }

  .verification-code {
    max-width: 250px;
    margin: auto;
    color: $pix-neutral-90;
    font-family: $font-open-sans;
    letter-spacing: 0;

    &__title {
      display: flex;
      padding: 0;
      padding-bottom: 8px;
      font-weight: initial;
      font-size: 1rem;
    }

    &__box {
      display: flex;
      align-items: baseline;
      justify-content: center;
      padding: 10px 20px;
      background-color: $pix-neutral-5;
      border: 1.5px $pix-neutral-22 dashed;
      border-radius: 4px;

      .verification-code__code {
        margin: 0;
        margin-right: 6px;
        padding: 0;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 0.3px;
      }

      .verification-code__copy-button {
        padding: 0;
        color: $pix-primary;
        font-size: 1.25rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          color: darken($pix-primary, 20%);
        }
      }
    }

    &__informations {
      margin: 0;
      margin-top: 8px;
      font-size: 0.8125rem;
      line-height: 20px;
    }
  }

  @include device-is('tablet') {
    flex-grow: 1;
    margin-left: 0;
  }

  @include device-is('desktop') {
    flex-grow: 0;
    margin-left: auto;

    .verification-code,
    .attestation {
      margin: 0;
    }
  }
}
