.warning-banner {
  background-color: $vermilion;
  text-align: center;
  color: $white;
  height: 60px;
  font-family: $font-open-sans;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 10px 0;
  display: block;

  @include device-is('tablet') {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  &--underline {
    text-decoration: underline;
  }
}

