@use 'pix-design-tokens/typography';

.framework__creation-button {
  display: inline-flex;
}

.framework__no-current {
  display: inline-flex;
  margin-bottom: var(--pix-spacing-6x);
}

/* Creation form */
.version-creation-form__title {
  @extend %pix-title-s;

  margin-bottom: var(--pix-spacing-4x);
  color: var(--pix-neutral-800);
}

.version-creation-form__buttons {
  display: flex;
  gap: var(--pix-spacing-2x);
}

/* Framework details */
.framework-details__title {
  @extend %pix-title-xs;

  margin-bottom: var(--pix-spacing-4x);
}

.framework-versions,
.framework-target-profiles-history {
  color: var(--pix-neutral-900);

  .pix-table-header-container {
    margin-right: var(--pix-spacing-1x);
    color: var(--pix-primary-900);
    vertical-align: middle;
  }

  .pix-table-header-container > .pix-icon {
    margin-right: var(--pix-spacing-1x);
    color: var(--pix-neutral-800);
    vertical-align: middle;
  }
}

/* Target profiles history accordion */
.framework-target-profiles-history {
  margin-top: var(--pix-spacing-8x);

  .pix-accordions__title {
    @extend %pix-title-xs;

    &:hover,
    &[aria-expanded='true'] {
      background-color: transparent;
    }
  }

  .pix-accordions__content {
    padding: var(--pix-spacing-4x);
    color: inherit;
  }
}
