/* stylelint-disable selector-class-pattern */
.campaign__subtitle {
  color: var(--pix-neutral-100);
  font-size: 0.875rem;
}

.campaign__attributes {
  margin: 0;
  list-style: none;
  padding-inline: 0;
}

.campaign-title {
  display: flex;

  & h2 {
    margin-right: 8px;
  }

  &__tag {
    margin-right: 8px;
  }
}
