.account-recovery {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  background-color: $pix-neutral-0;

  @include device-is('tablet') {
    padding: 56px 60px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $pix-neutral-0;

    @include device-is('desktop') {
      flex: 1 1 0;
      flex-direction: row;
      align-items: center;

      .pix-logo {
        position: absolute;
        top: 0;
        left: 7%;
      }
    }

    &--form {
      position: relative;

      &-fields {
        position: relative;
        max-width: 400px;
      }
    }

    &--image {
      display: none;

      @include device-is('desktop') {
        display: flex;
        flex-basis: 40%;
        justify-content: flex-end;
        margin-right: 80px;

        img {
          width: 350px;
        }
      }
    }

    &--step {
      padding-top: 30px;

      @include device-is('tablet') {
        max-width: 600px;
      }

      @include device-is('desktop') {
        flex-basis: 60%;
        padding-top: 0;
      }

      &--content {
        max-width: 450px;
      }
    }

    &--title {
      @extend %pix-title-s;

      margin-bottom: 16px;
      color: $pix-neutral-90;
    }

    &--information-text {
      margin: 0;
      color: $pix-neutral-90;
      font-family: $font-roboto;

      a {
        color: $pix-communication-dark;
      }

      &--details {
        @extend %pix-body-s;

        margin-top: 16px;
        margin-bottom: 24px;
        color: $pix-neutral-90;

        a {
          color: $pix-communication-dark;
        }

        &.checkbox-with-label {
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            margin-right: 16px;
            cursor: pointer;
          }

          label {
            cursor: pointer;
          }

          &.with-links {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &--not-found-error {
      margin-top: 20px;

      a {
        color: $pix-communication-dark;
      }
    }

    &--actions {
      display: flex;
      margin-top: 32px;

      button:first-child {
        margin-right: 32px;
      }
    }
  }
}
