.account-recovery {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  padding: 30px;

  @include device-is('tablet') {
    padding: 56px 60px;
  }

  &__content {
    position: relative;
    background-color: $white;
    display: flex;
    flex-direction: column;

    @include device-is('desktop') {
      flex-direction: row;
      align-items: center;
      flex: 1 1 0;

      .pix-logo {
        position: absolute;
        top: 0;
        left: 7%;
      }
    }

    &--form {
      position: relative;

      &-fields {
        position: relative;
        max-width: 400px;
      }
    }

    &--image {
      display: none;

      @include device-is('desktop') {
        display: flex;
        flex-basis: 40%;
        justify-content: flex-end;
        margin-right: 80px;

        img {
          width: 350px;
        }
      }
    }

    &--step {
      padding-top: 30px;

      @include device-is('tablet') {
        max-width: 600px;
      }

      @include device-is('desktop') {
        padding-top: 0;
        flex-basis: 60%;
      }

      &--content {
        max-width: 450px;
      }
    }

    &--title {
      color: $grey-90;
      font-family: $font-open-sans;
      font-size: 1.5rem;
      line-height: 32px;
      margin-bottom: 16px;
      font-weight: 400;
    }

    &--information-text {
      color: $grey-90;
      font-family: $font-roboto;
      margin: 0;

      a {
        color: $communication-dark;
      }

      &--details {
        color: $grey-90;
        font-family: $font-roboto;
        font-size: 0.875rem;
        margin-top: 16px;
        margin-bottom: 24px;

        a {
          color: $communication-dark;
        }

        &.checkbox-with-label {
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            margin-right: 16px;
            cursor: pointer;
          }

          label {
            cursor: pointer;
          }

          &.with-links {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &--not-found-error {
      margin-top: 20px;

      a {
        color: $communication-dark;
      }
    }

    &--actions {
      display: flex;
      margin-top: 32px;

      button:first-child {
        margin-right: 32px;
      }
    }
  }
}
