.assessment-challenge {

  &__content {
    max-width: 990px;
    width: 100%;
    padding: 0 20px;

    @include device-is('desktop') {
      padding: 0;
    }
  }

  &__banner {
    width: 100%;
    margin-bottom: 30px;
  }

  &__focused-out-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
