@use 'pix-design-tokens/fonts';

.assessment-results__content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background: var(--pix-neutral-0);
  border-radius: 10px;
  box-shadow:
    0 7px 14px 0 rgb(12 22 58 / 10%),
    0 3px 6px 0 rgb(0 0 0 / 10%);
}

/* XXX : See https://github.com/sgmap/pix/issues/211 */
.assessment-results [data-lines='2'] + div .tooltip-inner {
  padding-top: 3px;
}

/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__title {
  margin: 0 0 30px;
  font-weight: var(--pix-font-medium);
  font-family: fonts.$font-open-sans;
  text-transform: uppercase;
}

/* List of results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  & > div {
    border: none;
    outline: none;
  }
}

/* Button 'go back'
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__index-link-container {
  display: flex;
  flex-direction: row-reverse;
}

.assessment-results__link-back {
  color: var(--pix-neutral-0);
  font-weight: var(--pix-font-medium);
  font-size: 1rem;
  font-family: fonts.$font-open-sans;
  text-align: center;
  text-transform: uppercase;
}
