/* ------------------------ START ------------------------ */
.campaign-landing-page__container {
  margin-bottom: $pix-spacing-xxl;
}

.campaign-landing-page__container__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: $pix-spacing-xl;
}

.campaign-landing-page__start__image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 25px;

  @include device-is('tablet') {
    flex-direction: row;
  }
}

.campaign-landing-page__pix-logo .campaign-landing-page__marianne-logo {
  flex-direction: row;
}

.campaign-landing-page__image {
  height: 70px;
}

.campaign-landing-page__start__text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 5px;
  font-family: $font-open-sans;
  text-align: center;

  @include device-is('tablet') {
    padding: 5px 20px;
  }

  &__title {
    font-size: 1.875rem;

    @include device-is('tablet') {
      font-size: 3rem;
    }

    span {
      font-weight: $font-medium;
    }
  }

  &__announcement {
    margin-top: $pix-spacing-s;
    font-size: 1.125rem;
  }

  &__legal {
    color: $pix-neutral-60;
    font-size: 0.75rem;
  }
}

.campaign-landing-page__start__custom-text {
  width: 80%;
  margin-top: 50px;
  padding: 50px 5px 5px;
  font-size: 1rem;
  font-family: $font-open-sans;
  text-align: left;
  border-top: 1px dashed $pix-neutral-22;

  strong {
    font-weight: $font-medium;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.563rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

.campaign-landing-page__start-button {
  align-self: center;
  margin: 30px 0;

  @include device-is('tablet') {
    margin: 30px;
  }
}

.campaign-landing-page__start__warning {
  margin-top: $pix-spacing-xl;
  color: $pix-neutral-90;
  font-size: 0.875rem;
  text-align: center;
}

/* ------------------------ DETAILS ------------------------ */

.campaign-landing-page__details {
  padding: 3rem 6rem 0;

  @include device-is('mobile') {
    padding-inline: 2rem;
  }
}

.campaign-landing-page-details__title {
  @extend %pix-title-s;

  text-align: center;

  &::after {
    display: block;
    width: 18rem;
    max-width: 100%;
    height: 2px;
    margin: 1em auto 0;
    background-color: var(--pix-primary-500);
    content: '';
  }
}

.campaign-landing-page-details__article {
  display: flex;
  align-items: center;
  padding-block: 3rem;

  @include device-is('mobile') {
    flex-direction: column;
  }

  & + .campaign-landing-page-details__article {
    border-top: 2px dashed var(--pix-neutral-20);
  }

  &-image {
    display: block;
    flex-shrink: 0;
    min-width: 8.75rem;
    margin-bottom: 1rem;

    @include device-is('tablet') {
      margin: 0 2rem;
    }
  }

  &-text {
    flex-grow: 1;

    @include device-is('tablet') {
      padding-inline: 2rem;
    }

    & > :not(:first-child) {
      margin-top: 0.5rem;
    }

    h3 {
      @extend %pix-title-xs;
    }

    p {
      @extend %pix-body-m;
    }
  }
}

/* ------------------------ ERROR ------------------------ */

.campaign-landing-page__error-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  font-family: $font-open-sans;

  .title {
    font-size: 1.375rem;
    text-align: center;
  }
}

.campaign-landing-page__error-button {
  margin: auto;
}
