.campaign-tutorials {
  background: $pix-gradient-yellow;
  width: 100%;
  height:100vh;
  display: flex;

  .campaign-tutorials__container {
    background-color: $white;
    height: 580px;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 7px 14px 0 rgba(12,22,58,0.1), 0 3px 6px 0 rgba(0,0,0,0.1);
  }
}
