.campaign__gradient {
  position: absolute;
  top: 100px;
  z-index: -1;

  background: $pix-blue-to-purple-gradient;
  height: 320px;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

.campaign__container {
  max-width: 850px;
  margin: 55px 10px;
  padding: 20px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(12,22,58,0.1), 0 3px 6px 0 rgba(0,0,0,0.1);

  @include device-is('tablet') {
    margin: 35px auto;
  }
}

.campaign__result__text {
  text-align: center;
  font-family: $font-open-sans;
  font-weight: 300;

  .announcement {
    padding: 35px;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }

  .score {
    padding-bottom: 35px;
    font-size: 5rem;
    line-height: 48px;
  }
}

.campaign__share_container {
  padding: 20px;
  text-align: center;
}

.campaign__share__button {
  height: 60px;
  width: 280px;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0;
  color: $white;
  background-color: $pix-blue;
}

.campaign__share__legal {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: $dove-gray;


  @include device-is('tablet') {
    max-width: 380px;
  }
}

.campaign__share__thanks {
  font-size: 3rem;
  padding-bottom: 28px;
}
