.certification-start-page__panel {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-rendering: optimizeLegibility;

  @include device-is('desktop') {
    padding: 50px 70px 40px;
  }
}

.certification-start-page__title {
  color: $nero;
  font-family: $font-open-sans;
  font-size: 4.2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
