.certification-instructions {
  min-height: 100vh;
  padding: 32px 80px;
  background: $pix-primary-certif-gradient;

  &__title {
    @extend %pix-title-m;
  }

  &__text {
    &--bold {
      font-weight: var(--pix-font-bold);
    }

    &--light {
      font-size: 0.875rem;
    }
  }

  &__content {
    display: flex;
    gap: var(--pix-spacing-8x);

    &:last-child {
      flex-direction: column;
    }
  }

  &__question {
    &--bold {
      @extend %pix-title-xs;

      font-weight: 700;
      line-height: 2.1;
    }
  }

  &__header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
    margin-bottom: 110px;
    font-size: 1.125rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-8x);
    max-width: 846px;
    margin: auto;
    padding: 24px;
    border-radius: 24px;
  }

  &__footer {
    display: flex;
    flex-flow: column wrap;
    gap: var(--pix-spacing-8x);
    align-items: center;
    justify-content: start;
  }
}

.certification-instructions-header {
  &__logo {
    max-width: 60px;
  }

  &__separator {
    width: 1px;
    height: 32px;
    background-color: var(--pix-neutral-0);
  }

  &__title {
    color: var(--pix-neutral-0);
  }
}

.certification-instructions-content {
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__size {
    min-width: 120px;
    min-height: 120px;
  }

  &__list {
    li {
      margin-left: var(--pix-spacing-4x);
      list-style: disc;
    }
  }
}

.certification-instructions-content-images {
  &__image-text {
    text-align: center;
  }
}

.certification-instructions-footer {
  &__buttons {
    display: flex;
    gap: 32px;
  }
}

.certification-instructions-footer-dots__dot.active {
    filter: brightness(0) saturate(100%) invert(17%) sepia(28%) saturate(7283%) hue-rotate(246deg) brightness(90%) contrast(94%);
}
