.challenge {

  &__content {
    max-width: 990px;
    width: 100%;
    padding: 0 20px;

    @include device-is('desktop') {
      padding: 0;
    }
  }

  &__banner {
    width: 100%;
    margin-bottom: 30px;
  }

  &__feedback {
    z-index: 1;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    text-align: left;
    max-width: 990px;

    @include device-is('desktop') {
      padding: 0;
    }
  }

  &__info-alert {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 51px;
    box-shadow: 0 10px 20px 0 rgba($blue, 0.06);
    background-color: rgba($blue-10, 0.9);
    color: $blue-60;

    &.challenge__info-alert--hide {
      opacity: 0;
      height: 0;
    }

    &.challenge__info-alert--show,
    &:focus.challenge__info-alert--could-show {
      opacity: 1;
      height: auto;
      bottom: 10px;
      margin: 20px auto 0 auto;
      padding: 24px 32px;
      position: sticky;

      @include device-is('tablet') {
        padding: 24px 98px;
      }
    }
  }
}

.challenge .alert {
  margin: 6px;
}
