.competence-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-panel {
    margin-top: -205px;
    width: 100%;
    position: relative;

    @include device-is('desktop') {
      max-width: 980px;
    }

    &-shadow {
      min-height: 1px;
      position: absolute;
      z-index: -100;
      bottom: 30px;
      width: 85%;
      left: 7.5%;
      box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.33);
    }

    &-content {
      display: flex;
      flex-direction: row;
      border-radius: 6.75px;
      font-family: $font-roboto;
      background-color: $porcelain-grey;
      padding: 30px 0;
      margin: 14px;

      &-left {
        flex-grow: 1;
        padding: 0px 30px;
        border-right: 4px dotted $silver-grey;

        &-area {
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 0.2rem;
        }

        &-name {
          margin: 15px 0;
          font-size: 3.6rem;
        }

        &-description {
          font-family: $font-open-sans;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: $dove-gray;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;

        &-score-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &-pix-earned {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 30px;
            text-transform: uppercase;
            color: $grayish-grey;

            &-number {
              font-family: $font-open-sans;
              margin-right: 5px;
              font-size: 3.2rem;
              line-height: 3.2rem;
              margin-bottom: 4px;
              font-weight: $font-semi-bold;
            }

            &-info {
              letter-spacing: 0.12rem;
              line-height: 1.4rem;
            }
          }
        }

        &-level-info {
          color: $grayish-grey;
          text-transform: uppercase;
          margin-top: 20px;
          letter-spacing: 0.03rem;
        }
      }
    }
  }

  &--jaffa {
    color: $jaffa;
  }
  &--emerald {
    color: $emerald;
  }
  &--cerulean {
    color: $cerulean;
  }
  &--wild-strawberry {
    color: $wild-strawberry;
  }
  &--butterfly-bush {
    color: $butterfly-bush;
  }
}

