.competence-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-panel {
    position: absolute;
    top: 34px;
    width: 100%;

    @include device-is('desktop') {
      max-width: 980px;
    }

    &-shadow {
      min-height: 1px;
      position: absolute;
      z-index: -100;
      bottom: 30px;
      width: 85%;
      left: 7.5%;
      box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.33);
    }

    &-inner {
      display: flex;
      flex-direction: row;
      border-radius: 6.75px;
      font-family: "Roboto";
      background-color: $porcelain-grey;
      padding: 30px 0px;
      margin: 14px;

      &-left {
        flex-grow: 1;
        padding: 0px 30px;
        border-right: 4px dotted $silver-grey;

        &-area {
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 2px;
        }

        &-name {
          margin: 15px 0px;
          font-size: 3.6rem;
        }

        &-description {
          font-family: "Open Sans";
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: $dove-gray;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;

        &-score-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;

          &-pix-earned {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 30px;
            text-transform: uppercase;
            color: $grayish-grey;

            > div:first-child {
              font-family: "Open Sans";
              margin-right: 5px;
              font-size: 3.2rem;
              line-height: 3.2rem;
              margin-bottom: 1px;
              font-weight: 600;
            }

            > div:last-child {
              letter-spacing: 1.2px;
              line-height: 1.4rem;
            }
          }
        }

        &-level-info {
          color: $grayish-grey;
          text-transform: uppercase;
          margin-bottom: 20px;
          letter-spacing: 0.3px;
        }

        &-disponibility {
          margin-top: 10px;
          color: $dove-gray;
          font-size: 1.4rem;
        }
      }
    }
  }

  &--jaffa {
    color: $jaffa;
  }
  &--emerald {
    color: $emerald;
  }
  &--cerulean {
    color: $cerulean;
  }
  &--wild-strawberry {
    color: $wild-strawberry;
  }
  &--butterfly-bush {
    color: $butterfly-bush;
  }

  &-button {
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: $mountain-meadow;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    transition: all 0.1s linear;
    cursor: pointer;
  }

  &-button:hover {
    background-color: darken($mountain-meadow, 10%);
  }

  &-button:disabled {
    background-color: lighten($mountain-meadow, 35%);
    cursor: not-allowed;
  }
}

