.disconnected {
  background: $pix-blue-to-purple-gradient;
  height: 100vh;
  padding: 10%;

  &__white-block {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

    text-align: center;
    padding: 10%;
  }
}
