@use 'pix-design-tokens/typography';

.download-session-results {
  max-width: max-content;
  margin: var(--pix-spacing-12x) auto var(--pix-spacing-8x);
  padding: var(--pix-spacing-10x) 4vw;
}

.download-session-results__form {
  .form__title {
    @extend %pix-title-m;

    margin-bottom: var(--pix-spacing-4x);
    text-align: center;
  }

  .form__actions {
    margin: var(--pix-spacing-8x) auto 0;
  }

  .form__error {
    margin-top: var(--pix-spacing-4x);
  }
}
