.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

  &__error {
    margin: 20px;
    padding: 20px;
    color: $pix-neutral-45;
    background: $pix-neutral-15;
  }

  &__error-title {
    font-weight: 600;
    font-size: 0.938rem;
  }
}

.error-page__body-section {
  width: 100%;

  @include device-is('desktop') {
    max-width: 980px;
  }
}

.error-page__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 40px;
  border-bottom: 1px dashed $pix-neutral-50;

  @include device-is('desktop') {
    padding: 80px 0;
  }

  p {
    padding-bottom: 0.8rem;
    font-size: 1rem;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }
}

.error-page-main-content__title {
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.error-page__index-link {
  margin-top: 20px;

  @include device-is('desktop') {
    margin-top: 40px;
  }
}
