@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use "pix-design-tokens/colors";
@use 'pix-design-tokens/shadows';

.evaluation-results-recommendation-engine {
  padding: var(--pix-spacing-3x) var(--pix-spacing-3x) 0 var(--pix-spacing-3x);
}

.evaluation-results-hero-recommendation-engine {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-6x);
  min-height: 350px;
  padding: var(--pix-spacing-6x) var(--pix-spacing-3x);
  color: var(--pix-neutral-0);
  background: var(--pix-gradient-default-dark);
  border-radius: 20px 20px 0 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__title {
    line-height: 1.5;
    white-space: pre-line;
    text-align: center;

    &--extra-small-size {
      @extend %pix-title-xxs;
    }

    &--small-size {
      @extend %pix-title-s;
    }
  }

  &__percent {
    @extend %pix-subtitle-s;

    color: var(--pix-neutral-0);
    line-height: 2rem;
    text-align: center;
  }

  &__percent-value {
    display: block;
    font-weight: 500;
    font-size: 3rem;
  }

  &__percent-unit {
    display: inline-block;
    margin-left: var(--pix-spacing-2x);
    font-weight: 500;
    font-size: 2.5rem;
  }

  &__stars {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-3x);
    align-items: center;

    .pix-stars {
      gap: var(--pix-spacing-1x);
      height: var(--pix-spacing-6x);
    }
  }

  &__stars-text {
    @extend %pix-body-s;

    color: var(--pix-neutral-0);
  }

  &__separator {
    width: 100%;
    height: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--pix-neutral-0);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--pix-spacing-4x);
    align-items: flex-start;
    width: 100%;

    .pix-button {
      width: 100%;
    }
  }
}

.evaluation-results-hero-recommendation-engine-staged-message {
  @extend %pix-shadow-default;


  margin-bottom: var(--pix-spacing-4x);
  padding: var(--pix-spacing-6x);
  background-color: var(--pix-neutral-0);
  border-radius: 0 0 20px 20px;

  &__title {
    @extend %pix-title-xxs;

    color: var(--pix-neutral-900);
  }

  &__content {
    &--ellipsed {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include breakpoints.device-is('tablet') {
  .evaluation-results-recommendation-engine {
    padding-right: 0;
    padding-left: 0;
  }

  .evaluation-results-hero-recommendation-engine {
    gap: var(--pix-spacing-10x);
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto var(--pix-spacing-1x);
    padding: var(--pix-spacing-10x) 15%;
    background: url('/images/illustrations/results/coupe-resultat.webp') bottom 0 right 60px / 360px no-repeat,
      url('/images/illustrations/results/triangle-result.svg') bottom 0 right 0 / 460px no-repeat,
      var(--pix-gradient-default-dark);

    &__content {
      gap: var(--pix-spacing-4x);
      align-items: normal;
      justify-content: normal;
      min-width: min(28rem, 100%);
    }

    &__title {
      text-align: start;

    }

    &__percent {
      text-align: start;
    }

    &__actions {
      width: auto;

      .pix-button {
        width: auto;
      }
    }
  }

  .evaluation-results-hero-recommendation-engine-staged-message {
    &__content {
      // We are disabling ellipsis behaviour in tablet / desktop view
      &--ellipsed {
        display: initial;
        overflow: initial;
        text-overflow: initial;
      }
    }
  }
}

