.fill-in-certificate-verification-code {

  max-width: max-content;
  padding: 48px 60px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__title {
      text-align: center;
      margin-bottom: 32px;
      font-size: 2rem;
      font-weight: $font-light;
      font-family: $font-open-sans;
      color: $grey-80;
    }

    .form__label {
      color: $grey-100;
      font-family: $font-open-sans;
      font-size: 1.219rem;
      text-align: center;
      font-weight: $font-light;
      margin-bottom: 16px;
    }

    .form__actions {
      margin-top: 24px;
    }

    .form__error--validation {
      color: $pure-orange;
      font-size: 0.875rem;
      padding: 16px 10px;
      text-align: center;
    }

    .form__error--not-found {
      margin: 32px auto 0;
      background-color: #ffdbcc;
      border-radius: 4px;
      height: 46px;
      line-height: 46px;
      width: 436px;
      text-align: center;
  
      svg {
        color: rgb(153, 0, 0);
        margin-right: 6px;
      }
  
      span {
        color: $error;
        font-family: $font-roboto;
        font-size: 14px;
        font-weight: normal;
        height: 22px;
        letter-spacing: 0.15px;
        width: 380px;
      }
    }
  }
}
