.fill-in-participant-external-id__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;

  @include device-is('tablet') {
    margin-bottom: 25px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.fill-in-participant-external-id-text {
  padding: 5px;
  font-family: $font-open-sans;

  &__title {
    font-weight: var(--pix-font-bold);
    font-size: 1.875rem;

    @include device-is('tablet') {
      font-size: 2rem;
    }
  }

  &__announcement {
    margin-bottom: 40px;
    font-size: 1.125rem;
  }
}

.fill-in-participant-external-id__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fill-in-participant-external-id__help {
  margin-top: 32px;
}

.fill-in-participant-external-id-form__buttonbar {
  display: flex;
  flex-direction: row;
  gap: var(--pix-spacing-2x);
  margin-top: 50px;
}
