.join-restricted-campaign {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  input[type='text'] {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid $pix-neutral-20;
    border-radius: 4px;

    &[disabled] {
      background-color: $pix-neutral-20;
    }

    &.input--error {
      border-color: $pix-warning-60;
    }
  }

  &__container {
    padding-bottom: 30px;

    @include device-is('tablet') {
      padding: 40px;
    }
  }

  &__title,
  &__sco-title {
    color: $pix-neutral-100;
    font-family: $font-open-sans;
    text-align: center;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 2.625rem;
  }

  &__sco-title {
    margin: 30px 0 12px;
    font-size: 1.5625rem;

    @include device-is('tablet') {
      margin: 0 0 12px;
      font-size: 2.625rem;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    color: $pix-neutral-100;
    font-size: 1.125rem;
    font-family: $font-open-sans;
    text-align: center;
  }

  &__label {
    margin: 0;
    font-weight: $font-medium;
    font-size: 0.938rem;
    font-family: $font-roboto;
  }

  &__field-error {
    color: $pix-error-60;
    font-size: 0.875rem;
  }

  &__error {
    margin: 8px 0;
    padding: 4px 10px;
    color: $pix-error-60;
    font-size: 0.938rem;
    text-align: center;

    @include device-is('tablet') {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    flex-flow: column nowrap;
    width: 280px;
    margin-bottom: 20px;
  }

  &__birthdate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    & input[type='text'] {
      width: 30%;
      margin-bottom: 4px;
      padding-left: 0;
      text-align: center;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__no-student-number {
    margin: 10px 8px 0 0;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}

.ember-modal-overlay.translucent {
  background-color: rgba(red($pix-neutral-110), green($pix-neutral-110), blue($pix-neutral-110), 40%);
}

.join-error-modal {
  position: absolute;
  top: 230px;
  max-width: 500px;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 78px;
    padding: 20px;
    background-color: $pix-neutral-0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $pix-neutral-10;
  }

  &__footer {
    display: flex;
    justify-content: center;
    background-color: $pix-neutral-10;

    > button {
      margin: 0 8px;
    }
  }
}

.join-error-modal-header {
  &__title {
    display: flex;
    align-items: center;
  }
}

.join-error-modal-header-title {
  &__text {
    margin-left: 8px;
    color: $pix-neutral-90;
    font-weight: $font-normal;
    font-size: 1.25rem;
    font-family: $font-open-sans;
    line-height: 1.875rem;
  }
}

.join-error-modal-header-close {
  &__icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    color: $pix-neutral-45;
    background-color: $pix-neutral-15;
    border-radius: 50px;
  }
}

.join-error-modal-body {
  &__message {
    color: $pix-neutral-110;
    font-weight: $font-normal;
    font-size: 0.875rem;
    font-family: $font-roboto;
    text-align: left;
  }

  &__list li {
    padding: 5px 0;
  }
}
