.join-restricted-campaign {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  input[type='text'] {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid var(--pix-neutral-20);
    border-radius: 4px;

    &[disabled] {
      background-color: var(--pix-neutral-20);
    }

    &.input--error {
      border-color: var(--pix-warning-700);
    }
  }

  &__container {
    padding-bottom: 30px;

    @include device-is('tablet') {
      padding: 40px;
    }
  }

  &__title,
  &__sco-title {
    @extend %pix-title-l;

    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__subtitle {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-6x) 0;
    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__label {
    @extend %pix-body-s;

    margin: 0;
    font-weight: $font-medium;
    font-family: $font-roboto;
  }

  &__field-error {
    @extend %pix-body-s;

    color: var(--pix-error-700);
  }

  &__error {
    @extend %pix-body-s;

    margin: 8px 0;
    padding: 4px 10px;
    color: var(--pix-error-700);
    text-align: center;

    @include device-is('tablet') {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    flex-flow: column nowrap;
    width: 280px;
    margin-bottom: 20px;
  }

  &__birthdate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    & input[type='text'] {
      width: 30%;
      margin-bottom: 4px;
      padding-left: 0;
      text-align: center;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__no-student-number {
    margin: 10px 8px 0 0;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}

.ember-modal-overlay.translucent {
  background-color: rgb(var(pix-neutral-900) / 40%);
}

.join-error-modal {
  position: absolute;
  top: 230px;
  max-width: 500px;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 78px;
    padding: 20px;
    background-color: var(--pix-neutral-0);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--pix-neutral-20);
  }

  &__footer {
    display: flex;
    justify-content: center;
    background-color: var(--pix-neutral-20);

    > button {
      margin: 0 8px;
    }
  }
}

.join-error-modal-header {
  &__title {
    display: flex;
    align-items: center;
  }
}

.join-error-modal-header-title {
  &__text {
    @extend %pix-title-xs;

    margin-left: 8px;
    color: var(--pix-neutral-900);
  }
}

.join-error-modal-header-close {
  &__icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    color: var(--pix-neutral-500);
    background-color: var(--pix-neutral-20);
    border-radius: 50px;
  }
}

.join-error-modal-body {
  &__message {
    @extend %pix-body-s;

    color: var(--pix-neutral-900);
    text-align: left;
  }

  &__list li {
    padding: 5px 0;
  }
}
