.modulix {
  @extend %pix-body-l;

  --modulix-max-content-width: 740px;
  --modulix-radius: 16px;
  --modulix-radius-s: 8px;
  --modulix-radius-l: 24px;

  flex-grow: 1;
  color: var(--pix-neutral-900);
  background: var(--pix-neutral-0);
}
