.modulix {
  @extend %pix-body-l;

  --modulix-max-content-width: 740px;
  --modulix-radius: 16px;
  --modulix-radius-full: 100% / 10%;

  flex-grow: 1;
  color: var(--pix-neutral-900);
  background: var(--pix-neutral-0);
}
