.not-connected {
  height: 100vh;
  padding-top: 5%;
  background: $pix-primary-app-gradient;

  @include device-is('tablet') {
    padding-right: 20%;
    padding-left: 20%;
  }

  &__container {
    padding: 15%;
    text-align: center;
  }

  &__logo {
    width: 100px;
    height: 80px;
  }

  &__text-block {
    padding-top: 30px;
    color: $pix-neutral-80;
    font-size: 1.875rem;
    line-height: 46px;
    text-align: center;
  }
}
