.password-reset-page {
  background: url("/images/signup-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-reset-page__inscription {
  display: flex;
  flex-direction: column;
  color: $white;
  margin-top: 30px;

  @include device-is('tablet') {
    flex-direction: row;
    align-items: center;
  }

}

.password-reset-page__inscription-text {
  color: $white;
  font-size: 16px;

  @include device-is('tablet') {
    margin-right: 10px;
  }
}

.password-reset-page__inscription-button {
  border-radius: 20px;
  border: solid 2px $white;
  margin: auto;

  color: $white;
  text-transform: uppercase;
  padding: 10px 30px;
}

.password-reset-page__inscription-button:hover {
  color: $white;
  text-decoration: none;
}

.password-reset-page__password-reset-form {
  padding: 0 10px;
  width: 100%;

  @include device-is('tablet') {
    max-width: 750px;
    margin: auto;
  }
}
