.profile-already-shared-retry {
  border-top: 1px dashed $grey-22;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-top: 20px;

  &__message {
    font-size: 1.5rem;
    font-weight: $font-light;
    font-family: $font-open-sans;
    text-align: center;
  }

  &__button {
    font-size: 0.875rem;
    padding: 10px;
  }
}
