.profilv2-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-rendering: optimizeLegibility;
}

.profilv2 {
  &__banner {
    height: 240px;
    width: 100%;
    background: $pix-blue-to-purple-gradient;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  }

  &__panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -205px;
    padding-left: 30px;
    padding-right: 30px;

    @include device-is('desktop') {
      max-width: 980px;
    }
  }
}
