.profilv2-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-rendering: optimizeLegibility;
}

.profilv2 {
  &__panel {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__v1link {
    display: flex;
    justify-content: flex-end;
  }
}
