.profile-page {
  text-rendering: optimizeLegibility;
}

.profile {
  &__panel {
    padding-left: 30px;
    padding-right: 30px;
  }

}

.profile-panel-header-information {
  font-weight: $font-light;
  font-family: $font-roboto;
  color: $black;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
