.send-profile-header {
  padding: 30px 10px;
  margin-top: -160px;

  @include device-is('tablet') {
    padding: 32px 24px;
  }

  &__announcement {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
  }

  &__image {
    margin-top: -50px;
  }

  &__title {
    color: $grey-90;
    font-family: $font-open-sans;
    font-size: 2rem;
    text-align: center;
    font-weight: $font-light;
  }

  &__instruction {
    color: $grey-90;
    font-size: 1.25rem;
    font-family: $font-open-sans;
    line-height: 2.5rem;
    text-align: center;
    margin: 30px;
    font-weight: $font-light;
  }

  &__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    background-color: $grey-10;
    padding: 20px;
  }

  &__profile {
    border-top: 1px dashed  $grey-22;
    padding-top: 36px;
    padding-bottom: 22px;
    margin-top: 24px;
    margin-bottom: 39px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &--with-border-bottom {
      border-bottom: 1px dashed  $grey-22;
    }

    &__cards {
      width: 100%;
      margin-top: 24px;
    }
  }

  &__recipient {
    color: $grey-90;
    font-family: $font-open-sans;
    font-size: 1.25rem;
    font-weight: $font-medium;
    margin-top: 0;
  }
}

.send-profile-disabled-share {

  &__text {
    font-size: 1.375rem;
    max-width: 640px;
    margin: 30px auto 60px;
    font-family: $font-open-sans;
    font-weight: $font-light;
    color: $grey-35;
    text-align: center;
  }

  &__back-to-home {
    font-size: 1rem;
    font-weight: $font-bold;
    font-family: $font-open-sans;
    text-align: center;
  }
}
