.sign-form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: $pix-primary-app-gradient;
  background-size: cover;

  abbr {
    text-decoration: none;
  }

  fieldset {
    width: 100%;
  }
}

.sign-form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 609px;
    margin-bottom: $pix-spacing-s;
    padding: 20px 10px;
    background-color: $pix-neutral-0;
    border-radius: 10px;

    @include device-is('tablet') {
      padding: 40px 60px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    align-items: center;
    width: 100%;
  }

  &__notification-message--error {
    margin: 0 0 10px;
    color: $pix-error-70;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center;

    & a {
      text-decoration: underline;
    }
  }

  &__validation-error {
    margin: 0;
    padding-bottom: 10px;
    color: $pix-error-70;
    font-weight: normal;
    font-size: 0.875rem;
  }
}

.sign-form-header {
  &__title {
    @extend %pix-title-m;

    margin-top: var(--pix-spacing-8x);
    margin-bottom: var(--pix-spacing-4x);
    color: $pix-neutral-80;
  }

  &__subtitle {
    @extend %pix-body-s;

    color: var(--pix-neutral-900);
    text-align: center;
  }
}

.sign-form-header-subtitle {
  margin-right: 3px;
  color: var(--pix-neutral-900);
}

.sign-form-body {
  &__instruction {
    @extend %pix-body-s;

    margin-top: var(--pix-spacing-4x);
    color: $pix-neutral-80;
    text-align: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
    align-items: center;
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: 0 20px;

    @include device-is('tablet') {
      padding: 0;
    }

    @include device-is('mobile') {
      padding: 0;
    }
  }

  &__bottom-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto 20px;
  }

  &__bottom-decoration {
    width: 100%;
    margin: var(--pix-spacing-4x) 0;
    line-height: 0.1rem;
    text-align: center;
    border-bottom: 1.5px solid $pix-neutral-20;

    @include device-is('mobile') {
      width: 100%;
    }

    span {
      padding: 0 10px;
      color: $pix-neutral-80;
      font-size: 16px;
      background: $pix-neutral-0;
    }
  }

  &__oidc-connect-link {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 13px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 100px;

    &:focus,
    &:hover,
    &:focus-within {
      border: 2px solid $pix-neutral-0;
      box-shadow: 0 0 0 2px $pix-neutral-70;
    }

    img {
      width: 30px;
    }

    span {
      padding: 0 3px 0 10px;
    }
  }

  &__forgotten-password-link {
    @extend %pix-body-s;

    align-self: flex-end;
    margin-top: var(--pix-spacing-1x);
  }

  &__fwb-oidc-connect-link {
    @extend %pix-body-s;
    
    display: flex;
    align-items: center;
    font-weight: $font-medium;
    text-decoration: none;
    background-color: $pix-neutral-0;
    border: 1px solid $pix-neutral-50;
    border-radius: 100px;

    &:focus,
    &:hover,
    &:focus-within {
      color: $pix-neutral-0;
      border: 1px solid $pix-neutral-50;
    }

    &__logo {
      width: $pix-spacing-m;
      margin: 6px $pix-spacing-xs 6px $pix-spacing-s;

      &:focus,
      &:hover,
      &:focus-within {
        color: $pix-neutral-0;
        background-color: $pix-neutral-0;
      }
    }
  }
}

.oidc-provider-pole-emploi {
  color: $pix-neutral-0;
  background-color: #1B2E57;
  border-style : 1px solid $pix-neutral-50;
}

.oidc-provider-fwb {
  padding: $pix-spacing-xs $pix-spacing-s $pix-spacing-xs $pix-spacing-xs;
  color: $pix-neutral-90;
  
  &:focus,
  &:hover,
  &:focus-within {
    color: $pix-neutral-0;
    background-color: $pix-neutral-60;
    border-radius: 0 100px 100px 0;
  }
}