.skill-review {
  &__result__container {
    max-width: 960px;
    margin: 55px 10px 10px 10px;
    padding: 40px 10px;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);

    @include device-is('tablet') {
      margin: 35px auto;
      padding: 60px;
    }
  }

  &__dash-line {
    height: 1px;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, transparent 50%, #BBB 50%);
    background-size: 10px 100%;
  }

  &__gradient {
    position: absolute;
    z-index: -1;

    height: 320px;
    width: 100%;
    background: $pix-blue-to-purple-gradient;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &__result-text {
    text-align: center;
    font-size: 2.8rem;
    font-family: $font-open-sans;
    font-weight: 300;
    line-height: 38px;
    color: $tundora-grey;

    @include device-is('tablet') {
      font-size: 4.2rem;
      line-height: 48px;
    }

    &__percentage {
      color: $pix-blue;
      display: inline-block;
    }
  }

  &__share_container {
    padding: 20px;
    text-align: center;

    @include device-is('tablet') {
      padding: 60px;
    }
  }

  &__share__button {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  &__share__legal {
    text-align: center;
    font-size: 2.4rem;
    color: $dove-gray;
    line-height: 33px;
    font-weight: 300;
    margin: 0 10px 30px 10px;

    @include device-is('tablet') {
      font-size: 3rem;
      margin: 0 20px 60px 20px;
    }
  }

  &__share__thanks {
    font-family: $font-open-sans;
    font-weight: 300;
    font-size: 2.4rem;
    padding-top: 20px;
  }

  &__information {
    margin: 10px;
    text-align: left;
    max-width: 850px;

    @include device-is('tablet') {
      margin: auto;
    }

    &__info-icon {
      float: left;
      color: $dove-gray;
      font-size: 1.5em;
    }

    &__text {
      padding-left: 30px;
      margin-top: 24px;
      color: $dove-gray;
      font-family: $font-open-sans;
      font-size: 1.4rem;
    }
  }

}

.skill-review-competence__bullet {
  font-size: 1.8rem;
  margin-right: 12px;
}

.skill-review-results__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;

  @include device-is('tablet') {
    flex-direction: row;
  }
}

.skill-review-results-header__circle-chart {
  width: 100px;
  height: 100px;
}
