.skill-review {
  &__result__container {
    max-width: 850px;
    margin: 55px 10px 10px 10px;
    padding: 40px 10px;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(12,22,58,0.1), 0 3px 6px 0 rgba(0,0,0,0.1);

    @include device-is('tablet') {
      margin: 35px auto;
      padding: 60px;
    }
  }

  &__dash-line {
    height: 1px;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, transparent 50%, #BBB 50%);
    background-size: 10px 100%;
  }

  &__gradient {
    position: absolute;
    z-index: -1;

    height: 320px;
    width: 100%;
    background: $pix-blue-to-purple-gradient;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  }

  &__result-text {
    text-align: center;
    font-size: 2.8rem;
    font-family: $font-open-sans;
    font-weight: 200;
    padding-bottom: 45px;
    line-height: 38px;
    color: $tundora-grey;
    @include device-is('tablet') {
      font-size: 4.5rem;
      line-height: 48px;
    }

    &__percentage {
      color: $pix-blue;
      display: inline-block;
    }
  }

  &__share_container {
    padding: 20px;
    text-align: center;

  }

  &__share__button {
    height: 60px;
    width: 200px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    color: $white;
    font-weight: 600;
    background-color: $pix-blue;

    @include device-is('tablet') {
      width: 280px;
    }

  }

  &__share__legal {
    text-align: center;
    font-size: 2.4rem;
    color: $dove-gray;
    line-height: 33px;
    font-weight: 300;
    margin: 0px 10px 30px 10px;

    @include device-is('tablet') {
      font-size: 3rem;
      margin: 30px 20px;
    }
  }

  &__share__thanks {
    font-family: $font-open-sans;
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 20px;
  }

  &__information {
    margin: 10px;
    text-align: left;
    max-width: 850px;

    @include device-is('tablet') {
      margin:auto;
    }

    &__info-icon {
      float: left;
      color: $dove-gray;
      font-size: 1.5em;
    }

    &__text {
      padding-left: 30px;
      color: $dove-gray;
      font-family: $font-open-sans;
      font-size: 1.6rem;
      line-height: 22px;
    }
  }

}
