.update-expired-password-form-page {
  display: flex;
  justify-content: center;
  background: $pix-blue-gradient;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  abbr {
    text-decoration: none;
  }
}

.update-expired-password-form {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 609px;
    border-radius: 10px;
    padding-top: 10px;
    background-color: $white;
    margin: 10px auto;

    @include device-is('tablet') {
      width: 609px;
      margin: 20px 0;
      padding-top: 40px;
    }

    @include device-is('mobile'){
      padding-top: 20px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;

    @include device-is('tablet') {
      padding: 0px 80px;
    }
  }

  &__notification-message {
    max-width: 449px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    color: $white;
    font-size: 0.875rem;
    padding: 9px;
    margin: 10px 0;

    &--success {
      background: $green;
    }

    &--error {
      background: $pure-orange;
    }
  }

  &__validation-error {
    color: $dark-error;
    font-weight: normal;
  }
}

.update-expired-password-form-header {

  &__subtitle {
    display: flex;
    padding: 5px 20px;
    flex-direction: column;
    text-align: center;
    font-family: $font-open-sans;
    font-size: 1rem;

    @include device-is('tablet') {
      flex-direction: row;
    }
  }

  &__instruction {
    width: 100%;
    margin: 10px 0 40px;

    @include device-is('tablet') {
      margin: 28px 0 40px;

      &--short {
        width: 400px
      }
    }
  }
}

.update-expired-password-form-body {

  &__instruction {
    margin: 10px 0;
    font-size: 0.875rem;
  }

  &__input {
    max-width: 449px;
    width: 100%;
    padding: 0 20px;

    @include device-is('tablet') {
      padding: 0;
    }
  }

  &__bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto 20px;

    &--big {
      margin: 10px auto;
      width: 300px;

      @include device-is('desktop') {
        margin: 30px auto;
      }

      @include device-is('mobile') {
        width: 280px;
      }
    }

    &--margin-top {
      margin-top: 25px;
    }
  }

  &__forgotten-password-link {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

// Text Styles

.update-expired-password-form-title {
  font-family: $font-open-sans;
  color: $grey-80;
  margin: 0;
  font-size: 1.563rem;
  font-weight: $font-light;

  @include device-is('desktop') {
    font-size: 2.25rem;
  }
}

.update-expired-password-form-subtitle {
  font-family: $font-roboto;
  color: $grey-80;
  font-size: 0.938rem;
  font-weight: $font-light;
  line-height: 28px;
  text-align: center;

  @include device-is('tablet') {
    font-size: 1.375rem;
  }
}

.update-expired-password-form-text {
  color: $grey-80;
  font-family: $font-open-sans;
  font-size: 0.625rem;

  @include device-is('tablet') {
    font-size: 0.938rem;
  }
}
