.user-trainings-banner {
  margin: 0 var(--pix-spacing-6x);
  padding-bottom: var(--pix-spacing-4x);

  @include device-is('desktop') {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--pix-spacing-4x) 20px;
  }

  &__title {
    @extend %pix-title-m;

    color: var(--pix-neutral-900);
  }

  &__description {
    @extend %pix-body-m;

    margin: 0;
    padding: var(--pix-spacing-2x) 0 var(--pix-spacing-8x);
    color: var(--pix-neutral-500);
  }
}

.user-trainings-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  margin: 0 auto;
  padding: var(--pix-spacing-6x) 20px 0;
  color: var(--pix-neutral-900);

  @include device-is('tablet') {
    padding: 40px 0 0;
  }

  &__title {
    margin: 0 0 32px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include device-is('desktop') {
      max-width: 1280px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pix-spacing-6x);
    margin-bottom: var(--pix-spacing-8x);
    padding: 0;
    list-style: none;

    @include device-is('tablet') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include device-is('desktop') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.user-trainings-content-list {
  &__item {
    &:hover {
      box-shadow:
        0 7px 14px 0 var(--pix-neutral-100),
        0 3px 6px 0 var(--pix-neutral-500);
    }
  }
}
