.user-certifications-page-get {
  position: relative;

  &__return-to {
    top: calc(-0.813rem - 20px);
    position: absolute;
    margin-left: -30px;
    align-self: start;
  }

  &__details-body {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 980px;
  }
}

@include device-is('mobile') {

  .user-certifications-page-get {

    &__header {
      flex-direction: column;
    }

    &__details-body {
      flex-wrap: wrap;
    }
  }
}

@include device-is('tablet') {

  .user-certifications-page-get {

    &__header {
      flex-direction: column;
    }

    &__details-body {
      flex-wrap: wrap;
    }
  }
}

@include device-is('desktop') {

  .user-certifications-page-get {

    &__details-body {
      flex-wrap: nowrap;
    }

    &__header {
      flex-direction: row;
    }
  }
}
