.user-tutorials-banner {
  margin: 0 24px;
  padding-bottom: 16px;
  font-family: $font-roboto;

  @include device-is('desktop') {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px 16px;
  }

  &__title {
    color: $pix-neutral-90;
    font-weight: $font-normal;
    font-size: 2rem;
    font-family: $font-open-sans;
    line-height: 2.6875rem;
    letter-spacing: 0.0093rem;
  }

  &__description {
    margin: 0;
    padding: 8px 0 32px;
    color: $pix-neutral-60;
    font-weight: $font-normal;
    font-size: 1rem;
    font-family: $font-roboto;
    line-height: 1.375rem;
    letter-spacing: 0.0093rem;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    min-height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.user-tutorials-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  padding-top: 20px;

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include device-is('desktop') {
      max-width: 1280px;
    }
  }

  &__cards {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 0 32px;
    padding: 0;
    list-style: none;
    row-gap: 16px;

    @include device-is('desktop') {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto 32px;
      column-gap: 24px;
    }
  }

  &__saved-empty,
  &__recommended-empty {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
    max-width: 1037px;
    margin: 75px auto 0;
    padding: 0 20px;
    text-align: center;
    row-gap: 20px;

    @include device-is('desktop') {
      flex-direction: row;
      text-align: left;
      column-gap: 100px;
    }
  }
}

.user-tutorials-saved-empty,
.user-tutorials-recommended-empty {
  &__title,
  &__description {
    color: $pix-neutral-90;
    font-family: $font-open-sans;
  }

  &__title {
    font-weight: $font-normal;
    font-size: 1.5rem;
  }

  &__description {
    margin: 1.2rem 0;
    font-size: 1.2rem;
  }

  &__link {
    display: inline-flex;
  }
}
