<div class="app-loader">
    <p class="app-loader__image">
      <img src="/images/interwind.gif" alt="" role="presentation">
    </p>
    <p class="app-loader__text">
      {{t "common.loading"}}
    </p>
</div>
