<header class="page-header">
  <h1 class="page-title">Tous les contenus formatifs</h1>
  {{#if this.accessControl.hasAccessToTrainingsCreationActionsScope}}
    <div class="page-actions">
      <PixButton
        @route="authenticated.trainings.new"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        class="pix-button__secondary"
        @iconBefore="plus"
      >
        Nouveau contenu formatif
      </PixButton>
    </div>
  {{/if}}
</header>

<main class="page-body">
  <section class="page-section">
    <Trainings::ListSummaryItems @summaries={{@model}} @id={{this.id}} @name={{this.name}} />
  </section>
</main>