<header class="page-header">
  <h1 class="page-title">Tous les contenus formatifs</h1>
</header>

<main class="page-body">
  <section class="page-section">
    <Trainings::ListSummaryItems @summaries={{@model}} @id={{this.id}} @name={{this.name}} />
  </section>
</main>