{{page-title "Nouveau contenu formatif"}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.trainings.list">Tous les contenus formatifs</LinkTo>
    <FaIcon @icon="chevron-right" />
    <h1>Création du contenu</h1>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Trainings::CreateOrUpdateTrainingForm
      @onSubmit={{this.createOrUpdateTraining}}
      @onCancel={{this.goBackToTrainingList}}
    />
  </section>
</main>