<div class="certification-informations__tag--float">
  {{#if @record.isPublished}}
    <PixTag @color="success">Publiée</PixTag>
  {{/if}}
  {{#if @record.isCancelled}}
    <PixTag @color="error">Annulée</PixTag>
  {{/if}}
</div>