{{#if @isLoading }}
  <button data-test-id="action-button" class="button button--regular button--link" {{action 'handleClick'}} ...attributes>
    <span class="button__loader">&nbsp;</span>
  </button>
{{else}}
  <button data-test-id="action-button" class="button button--regular button--link" {{action 'handleClick'}} ...attributes>
    {{yield}}
  </button>
{{/if}}
