<FileUpload @name="odsFile"
            @accept=".ods"
            multiple=false
            @onfileadd={{action 'uploadOdsFile'}}>
  <a class="button session-details-controls__import-button">Importer des candidats</a>
</FileUpload>