<header class="page-header">
  <div class="page-title">
    {{link-to 'Toutes les organisations' 'authenticated.organizations.list'}}
    <span style="color: #DDDDDD;">&nbsp;>&nbsp;</span>
    {{model.id}}
  </div>
  <div class="page-actions">
    <button class="btn btn-outline-default btn-thin">
      {{fa-icon "trash"}}&nbsp;Supprimer
    </button>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    {{organization-form organization=model onSubmitOrganization=(action "addOrganization")}}
  </section>
</main>

