<header class="page-header">
  <h1 class="page-title">Nouvelle organisation</h1>
  <div class="page-actions">
    {{#link-to "authenticated.organizations.list" class="btn"}}
      <span>&lt; Revenir</span>
    {{/link-to}}
  </div>
</header>
<section class="page-section">
  {{organization-form onSubmitOrganization=(action "addOrganization")}}
</section>

