<form class="organization-form" {{action 'addOrganization' on='submit'}}>

  <!-- First name -->
  <div class="organization-form__control">
    {{input class="organization-form__field" id="firstname" placeholder='Prénom' value=firstName}}
  </div>

  <!-- Last name -->
  <div class="organization-form__control">
    {{input class="organization-form__field" id="lastname" placeholder='Nom' value=lastName}}
  </div>

  <!-- Email -->
  <div class="organization-form__control">
    {{input class="organization-form__field" id="email" placeholder='Email' value=email}}
  </div>

  <!-- Form submit button -->
  <div class="organization-form__control">
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </div>
</form>