.button {
  padding: 13px 20px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.019rem;
  text-align: center;
  border-radius: 5px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover, &:active, &:focus {
    background-color: $blue-hover;
    transition: background-color 0.2s ease;
  }

  &--white {
    background-color: $white;
    color: $grey-100;

    &:hover, &:active, &:focus {
      background-color: $grey-20;
    }
  }

  &--grey {
    background-color: $blue-zodiac;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $grey-70;
    }
  }

  &--no-color {
    background-color: transparent;
    color: $grey-100;

    &:hover, &:active, &:focus {
      background-color: $grey-20;
    }
  }

  &--bordered {
    border: 1px solid $blue;
    color: $blue;

    &:hover, &:active, &:focus {
      background-color: $blue;
      color: $white;
    }
  }

  &--regular {
    width: 120px;
  }

  &--big {
    width: 180px;
  }

  &--extra-big {
    width: 280px;
  }

  &--link {
    text-decoration: none;
  }

  &--with-icon {
    display: flex;
    align-items: center;

    &>svg {
      padding-left: 5px;
    }
  }

  &--with-icon-and-text {
    color: $grey-60;
    background-color: $grey-10;
    display: flex;
    align-items: center;

    &>img {
      padding-right: 8.5px;
    }
  }

  &--with-icon-and-text {
    &:hover, &:focus, &:active, &:visited {
      background-color: $grey-20;
    }
  }

  &--round-with-icon {
    background-color: $white;
    border-radius: 17px;
    color: $grey-60;
    font-size: 1.4rem;
    height: 34px;
    padding: 1px 6px;
    width: 34px;

    &:hover {
      background-color: $grey-10;
    }

    &:focus, &:active, &:visited {
      background-color: $grey-20;
    }
  }

}

.loader-in-button {
  display: flex;
  background: url('/images/loader-white.svg') no-repeat center;
  background-size: 50px;
}

.icon-button {
  color: $grey-60;
  padding: 6px 8px;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    background-color: $grey-20;
    border-radius: 16px;
    transition: background-color 0.2s ease;
  }

  &--link {
    text-decoration: none;
  }
}
