// Colors
$vermilion: #FF4B00;
$pure-orange: #f45c00;
$vermilion-light: #FFDBCC;
$orange-peel: #FF9400;
$neon-carot: #FF9832;
$amber: #ffbe00;
$amber-light: #FFF2CC;
$emerald-light: #c0edcf;
$mountain-meadow: #20BF55;
$emerald: #51bf76;
$astronaut: #213371;
$chambray: #325792;
$mariner: #355BD1;
$denim: #0D7DC4;
$curious-blue: #2b89c8;
$aqua: #388AFF;
$dodger-blue: #3D68FF;
$comet: #585F75;
$gun-powder: #414657;
$heliotrope: #985FFF;
$porcelain: #f2f3f4;
$wild-sand: #f5f5f5;

// Area Colors
$jaffa: #F1A141;
$emerald: #57C884;
$cerulean: #12A3FF;
$wild-strawberry: #FF3F94;
$butterfly-bush: #574DA6;

// Text-color
$white: #FFFFFF;
$alto: #DDDDDD;
$dusty-gray: #999999;
$dove-gray: #666666;
$tundora: #444444;
$mine-shaft: #333333;
$nero: #222222;

// Gradients
$blue-purple-gradient: linear-gradient(135.25deg, $dodger-blue 0%, $heliotrope 100%);
$denim-gradient: linear-gradient(0deg, $denim 0%, $astronaut 100%);

// Box Shadows
$box-shadow-user-logged-menu: 1px 1px 3px 1px rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
