// Colors
$porcelain: #f2f3f4;
$wild-sand: #f5f5f5;
$dodger-blue: #416DF6;
$mariner: #355BD1;
$denim: #0D7DC4;
$astronaut: #213371;
$heliotrope: #985FFF;

// Text-color
$mine-shaft: #222222;
$tundora: #444444;
$dove-gray: #666666;
$alto: #DDDDDD;

// Gradients
$blue-purple-gradient: linear-gradient(135.25deg, $dodger-blue 0%, $heliotrope 100%);
$denim-gradient: linear-gradient(0deg, $denim 0%, $astronaut 100%);
