// Colors
$orange-peel: #FF9400;
$amber: #ffbe00;
$mountain-meadow: #20BF55;
$astronaut: #213371;
$chambray: #325792;
$mariner: #355BD1;
$denim: #0D7DC4;
$aqua: #388AFF;
$dodger-blue: #3D68FF;
$heliotrope: #985FFF;
$porcelain: #f2f3f4;
$wild-sand: #f5f5f5;

// Text-color
$white: #FFFFFF;
$alto: #DDDDDD;
$dusty-gray: #999999;
$dove-gray: #666666;
$tundora: #444444;
$mine-shaft: #333333;
$nero: #222222;

// Gradients
$blue-purple-gradient: linear-gradient(135.25deg, $dodger-blue 0%, $heliotrope 100%);
$denim-gradient: linear-gradient(0deg, $denim 0%, $astronaut 100%);
