.competences-col-name-wrapper {
  display: flex;
}

.competences-col {
  &__name {
    @extend %pix-title-xs;

    position: relative;
    padding-left: 1rem;
    color: var(--pix-neutral-800);
    font-size: 0.875rem;
  }

  &__gauge {
    padding-top: 16px;
    padding-right: 32px;
  }

  &__border {
    margin-right: 1rem;
    padding: 0.5rem 0;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1.5px;

    &--jaffa {
      background: var(--pix-information-light);
      border-color: var(--pix-information-light);
    }

    &--emerald {
      background: var(--pix-content-light);
      border-color: var(--pix-content-light);
    }

    &--cerulean {
      background: var(--pix-communication-light);
      border-color: var(--pix-communication-light);
    }

    &--wild-strawberry {
      background: var(--pix-security-light);
      border-color: var(--pix-security-light);
    }

    &--butterfly-bush {
      background: var(--pix-environment-light);
      border-color: var(--pix-environment-light);
    }

    &--bottom {
      position: absolute;
      top: 0;
      left: 1rem;
      display: none;
      box-sizing: border-box;
      height: calc(100% - 0.5rem);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &--top {
      position: absolute;
      left: 1rem;
      box-sizing: border-box;
      height: calc(100% - 0.5rem);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--open {
      display: block;
    }
  }
}

.competences-section {
  padding: 0;
}
