// Voir la documentation pour surcharger le css https://ember-power-select.com/docs/styles
$ember-power-select-line-height: 2 !default;
$ember-power-select-border-color: $grey-20 !default;
$ember-power-select-trigger-icon-color: $grey-60 !default;
$ember-power-select-focus-outline: 0 !default;
$ember-power-select-highlighted-color: $grey-60 !default;
$ember-power-select-highlighted-background: $grey-60 !default;
$ember-power-select-selected-background: $grey-10 !default;
$ember-power-select-focus-border-color: $grey-60 !default;
