.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include device-is('desktop') {
    max-width: 500px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__validation {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__error {
    padding-top: 4px;
  }

  &__information {
    margin-top: 7px;
  }
}

.label {
  display: inline-block;
  color: $tundora;
  font-size: 0.94rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.input {
  border: 2px solid $alto;
  border-radius: 4px;
  height: 40px;
  font-size: 1rem;
  padding-left: 15px;
  color: $nero;
  outline: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }
}

.textarea {
  border: 2px solid $alto;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px;
  color: $nero;
  outline: none;
  resize: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }
}

.error-message {
  color: red;
  font-family: $roboto;
  font-size: 0.75rem;
}

.select {
  font-size: 1rem;
  border: 2px $alto solid;
  height: 46px;
  background-color: white;
  outline: none;

  &:focus {
    border: 2px solid $dodger-blue;
  }
}

.button {
  padding: 13px 20px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.019rem;
  text-align: center;
  border-radius: 5px;
  background-color: $dodger-blue;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover, &:active, &:focus {
    background-color: $mariner;
    transition: background-color 0.2s ease;
  }

  &--white {
    background-color: white;
    color: black;

    &:hover, &:active, &:focus {
      background-color: $alto;
    }
  }

  &--grey {
    background-color: $comet;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $gun-powder;
    }
  }

  &--no-color {
    background-color: transparent;
    color: $nero;

    &:hover, &:active, &:focus {
      background-color: $alto;
    }
  }

  &--regular {
    width: 120px;
  }

  &--big {
    width: 180px;
  }

  &--extra-big {
    width: 280px;
  }

  &--link {
    text-decoration: none;
  }

  &--with-icon {
    display: flex;
    align-items: center;

    &>svg {
      padding-left: 5px;
    }
  }
}

.icon-button {
  color: $dove-gray;
  padding: 6px 8px;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    background-color: $alto;
    border-radius: 16px;
    transition: background-color 0.2s ease;
  }

  &--link {
    text-decoration: none;
  }
}

.radio-button {
  -ms-transform: scale(0.0);
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
}

.radio-button-span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px 20px 11px 0px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 0 2px $alto;
  border: 4px solid $wild-sand;
}

.radio-button:checked + .radio-button-span {
  box-shadow: 0 0 0 2px $dodger-blue;
  background-color: $dodger-blue;
}
