.page {
  padding: 0 $pix-spacing-m;

  @include device-is('tablet') {
    padding: 0 $pix-spacing-xl;
  }

  &__title {
    margin-bottom: $pix-spacing-m;
  }
}

.navigation {
  margin: $pix-spacing-l 0;
}
