.page {
  padding: 0 var(--pix-spacing-6x);

  @include device-is('tablet') {
    padding: 0 var(--pix-spacing-10x);
  }

  &__title {
    margin-bottom: var(--pix-spacing-6x);
  }
}

.navigation {
  margin: var(--pix-spacing-8x) 0;
}
