.panel {
  @extend %pix-shadow-xs;

  background-color: $pix-neutral-0;
  border: none;
  border-radius: 4px;

  &--header {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 24px;
    padding: 24px;
  }

  &__image {
    margin: auto;
  }
}

.panel-header__headline {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid $pix-neutral-20;

  .panel-header-title {
    margin: 0;
  }
}

.panel-header__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
}

.panel-header__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 6px 0;
  font-family: $font-roboto;

  &--highlight {
    background-color: $pix-neutral-10;
    border-radius: 8px;
  }
}

.panel-header-data {
  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding: 0 16px;
    border-right: 1px solid $pix-neutral-20;
  }

  &__content:last-child {
    border-right: none;
  }
}

.panel-header-data-content {
  &__badges {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 40px;
    }

    & > :not(:last-child) {
      padding-right: 2px;
    }

    & > :not(:first-child) {
      padding-left: 2px;
    }
  }

  &__stages {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

.navbar {
  display: flex;
  display: flex;
  width: 100%;
  min-height: 60px;
  padding: 0 8px;
  border: none;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    color: $pix-neutral-50;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: $font-roboto;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover,
    &:focus {
      color: $pix-primary;
    }

    &-separator {
      height: 30px;
      margin: 15px 0px;
      border-left: 1px solid $pix-neutral-25;
    }
  }

  &-item.active {
    color: $pix-primary;
    border-bottom: 2px solid $pix-primary;
  }
}

@include device-is('mobile') {
  .navbar {
    width: 100%;
    height: auto;
    padding: 0;

    &-item {
      width: 100%;
      height: 48px;
    }

    &-item.active {
      background-color: var(--pix-primary-100);
      border-bottom-width: 0px;
    }
  }

  .panel-header__body {
    flex-direction: column;
  }

  .panel-header__data {
    flex-direction: column;
    align-items: flex-start;

    &--highlight {
      flex-direction: column;
      align-content: flex-start;
      margin-top: 16px;
      padding: 16px;
    }
  }

  .panel-header-data {
    &__content {
      margin-bottom: 16px;
      padding: 0;
      border-left: none;
    }

    &__content:last-child {
      margin-bottom: 0px;
    }
  }
}
