.panel {
  border-radius: 4px;
  border: solid 2px;
  box-shadow: 0 1px 1px 0 rgba(12, 22, 58, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  &--white {
    background-color: white;
    border-color: white;
  }

  &--strong-shadow {
    box-shadow: 0 6px 12px 0 rgba(12,22,58,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
  }

  &--link {
    text-decoration: none;
    color: $nero;
    outline: none;
    cursor: pointer;
  }
}

.panel--white.panel--link {
  &:hover, &:active, &:focus {
    border-color: $dodger-blue;
    transition: border-color 1s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover {
    .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  &-text {
    visibility: hidden;
    width: 140px;
    background-color: $nero;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: $roboto;
    font-size: 0.8125rem;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $nero transparent transparent transparent;
    }
  }
}
