.panel {
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 1px 0 rgba($black, 0.1), 0 2px 5px 0 rgba($black, 0.1);
  background-color: $white;

  &--strong-shadow {
    box-shadow: 0 6px 12px 0 rgba($black, 0.1), 0 2px 5px 0 rgba($black, 0.1);
  }

  &--link {
    text-decoration: none;
    border: solid 2px $white;
    color: $grey-100;
    outline: none;
    cursor: pointer;

    &:hover, &:active, &:focus {
      border-color: $blue;
      transition: border-color 1s ease;
      box-shadow: 0 2px 5px 0 rgba($black, 0.05);
    }
  }

  &--header {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }
}

.panel-header__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $grey-20;
  padding-bottom: 24px;

  .panel-header-title {
    margin: 0;
  }
}

.panel-header__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
}

.panel-header__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0;
  margin: 0;
  font-family: $roboto;

  &--highlight {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: $grey-10;
    border-radius: 8px;
  }
}

.panel-header-data {
  &__content {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    border-left: 1px solid $grey-20;
  }

  &__content:first-child {
    border-left: none;
  }
}

.panel-header-data-content {
  &__badges {
    display: flex;
    align-items: center;
    flex-direction: row;

    img {
      height: 40px;
    }

    & > :not(:last-child) {
      padding-right: 2px;
    }
    & > :not(:first-child) {
      padding-left: 2px;
    }
  }

  &__label {
    margin-bottom: 8px;
  }

  &__progress-bar {
    padding-top: 8px;
  }

  &__stages {
    display: flex;
    align-items: center;

    .pix-stars svg {
      width: 26px;
      height: 26px;
    }
  }

  &__mastery-percentage {
    margin-bottom: 8px;
    padding-left: 0;
    border-left: none;
  }
}

.navbar {
  height: 60px;
  border: none;
  padding: 0 10px;

  &-item {
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    color: $grey-30;
    font-family: $roboto;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all ease-in-out .2s;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &-item.active {
      border-bottom: 2px solid $blue;
      color: $blue;
  }
}
