/* Structure & layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal-wrapper {
  z-index: 100;

  .pix-modal-dialog {
    width: 500px;

    @include device-is('mobile') {
      width: 80%;
    }

    .pix-modal__container {
      border-radius: 4px;
      background-color: $white;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
      font-size: 1rem;
      position: relative;
      margin: auto;

      .pix-modal-header {

        display: flex;
        flex-direction: column;
        padding: 16px 24px;

        &__title {
          align-items: center;
          justify-content: space-between;
          color: $grey-60;
          display: flex;
          font-size: 1.25rem;
        }

        &__icon {
          font-size: 1.5rem;
          padding: 3px 9px;
        }
      }

      .pix-modal-body {
        background-color: $white;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        padding: 0 24px;

        label {
          color: $grey-60;
          font-size: .88rem;
          font-weight: 500;
        }

        .disabled {
          background-color: $grey-10;
          border: none;
        }

        .help {
          color: $grey-100;
          text-transform: none;
          font-weight: normal;
          letter-spacing: normal;
          font-size: 0.85rem;
        }
      }

      .pix-modal-footer {
        background-color: $grey-70;
        border-radius: 8px 8px 4px 4px;
        padding: 24px;

        &__title {
          color: $white;
          margin-bottom: 22px;
        }

        button {
          font-weight: 600;
        }

        .input-password__icon {
          &:hover, &:focus, &:active {
            background-color: inherit;
          }
        }

        .label {
          color: $white;
        }

        .alert-input {
          text-align: left;
        }

        .help {
          font-size: .85rem;
          font-weight: 400;
        }
      }
    }
  }
}

/* Overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ember-modal-overlay {
  display:flex;
  justify-content: center;
  align-items: center;
}

.ember-modal-overlay.translucent {
  background-color: rgba(red($grey-200), green($grey-200), blue($grey-200), 0.2);
}

.pix-modal__translucent {
  background-color: transparent;
  box-shadow: none;
}
