table {
  box-sizing: border-box;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  .table__input {
    &:focus-within {
      border: 1px solid var(--pix-primary-500);
    }
  }

  .table__multi-select {
    > label {
      > input[type='text']::placeholder {
        color: var(--pix-neutral-100);
      }
    }
  }
}

thead {
  width: 100%;
  color: var(--pix-neutral-900);

  th {
    font-weight: 500;
    font-size: 0.875rem;
    font-family: $font-roboto;
  }
}

caption {
  padding: 1rem 24px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

tbody {
  color: var(--pix-neutral-500);

  tr {
    &:focus-within,
    &:hover {
      background-color: var(--pix-neutral-20);
    }
  }

  tr.tr--clickable {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: var(--pix-neutral-900);
      background-color: var(--pix-neutral-20);
      transition: 0.25s ease;
    }
  }

  .row--not-clickable {
    background-color: white;
    cursor: auto;
  }

  th.th--clickable {
    background-color: white;

    &:hover {
      background-color: var(--pix-neutral-20);
    }
  }

  td {
    position: relative;
    color: var(--pix-neutral-800);
    font-weight: 400;
    font-size: 0.875rem;
    font-family: $font-roboto;

    &.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > a {
      color: var(--pix-neutral-800);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: var(--pix-neutral-800);
      }
    }
  }
}

tr {
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--pix-neutral-20);
}

td,
th {
  padding-left: 24px;
  text-align: left;
}

th::first-letter {
  text-transform: capitalize;
}

.table__column {
  width: 16%;

  col {
    min-width: 100px;
  }

  &--center {
    text-align: center;
  }

  &--x-small {
    width: 3%;
  }

  &--small {
    width: 6%;
    max-width: 150px;
  }

  &--medium {
    width: 15%;
  }

  &--wide {
    width: 25%;
  }

  &--x-wide {
    width: 50%;
  }

  &--right {
    padding-right: 24px;
    text-align: right;
  }

  &--truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--sort {
    display: flex;
    align-items: center;
    justify-content: center;

    .pix-icon-button {
      margin-left: 8px;
    }

    &-no-center {
      justify-content: start;
    }
  }

  &--highlight {
    color: var(--pix-neutral-800);
  }
}

@media (max-width: 768px) {
  .table {
    width: 100%;
    overflow-x: auto;
  }
}

.table__row {
  &--small {
    height: 40px;
  }
}

.table__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  margin: 0;
  text-align: center;
  border-top: 1px solid var(--pix-neutral-20);
}
