.page-title {
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 2.5rem;
  color: $pix-neutral-90;
  margin-top: 0;
}

.page-sub-title {
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 1.5rem;
  color: $pix-neutral-60;
  margin-bottom: $spacing-m;
}

.form-title {
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 1.9rem;
  color: $pix-neutral-100;
}

.panel-header-title {
  @include subheading;

  color: $pix-neutral-70;
}

.back-title {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 1.25rem;
  color: $pix-neutral-90;
  margin: 0;
}
