.pix-orga-tooltip {
  .pix-tooltip__content {
    width: 382px;
    padding: 16px;
    font-size: 0.875rem;
    background-color: white;
    color: $grey-60;
    border: 1px solid $grey-40;
    border-radius: 4px;
    box-shadow: -2px 4px 4px 2px rgba($black, 0.1);
  }

  .pix-tooltip__content--bottom::before {
    top: -5px;
    left: calc(95% - 4px);
    border-color: $grey-40 transparent transparent $grey-40;
    transform: rotate(45deg);
  }

  .pix-tooltip__content::before {
    content: "";
    position: absolute;
    border-width: 1px;
    border-style: solid;
    height: 8px;
    width: 8px;
    background-color: white;
  }

  .pix-tooltip__content--bottom {
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-95%);
    padding: 23px 16px;
  }
}