{{title pageTitle}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @class="navbar-header--white" @burger={{burger}} />
    <div class="background-banner-wrapper competence-details">
      <div class="background-banner"></div>

      <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner">
        <ScorecardDetails @scorecard={{model}} />
      </div>
    </div>
  </burger.outlet>
</BurgerMenu>
