{{navbar-header class="navbar-header--white"}}
<div class="competence-results">
  <div class="background-banner"></div>

  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner">
    {{#if model.scorecard}}
      {{scorecard-details scorecard=model.scorecard}}
    {{/if}}
  </div>
</div>
