<div>
  {{navbar-header class="navbar-header--white"}}
</div>
<div class="skill-review__gradient"></div>

<div class="skill-review__result-container rounded-panel rounded-panel--strong">
  <h1 class="skill-review__result-text rounded-panel-title">
    Bravo ! Vous avez terminé votre évaluation pour cette compétence !
  </h1>
  <div class="skill-review__share-container">
      <p class="skill-review__share-legal">
        Allez voir vos résultats sur {{#link-to 'profilv2' class="link"}} votre page profil {{/link-to}} !
      </p>
  </div>

</div>

{{outlet}}
