.modal-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: 16px
}

.challenge-item {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  margin: 0 auto 80px;

  &__playground {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-content: center;
    justify-content: space-evenly;
  }

  &__image, &__qroc, &__qrocm {
    display: flex;
    width: 49%;
  }

  &__qroc, &__qrocm {
    align-items: center;
    padding: 20px 20px;
  }

  &__qcm, &__qcu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  &__autoreply {
    width: 0;
  }

  &__embed {
    display: block;
    width: 100%;
  }
}

