.grain {
  width: 100%;

  &__header {
    margin-bottom: var(--pix-spacing-6x);
    padding: 0 var(--pix-spacing-4x);
    font-weight: var(--pix-font-medium);
  }

  &__content {
    padding: var(--pix-spacing-6x);
    border-top-left-radius: var(--pix-spacing-4x);
    border-top-right-radius: var(--pix-spacing-4x);

    &:last-child {
      border-bottom-right-radius: var(--pix-spacing-4x);
      border-bottom-left-radius: var(--pix-spacing-4x);
    }
  }

  &__footer {
    padding: var(--pix-spacing-6x);
    border-bottom-right-radius: var(--pix-spacing-4x);
    border-bottom-left-radius: var(--pix-spacing-4x);
  }
}

.grain-content {
  &__element:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }
}

.grain--lesson {
  .grain__content {
    background: var(--pix-info-50);
  }

  .grain__footer {
    background: var(--pix-info-100);
    border-top: 1px solid var(--pix-neutral-500);
  }
}

.grain--activity {
  .grain__content {
    background: var(--pix-neutral-20);
  }

  .grain__footer {
    background: var(--pix-neutral-100);
    border-top: 1px solid var(--pix-neutral-500);
  }
}
