.grain {
  background: $pix-neutral-0;
  border: 1px solid $pix-neutral-22;
  border-radius: $pix-spacing-s;

  &__footer {
    padding: $pix-spacing-s;
    background: $pix-tertiary-5;
    border-radius: 0 0 $pix-spacing-s $pix-spacing-s;
  }
}
