<h4 class="campaign-details-analysis campaign-details-analysis__header">Recommandation de sujets à travailler</h4>

<p class="campaign-details-analysis campaign-details-analysis__text">
  En fonction du référentiel testé et des résultats de la campagne,
  Pix vous recommande ces sujets à travailler, classés par degré de pertinence (
  <svg height="10" width="10">
    <circle cx="5" cy="5" r="5" class="campaign-details-analysis recommendation-indicator__bubble" />
  </svg>
  )
</p>

<div class="panel panel--light-shadow content-text content-text--small campaign-details-table">

  <table aria-label="Analyse par sujet">
    <thead>
      <tr>
        <Table::Header @size="wide">
          Sujets ({{if @displayAnalysis this.sortedRecommendations.length '-' }})
        </Table::Header>
        <Table::HeaderSort @size="small" @align="center" @onSort={{this.sortRecommendationOrder}} @isDisabled={{not @displayAnalysis}}>
          Pertinence
        </Table::HeaderSort>
        <Table::Header @size="small" />
      </tr>
    </thead>

    {{#if @displayAnalysis }}
    <tbody>
      {{#each this.sortedRecommendations as |tubeRecommendation|}}
      <Routes::Authenticated::Campaign::Analysis::TubeRecommendationRow
        @tubeRecommendation={{tubeRecommendation}} />
      {{/each}}
    </tbody>
    {{/if}}

  </table>

  {{#unless @displayAnalysis }}
  <div class="table__empty content-text">En attente de résultats</div>
  {{/unless}}
</div>
