.challenge-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 850px;
  margin: 16px auto;
  padding: 0 30px;

  button:only-child {
    margin-left: auto;
  }

  .pix1d-button {
    .loader.loader--white > div  {
      background-color: $pix-primary;
    }

    &:hover {
      .loader.loader--white > div  {
        background-color: white;
      }
    }
  }
}


