<div class="challenge-actions">
  {{#unless (eq @level "TUTORIAL")}}
    <PixButton class="pix1d-button pix1d-button--skip" @triggerAction={{@skipChallenge}} @shape="rounded" @size="big">
      <span>
        Je passe
      </span>
    </PixButton>
  {{/unless}}
  <PixButton class="pix1d-button" @triggerAction={{@validateAnswer}} @shape="rounded" @size="big">
    <span>
      Je continue
    </span>
  </PixButton>
</div>