<div class="challenge-actions">
  <PixButton
    class="challenge-actions__skip-button"
    @isDisabled={{@isDisabled}}
    @triggerAction={{@skipChallenge}}
    @shape="rounded"
    @size="big"
  >
    <span>
      Je passe
    </span>
  </PixButton>
  <PixButton
    class="challenge-actions__verify-button"
    @isDisabled={{@isDisabled}}
    @triggerAction={{@validateAnswer}}
    @shape="rounded"
    @size="big"
  >
    <span>
      Je vérifie
    </span>
  </PixButton>
</div>