{{page-title "Home"}}
<div class="container">
  <img class="logo" alt="Bienvenue Pix 456" width="300" src="/images/logo_456_pix.png" />
  <p class="instruction">Choisis une mission</p>
  <div class="cards">
    <MissionCard
      @title="Recherche sur internet"
      @route="mission"
      @id="recExjO7RHeDI48HK"
      @buttonLabel="Aller à la mission"
    />
    <MissionCard
      @title="Données personnelles"
      @route="mission"
      @id="recZtwymXXrtdXRrx"
      @buttonLabel="Aller à la mission"
    />
  </div>
</div>

{{outlet}}