{{page-title "Home"}}

<div>
  <Input
    required
    aria-describedby="code-description"
    id="school-code"
    class="input-code"
    @type="text"
    @value={{this.schoolCode}}
    maxlength="9"
  />
</div>

<div>
  <PixButton @triggerAction={{this.goToSchool}}>
    {{t "pages.home.go-to-school"}}
  </PixButton>
</div>