{{page-title "Home"}}
<div class="container">
  <div class="robot-speaking">
    <img class="robot-logo" alt="mascotte pix1d" src="/images/happy-robot.svg" />
    <p class="instruction">Choisi ta mission parmi celles qui te sont proposées ci-dessous !</p>
  </div>
  <div class="cards">
    <LinkTo @route="mission" @model="recExjO7RHeDI48HK">
      <MissionCard @title="Recherche sur internet" @colorClass="red" />
    </LinkTo>

    <LinkTo @route="mission" @model="recZtwymXXrtdXRrx">
      <MissionCard @title="Données personnelles" @colorClass="bluue" />
    </LinkTo>
  </div>
</div>