{{page-title "Home"}}
<div class="container">
  <div class="robot-speaking">
    <img class="robot-logo" alt="mascotte pix1d" src="/images/happy-robot.svg" />
    <p class="instruction">Choisi ta mission parmi celles qui te sont proposées ci-dessous !</p>
  </div>
  <div class="cards">
    <MissionCard
      @title="Recherche sur internet"
      @route="mission"
      @id="recExjO7RHeDI48HK"
      @buttonLabel="Aller à la mission"
    />
    <MissionCard
      @title="Données personnelles"
      @route="mission"
      @id="recZtwymXXrtdXRrx"
      @buttonLabel="Aller à la mission"
    />
  </div>
</div>

{{outlet}}