{{page-title (t "pages.sign-in.title")}}
<main class="sign-form-page" role="main">
  <section class="sign-form-page__container">
    <SigninForm />

    {{#if this.isInternationalDomain}}
      <Pix::LanguageSwitcher
        @ariaLabel={{t "pages.inscription.choose-language-aria-label"}}
        @selectedLanguage={{this.selectedLanguage}}
        @onLanguageChange={{this.onLanguageChange}}
      />
    {{/if}}
  </section>
</main>