{{page-title (t "pages.sign-in.title")}}
<main class="sign-form-page" role="main">
  <section class="sign-form-page__container">
    <SigninForm />

    {{#if this.isInternationalDomain}}
      <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
    {{/if}}
  </section>
</main>