<div class="participants-by-status__loader">
  <p class="sr-only">{{t 'charts.participants-by-stage.loader'}}</p>
  <div class="participants-by-status__loader--chart placeholder-doughnut" aria-hidden="true" />
  <div class="participants-by-status__loader--legend placeholder-box" />
  <div class="participants-by-status__loader--legend placeholder-box" />
</div>
