<ul class="sr-only">
  <li>{{t 'charts.participants-by-status.labels-a11y.started' count=@started}}</li>
  <li>{{t 'charts.participants-by-status.labels-a11y.completed' count=@completed}}</li>
  <li>{{t 'charts.participants-by-status.labels-a11y.shared' count=@shared}}</li>
</ul>
