<p class="sr-only">{{t 'charts.participants-by-stage.loader'}}</p>
<div class="participants-by-status--loader placeholder-doughnut" aria-hidden="true" />
<div class="participants-by-status__legend--loader placeholder-box" />
<div class="participants-by-status__legend--loader placeholder-box" />
