/* stylelint-disable selector-class-pattern, function-no-unknown */
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;

  label {
    margin: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-thin {
  line-height: 28px;
}

.btn-primary {
  text-align: center;
  background-color: $pix-primary;
  color: $pix-neutral-0;
  transition: background-color 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($pix-primary, 10%);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $pix-neutral-90;
  border: 2px solid $pix-neutral-50;

  &:hover,
  &:active,
  &:focus {
    border-color: $pix-neutral-80;
    background-color: $pix-neutral-15;
    color: $pix-neutral-90;
  }
}

.btn-group {

  .btn {
    min-width: 43.5px;
  }
}

.loader-in-button {
  display: flex;
  background: url('/images/loader-white.svg') no-repeat center;
  background-size: 50px;
}
