/* stylelint-disable selector-class-pattern, no-invalid-double-slash-comments */
.form {

  textarea {
    height: auto;
  }

  &__instructions {
    display: block;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }

  .form-section {
    padding: 0 20px 20px;

    &:first-child {
      padding: 20px;
    }
  }

  .form-section--actions {
    padding: 20px;
    border-top: 1px solid var(--pix-neutral-100);
  }

  .form-field {
    margin-bottom: 16px;

    .form-field__error {
      width: 100%;
      color: var(--pix-error-700);
      font-size: 0.8em;
    }

    &__label, &__label label {
      margin: 0;
      font-weight: 600;
    }
  }
}

.form-actions {
  display: flex;

  button {
    margin-right: 6px;
  }
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  input {
    margin-right: 10px;
  }
}

.input {
  height: 40px;
  padding-left: 15px;
  color: var(--pix-neutral-800);
  font-size: 1rem;
  border: 2px solid var(--pix-neutral-20);
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 2px solid var(--pix-communication-dark);
  }

  &--small {
    width: 160px;
  }
}

// TODO: Add this attribute in pix UI
.pix-select select {
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  color: var(--pix-neutral-500);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--pix-neutral-0);
  background-clip: padding-box;
  border: 1px solid var(--pix-neutral-100);
  border-radius: 0.25rem;
}
