html {
  color: var(--pix-neutral-900);
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--pix-neutral-20);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

input:invalid {
  box-shadow: none;
}

abbr {
  cursor: help;

  &.mandatory-mark {
    display: contents;
    margin: 1.25rem;
    color: var(--pix-error-700);
    text-decoration: none;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a.pix-button {
  &:hover {
    color: var(--pix-neutral-0);
    text-decoration: none;
  }
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
}
