/* stylelint-disable selector-class-pattern */
.navbar {
  display: flex;
  align-items: normal;
  justify-content: start;
  height: 60px;
  margin: 20px 0;
  padding: 0 10px;
  background: var(--pix-neutral-0);
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 var(--pix-neutral-0),
    0 2px 5px 0 var(--pix-neutral-0);

  a {
    text-decoration: none;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 0 $pix-spacing-xs;
    color: var(--pix-neutral-500);
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: var(--pix-communication-dark);
    }
  }

  &__list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
  }

  .navbar-list-item {
    &__link {
      color: var(--pix-neutral-500);
      font-weight: 500;
    }

    &__link.active {
      color: var(--pix-communication-dark);
    }
  }

  &__list--item:has(.navbar-list-item__link.active) {
    border-bottom: 2px solid var(--pix-communication-dark);
  }

  &-item.active {
    color: var(--pix-communication-dark);
    border-bottom: 2px solid var(--pix-communication-dark);
  }
}

.navbar + section {
  padding: 20px;
  background: var(--pix-neutral-0);
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 var(--pix-neutral-0),
    0 2px 5px 0 var(--pix-neutral-0);
}
