/* stylelint-disable selector-class-pattern */
.page {
  .page-header {
    top: 0;
    right: 0;
    left: 80px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    margin: 0;
    padding: 6px 20px;
    background: var(--pix-neutral-0);
    border-bottom: 1px solid var(--pix-neutral-20);

    .page-title {
      font-weight: 500;
      font-size: 1rem;

      a {
        color: var(--pix-primary-500);
      }

      h1 {
        display: inline;
        font-weight: bold;
        font-size: 1rem;
      }

      .wire {
        color: var(--pix-neutral-500);
      }
    }

    .page-actions {
      display: flex;
      gap: 1rem;
      align-items: center;

      &__link {
        color: var(--pix-primary-500);
        font-size: 0.875rem;

        svg {
          margin-right: 2px;
        }
      }
    }
  }

  .page-body {
    inset: 60px 0 0 80px;
    padding: 10px;

    .page-section {
      margin-bottom: 10px;
      padding: 32px;
      background: var(--pix-neutral-0);
      border-radius: 5px;

      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      &__title {
        font-weight: 600;
        font-size: 1.2rem;

        &--sub {
          margin-bottom: $pix-spacing-s;
        }
      }

      &__content {
        margin-bottom: 10px;
      }
    }
  }
}
