.form {


  .form-section {
    padding: 0 40px 40px;

    &:first-child {
      padding: 40px;
    }
  }

  .form-section--actions {
    border-top: 1px solid $grey-border;
    padding: 40px;
  }

  .form-field {

    .form-field__label {

    }

    .form-field__text {

    }
  }
}

