.page {
  padding: 52px 80px 80px;

  .page-title {
    margin-bottom: 20px;
  }

  .page-section {
    background: #FFFFFF;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid $grey-border;

    @include media-breakpoint-up(lg) {
      padding: 48px;
    }

    .page-section-header {
      display: flex;
      justify-content: space-between;

      .page-section-header__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;
      }
    }
  }
}

