.page {

  @include media-breakpoint-up(lg) {
  }

  .page-header {
    background: #ffffff;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .page-title {
      font-weight: 500;
    }
  }

  .page-body {
    padding: 20px;

    .page-section {
      background: #FFFFFF;
      border-radius: 5px;
      border: 1px solid $grey-border;

      @include media-breakpoint-up(lg) {
      }

      .page-section-header {
        display: flex;
        justify-content: space-between;

        .page-section-header__title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 24px;
        }
      }
    }
  }
}

