<header class="page-header">
  <h1 class="page-header__title">{{fa-icon "graduation-cap"}} Certifications</h1>
</header>

<div class="page-body page-body__certifications">
  <p>En construction</p>
</div>