<header class="page-header">
  <h1 class="page-header__title">{{fa-icon "user-plus"}} Utilisateurs</h1>
  <div class="page-header__actions">
    {{#link-to "authenticated.users.new" class="btn btn-primary"}}{{fa-icon "plus"}} Ajouter un utilisateur{{/link-to}}
  </div>
</header>

<div class="page-body page-body__users">
  {{outlet}}
</div>