<header class="page-header">
  <h1 class="page-header__title">{{fa-icon "user-plus"}} Utilisateurs</h1>
</header>

<div class="page-body page-body__users">

  {{models-table
    data=model
    columns=columns
  }}

</div>