<header class="page-header">
  <h1 class="page-header__title">{{fa-icon "user-plus"}} Utilisateurs</h1>
</header>

<div class="page-body page-body__users">

  <section class="page-body__section"><h2>Compte & identité</h2></section>
  <section class="page-body__section"><h2>Profil de compétence</h2></section>
  <section class="page-body__section"><h2>Évaluations</h2></section>
  <section class="page-body__section"><h2>Partages</h2></section>
  <section class="page-body__section"><h2>Campagnes</h2></section>
  <section class="page-body__section"><h2>Certifications</h2></section>


</div>