<p class="campaign__competence__title">Vous maîtrisez {{model.skillReview.profileMasteryInPourcent}}% des compétences
  du parcours e-pro !</p>

<div class="campaign__share_container">
  <button class="campaign__share__button">J’envoie  mes résultats</button>
</div>

<p class="campaign__share__legal">
  En cliquant, les résultats de votre parcours seront transmis à Pôle emploi pour permettre à votre conseiller de vous
  accompagner.
</p>
{{outlet}}