<div class="assessment-prologue-view">

    <h2>Test de progression</h2>

    <div class="rounded-panel">
        <h3 class="rounded-panel-title">{{model.course.content.name}}</h3>
        <span class="rounded-panel-notice">Durée estimée : {{model.course.courseDuration}} minutes</span>
        <hr/>

        <p>{{model.course.content.description}}</p>

        <div class="actions">
          {{#link-to "index" class="button-secondary pull-left"}}◀ Retour{{/link-to}}
          {{#link-to "challenge-show" model.firstChallenge class="button-primary pull-right"}}Je suis prêt !{{/link-to}}
        </div>
    </div>
</div>