<div class="container">

    <div class="col-xs-12">
        <div class="container">
            <div class="col-xs-1">
              {{#link-to "index" class="btn btn-default btn-lg"}}
                  <i class="glyphicon glyphicon-chevron-left"></i>
              {{/link-to}}
            </div>


            <div class="col-xs-10">
                <h2>Évaluation: <strong>{{model.course.content.name}}</strong></h2>
            </div>

            <hr class="col-xs-12">
        </div>
    </div>



    <div class="col-xs-12">
        <h4>Description:</h4>
        <blockquote>
          {{model.course.content.description}}<br>
        </blockquote>
    </div>

    <div class="col-xs-12">
        <h4>Durée:</h4>
        <blockquote>
          {{model.course.courseDuration}} minutes<br>
        </blockquote>
    </div>

    <div class="col-xs-12">
      {{#link-to "challenge-show" model.firstChallenge class="btn btn-success"}}Je suis prêt !{{/link-to}}
    </div>
</div>