<div id="home-loading">
    <div class="loader-container">
        <div class="loader">
            <div class="loader-inner ball-zig-zag">
                <div class="ball-spinner"></div>
                <div class="ball-spinner"></div>
            </div>
        </div>
    </div>
</div>