<div id="home">
    <div class="container">

        <div class="title">
            Liste des tests
        </div>

        <ul class="row courses">

          {{#each model as |course|}}
              <li class="rounded-panel course">
                  <img class="course-picture" src="{{ course.imgUrl }}" alt="Illustration du test">

                  <h3 class="course-name">{{ course.name }}</h3>

                  <p class="course-description">
                    {{ course.description }}
                  </p>

                  <div class="course-actions">
                    {{#link-to "assessment-create" course.id class="btn btn-primary btn-small"}}
                        Démarrer le Test
                    {{/link-to}}
                  </div>
              </li>
          {{/each}}

        </ul>
    </div>

</div>