<div id="home">
    <div class="container">

        <div class="title">
            Liste des tests
        </div>

        <ul class="row courses">

          {{#each model as |course|}}
            <li class="enveloppe-test rounded-panel course-wrapper">
                <img class="course-picture" src="{{ course.imgUrl }}" alt="Illustration du test">

                <h3 class="intitule-test">{{ course.name }}</h3>

                <p class="description-test">
                    {{ course.description }}
                </p>

                <div class="course-actions">
                  {{#link-to "assessment-create" course.id class="btn btn-primary btn-small"}}
                      Démarrer le Test
                  {{/link-to}}
                </div>
            </li>
          {{/each}}

            <!-- course-5 -->
            <li class="rounded-panel course-wrapper disabled">
                <div class="test">
                  <img class="course-picture" src="/images/test7.png">
                  <h3 class="intitule-test">
                      Test #5
                  </h3>
                  <p class="description-test">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <div class="course-actions">
                    {{#link-to "challenge-123" class="btn btn-primary btn-small"}}
                        Prochainement
                    {{/link-to}}
                  </div>
                </div>
            </li>
            <!-- #end course-5 -->

            <!-- course-6 -->
            <li class="rounded-panel course-wrapper disabled">
                <div class="test">
                    <img class="course-picture" src="/images/course-default-image.png">
                    <h3 class="intitule-test">
                        Test #6
                    </h3>
                    <p class="description-test">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                    <div class="course-actions">
                      {{#link-to "challenge-123" class="btn btn-primary btn-small"}}
                          Prochainement
                      {{/link-to}}
                    </div>
                </div>
            </li>
            <!-- #end course-6 -->

        </ul>
    </div>

</div>