<div class="jumbo">
    <div class="right tomster"></div>

    <div class="container">
        <div class="col-xs-12">
            <h2>Démo PIX</h2>
            <hr>
        </div>

        <div class="col-xs-10">
            <ul class="col-xs-6">
              {{#each model as |course|}}
                  <li class="list-group-item col-xs-12">
                    <p class="col-xs-6">
                      {{course.name}}
                    </p>
                    <div class="col-xs-6">
                        {{#link-to "assessment-create" course.id class="btn btn-primary btn-small"}}
                            Passer le Test
                        {{/link-to}}
                    </div>
                  </li>
              {{/each}}
            </ul>
        </div>
    </div>
</div>
