<div id="index-view">
    <div class="cover">
    </div>
    <div class="container">
        <div class="row presentation">
            <div class="col-md-12">
                <h1>Et vous, combien de PIX avez-vous ?</h1>
                <h2>Grâce à PIX, mesurez, développez et valorisez vos compétences numériques.</h2>
            </div>
        </div>

        <div class="row identification-form">
            <div class="col-md-12">
                {{identification-form}}
            </div>
        </div>
  </div>
</div>

