<div class="login-page">
  <main class="login-page__main">
    <header class="login-page__header">
      <h1>Pix Admin</h1>
      <p>Log in to your account</p>
    </header>

    <section class="login-page__section login-page__section--login-form">
      <form class="login-form" {{action 'authenticate' on='submit'}}>
        <!-- Error message -->
        {{#if errorMessage}}
          <div class="login-form__control">
            <p class="login-form__error">{{errorMessage}}</p>
          </div>
        {{/if}}

        <!-- Field "identification" -->
        <div class="login-form__control">
          {{input class="login-form__field login-form__field--identification" id='identification' placeholder='Enter Login' value=identification}}
        </div>

        <!-- Field "password" -->
        <div class="login-form__control">
          {{input class="login-form__field login-form__field--password" id='password' placeholder='Enter Password' type='password' value=password}}
        </div>

        <!-- Form submit button -->
        <div class="login-form__control">
          <button class="login-form__button" type="submit">Login</button>
        </div>
      </form>
    </section>

    <footer class="login-page__footer">

    </footer>

  </main>
</div>

