<div id="preferences">
    <div class="container">

        <div class="title">
            Préférences
        </div>

        <div class="rounded-panel">
            <div class="form-title">
                Informations personnelles
            </div>
            <hr>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left" for="firstName">Prénom</label>
                    <div class="col-sm-6">
                      <input class="form-control" name="firstName" autocomplete="on">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="lastName">Nom</label>
                    <div class="col-sm-6">
                        <input class="form-control" name="lastName" autocomplete="on">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="email">Adresse email</label>
                    <div class="col-sm-6">
                        <input class="form-control" name="email" autocomplete="on">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button class="button button-primary" type="submit">Enregistrer les préférences</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
