<section class="dashboard-content">
  <div>
    <h2>{{t 'pages.dashboard.campaigns.title'}}</h2>
    <p>{{t 'pages.dashboard.campaigns.subtitle'}}</p>
  </div>

  <ul>
    {{#each @model.campaignParticipations as |campaignParticipation|}}
      <li>
        <CampaignParticipation::Card @model={{campaignParticipation}}/>
      </li>
    {{/each}}
  </ul>
</section>
