<section class="page-container dashboard-content">
  <h1 class="sr-only">{{t 'pages.dashboard.title'}}</h1>

  {{#if this.hasCampaignParticipationOverviews}}
    <section class="dashboard-content__campaign-participation-overviews">
      <header>
        <h2 class="dashboard-content-campaign-participation-overviews__title">{{t 'pages.dashboard.campaigns.title'}}</h2>
        <p class="dashboard-content-campaign-participation-overviews__info">{{t 'pages.dashboard.campaigns.subtitle'}}</p>
      </header>

      <CampaignParticipationOverview::Grid @model={{@model}}/>
    </section>
  {{/if}}
</section>
