<section class="page-container dashboard-content">
  <header>
    <h1 class="dashboard-content__title">{{t 'pages.dashboard.campaigns.title'}}</h1>
    <p class="dashboard-content__info">{{t 'pages.dashboard.campaigns.subtitle'}}</p>
  </header>

  <CampaignParticipationOverview::Grid @model={{@model}}/>
</section>
