<header class="page-header">
  <div class="page-title">Sessions de certifications</div>
</header>

<main class="page-body">
  <div class="panel session-details__controls">
    <nav class="navbar session-details-controls__navbar-tabs">
      <LinkTo @route="authenticated.sessions.list.all" class="navbar-item">
        Toutes les sessions
      </LinkTo>
      <LinkTo @route="authenticated.sessions.list.publishable" class="navbar-item">
        Sessions à publier
      </LinkTo>
    </nav>
  </div>
  
  <section class="page-section">
    {{outlet}}
  </section>
</main>
