<header class="page-header">
  <div class="page-title">Toutes les sessions</div>
  <nav class="navbar">
    <LinkTo @route="authenticated.sessions.list.all" class="navbar-item">
        Toutes les sessions
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.to-be-published" class="navbar-item">
        Sessions à publier
    </LinkTo>
  </nav>
</header>

<main class="page-body">
  <section class="page-section">
      {{outlet}}
  </section>
</main>
