{{page-title "Toutes les sessions"}}
<header class="session-list">
  <div class="page-header">
    <h1 class="page-title">Toutes les sessions de certifications</h1>
  </div>
  <nav class="navbar session-list__navbar">
    <LinkTo @route="authenticated.sessions.list.with-required-action" class="navbar-item">
      Sessions à traiter ({{this.sessionsWithRequiredActionCount}})
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.to-be-published" class="navbar-item">
      Sessions à publier
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.all" class="navbar-item">
      Toutes les sessions
    </LinkTo>
  </nav>
</header>

<main class="page-body">
  <section class="page-section">
    {{outlet}}
  </section>
</main>