<div aria-label="Indicateur de réussite" class="success-indicator success-indicator--{{this.color}}">
  <CircleChart @value={{@value}}>
    <span class="success-indicator__value">
      {{@value}}%
    </span>
  </CircleChart>
</div>
