<div class="panel participant-results-row">

  <div class="participant-results-content__summary">
    <div class="participant-results-content participant-results-content--large participant-results-content--wide">
      <div class="label-text participant-results-content__label-text">Acquis validés</div>
      <div class="content-text content-text--big">
        {{number-format @averageValidatedSkillsSum}}
      </div>
    </div>
    <div class="participant-results-content participant-results-content--large participant-results-content--wide">
      <div class="label-text participant-results-content__label-text">Acquis évalués</div>
      <div class="content-text content-text--big">
        {{number-format @totalSkills}}
      </div>
    </div>
  </div>

  <div class="participant-results-content">
    <div class="participant-results-content__score">
      <div class="content-text content-text--big content-text--bold">Résultat</div>
      <div class="participant-results-content__circle-chart">
        <CircleChart @value={{@averageResult}}>
          <span class="participant-results-content__circle-chart-value">
            {{@averageResult}}%
          </span>
        </CircleChart>
      </div>
    </div>
  </div>

</div>
