@use 'pix-design-tokens/typography';

.element-qab-cards-card,
.element-qab-cards-intro-card,
.element-qab-cards-outro-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 345px;
  max-width: 500px;
  height: 350px;
  margin: auto auto var(--pix-spacing-2x);
  padding: var(--pix-spacing-6x);
  background: var(--pix-neutral-0);
  border: 5px solid var(--pix-neutral-100);
  border-radius: var(--modulix-radius-l);
  box-shadow: 0 12px 24px 0 rgb(7 20 46 / 12%);

  &--feedback--success {
    border-color: var(--pix-success-500);
  }

  &--feedback--error {
    border-color: var(--pix-error-500);
  }
}

.element-qab-cards-card {
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--pix-spacing-6x);
    justify-content: center;
  }

  &__text {
    @extend %pix-title-m;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pix-neutral-900);
    text-align: center;
    flex-direction: column;

    &--feedback {
      width: 0;
      height: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--pix-spacing-6x);
  }
}

.element-qab-cards-intro-card,
.element-qab-cards-outro-card {
  align-items: center;
  padding: var(--pix-spacing-2x);
  padding-bottom: var(--pix-spacing-6x);
  background: var(--pix-primary-10);

  &__title {
    @extend %pix-title-s;

    width: 100%;
    text-align: center;
    text-wrap: balance;
  }
}

.element-qab-cards-outro-card {
  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
    text-align: center;
    background-image: url('/images/modulix/qab-cards-outro-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__alert {
    @extend %pix-title-xs;

    padding: var(--pix-spacing-1x) var(--pix-spacing-4x);
  }

  &__title {
    @extend %pix-title-xs;

    padding: 0 var(--pix-spacing-4x);
    color: var(--pix-neutral-0);
  }

  &__question {
    @extend %pix-body-l;

    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }
}

.qab-custom-action-button {
  @extend %pix-body-l;
  font-weight: var(--pix-font-medium);

  border: 2px solid var(--pix-neutral-100);
  padding: var(--pix-spacing-4x) var(--pix-spacing-8x);
  border-radius: var(--modulix-radius-s);
  background: var(--pix-neutral-0);

  &:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: var(--pix-neutral-100);
  }

  &--feedback--selected--success {
    background-color: var(--pix-success-100) !important;
  }

  &--feedback--selected--error {
    background-color: var(--pix-error-100) !important;
  }
}
