.card {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mission-title {
  position: absolute;
  top: 50%;
  left: 50%;
}

.stop-start-gradient {
  &--red {
    stop-color: #EC667B;
  }

  &--bluue {
    stop-color: #317CED;
  }
}

.stop-end-gradient {
  &--red {
    stop-color: #EC5D64;
  }

  &--bluue {
    stop-color: #4461EF;
  }
}

