.modal-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px
}

.challenge-item {
  &__body {
    background-color: #505F79;
    padding: 32px 121px 10px 121px;
    height: calc(100vh - 93px);
    overflow-y: auto;
  }

  &__footer {
    background-color: white;
    padding: 16px 0 19px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #EBEBEB;
    box-shadow: 0px -3px 12px 3px rgb(0 25 54 / 2%);
  }

  &__container {
    border-radius: 50px 50px 24px 24px;
    overflow: hidden;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
  }

  &__playground {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 50px;
    flex-grow: 1;
    align-content: center;
  }

  &__image, &__qroc, &__qrocm {
    width : 49%;
    display: flex;
  }

  &__qroc, &__qrocm {
    padding: 20px 20px;
    align-items: center;
  }

  &__autoreply {
    width: 0;
  }


  &__embed {
    display: block;
    width: 100%;
  }
}

