.modal-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: 16px
}

.challenge-item {
  &__body {
    height: calc(100vh - 93px);
    padding: 32px 121px 10px 121px;
    overflow-y: auto;
    background-color: #505F79;
  }

  &__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 0 19px;
    background-color: var(--pix-color-neutral-0);
    border-top: 1px solid #EBEBEB;
    box-shadow: 0px -3px 12px 3px rgb(0 25 54 / 2%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--pix-color-neutral-0);
    border-radius: 50px 50px 24px 24px;
  }

  &__playground {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-content: center;
    justify-content: space-evenly;
    padding: 50px;
    background-color: var(--pix-color-neutral-0);
  }

  &__image, &__qroc, &__qrocm {
    display: flex;
    width : 49%;
  }

  &__qroc, &__qrocm {
    align-items: center;
    padding: 20px 20px;
  }

  &__qcm, &__qcu {
    display: flex;
    justify-content: center;
    width : 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  &__autoreply {
    width: 0;
  }


  &__embed {
    display: block;
    width: 100%;
  }
}

