.challenge-instruction {
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 95px;
  padding: 21px;
  color: #344563;
  font-size: 1.25rem;
  background-color: var(--pix-color-secondary);

  a {
    color: #3d68ff;
    text-decoration: underline;

    &:active,
    &:focus,
    &:hover {
      color: #2044dc;
    }
  }

  a::after {
    @include external-link;
  }
}
