.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--pix-color-secondary);
}

.cards {
  display : flex;
}

.logo {
  margin: 20px;
}

.instruction {
  font-size: 1.25rem;
}
