.campaign-type {
  display: flex;
  align-items: center;

  &__icon-assessment {
    color: var(--pix-tertiary-500);
    font-size: 1.5rem;
  }

  &__icon-profile-collection {
    color: var(--pix-primary-500);
    font-size: 1.5rem;
  }
}
