.places {

  &__resume {
    border-bottom: 3px solid $pix-neutral-20;
    padding-bottom: $spacing-s;
    margin-bottom: $spacing-s;
  }

  &__button {
    margin-top: $spacing-s;
    display: inline-flex;

    &:hover {
      color: $pix-neutral-0;
      text-decoration: none;
    }
  }

  &__capacity {
    width: auto;

    tr {
      height: auto;
    }

    td:first-child {
      padding: 0;
    }
  }

  &__button-icon {
    margin: 0 $spacing-xxs;
  }
}
