/* stylelint-disable selector-class-pattern */
.places__add-form {
  width: 30%;
}

.action-buttons__cancel {
  margin-right: $pix-spacing-xs;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
